.CodeMirror { border: 1px solid #ddd;}
.CodeMirror {
  width: 100%;
  float: left;
  height: 400px;
}
.feedback {
  color: #7d5a29;
  background-color: #fcf2d4;
  border-radius: 4px;
  border: 1px solid #7d5a2933;
  display: inline-block;
  padding: 5px;
}
.validation {
  border-radius: 4px;
  border: 1px solid darkgrey;
  padding: 5px;
  display: inline-block;
}
.correct-answer {
  background-color: white;
  border-radius: 4px;
  border: 1px solid darkgrey;
  padding: 0px 5px 0px;
  display: inline-block;
}
a.nav-link:link, a.nav-link:visited, a.nav-link:hover, a.nav-link:active {
  color:black;
  text-decoration:none;
}
.stack-library-file-list {
  padding: 20px 0px 20px 0px;
  height: 400px;
  overflow-y: scroll;
  border: 1px solid lightblue;
  border-radius: 10px;
}
.link-disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
#errors {
  background-color: pink;
}
/* The side navigation menu */
.sidebar {margin: 0; padding: 0; position: absolute; width: 200px;}
.sidebar a {display: block; color: black; padding: 16px; border-style: solid; border-width: 0px 0px 1px 0px; border-color: #e0dfdf; text-decoration: none;}
.sidebar a.active {background-color: #004f71; color: white; pointer-events: none;}
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.main-content {margin-left: 220px; padding: 1px 16px;}

/* On screens that are less than 600px, display the bar vertically, instead of horizontally */
@media screen and (max-width:750px) {
  .sidebar {width: 100%; height: auto; position: relative; border-style: solid; border-width: 0px 0px 1px 0px; border-color: #e0dfdf}
  .sidebar a {text-align: center; float: none;}
  .main-content {margin-left: 0; padding: 0px;}
}
.container-footer {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  max-width: 97.75rem;
  margin-right: auto;
  margin-left: auto
}
@media (min-width: 768px) {
  .container-footer {
      padding-right:2rem;
      padding-left: 2rem
  }
}
.footer-discover {
  background: #252525
}
.footer-discover-heading {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  max-width: 97.75rem;
  margin-right: auto;
  margin-left: auto;
  font-size: calc(1.34375rem + .65625vw);
  padding-top: 1.5rem;
  padding-bottom: 1.3rem;
  margin-bottom: 0;
  font-family: "Crimson Text",serif;
  font-weight: 400;
  line-height: 1;
  color: #b0b0b0;
  text-transform: uppercase
}
@media (min-width: 768px) {
  .footer-discover-heading {
      padding-right:2rem;
      padding-left: 2rem
  }
}
@media (min-width: 1600px) {
  .footer-discover-heading {
      font-size:2rem
  }
}
.footer {
  padding: 1rem 0;
  color: #d4d4d4;
  background: linear-gradient(to bottom,#3a3a3a 0,#252525 100%) repeat scroll 0 0;
  background-color: #3a3a3a;
}
footer a {
  color: white;
  text-decoration: none
}
footer a:hover {
  --edgel-link-color-rgb: var(--edgel-link-hover-color-rgb);
  text-decoration: underline
}
