body.path-question-type-stack dt {
    font-weight: bold;
}
body.path-question-type-stack dd {
    margin-left: 2em;
}
body#page-question-type-stack-healthcheck textarea {
    font-family: monospace;
    font-size: 0.8em;
    width: 100%;
    white-space: pre;
}
body#page-question-type-stack-healthcheck div.box {
    background: #ddd;
}
body#page-question-type-stack-healthcheck div.box h2 {
    margin-top: 0;
    margin-bottom: 0;
}
body#page-question-type-stack-healthcheck div.box h3 {
    margin-top: 0.7em;
    margin-bottom: 0.3em;
}
body#page-question-type-stack-healthcheck div.box pre {
    margin-bottom: 0;
}

body.path-question-type-stack table.stacktestsuite .pass td {
    background-color: #dfd;
}
body.path-question-type-stack table.stacktestsuite .fail td {
    background-color: #fdd;
}
body.path-question-type-stack h2.fail {
    color: #f00;
}
body.path-question-type-stack h2.pass {
    color: #080;
}

.SyntaxExample1{
    border: 1px dotted #333;
    padding: 0.2em;
    color: blue;
    background-color: #eee;
    font-family: monospace;
    font-size: 120%;
    font-weight: bold;
}

.SyntaxExample2{
    color: blue;
    font-family: monospace;
    font-size: 100%;
    font-weight: bold;
}

/*feedback to student */

div.InteractionElementFeedback{
    background-color: #FFFF99;
    border: 1px solid #EEEE66;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2em;
    width: 80%;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
/*Make the paragraph have only a single line break between paragraphs*/
p.studentFeedback{
    margin: 0em;
}

/*PRT feedback */
div.PRTFeedback{
    border: 1px solid #ccf;
    background-color: #ddf;
    width: 80%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.2em;


    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-bottom: 0.2em;
    /*Top has enough padding with the <h3>tag */
}
