<section ion-list *ngIf="question.text || question.text === ''" class="qtype-stack">
    <ion-item text-wrap>
        <p>
            <container-element id="{{question.divId}}" class="ion-text-wrap answer que stack" *ngFor="let section of question.sections">
                <container-element [ngSwitch]="section.type">
                    <core-format-text *ngSwitchCase="'Text'" [component]="component" [componentId]="componentId" [text]="section.content" [contextLevel]="contextLevel"
                            [contextInstanceId]="contextInstanceId" [courseId]="courseId" />
                    <container-element *ngSwitchCase="'Checkbox'">
                        <ng-container *ngTemplateOutlet="checkbox; context:{ $implicit: section, idx: i }"></ng-container>
                    </container-element>
                    <container-element *ngSwitchCase="'Dropdown'">
                        <ng-container *ngTemplateOutlet="dropdown; context:{ $implicit: section }"></ng-container>
                    </container-element>

                    <core-format-text *ngSwitchDefault [component]="component" [componentId]="componentId" [text]="section.content" [contextLevel]="contextLevel"
                            [contextInstanceId]="contextInstanceId" [courseId]="courseId" />
                </container-element>
            </container-element>

        </p>
        <p *ngIf="question.prompt">
            <core-format-text [component]="component" [componentId]="componentId" [text]="question.prompt" [contextLevel]="contextLevel"
                    [contextInstanceId]="contextInstanceId" [courseId]="courseId" />
        </p>
    </ion-item>
</section>



<ng-template #checkbox let-section>
    <ion-item class="ion-text-wrap answer" *ngFor="let option of section.options">
        <div class="flex-column">
            <ion-checkbox [checked]="option.checked" [disabled]="option.disabled" [attr.name]="option.name" [value]="option.value">
                <div class="flex-grow ion-text-wrap">
                    <div [class]="option.class">
                        <core-format-text [component]="component" [componentId]="componentId" [text]="option.text"
                            [contextLevel]="contextLevel" [contextInstanceId]="contextInstanceId" [courseId]="courseId" />
                    </div>
                </div>
            </ion-checkbox>
        </div>
    </ion-item>
</ng-template>

<ng-template #dropdown let-section>
    <ion-select [id]="section.id" class="ion-text-wrap" [value]="section.initialValue" [attr.name]="section.name">
        <div class="flex-column">
            <ion-select-option [value]="option.value" [disabled]="option.disabled" *ngFor="let option of section.options">
                <div class="flex-grow ion-text-wrap">
                        <core-format-text [component]="component" [componentId]="componentId" [text]="option.text"
                            [contextLevel]="contextLevel" [contextInstanceId]="contextInstanceId" [courseId]="courseId" />
                </div>
            </ion-select-option>
        </div>
    </ion-select>
</ng-template>
