# This is for building the University of Edinburgh STACK demo site only.
services:
  maxima:
    image: mathinstitut/goemaxima:2026010500-latest
    tmpfs:
      - "/tmp"
    restart: unless-stopped
    cap_add:
      - SETGID
      - SETUID
    cap_drop:
      - ALL
    environment:
      GOEMAXIMA_QUEUE_LEN: 32
    read_only: true
  stack:
    build:
      context: ./../../
      dockerfile: ./api/docker/DockerfileDemo
      target: production
    restart: unless-stopped
    volumes:
      - ./files/stackfooter.html:/srv/stack/api/public/stackfooter.html
      - ./files/letsencrypt:/etc/letsencrypt/live/stack-api.maths.ed.ac.uk
    ports:
      - '80:80'
      - '443:443'
