/*Container for footer*/
.container-flexible {  
    display: grid;  
	width:min(700px,100%);
	margin:auto;
}

.footerColumn {
  float: left;
  width: 33.33%;
  padding: 10px;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 605px) {
  .footerColumn {
    width: 100%;
  }
}