# Answer test results

This page exposes the results of running answer tests on STACK test cases.  This page is automatically generated from the STACK unit tests and is designed to show question authors what answer tests actually do.  This includes cases where answer tests currentl fail, which gives a negative expected mark.  Comments and further test cases are very welcome.

<div class="no-overflow"><table class="flexible table table-striped table-hover generaltable generalbox stacktestsuite"><thead><tr><th class="header c0" scope="col">Answer test<div class="commands"></div></th><th class="header c1" scope="col">Passed?<div class="commands"></div></th><th class="header c2" scope="col">Student response<div class="commands"></div></th><th class="header c3" scope="col">Teacher answer<div class="commands"></div></th><th class="header c4" scope="col">Options<div class="commands"></div></th><th class="header c5" scope="col">CAS errors<div class="commands"></div></th><th class="header c6" scope="col">Raw mark<div class="commands"></div></th><th class="header c7" scope="col">Expected mark<div class="commands"></div></th><th class="header c8" scope="col">Feedback<div class="commands"></div></th><th class="header c9" scope="col">Answer note<div class="commands"></div></th><th class="header c10" scope="col"><div class="commands"></div></th>
</tr></thead><tbody>
<tr class="expectedfail">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">1</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATAlgEquiv_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1</td>
  <td class="cell c3">1/0</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATAlgEquiv_STACKERROR_TAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2"></td>
  <td class="cell c3">(x-1)^2</td>
  <td class="cell c4"></td>
  <td class="cell c5">The answer test failed to execute correctly: please alert your teacher. Attempted to execute an answer test with an empty student answer, probably a CAS validation problem when authoring the question.</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Attempted to execute an answer test with an empty student answer, probably a CAS validation problem when authoring the question.</div></td>
  <td class="cell c9">ATAlgEquivTEST_FAILED-Empty SA.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">x^2</td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5">The answer test failed to execute correctly: please alert your teacher. Attempted to execute an answer test with an empty teacher answer, probably a CAS validation problem when authoring the question.</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Attempted to execute an answer test with an empty teacher answer, probably a CAS validation problem when authoring the question.</div></td>
  <td class="cell c9">ATAlgEquivTEST_FAILED-Empty TA.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">x-1)^2</td>
  <td class="cell c3">(x-1)^2</td>
  <td class="cell c4"></td>
  <td class="cell c5">The answer test failed to execute correctly: please alert your teacher. Attempted to execute an answer test with an empty student answer, probably a CAS validation problem when authoring the question.</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Attempted to execute an answer test with an empty student answer, probably a CAS validation problem when authoring the question.</div></td>
  <td class="cell c9">ATAlgEquivTEST_FAILED-Empty SA.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x1</td>
  <td class="cell c3">x_1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x_1</td>
  <td class="cell c3">x[1]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x[1]</td>
  <td class="cell c3">x1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Predicates</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">integerp(3)</td>
  <td class="cell c3">true</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">integerp(3.1)</td>
  <td class="cell c3">true</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">integerp(3)</td>
  <td class="cell c3">false</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">integerp(3)</td>
  <td class="cell c3">true</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">lowesttermsp(x^2/x)</td>
  <td class="cell c3">true</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">lowesttermsp(-y/-x)</td>
  <td class="cell c3">true</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">lowesttermsp((x^2-1)/(x-1))</td>
  <td class="cell c3">true</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">lowesttermsp((x^2-1)/(x+2))</td>
  <td class="cell c3">true</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Case sensitivity</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">X</td>
  <td class="cell c3">x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATAlgEquiv_WrongCase.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">exdowncase(X)</td>
  <td class="cell c3">x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">exdowncase((X-1)^2)</td>
  <td class="cell c3">x^2-2*x+1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Permutations of variables (To do: a dedicated answer test with feedback)</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">Y=1+X</td>
  <td class="cell c3">y=1+x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_default</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">v+w+x+y+z</td>
  <td class="cell c3">a+b+c+A+B</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Numbers</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">4^(-1/2)</td>
  <td class="cell c3">1/2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">4^(1/2)</td>
  <td class="cell c3">sqrt(4)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Mix of floats and rational numbers</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.5</td>
  <td class="cell c3">1/2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.33</td>
  <td class="cell c3">1/3</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">5.1e-2</td>
  <td class="cell c3">51/1000</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.333333333333333</td>
  <td class="cell c3">1/3</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(0.5+x)*2</td>
  <td class="cell c3">2*x+1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Complex numbers</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">sqrt(-1)</td>
  <td class="cell c3">%i</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">%i</td>
  <td class="cell c3">e^(i*pi/2)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(4*sqrt(3)*%i+4)^(1/5)</td>
  <td class="cell c3">8^(1/5)*(cos(%pi/15)+%i*sin(%pi/15))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(4*sqrt(3)*%i+4)^(1/5)</td>
  <td class="cell c3">rectform((4*sqrt(3)*%i+4)^(1/5))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(4*sqrt(3)*%i+4)^(1/5)</td>
  <td class="cell c3">polarform((4*sqrt(3)*%i+4)^(1/5))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">%i/sqrt(x)</td>
  <td class="cell c3">sqrt(-1/x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Infinity</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">inf</td>
  <td class="cell c3">inf</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">inf</td>
  <td class="cell c3">-inf</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*inf</td>
  <td class="cell c3">inf</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0*inf</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Powers and roots</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^(1/2)</td>
  <td class="cell c3">sqrt(x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x</td>
  <td class="cell c3">sqrt(x^2)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">abs(x)</td>
  <td class="cell c3">sqrt(x^2)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/abs(x)^(1/3)</td>
  <td class="cell c3">(abs(x)^(1/3)/abs(x))^(1/2)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">sqrt((x-3)*(x-5))</td>
  <td class="cell c3">sqrt(x-3)*sqrt(x-5)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/sqrt(x)</td>
  <td class="cell c3">sqrt(1/x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x-1</td>
  <td class="cell c3">(x^2-1)/(x+1)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2^((1/5.1)*t)</td>
  <td class="cell c3">2^((1/5.1)*t)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2^((1/5.1)*t)</td>
  <td class="cell c3">2^(0.196078431373*t)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a^b*a^c</td>
  <td class="cell c3">a^(b+c)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(a^b)^c</td>
  <td class="cell c3">a^(b*c)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(assume(a&gt;0),(a^b)^c)</td>
  <td class="cell c3">a^(b*c)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(assume(x&gt;2),6*((x-2)^2)^k)</td>
  <td class="cell c3">6*(x-2)^(2*k)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">signum(-3)</td>
  <td class="cell c3">-1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">6*((x-2)^3)^k</td>
  <td class="cell c3">6*(x-2)^(3*k)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(4*sqrt(3)*%i+4)^(1/5)</td>
  <td class="cell c3">6^(1/5)*cos(%pi/15)-6^(1/5)*%i*sin(%pi/15)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2+2*sqrt(3+x)</td>
  <td class="cell c3">2+sqrt(12+4*x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">6*e^(6*(y^2+x^2))+72*x^2*e^(6*(y^2+x^2))</td>
  <td class="cell c3">(72*x^2+6)*e^(6*(y^2+x^2))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Expressions with subscripts</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a1</td>
  <td class="cell c3">a_1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">rho*z*V/(4*pi*epsilon[0]*(R^2+z^2)^(3/2))</td>
  <td class="cell c3">rho*z*V/(4*pi*epsilon[0]*(R^2+z^2)^(3/2))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">rho*z*V/(4*pi*epsilon[1]*(R^2+z^2)^(3/2))</td>
  <td class="cell c3">rho*z*V/(4*pi*epsilon[0]*(R^2+z^2)^(3/2))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">sqrt(k/m)*sqrt(m/k)</td>
  <td class="cell c3">1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(2*pi)/(k/m)^(1/2)</td>
  <td class="cell c3">(2*pi)/(k/m)^(1/2)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(2*pi)*(m/k)^(1/2)</td>
  <td class="cell c3">(2*pi)/(k/m)^(1/2)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">sqrt(2*x/10+1)</td>
  <td class="cell c3">sqrt((2*x+10)/10)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">((x+3)^2*(x+3))^(1/3)</td>
  <td class="cell c3">((x+3)*(x^2+6*x+9))^(1/3)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Need to factor internally.</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">((x+3)^2*(x+3))^(1/3)</td>
  <td class="cell c3">((x+3)*(x^2+6*x+9))^(1/3)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Polynomials and rational function</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-1)^2</td>
  <td class="cell c3">x^2-2*x+1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-1)*(x^2+x+1)</td>
  <td class="cell c3">x^3-1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-1)^(-2)</td>
  <td class="cell c3">1/(x^2-2*x+1)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/(4*x-(%pi+sqrt(2)))</td>
  <td class="cell c3">1/(x+1)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-a)^6000</td>
  <td class="cell c3">(x-a)^6000</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(a-x)^6000</td>
  <td class="cell c3">(x-a)^6000</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(4*a-x)^6000</td>
  <td class="cell c3">(x-4*a)^6000</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-a)^6000</td>
  <td class="cell c3">(x-a)^5999</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(k+8)/(k^2+4*k-12)</td>
  <td class="cell c3">(k+8)/(k^2+4*k-12)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(k+7)/(k^2+4*k-12)</td>
  <td class="cell c3">(k+8)/(k^2+4*k-12)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-(2*k+6)/(k^2+4*k-12)</td>
  <td class="cell c3">-(2*k+6)/(k^2+4*k-12)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/n-1/(n+1)</td>
  <td class="cell c3">1/(n*(n+1))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.5*x^2+3*x-1</td>
  <td class="cell c3">x^2/2+3*x-1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">14336000000*x^13+250265600000*x^12+1862860800000*x^11+7623925760000*x^10+18290677760000*x^9+24744757985280*x^8+14567212351488*x^7-3267871272960*x^6-6408053107200*x^5+670406720000*x^4+1179708800000*x^3-429244800000*x^2+56696000000*x-2680000000</td>
  <td class="cell c3">512*(2*x+5)^7*(5*x-1)^5*(70*x+67)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">14336000000*x^13+250265600000*x^12+1862860800000*x^11+7623925760000*x^10+18290677760000*x^9+24744757985280*x^8+14567212351488*x^7-3267871272960*x^6-6408053107200*x^5+670406720000*x^4+1179708800000*x^3-429244800000*x^2+56696000000*x-2680000001</td>
  <td class="cell c3">512*(2*x+5)^7*(5*x-1)^5*(70*x+67)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">14336000000*x^13</td>
  <td class="cell c3">512*(2*x+5)^7*(5*x-1)^5*(70*x+67)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Trig functions</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">cos(x)</td>
  <td class="cell c3">cos(-x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">cos(x)^2+sin(x)^2</td>
  <td class="cell c3">1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">cos(x+y)</td>
  <td class="cell c3">cos(x)*cos(y)-sin(x)*sin(y)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">cos(x+y)</td>
  <td class="cell c3">cos(x)*cos(y)+sin(x)*sin(y)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">cos(x#pm#y)</td>
  <td class="cell c3">cos(x)*cos(y)-(#pm#sin(x)*sin(y))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">sin(x#pm#y)</td>
  <td class="cell c3">sin(x)*cos(y)#pm#cos(x)*sin(y)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">sin(x#pm#y)</td>
  <td class="cell c3">cos(x)*sin(y)#pm#sin(x)*cos(y)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*cos(x)^2-1</td>
  <td class="cell c3">cos(2*x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.0*cos(1200*%pi*x)</td>
  <td class="cell c3">cos(1200*%pi*x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">diff(tan(10*x)^2,x)</td>
  <td class="cell c3">cos(6*x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">exp(%i*%pi)</td>
  <td class="cell c3">-1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*cos(2*x)+x+1</td>
  <td class="cell c3">-sin(x)^2+3*cos(x)^2+x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(2*sec(2*t)^2-2)/2</td>
  <td class="cell c3">-(sin(4*t)^2-2*sin(4*t)+cos(4*t)^2-1)*(sin(4*t)^2+2*sin(4*t)+cos(4*t)^2-1)/(sin(4*t)^2+cos(4*t)^2+2*cos(4*t)+1)^2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1+cosec(3*x)</td>
  <td class="cell c3">1+csc(3*x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/(1+exp(-2*x))</td>
  <td class="cell c3">tanh(x)/2+1/2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1+cosech(3*x)</td>
  <td class="cell c3">1+csch(3*x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-4*sec(4*z)^2*sin(6*z)-6*tan(4*z)*cos(6*z)</td>
  <td class="cell c3">-4*sec(4*z)^2*sin(6*z)-6*tan(4*z)*cos(6*z)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-4*sec(4*z)^2*sin(6*z)-6*tan(4*z)*cos(6*z)</td>
  <td class="cell c3">4*sec(4*z)^2*sin(6*z)+6*tan(4*z)*cos(6*z)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">csc(6*x)^2*(7*sin(6*x)*cos(7*x)-6*cos(6*x)*sin(7*x))</td>
  <td class="cell c3">-(6*cos(6*x)*sin(7*x)-7*sin(6*x)*cos(7*x))/sin(6*x)^2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">csc(6*x)^2*(7*sin(6*x)*cos(7*x)-6*cos(6*x)*sin(7*x))</td>
  <td class="cell c3">(6*cos(6*x)*sin(7*x)-7*sin(6*x)*cos(7*x))/sin(6*x)^2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-(7*x^6+4*x^3)/sin(7*y+x^7+x^4+1)^2</td>
  <td class="cell c3">-(7*x^6+4*x^3)*csc(7*y+x^7+x^4+1)^2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">sin((2*%pi*n-%pi)/2)</td>
  <td class="cell c3">-cos(n*%pi)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">sin(x/2)/(1+tan(x)*tan(x/2))</td>
  <td class="cell c3">sin(x/2)*cos(x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(declare(n,integer),trigrat(sin((2*%pi*n-%pi)/2)))</td>
  <td class="cell c3">-(-1)^n</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">cot(%pi/20)+cot(%pi/24)-cot(%pi/10)</td>
  <td class="cell c3">sqrt(1)+sqrt(2)+sqrt(3)+sqrt(4)+sqrt(5)+sqrt(6)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-3</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">trigeval(cot(%pi/20)+cot(%pi/24)-cot(%pi/10))</td>
  <td class="cell c3">sqrt(1)+sqrt(2)+sqrt(3)+sqrt(4)+sqrt(5)+sqrt(6)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">sin([1/8,1/6, 1/4, 1/3, 1/2, 1]*%pi)</td>
  <td class="cell c3">[sqrt(2-sqrt(2))/2,1/2,1/sqrt(2),sqrt(3)/2,1,0]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-3</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The entries underlined in red below are those that are incorrect. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ {\color{red}{\underline{\sin \left( \frac{\pi}{8} \right)}}} , \frac{1}{2} , \frac{1}{\sqrt{2}} , \frac{\sqrt{3}}{2} , 1 , 0 \right] \]</span></span></span></div></span></td>
  <td class="cell c9">(ATList_wrongentries 1).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">trigeval(sin([1/8,1/6, 1/4, 1/3, 1/2, 1]*%pi))</td>
  <td class="cell c3">[sqrt(2-sqrt(2))/2,1/2,1/sqrt(2),sqrt(3)/2,1,0]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1+x</td>
  <td class="cell c3">taylor(1/(1-x),x,0,1)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1</td>
  <td class="cell c3">taylor(1/(1-x),x,0,1)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Logarithms</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">log(a^2*b)</td>
  <td class="cell c3">2*log(a)+log(b)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(2*log(2*x)+x)/(2*x)</td>
  <td class="cell c3">(log(2*x)+2)/(2*sqrt(x))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">log(abs((x^2-9)))</td>
  <td class="cell c3">log(abs(x-3))+log(abs(x+3))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">lg(10^x)</td>
  <td class="cell c3">x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">lg(3^x,3)</td>
  <td class="cell c3">x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">lg(a^x,a)</td>
  <td class="cell c3">x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1+lg(27,3)</td>
  <td class="cell c3">4</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1+lg(27,3)</td>
  <td class="cell c3">3</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">lg(1/8,2)</td>
  <td class="cell c3">-3</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">lg(root(x,n))</td>
  <td class="cell c3">lg(x,10)/n</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">log(root(x,n))</td>
  <td class="cell c3">lg(x,10)/n</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^log(y)</td>
  <td class="cell c3">y^log(x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Hyperbolic trig</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">e^1-e^(-1)</td>
  <td class="cell c3">2*sinh(1)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Lists</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x</td>
  <td class="cell c3">[1,2,3]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be a list, but is not. Note that the syntax to enter a list is to enclose the comma separated values with square brackets.</div></td>
  <td class="cell c9">ATAlgEquiv_SA_not_list.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[1,2]</td>
  <td class="cell c3">[1,2,3]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your list should have <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(3\)</span></span></span> elements, but it actually has <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(2\)</span></span></span>.</div></span></td>
  <td class="cell c9">ATList_wronglen.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[1,2,4]</td>
  <td class="cell c3">[1,2,3]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The entries underlined in red below are those that are incorrect. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ 1 , 2 , {\color{red}{\underline{4}}} \right] \]</span></span></span></div></span></td>
  <td class="cell c9">(ATList_wrongentries 3).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[1,x&gt;2]</td>
  <td class="cell c3">[1,2&lt;x]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[1,2,[2-x&lt;0,{1,2,2,2, 1,3}]]</td>
  <td class="cell c3">[1,2,[2-x&lt;0,{1,2}]]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The entries underlined in red below are those that are incorrect. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ 1 , 2 , \left[ 2-x &lt; 0 , \left \{1 , 2 , 3 \right \} \right] \right] \]</span></span></span></div></span></td>
  <td class="cell c9">(ATList_wrongentries 3: (ATList_wrongentries 2: ATSet_wrongsz)).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[(k+8)/(k^2+4*k-12),-(2*k+6)/(k^2+4*k-12)]</td>
  <td class="cell c3">[(k+8)/(k^2+4*k-12),-(2*k+6)/(k^2+4*k-12)]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Rounding of floats</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">round(0.5)</td>
  <td class="cell c3">0.0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">round(1.5)</td>
  <td class="cell c3">2.0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">round(2.5)</td>
  <td class="cell c3">2.0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">round(12.5)</td>
  <td class="cell c3">12.0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">significantfigures(0.5,1)</td>
  <td class="cell c3">0.5</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">significantfigures(1.5,1)</td>
  <td class="cell c3">2.0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">significantfigures(2.5,1)</td>
  <td class="cell c3">3.0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">significantfigures(3.5,1)</td>
  <td class="cell c3">4.0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">significantfigures(11.5,2)</td>
  <td class="cell c3">12.0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1500</td>
  <td class="cell c3">scientific_notation(1500,3)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1500</td>
  <td class="cell c3">displaysci(1.5,2,3)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[3,3.1,3.14,3.142,3.1416,3.14159,3.141593,3.1415927]</td>
  <td class="cell c3">makelist(significantfigures(%pi,i),i,8)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Sets</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x</td>
  <td class="cell c3">{1,2,3}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be a set, but is not. Note that the syntax to enter a set is to enclose the comma separated values with curly brackets.</div></td>
  <td class="cell c9">ATAlgEquiv_SA_not_set.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">co(1,2)</td>
  <td class="cell c3">{1,2,3}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be a set, but is not. Note that the syntax to enter a set is to enclose the comma separated values with curly brackets.</div></td>
  <td class="cell c9">ATAlgEquiv_SA_not_set.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{1,2}</td>
  <td class="cell c3">{1,2,3}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your set should have <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(3\)</span></span></span> different elements, but it actually has <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(2\)</span></span></span>.</div></span></td>
  <td class="cell c9">ATSet_wrongsz.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{2/4, 1/3}</td>
  <td class="cell c3">{1/2, 1/3}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{A[1],A[2],A[4]}</td>
  <td class="cell c3">{A[1],A[2],A[3]}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The following entries are incorrect, although they may appear in a simplified form from that which you actually entered. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left \{A_{4} \right \}\]</span></span></span></div></span></td>
  <td class="cell c9">ATSet_wrongentries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{A[1],A[2],A[3]}</td>
  <td class="cell c3">{A[1],A[2],A[3]}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{1,2,4}</td>
  <td class="cell c3">{1,2,3}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The following entries are incorrect, although they may appear in a simplified form from that which you actually entered. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left \{4 \right \}\]</span></span></span></div></span></td>
  <td class="cell c9">ATSet_wrongentries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{1,x&gt;4}</td>
  <td class="cell c3">{4&lt;x, 1}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{x-1=0,x&gt;1 and 5&gt;x}</td>
  <td class="cell c3">{x&gt;1 and x&lt;5,x=1}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{x-1=0,x&gt;1 and 5&gt;x}</td>
  <td class="cell c3">{x&gt;1 and x&lt;5,x=2}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The following entries are incorrect, although they may appear in a simplified form from that which you actually entered. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left \{x-1=0 \right \}\]</span></span></span></div></span></td>
  <td class="cell c9">ATSet_wrongentries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{x-1=0,x&gt;1 and 5&gt;x}</td>
  <td class="cell c3">{x&gt;1 and x&lt;3,x=1}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The following entries are incorrect, although they may appear in a simplified form from that which you actually entered. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left \{5-x &gt; 0\,{\mbox{ and }}\, x-1 &gt; 0 \right \}\]</span></span></span></div></span></td>
  <td class="cell c9">ATSet_wrongentries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Equivalence for elements of sets is different from expressions: see docs.</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{-sqrt(2)/sqrt(3)}</td>
  <td class="cell c3">{-2/sqrt(6)}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-3</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The following entries are incorrect, although they may appear in a simplified form from that which you actually entered. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left \{-\frac{\sqrt{2}}{\sqrt{3}} \right \}\]</span></span></span></div></span></td>
  <td class="cell c9">ATSet_wrongentries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{[-sqrt(2)/sqrt(3),0],[2/sqrt(6),0]}</td>
  <td class="cell c3">{[2/sqrt(6),0],[-2/sqrt(6),0]}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-3</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The following entries are incorrect, although they may appear in a simplified form from that which you actually entered. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left \{\left[ -\frac{\sqrt{2}}{\sqrt{3}} , 0 \right] \right \}\]</span></span></span></div></span></td>
  <td class="cell c9">ATSet_wrongentries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ev(radcan({-sqrt(2)/sqrt(3)}),simp)</td>
  <td class="cell c3">ev(radcan({-2/sqrt(6)}),simp)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ev(radcan(ratsimp({(-sqrt(10)/2)-2,sqrt(10)/2-2},algebraic:true)),simp)</td>
  <td class="cell c3">ev(radcan(ratsimp({(-sqrt(5)/sqrt(2))-2,sqrt(5)/sqrt(2)-2},algebraic:true)),simp)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{(2-2^(5/2))/2,(2^(5/2)+2)/2}</td>
  <td class="cell c3">{1-2^(3/2),2^(3/2)+1}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The following entries are incorrect, although they may appear in a simplified form from that which you actually entered. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left \{\frac{2-2^{\frac{5}{2}}}{2} , \frac{2^{\frac{5}{2}}+2}{2} \right \}\]</span></span></span></div></span></td>
  <td class="cell c9">ATSet_wrongentries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ev(radcan({(2-2^(5/2))/2,(2^(5/2)+2)/2}),simp)</td>
  <td class="cell c3">{1-2^(3/2),2^(3/2)+1}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{(x-a)^6000}</td>
  <td class="cell c3">{(a-x)^6000}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The following entries are incorrect, although they may appear in a simplified form from that which you actually entered. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left \{{\left(x-a\right)}^{6000} \right \}\]</span></span></span></div></span></td>
  <td class="cell c9">ATSet_wrongentries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{(k+8)/(k^2+4*k-12),-(2*k+6)/(k^2+4*k-12)}</td>
  <td class="cell c3">{(k+8)/(k^2+4*k-12),-(2*k+6)/(k^2+4*k-12)}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Matrices</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">matrix([1,2],[2,3])</td>
  <td class="cell c3">matrix([1,2],[2,3])</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">matrix([1,2],[2,3])</td>
  <td class="cell c3">matrix([1,2,3],[2,3,3])</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your matrix should be <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(2\)</span></span></span> by <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(3\)</span></span></span>, but it is actually <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(2\)</span></span></span> by <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(2\)</span></span></span>.</div></span></td>
  <td class="cell c9">ATMatrix_wrongsz_columns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">matrix([1,2],[2,3])</td>
  <td class="cell c3">matrix([1,2],[2,5])</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The entries underlined in red below are those that are incorrect. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[ \left[\begin{array}{cc} 1 &amp; 2 \\ 2 &amp; {\color{red}{\underline{3}}} \end{array}\right]\]</span></span></span></div></span></td>
  <td class="cell c9">ATMatrix_wrongentries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">matrix([0.33,1],[1,1])</td>
  <td class="cell c3">matrix([0.333,1],[1,1])</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The entries underlined in red below are those that are incorrect. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[ \left[\begin{array}{cc} {\color{red}{\underline{0.33}}} &amp; 1 \\ 1 &amp; 1 \end{array}\right]\]</span></span></span></div></span></td>
  <td class="cell c9">ATMatrix_wrongentries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">matrix([x+x,2],[2,x*x])</td>
  <td class="cell c3">matrix([2*x,2],[2,x^2])</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">matrix([epsilon[0],2],[2,x^2])</td>
  <td class="cell c3">matrix([epsilon[0],2],[2,x^2])</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">matrix([epsilon[2],2],[2,x^2])</td>
  <td class="cell c3">matrix([epsilon[0],2],[2,x^3])</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The entries underlined in red below are those that are incorrect. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[ \left[\begin{array}{cc} {\color{red}{\underline{\varepsilon_{2}}}} &amp; 2 \\ 2 &amp; {\color{red}{\underline{x^2}}} \end{array}\right]\]</span></span></span></div></span></td>
  <td class="cell c9">ATMatrix_wrongentries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">matrix([x&gt;4,{1,x^2}],[[1,2],[1,3]])</td>
  <td class="cell c3">matrix([4-x&lt;0,{x^2, 1}],[[1,2],[1,3]])</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">matrix([x&gt;4,{1,x^2}],[[1,2],[1,3]])</td>
  <td class="cell c3">matrix([4-x&lt;0,{x^2, 1}],[[1,2],[1,4]])</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The entries underlined in red below are those that are incorrect. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[ \left[\begin{array}{cc} x &gt; 4 &amp; \left \{1 , x^2 \right \} \\ \left[ 1 , 2 \right] &amp; \left[ 1 , {\color{red}{\underline{3}}} \right] \end{array}\right]\]</span></span></span></div></span></td>
  <td class="cell c9">ATMatrix_wrongentries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Vectors</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a</td>
  <td class="cell c3">stackvector(a)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Equations</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1</td>
  <td class="cell c3">x=1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be an equation, but is not.</div></td>
  <td class="cell c9">ATAlgEquiv_SA_not_equation.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x=1</td>
  <td class="cell c3">x=1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_sides</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1=x</td>
  <td class="cell c3">1=x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_sides</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1=x</td>
  <td class="cell c3">x=1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_sides_op</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1=1</td>
  <td class="cell c3">1=x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_default</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1=1</td>
  <td class="cell c3">x=1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_default</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x=2</td>
  <td class="cell c3">x=1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_lhs_notrhs</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2=x</td>
  <td class="cell c3">x=1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_default</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x=x</td>
  <td class="cell c3">y=y</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_zero</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x+y=1</td>
  <td class="cell c3">y=1-x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*x+2*y=1</td>
  <td class="cell c3">y=0.5-x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_ratio</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/x+1/y=2</td>
  <td class="cell c3">y = x/(2*x-1)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_ratio</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">y=sin(2*x)</td>
  <td class="cell c3">y/2=cos(x)*sin(x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_ratio</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">y=(x-a)^6000</td>
  <td class="cell c3">y=(x-a)^6000</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_sides</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">y=(x-a)^5999</td>
  <td class="cell c3">y=(x-a)^6000</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_lhs_notrhs</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">y=(a-x)^6000</td>
  <td class="cell c3">y=(x-a)^6000</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_sides</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">y=(a-x)^5999</td>
  <td class="cell c3">y=(x-a)^5999</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_lhs_notrhs</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">y=(a-x)^59999</td>
  <td class="cell c3">y=(x-a)^5999</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_lhs_notrhs</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x+y=i</td>
  <td class="cell c3">y=i-x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(1+%i)*(x+y)=0</td>
  <td class="cell c3">y=-x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">s^2*%e^(s*t)=0</td>
  <td class="cell c3">s^2=0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_default</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0=-x+y/A+(y-z)/B</td>
  <td class="cell c3">0=x-y/A-(y-z)/B</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^6000-x^6001=x^5999</td>
  <td class="cell c3">x^5999*(1-x+x^2)=0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_ratio</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^6000-x^6001=x^5999</td>
  <td class="cell c3">x^5999*(1-x+x^3)=0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_default</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">258552*x^7*(81*x^8+1)^398</td>
  <td class="cell c3">x^3*(x^4+1)^399</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">Ia*(R1+R2+R3)-Ib*R3=0</td>
  <td class="cell c3">-Ia*(R1+R2+R3)+Ib*R3=0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a=0 or b=0</td>
  <td class="cell c3">a*b=0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_sides</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a*b=0</td>
  <td class="cell c3">a=0 or b=0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_sides</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a*x=a*y</td>
  <td class="cell c3">x=y</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_default</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a*x=a*y</td>
  <td class="cell c3">a=0 or x=y</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_ratio</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Unary Equations</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1</td>
  <td class="cell c3">stackeq(1)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">stackeq(1)</td>
  <td class="cell c3">1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">stackeq(1)</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Equations: Loose/gain roots with nth powers of each side.</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x=y</td>
  <td class="cell c3">x^2=y^2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_default</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-2)^2=0</td>
  <td class="cell c3">x=2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_default</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a^3*b^3=0</td>
  <td class="cell c3">a=0 or b=0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_default</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a^3*b^3=0</td>
  <td class="cell c3">a*b=0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_default</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-y)*(x+y)=0</td>
  <td class="cell c3">x^2=y^2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_ratio</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x=1</td>
  <td class="cell c3">(x-1)^3=0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_default</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">sqrt(x)=sqrt(y)</td>
  <td class="cell c3">x=y</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_default</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x=sqrt(a)</td>
  <td class="cell c3">x^2=a</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_default</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-sqrt(a))*(x+sqrt(a))=0</td>
  <td class="cell c3">x^2=a</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_ratio</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-%i*sqrt(a))*(x+%i*sqrt(a))=0</td>
  <td class="cell c3">x^2=-a</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_ratio</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-%i*sqrt(abs(a)))*(x+%i*sqrt(abs(a)))=0</td>
  <td class="cell c3">x^2=-abs(a)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_ratio</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">y=sqrt(1-x^2)</td>
  <td class="cell c3">x^2+y^2=1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_default</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(y-sqrt(1-x^2))*(y+sqrt(1-x^2))=0</td>
  <td class="cell c3">x^2+y^2=1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_ratio</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(y-sqrt((1-x)*(1+x)))*(y+sqrt((1-x)*(1+x)))=0</td>
  <td class="cell c3">x^2+y^2=1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_ratio</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-1)*(x+1)*(y-1)*(y+1)=0</td>
  <td class="cell c3">y^2+x^2=1+x^2*y^2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_ratio</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Equations: edge cases. Teacher must enter an equation, all or none here.</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">all</td>
  <td class="cell c3">x=x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_zero</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">true</td>
  <td class="cell c3">x=x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_zero</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x=x</td>
  <td class="cell c3">all</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_zero</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">all</td>
  <td class="cell c3">all</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_zero</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">true</td>
  <td class="cell c3">all</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_zero</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a=a</td>
  <td class="cell c3">x=x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_zero</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">false</td>
  <td class="cell c3">x=x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_zero_fail</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">false</td>
  <td class="cell c3">all</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_zero_fail</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">none</td>
  <td class="cell c3">all</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_zero_fail</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">all</td>
  <td class="cell c3">none</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_empty_fail</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2=3</td>
  <td class="cell c3">1=4</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_empty</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">none</td>
  <td class="cell c3">1=2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_empty</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">false</td>
  <td class="cell c3">1=2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_empty</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">none</td>
  <td class="cell c3">none</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_empty</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">false</td>
  <td class="cell c3">none</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_empty</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3=0</td>
  <td class="cell c3">none</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_empty</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0=3</td>
  <td class="cell c3">none</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_empty</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">all</td>
  <td class="cell c3">1=2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_empty_fail</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">true</td>
  <td class="cell c3">1=2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_empty_fail</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{}</td>
  <td class="cell c3">1=2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be an equation, but is not.</div></td>
  <td class="cell c9">ATAlgEquiv_SA_not_equation.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[]</td>
  <td class="cell c3">1=2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be an equation, but is not.</div></td>
  <td class="cell c9">ATAlgEquiv_SA_not_equation.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{}</td>
  <td class="cell c3">none</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be an equation, inequality or a logical combination of many of these, but is not.</div></td>
  <td class="cell c9">ATAlgEquiv_SA_not_logic.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Sets of real numbers</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^2</td>
  <td class="cell c3">cc(1,3)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be a subset of the real numbers. This could be a set of numbers, or a collection of intervals.</div></td>
  <td class="cell c9">ATAlgEquiv_SA_not_realset.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">%union(oo(1,2),oo(3,4))</td>
  <td class="cell c3">%union(oo(1,2),oo(3,4))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATRealSet_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">%union(oc(1,2),co(2,3))</td>
  <td class="cell c3">oo(1,3)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATRealSet_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">%union(oc(1,2),co(2,3))</td>
  <td class="cell c3">cc(1,3)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATRealSet_false.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{-1,1}</td>
  <td class="cell c3">%union({-1,1})</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATRealSet_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{1,3}</td>
  <td class="cell c3">cc(1,3)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATRealSet_false.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">%intersection(oc(-1,1),co(1,2))</td>
  <td class="cell c3">%union({1})</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATRealSet_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">oo(-inf,1)</td>
  <td class="cell c3">oo(-inf,1)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATRealSet_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">oo(-1,inf)</td>
  <td class="cell c3">oo(0,inf)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATRealSet_false.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">%union(oc(-inf,0),oo(-1,4))</td>
  <td class="cell c3">oo(-inf,4)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATRealSet_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">%union(oo(-inf,1),oo(-1,inf))</td>
  <td class="cell c3">oo(-inf,inf)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATRealSet_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">all</td>
  <td class="cell c3">oo(-inf,inf)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATRealSet_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Complex numbers</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a=b/%i</td>
  <td class="cell c3">%i*a=b</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_num_i</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">b/%i=a</td>
  <td class="cell c3">%i*a=b</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_num_i</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">b=a/%i</td>
  <td class="cell c3">%i*a=b</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_lhs_notrhs_op</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a*(2+%i)=b</td>
  <td class="cell c3">a=b/(2+%i)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_ratio</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a*(2+%i)=b</td>
  <td class="cell c3">a=b*(2-%i)/5</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_num_i</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a*(2+%i)=b</td>
  <td class="cell c3">a=b*(2-%i)/4</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_default</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Absolute value in equations</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">abs(x)=abs(y)</td>
  <td class="cell c3">x=y</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_default</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">abs(x)=abs(y)</td>
  <td class="cell c3">x=y or x=-y</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">abs(x)=abs(y)</td>
  <td class="cell c3">(x-y)*(x+y)=0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Functions</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">f(x):=1/0</td>
  <td class="cell c3">f(x):=x^2</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">TEST_FAILED</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1</td>
  <td class="cell c3">f(x):=x^2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be a function, defined using the operator <tt>:=</tt>, but is not.</div></td>
  <td class="cell c9">ATAlgEquiv_SA_not_function.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">f(x)=x^2</td>
  <td class="cell c3">f(x):=x^2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be a function, defined using the operator <tt>:=</tt>, but is not.</div></td>
  <td class="cell c9">ATAlgEquiv_SA_not_function.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">f(x):=x^2</td>
  <td class="cell c3">f(x,y):=x^2+y^2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFunction_length_args. ATFunction_false.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">f(x):=x^2</td>
  <td class="cell c3">f(x)=x^2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be an equation, but is not.</div></td>
  <td class="cell c9">ATAlgEquiv_SA_not_equation.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">f(x):=x^2</td>
  <td class="cell c3">f(x):=x^2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFunction_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">f(x):=x^2</td>
  <td class="cell c3">f(x):=sin(x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFunction_false.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">g(x):=x^2</td>
  <td class="cell c3">f(x):=x^2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFunction_wrongname. ATFunction_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">f(y):=y^2</td>
  <td class="cell c3">f(x):=x^2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFunction_arguments_different. ATFunction_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">f(a,b):=a^2+b^2</td>
  <td class="cell c3">f(x,y):=x^2+y^2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFunction_arguments_different. ATFunction_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Inequalities</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1</td>
  <td class="cell c3">x&gt;1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be an inequality, but is not.</div></td>
  <td class="cell c9">ATAlgEquiv_SA_not_inequality.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x=1</td>
  <td class="cell c3">x&gt;1 and x&lt;5</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">You have entered an equation, but an equation is not expected here. You may have typed something like "y=2*x+1" when you only needed to type "2*x+1".</div></td>
  <td class="cell c9">ATAlgEquiv_TA_not_equation.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x&lt;1</td>
  <td class="cell c3">x&gt;1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your inequality appears to be backwards.</div></td>
  <td class="cell c9">ATInequality_backwards.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1&lt;x</td>
  <td class="cell c3">x&gt;1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a&lt;b</td>
  <td class="cell c3">b&gt;a</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2&lt;2*x</td>
  <td class="cell c3">x&gt;1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-2&gt;-2*x</td>
  <td class="cell c3">x&gt;1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x&gt;1</td>
  <td class="cell c3">x&lt;=1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your inequality should not be strict! Your inequality appears to be backwards.</div></td>
  <td class="cell c9">ATInequality_strict. ATInequality_backwards.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x&gt;=2</td>
  <td class="cell c3">x&lt;2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your inequality should be strict, but is not! Your inequality appears to be backwards.</div></td>
  <td class="cell c9">ATInequality_nonstrict. ATInequality_backwards.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x&gt;=1</td>
  <td class="cell c3">x&gt;2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your inequality should be strict, but is not!</div></td>
  <td class="cell c9">ATInequality_nonstrict.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x&gt;1</td>
  <td class="cell c3">x&gt;1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x&gt;=1</td>
  <td class="cell c3">x&gt;=1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x&gt;2</td>
  <td class="cell c3">x&gt;1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1&lt;x</td>
  <td class="cell c3">x&gt;1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*x&gt;=x^2</td>
  <td class="cell c3">x^2&lt;=2*x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*x&gt;=x^2</td>
  <td class="cell c3">x^2&lt;=2*x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3*x^2&lt;9*a</td>
  <td class="cell c3">x^2-3*a&lt;0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^2&gt;4</td>
  <td class="cell c3">x&gt;2 or x&lt;-2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1&lt;x or x&lt;-3</td>
  <td class="cell c3">x&lt;-3 or 1&lt;x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1&lt;x or x&lt;-3</td>
  <td class="cell c3">x&lt;-1 or 3&lt;x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x&gt;1 and x&lt;5</td>
  <td class="cell c3">x&gt;1 and x&lt;5</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x&gt;1 and x&lt;5</td>
  <td class="cell c3">5&gt;x and 1&lt;x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">not (x&lt;=2 and -2&lt;=x)</td>
  <td class="cell c3">x&gt;2 or -2&gt;x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x&gt;2 or -2&gt;x</td>
  <td class="cell c3">not (x&lt;=2 and -2&lt;=x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x&gt;=1 or 1&lt;=x</td>
  <td class="cell c3">x&gt;=1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x&gt;=1 and x&lt;=1</td>
  <td class="cell c3">x=1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInequality_solver.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x&gt;4 and x&lt;5) or (x&lt;-4 and x&gt;-5) or (x+5&gt;0 and x&lt;-4)</td>
  <td class="cell c3">(x&gt;-5 and x&lt;-4) or (x&gt;4 and x&lt;5)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x&gt;4 and x&lt;5) or (x&lt;-4 and x&gt;-5) or (x+5&gt;0 and x&lt;-4)</td>
  <td class="cell c3">(x&gt;-5 and x&lt;-4) or (x&gt;8 and x&lt;5)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x &lt; 0 nounor x &gt;= 1) nounand x &lt;= 3</td>
  <td class="cell c3">x &lt; 0 or (x &gt;= 1 and x &lt;= 3)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x &lt; 0 nounor x &gt;= 1) nounand x &lt;= 3</td>
  <td class="cell c3">x &lt; 0 or x &gt;= 1 and x &lt;= 3</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x &lt; 0 nounor x &gt;= 1) nounand x &lt;= 3</td>
  <td class="cell c3">x &lt; 0 or (x &gt;= 1 and x &lt;= 3)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x &lt; 0 nounor x &gt;= 1) nounand x &lt;= 3</td>
  <td class="cell c3">(x &lt; 0 or x &gt;= 1) and x &lt;= 3</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x &lt; 0 nounor x &gt;= 1) nounand x &lt;= 3</td>
  <td class="cell c3">x &lt; 0 or (x &gt;= 1 and x &lt;= 3)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">natural_domain(1/x^2)</td>
  <td class="cell c3">natural_domain(1/x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATRealSet_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^4&gt;=0</td>
  <td class="cell c3">x^2&gt;=0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^4&gt;=16</td>
  <td class="cell c3">x^2&gt;=4</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*x^2+x&gt;=6</td>
  <td class="cell c3">x&lt;=-2 or x&gt;=3/2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{2,-2}</td>
  <td class="cell c3">x&gt;2 nounor -2&gt;x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be an equation, inequality or a logical combination of many of these, but is not.</div></td>
  <td class="cell c9">ATAlgEquiv_SA_not_logic.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^2&lt;4</td>
  <td class="cell c3">x&lt;2 nounand x&gt;-2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_Solver_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^2&lt;6</td>
  <td class="cell c3">x&lt;2 nounand x&gt;-2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x&gt;1 nounand x&lt;-1</td>
  <td class="cell c3">false</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_Solver_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x&gt;1 nounand x&lt;3</td>
  <td class="cell c3">true</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x&gt;1 nounor x&lt;3</td>
  <td class="cell c3">true</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_Solver_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x&gt;1 nounor x&lt;3</td>
  <td class="cell c3">all</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_Solver_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">abs(x)&lt;1</td>
  <td class="cell c3">abs(x)&lt;1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">abs(x)&lt;1</td>
  <td class="cell c3">abs(x)&lt;2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">abs(x)&lt;1</td>
  <td class="cell c3">abs(x)&gt;1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your inequality appears to be backwards.</div></td>
  <td class="cell c9">ATInequality_backwards.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">abs(x)&lt;2</td>
  <td class="cell c3">-2&lt;x and x&lt;2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-3</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-2&lt;x and x&lt;2</td>
  <td class="cell c3">abs(x)&lt;2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-3</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">abs(x)&lt;2</td>
  <td class="cell c3">-1&lt;x and x&lt;1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^2&lt;=9</td>
  <td class="cell c3">abs(x)&lt;3</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^2&lt;=9</td>
  <td class="cell c3">abs(x)&lt;=3</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-3</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^6&lt;1</td>
  <td class="cell c3">abs(x)&lt;1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-3</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">abs(x)&gt;1</td>
  <td class="cell c3">x&lt;-1 or x&gt;1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-3</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Surds</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">sqrt(12)</td>
  <td class="cell c3">2*sqrt(3)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">sqrt(11+6*sqrt(2))</td>
  <td class="cell c3">3+sqrt(2)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(19601-13860*sqrt(2))^(7/4)</td>
  <td class="cell c3">(5*sqrt(2)-7)^7</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(19601-13861*sqrt(2))^(7/4)</td>
  <td class="cell c3">(5*sqrt(2)-7)^7</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(19601-13861*sqrt(2))^(7/4)</td>
  <td class="cell c3">(5*sqrt(2)-7)^7</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">sqrt(2*log(26)+4-2*log(2))</td>
  <td class="cell c3">sqrt(2*log(13)+4)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">sqrt(2)*sqrt(3)+2*(sqrt(2/3))*x-(2/3)*(sqrt(2/3))*x^2+(4/9)*(sqrt(2/3))*x^3</td>
  <td class="cell c3">4*sqrt(6)*x^3/27-(2*sqrt(6)*x^2)/9+(2*sqrt(6)*x)/3+sqrt(6)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Factorials and binomials</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(n+1)*n!</td>
  <td class="cell c3">(n+1)!</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">n/n!</td>
  <td class="cell c3">1/(n-1)!</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">n/n!</td>
  <td class="cell c3">1/(n+1)!</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">n!/(k!*(n-k)!)</td>
  <td class="cell c3">binomial(n,k)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">binomial(n,k)+binomial(n,k+1)</td>
  <td class="cell c3">binomial(n+1,k+1)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-3</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">binomial(n,k)+binomial(n,k+1)</td>
  <td class="cell c3">binomial(n+1,k)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">binomial(n,k)</td>
  <td class="cell c3">binomial(n,n-k)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">175!*56!/(55!*176!)</td>
  <td class="cell c3">17556/55176</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Unevaluated derviatives</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3*s*diff(q(s),s)</td>
  <td class="cell c3">3*s*diff(q(s),s)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Sums and products</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">sum(k^n,n,0,3)</td>
  <td class="cell c3">sum(k^n,n,0,3)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1+k+k^2+k^3</td>
  <td class="cell c3">sum(k^n,n,0,3)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1+k+k^2</td>
  <td class="cell c3">sum(k^n,n,0,3)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">n*(n+1)*(2*n+1)/6</td>
  <td class="cell c3">sum(k^2,k,1,n)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">sum((k+1)^2,k,0,n-1)</td>
  <td class="cell c3">sum(k^2,k,1,n)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">product(cos(k*x),k,1,3)</td>
  <td class="cell c3">product(cos(k*x),k,1,3)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">cos(x)*cos(2*x)*cos(3*x)</td>
  <td class="cell c3">product(cos(k*x),k,1,3)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">cos(x)*cos(2*x)</td>
  <td class="cell c3">product(cos(k*x),k,1,3)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Scientific units are ignored</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">9.81*m/s^2</td>
  <td class="cell c3">stackunits(9.81,m/s^2)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">6*stackunits(1,m)</td>
  <td class="cell c3">stackunits(6,m)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">stackunits(2,m)^2</td>
  <td class="cell c3">stackunits(4,m^2)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">stackunits(2,s)^2</td>
  <td class="cell c3">stackunits(4,m^2)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Maxima does not simplify -inf (I agree!)</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-inf</td>
  <td class="cell c3">minf</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">These currently fail</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2/%i*ln(sqrt((1+z)/2)+%i*sqrt((1-z)/2))</td>
  <td class="cell c3">-%i*ln(z+%i*sqrt(1-z^2))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-3</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">abs(x^2-4)/(abs(x-2)*abs(x+2))</td>
  <td class="cell c3">1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-3</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">abs(x^2-4)</td>
  <td class="cell c3">abs(x-2)*abs(x+2)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-3</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(-1)^n*cos(x)^n</td>
  <td class="cell c3">(-cos(x))^n</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-3</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(sqrt(108)+10)^(1/3)-(sqrt(108)-10)^(1/3)</td>
  <td class="cell c3">2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-3</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(sqrt(2+sqrt(2))+sqrt(2-sqrt(2)))/(2*sqrt(2))</td>
  <td class="cell c3">sqrt(sqrt(2)+2)/2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-3</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">sqrt(2*x*sqrt(x^2+1)+2*x^2+1)-sqrt(x^2+1)-x</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-3</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(77+20*sqrt(13))^(1/6)-(77-20*sqrt(13))^(1/6)</td>
  <td class="cell c3">1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-3</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(930249+416020*sqrt(5))^(1/30)-(930249-416020*sqrt(5))^(1/30)</td>
  <td class="cell c3">1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-3</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">cos(2*%pi/17)</td>
  <td class="cell c3">(-1+sqrt(17)+sqrt(34-2*sqrt(17)))/16+(2*sqrt(17+3*sqrt(17)-sqrt(34-2*sqrt(17))-2*sqrt(34+2*sqrt(17))))/16</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-3</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(41-sqrt(511))/2</td>
  <td class="cell c3">(sqrt((4*(cos((1/2*(acos((61/1040*sqrt(130)))-atan(11/3)))))^(2))+21)-(2*cos((1/2*(acos((61/1040*sqrt(130)))-atan(11 / 3))))))^(2)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-3</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a*(1+sqrt(2))=b</td>
  <td class="cell c3">a=b*(sqrt(2)-1)/3</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-3</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_default</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">This is only equivalent for x>=0...</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">atan(1/2)</td>
  <td class="cell c3">%pi/2-atan(2)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-3</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">This is true for all x...</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">asinh(x)</td>
  <td class="cell c3">ln(x+sqrt(x^2+1))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-3</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Logical expressions</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">true and false</td>
  <td class="cell c3">false</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">true or false</td>
  <td class="cell c3">false</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">A and B</td>
  <td class="cell c3">B and A</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">A and B</td>
  <td class="cell c3">C and A</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">A and B=C</td>
  <td class="cell c3">C=B and A</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">A and (B and C)</td>
  <td class="cell c3">A and B and C</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">A and (B or C)</td>
  <td class="cell c3">A and (B or C)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(A and B) or (A and C)</td>
  <td class="cell c3">A and (B or C)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-(b#pm#sqrt(b^2-4*a*c))</td>
  <td class="cell c3">-b#pm#sqrt(b^2-4*a*c)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x=-b#pm#c^2</td>
  <td class="cell c3">x=c^2-b or x=-c^2-b</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x#pm#a = y#pm#b</td>
  <td class="cell c3">x#pm#a = y#pm#b</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_sides</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x#pm#a = y#pm#b</td>
  <td class="cell c3">x#pm#a = y#pm#c</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_lhs_notrhs</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">not(A) and not(B)</td>
  <td class="cell c3">not(A or B)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">not(A) and not(B)</td>
  <td class="cell c3">not(A and B)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">not(A) or B</td>
  <td class="cell c3">boolean_form(A implies B)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">not(A) or B</td>
  <td class="cell c3">A implies B</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">not(A) and B</td>
  <td class="cell c3">A implies B</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(not A and B) or (not B and A)</td>
  <td class="cell c3">A xor B</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(A and B) or (not A and not B)</td>
  <td class="cell c3">A xnor B</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{not(A) or B,A and B}</td>
  <td class="cell c3">{A implies B,A and B}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The following entries are incorrect, although they may appear in a simplified form from that which you actually entered. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left \{{\rm not}\left( A \right)\,{\mbox{ or }}\, B \right \}\]</span></span></span></div></span></td>
  <td class="cell c9">ATSet_wrongentries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{A implies B,A and B}</td>
  <td class="cell c3">{not(A) and B,A and B}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The following entries are incorrect, although they may appear in a simplified form from that which you actually entered. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left \{A\,{\mbox{ implies }}\, B \right \}\]</span></span></span></div></span></td>
  <td class="cell c9">ATSet_wrongentries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Differential equations</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">diff(x^2,x)</td>
  <td class="cell c3">2*x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">diff(x^2,x)</td>
  <td class="cell c3">&#039;diff(x^2,x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">noundiff(x^2,x)</td>
  <td class="cell c3">2*x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">diff(y,x)</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">noundiff(y,x)</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">diff(y(x),x)</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">diff(y(x),x)</td>
  <td class="cell c3">diff(y,x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">diff(y,x)</td>
  <td class="cell c3">diff(y,x,2)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Basic support for strings</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">&quot;Hello&quot;</td>
  <td class="cell c3">&quot;Hello&quot;</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATAlgEquiv_String</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">&quot;hello&quot;</td>
  <td class="cell c3">&quot;Hello&quot;</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATAlgEquiv_String</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">W</td>
  <td class="cell c3">&quot;Hello&quot;</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be a string, but is not.</div></td>
  <td class="cell c9">ATAlgEquiv_SA_not_string.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">&quot;Hello&quot;</td>
  <td class="cell c3">x^2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be an expression, not an equation, inequality, list, set or matrix.</div></td>
  <td class="cell c9">ATAlgEquiv_SA_not_expression.</td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">1</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATAlgEquivNouns_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1</td>
  <td class="cell c3">1/0</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATAlgEquivNouns_STACKERROR_TAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2"></td>
  <td class="cell c3">(x-1)^2</td>
  <td class="cell c4"></td>
  <td class="cell c5">The answer test failed to execute correctly: please alert your teacher. Attempted to execute an answer test with an empty student answer, probably a CAS validation problem when authoring the question.</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Attempted to execute an answer test with an empty student answer, probably a CAS validation problem when authoring the question.</div></td>
  <td class="cell c9">ATAlgEquivNounsTEST_FAILED-Empty SA.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">x^2</td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5">The answer test failed to execute correctly: please alert your teacher. Attempted to execute an answer test with an empty teacher answer, probably a CAS validation problem when authoring the question.</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Attempted to execute an answer test with an empty teacher answer, probably a CAS validation problem when authoring the question.</div></td>
  <td class="cell c9">ATAlgEquivNounsTEST_FAILED-Empty TA.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">x-1)^2</td>
  <td class="cell c3">(x-1)^2</td>
  <td class="cell c4"></td>
  <td class="cell c5">The answer test failed to execute correctly: please alert your teacher. Attempted to execute an answer test with an empty student answer, probably a CAS validation problem when authoring the question.</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Attempted to execute an answer test with an empty student answer, probably a CAS validation problem when authoring the question.</div></td>
  <td class="cell c9">ATAlgEquivNounsTEST_FAILED-Empty SA.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">diff(x^2,x)</td>
  <td class="cell c3">2*x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">diff(x^2,x)</td>
  <td class="cell c3">&#039;diff(x^2,x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">diff(x^2,x)</td>
  <td class="cell c3">&#039;diff(x^2,x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">&#039;diff(y,x)</td>
  <td class="cell c3">noundiff(y,x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">diff(y,x)</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">&#039;diff(y,x)</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">noundiff(y,x)</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">diff(y(x),x)</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">&#039;diff(y,x,1)</td>
  <td class="cell c3">&#039;diff(y,x,2)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">&#039;diff(y(x),x)</td>
  <td class="cell c3">&#039;diff(y,x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">subst(y,y(x),&#039;diff(y,x)+y=1)</td>
  <td class="cell c3">&#039;diff(y,x)+y=1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_sides</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">subst(y,y(x),&#039;diff(y(x),x)+y(x)=1)</td>
  <td class="cell c3">&#039;diff(y,x)+y=1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_sides</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">subst(y(x),y,&#039;diff(y,x)+y=1)</td>
  <td class="cell c3">&#039;diff(y(x),x)+y(x)=1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_sides</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">subst(y(x),y,&#039;diff(y,x)+y=1)</td>
  <td class="cell c3">&#039;diff(y,x)+y=1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_default</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">subst(y(x),y,&#039;diff(y(x),x)+y(x)=1)</td>
  <td class="cell c3">&#039;diff(y,x)+y=1</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. subst: cannot substitute y(x) for operator y in expression y(x)<br /></div></td>
  <td class="cell c9">ATAlgEquivNouns_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">y_x</td>
  <td class="cell c3">&#039;diff(y,x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Partials</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">noundiff(f,x,1,y,1)</td>
  <td class="cell c3">noundiff(noundiff(f,x),y)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">noundiff(noundiff(f,y),x)</td>
  <td class="cell c3">noundiff(noundiff(f,x),y)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">noundiff(noundiff(f,x),x)</td>
  <td class="cell c3">noundiff(f,x,2)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Differential equations</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">noundiff(H,x,2) = -R/T</td>
  <td class="cell c3">noundiff(H,x,2) + R/T = 0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_ratio</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">&#039;diff(H,x,2) = -R/T</td>
  <td class="cell c3">noundiff(H,x,2) + R/T = 0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_ratio</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">y(t)=int(s^2,s,0,t)</td>
  <td class="cell c3">y(t)=t^3/3</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_sides</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">y(t)=&#039;int(s^2,s,0,t)</td>
  <td class="cell c3">y(t)=t^3/3</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_lhs_notrhs</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">y(t)=&#039;int(s^2,s,0,t)</td>
  <td class="cell c3">y(t)=nounint(s^2,s,0,t)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquation_sides</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Logic nouns are still evaluated</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">AlgEquivNouns</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">true nounand false</td>
  <td class="cell c3">false</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLogic_True.</td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">x^2-2*x+1</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATSubstEquiv_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">x^2</td>
  <td class="cell c3">x^2-2*x+1</td>
  <td class="cell c4">[1/0]</td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATSubstEquiv_STACKERROR_Opt.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">x^2</td>
  <td class="cell c3">x^2-2*x+1</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The option to this answer test must be a list. This is an error. Please contact your teacher.</div></td>
  <td class="cell c9">ATSubstEquiv_Opt_List.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^2+1</td>
  <td class="cell c3">x^2+1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^2+1</td>
  <td class="cell c3">x^3+1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^2+1</td>
  <td class="cell c3">x^3+1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">X^2+1</td>
  <td class="cell c3">x^2+1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer would be correct if you used the following substitution of variables. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ X=x \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATSubstEquiv_Subst [X = x].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^2+y</td>
  <td class="cell c3">a^2+b</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer would be correct if you used the following substitution of variables. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ x=a , y=b \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATSubstEquiv_Subst [x = a,y = b].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^2+y/z</td>
  <td class="cell c3">a^2+c/b</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer would be correct if you used the following substitution of variables. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ x=a , y=c , z=b \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATSubstEquiv_Subst [x = a,y = c,z = b].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">y=x^2</td>
  <td class="cell c3">a^2=b</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer would be correct if you used the following substitution of variables. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ x=a , y=b \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATSubstEquiv_Subst [x = a,y = b].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{x=1,y=2}</td>
  <td class="cell c3">{x=2,y=1}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer would be correct if you used the following substitution of variables. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ x=y , y=x \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATSubstEquiv_Subst [x = y,y = x].</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Where a variable is also a function name.</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">cos(a*x)/(x*(ln(x)))</td>
  <td class="cell c3">cos(a*y)/(y*(ln(y)))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer would be correct if you used the following substitution of variables. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ a=a , x=y \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATSubstEquiv_Subst [a = a,x = y].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">cos(a*x)/(x*(ln(x)))</td>
  <td class="cell c3">cos(x*a)/(a*(ln(a)))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer would be correct if you used the following substitution of variables. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ a=x , x=a \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATSubstEquiv_Subst [a = x,x = a].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">cos(a*x)/(x*(ln(x)))</td>
  <td class="cell c3">cos(a*x)/(x(ln(x)))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">cos(a*x)/(x*(ln(x)))</td>
  <td class="cell c3">cos(a*y)/(y(ln(y)))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x+1&gt;y</td>
  <td class="cell c3">y+1&gt;x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer would be correct if you used the following substitution of variables. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ x=y , y=x \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATSubstEquiv_Subst [x = y,y = x].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x+1&gt;y</td>
  <td class="cell c3">x&lt;y+1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer would be correct if you used the following substitution of variables. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ x=y , y=x \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATSubstEquiv_Subst [x = y,y = x].</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Matrices</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">matrix([1,A^2+A+1],[2,0])</td>
  <td class="cell c3">matrix([1,x^2+x+1],[2,0])</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer would be correct if you used the following substitution of variables. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ A=x \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATSubstEquiv_Subst [A = x].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">matrix([B,A^2+A+1],[2,C])</td>
  <td class="cell c3">matrix([y,x^2+x+1],[2,z])</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer would be correct if you used the following substitution of variables. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ A=x , B=y , C=z \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATSubstEquiv_Subst [A = x,B = y,C = z].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">matrix([B,A^2+A+1],[2,C])</td>
  <td class="cell c3">matrix([y,x^2+x+1],[2,x])</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The entries underlined in red below are those that are incorrect. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[ \left[\begin{array}{cc} {\color{red}{\underline{B}}} &amp; {\color{red}{\underline{A^2+A+1}}} \\ 2 &amp; {\color{red}{\underline{C}}} \end{array}\right]\]</span></span></span></div></span></td>
  <td class="cell c9">ATMatrix_wrongentries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Lists</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2+1,x^2]</td>
  <td class="cell c3">[A^2+1,A^2]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer would be correct if you used the following substitution of variables. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ x=A \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATSubstEquiv_Subst [x = A].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2-1,x^2]</td>
  <td class="cell c3">[A^2+1,A^2]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The entries underlined in red below are those that are incorrect. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ {\color{red}{\underline{x^2-1}}} , {\color{red}{\underline{x ^2}}} \right] \]</span></span></span></div></span></td>
  <td class="cell c9">(ATList_wrongentries 1, 2).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[A,B,C]</td>
  <td class="cell c3">[B,C,A]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer would be correct if you used the following substitution of variables. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ A=B , B=C , C=A \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATSubstEquiv_Subst [A = B,B = C,C = A].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[A,B,C]</td>
  <td class="cell c3">[B,B,A]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The entries underlined in red below are those that are incorrect. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ {\color{red}{\underline{A}}} , B , {\color{red}{\underline{C }}} \right] \]</span></span></span></div></span></td>
  <td class="cell c9">(ATList_wrongentries 1, 3).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[1,[A,B],C]</td>
  <td class="cell c3">[1,[a,b],C]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer would be correct if you used the following substitution of variables. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ A=a , B=b , C=C \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATSubstEquiv_Subst [A = a,B = b,C = C].</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Sets</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{x^2+1,x^2}</td>
  <td class="cell c3">{A^2+1,A^2}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer would be correct if you used the following substitution of variables. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ x=A \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATSubstEquiv_Subst [x = A].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{x^2-1,x^2}</td>
  <td class="cell c3">{A^2+1,A^2}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The following entries are incorrect, although they may appear in a simplified form from that which you actually entered. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left \{x^2-1 , x^2 \right \}\]</span></span></span></div></span></td>
  <td class="cell c9">ATSet_wrongentries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{A+1,B^2,C}</td>
  <td class="cell c3">{B,C+1,A^2}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer would be correct if you used the following substitution of variables. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ A=C , B=A , C=B \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATSubstEquiv_Subst [A = C,B = A,C = B].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{1,{A,B},C}</td>
  <td class="cell c3">{1,{a,b},C}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer would be correct if you used the following substitution of variables. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ A=a , B=b , C=C \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATSubstEquiv_Subst [A = a,B = b,C = C].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">A*cos(t)+B*sin(t)</td>
  <td class="cell c3">P*cos(t)+Q*sin(t)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer would be correct if you used the following substitution of variables. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ A=P , B=Q , t=t \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATSubstEquiv_Subst [A = P,B = Q,t = t].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">A*cos(t)+B*sin(t)</td>
  <td class="cell c3">P*cos(x)+Q*sin(x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer would be correct if you used the following substitution of variables. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ A=P , B=Q , t=x \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATSubstEquiv_Subst [A = P,B = Q,t = x].</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Fix some variables.</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">A*cos(t)+B*sin(t)</td>
  <td class="cell c3">P*cos(x)+Q*sin(x)</td>
  <td class="cell c4">[x]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">A*cos(t)+B*sin(t)</td>
  <td class="cell c3">P*cos(x)+Q*sin(x)</td>
  <td class="cell c4">[t]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer would be correct if you used the following substitution of variables. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ A=P , B=Q , t=x \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATSubstEquiv_Subst [A = P,B = Q,t = x].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SubstEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">A*cos(t)*e^x+B*sin(t)*e^x+C*sin(2*x)+D*cos(2*x)</td>
  <td class="cell c3">P*cos(t)*e^x+Q*sin(t)*e^x+R*sin(2*x)+S*cos(2*x)</td>
  <td class="cell c4">[x,t]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer would be correct if you used the following substitution of variables. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ A=P , B=Q , C=R , D=S \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATSubstEquiv_Subst [A = P,B = Q,C = R,D = S].</td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0</td>
  <td class="cell c3">1/0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss_STACKERROR_TAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Numbers</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2/4</td>
  <td class="cell c3">1/2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3^2</td>
  <td class="cell c3">8</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-false).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3^2</td>
  <td class="cell c3">9</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">cos(0)</td>
  <td class="cell c3">1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">4^(1/2)</td>
  <td class="cell c3">2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/3^(1/2)</td>
  <td class="cell c3">(1/3)^(1/2)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">sqrt(3)/3</td>
  <td class="cell c3">(1/3)^(1/2)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">sqrt(3)</td>
  <td class="cell c3">3^(1/2)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*sqrt(2)</td>
  <td class="cell c3">sqrt(8)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*2^(1/2)</td>
  <td class="cell c3">sqrt(8)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">sqrt(2)/4</td>
  <td class="cell c3">1/sqrt(8)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/sqrt(2)</td>
  <td class="cell c3">2^(1/2)/2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">4.0</td>
  <td class="cell c3">4</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Case sensitivity</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">X</td>
  <td class="cell c3">x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-false)ATAlgEquiv_WrongCase.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">exdowncase(X)</td>
  <td class="cell c3">x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">exdowncase((X-1)^2)</td>
  <td class="cell c3">x^2-2*x+1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">exdowncase(X^2-2*X+1)</td>
  <td class="cell c3">x^2-2*x+1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Powers</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a^2/b^3</td>
  <td class="cell c3">a^2*b^(-3)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">lg(a^x,a)</td>
  <td class="cell c3">x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^(2/4)</td>
  <td class="cell c3">x^(1/2)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Simple polynomials</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1+2*x</td>
  <td class="cell c3">x*2+1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1+x</td>
  <td class="cell c3">2*x+1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-false).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1+x+x</td>
  <td class="cell c3">2*x+1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x+y)+z</td>
  <td class="cell c3">z+x+y</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x*x</td>
  <td class="cell c3">x^2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x+5)*x</td>
  <td class="cell c3">x*(5+x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x*(x+5)</td>
  <td class="cell c3">5*x+x^2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(1-x)^2</td>
  <td class="cell c3">(x-1)^2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(a-x)^6000</td>
  <td class="cell c3">(x-a)^6000</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Expressions with subscripts</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">rho*z*V/(4*pi*epsilon[0]*(R^2+z^2)^(3/2))</td>
  <td class="cell c3">rho*z*V/(4*pi*epsilon[0]*(R^2+z^2)^(3/2))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">rho*z*V/(4*pi*epsilon[1]*(R^2+z^2)^(3/2))</td>
  <td class="cell c3">rho*z*V/(4*pi*epsilon[0]*(R^2+z^2)^(3/2))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-false).</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Unary minus</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-1+2</td>
  <td class="cell c3">2-1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-1*2+3*4</td>
  <td class="cell c3">3*4-1*2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(-1*2)+3*4</td>
  <td class="cell c3">10</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-1*2+3*4</td>
  <td class="cell c3">3*4-1*2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x*(-y)</td>
  <td class="cell c3">-x*y</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x*(-y)</td>
  <td class="cell c3">-(x*y)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(-x)*(-x)</td>
  <td class="cell c3">x*x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(-x)*(-x)</td>
  <td class="cell c3">x^2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-1/4*%pi*i</td>
  <td class="cell c3">-(%i*%pi)/4</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Rational expressions</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/2</td>
  <td class="cell c3">3/6</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/(1+2*x)</td>
  <td class="cell c3">1/(2*x+1)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2/(4+2*x)</td>
  <td class="cell c3">1/(x+2)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(a*b)/c</td>
  <td class="cell c3">a*(b/c)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">((x+1)/(x*(x-1)))*(x-1)</td>
  <td class="cell c3">((x+1)*(x-1))/(x*(x-1))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(-x)/y</td>
  <td class="cell c3">-(x/y)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x/(-y)</td>
  <td class="cell c3">-(x/y)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-1/(1-x)</td>
  <td class="cell c3">1/(x-1)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/2*1/x</td>
  <td class="cell c3">1/(2*x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(k+8)/(k^2+4*k-12)</td>
  <td class="cell c3">(k+8)/(k^2+4*k-12)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(k+8)/(k^2+4*k-12)</td>
  <td class="cell c3">(k+8)/((k-2)*(k+6))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(k+7)/(k^2+4*k-12)</td>
  <td class="cell c3">(k+8)/(k^2+4*k-12)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-false).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-(2*k+6)/(k^2+4*k-12)</td>
  <td class="cell c3">-(2*k+6)/(k^2+4*k-12)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(a+b)/1</td>
  <td class="cell c3">(b+a)/1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">No simplicifcation here</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1*x</td>
  <td class="cell c3">x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">23+0*x</td>
  <td class="cell c3">23</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x+0</td>
  <td class="cell c3">x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^1</td>
  <td class="cell c3">x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(1/2)*(a+b)</td>
  <td class="cell c3">(a+b)/2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/3*logbase(27,6)</td>
  <td class="cell c3">logbase(27,6)/3</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/3*lg(27,6)</td>
  <td class="cell c3">lg(27,6)/3</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">lg(root(x, n))</td>
  <td class="cell c3">lg(x, 10)/n</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">exp(x)</td>
  <td class="cell c3">%e^x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">exp(x)^2</td>
  <td class="cell c3">%e^(2*x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">exp(x)^2</td>
  <td class="cell c3">(%e^(x))^2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/3*i</td>
  <td class="cell c3">i/3</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Complex numbers</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">%i</td>
  <td class="cell c3">e^(i*pi/2)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(4*sqrt(3)*%i+4)^(1/5)</td>
  <td class="cell c3">rectform((4*sqrt(3)*%i+4)^(1/5))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(4*sqrt(3)*%i+4)^(1/5)</td>
  <td class="cell c3">8^(1/5)*(cos(%pi/15)+%i*sin(%pi/15))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(4*sqrt(3)*%i+4)^(1/5)</td>
  <td class="cell c3">polarform((4*sqrt(3)*%i+4)^(1/5))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Equations</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">y=x</td>
  <td class="cell c3">x=y</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x+1</td>
  <td class="cell c3">y=2*x+1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be an equation, but is not.</div></td>
  <td class="cell c9">ATEqualComAss ATAlgEquiv_SA_not_equation.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">y=1+2*x</td>
  <td class="cell c3">y=2*x+1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">y=x+x+1</td>
  <td class="cell c3">y=1+2*x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Logic</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">A and B</td>
  <td class="cell c3">B and A</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">A or B</td>
  <td class="cell c3">B or A</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">A or B</td>
  <td class="cell c3">B and A</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-false).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">not(true)</td>
  <td class="cell c3">false</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Sets</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{2*x+1,2}</td>
  <td class="cell c3">{2, 1+x*2}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2</td>
  <td class="cell c3">{2}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be a set, but is not. Note that the syntax to enter a set is to enclose the comma separated values with curly brackets.</div></td>
  <td class="cell c9">ATEqualComAss ATAlgEquiv_SA_not_set.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{2*x+1, 1+1}</td>
  <td class="cell c3">{2, 1+x*2}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{1,2}</td>
  <td class="cell c3">{1,{2}}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-false)ATSet_wrongentries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{4,3}</td>
  <td class="cell c3">{3,4}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{4,4}</td>
  <td class="cell c3">{4}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{-1,1,-1}</td>
  <td class="cell c3">{-1,-1,1}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{-1,1,-1}</td>
  <td class="cell c3">{-1,1}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Lists</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[2*x+1,2]</td>
  <td class="cell c3">[1+x*2,2]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x+x+1, 1+1]</td>
  <td class="cell c3">[1+x*2,2]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Matrices</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">matrix([1,2],[2,3])</td>
  <td class="cell c3">matrix([1,2],[2,3])</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">matrix([1,2],[2,3])</td>
  <td class="cell c3">matrix([1,2,3],[2,3,3])</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-false)ATMatrix_wrongsz_columns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">matrix([1,2],[2,3])</td>
  <td class="cell c3">matrix([1,2],[2,5])</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-false)ATMatrix_wrongentries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">matrix([1,2],[2,2+1])</td>
  <td class="cell c3">matrix([1,2],[2,3])</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">matrix([x+x, 1],[1, 1])</td>
  <td class="cell c3">matrix([2*x, 1],[1, 1])</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Sums and products</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">sum(k^n,n,0,3)</td>
  <td class="cell c3">sum(k^n,n,0,3)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1+k+k^2+k^3</td>
  <td class="cell c3">sum(k^n,n,0,3)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">sum(k,k,0,1+n)</td>
  <td class="cell c3">sum(k,k,0,n+1)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(n+1)*(n+2)/2</td>
  <td class="cell c3">sum(k,k,0,n+1)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">product(cos(k*x),k,1,3)</td>
  <td class="cell c3">product(cos(k*x),k,1,3)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">cos(x)*cos(2*x)*cos(3*x)</td>
  <td class="cell c3">product(cos(k*x),k,1,3)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Inequalities are not commutative under this test</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-6/5 &gt; x</td>
  <td class="cell c3">x &lt; -6/5</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x&lt;1 and -3&lt;x</td>
  <td class="cell c3">-3&lt;x and x&lt;1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1&gt;x and -3&lt;x</td>
  <td class="cell c3">-3&lt;x and x&lt;1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">make_less_ineq(-6/5 &gt; x)</td>
  <td class="cell c3">x &lt; -6/5</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">make_less_ineq(1&gt;x and -3&lt;x)</td>
  <td class="cell c3">-3&lt;x and x&lt;1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">make_less_ineq(6/3 &gt; x)</td>
  <td class="cell c3">x &lt; 2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Unary Equations</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1</td>
  <td class="cell c3">stackeq(1)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">stackeq(1)</td>
  <td class="cell c3">1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">stackeq(1+1)</td>
  <td class="cell c3">2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">stackeq(1)</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-false).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">lowesttermsp(1/3)</td>
  <td class="cell c3">true</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">lowesttermsp(2/6)</td>
  <td class="cell c3">true</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-false).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">lowesttermsp(x^2/x)</td>
  <td class="cell c3">true</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-false).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">lowesttermsp(-y/-x)</td>
  <td class="cell c3">true</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-false).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">lowesttermsp((x^2-1)/(x-1))</td>
  <td class="cell c3">true</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-false).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">lowesttermsp((x^2-1)/(x+2))</td>
  <td class="cell c3">true</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Bad things in denominators</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">rationalized(1+sqrt(3)/3)</td>
  <td class="cell c3">true</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">rationalized(1+1/sqrt(3))</td>
  <td class="cell c3">[sqrt(3)]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">rationalized(1/sqrt(3))</td>
  <td class="cell c3">[sqrt(3)]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">rationalized(1/sqrt(2)+i/sqrt(2))</td>
  <td class="cell c3">[sqrt(2),sqrt(2)]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">rationalized(sqrt(2)/2+1/sqrt(3))</td>
  <td class="cell c3">[sqrt(3)]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">rationalized(1/sqrt(2)+1/sqrt(3))</td>
  <td class="cell c3">[sqrt(2),sqrt(3)]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">rationalized(1/(1+i))</td>
  <td class="cell c3">[i]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">rationalized(1/(1+1/root(3,2)))</td>
  <td class="cell c3">[root(3,2)]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Differential Equations</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">diff(y,x)</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">diff(x^2,x)</td>
  <td class="cell c3">2*x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">noundiff(x^2,x)</td>
  <td class="cell c3">2*x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">diff(y,x)</td>
  <td class="cell c3">&#039;diff(y,x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">noundiff(y,x)</td>
  <td class="cell c3">&#039;diff(y,x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">&#039;diff(y(x),x)</td>
  <td class="cell c3">&#039;diff(y(x),x,1)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAss</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">noundiff(y(x),x)=-x/4</td>
  <td class="cell c3">4*noundiff(y(x),x)+x=0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAss (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">0</td>
  <td class="cell c4">[]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAssRules_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0</td>
  <td class="cell c3">1/0</td>
  <td class="cell c4">[]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAssRules_STACKERROR_TAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0+a</td>
  <td class="cell c3">a</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Missing option when executing the test. </div></td>
  <td class="cell c9">STACKERROR_OPTION.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0+a</td>
  <td class="cell c3">a</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The option to this answer test must be a non-empty list of supported rules. This is an error. Please contact your teacher.</div></td>
  <td class="cell c9">ATEqualComAssRules_Opt_List.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0+a</td>
  <td class="cell c3">a</td>
  <td class="cell c4">[x]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The option to this answer test must be a non-empty list of supported rules. This is an error. Please contact your teacher.</div></td>
  <td class="cell c9">ATEqualComAssRules_Opt_Wrong.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0+a</td>
  <td class="cell c3">a</td>
  <td class="cell c4">[intMul,intFac]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The option to this answer test contains incompatible rules. This is an error. Please contact your teacher.</div></td>
  <td class="cell c9">ATEqualComAssRules_Opt_Incompatible.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Basic cases</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1+1</td>
  <td class="cell c3">3</td>
  <td class="cell c4">[zeroAdd]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAssRules (AlgEquiv-false).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1+1</td>
  <td class="cell c3">2</td>
  <td class="cell c4">[zeroAdd]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1+1</td>
  <td class="cell c3">2</td>
  <td class="cell c4">[testdebug,zeroAdd]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAssRules: [1 nounadd 1,2].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0+a</td>
  <td class="cell c3">a</td>
  <td class="cell c4">[zeroAdd]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a+0</td>
  <td class="cell c3">a</td>
  <td class="cell c4">[zeroAdd]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1*a</td>
  <td class="cell c3">a</td>
  <td class="cell c4">[testdebug,zeroAdd]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAssRules: [1 nounmul a,a].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1*a</td>
  <td class="cell c3">a</td>
  <td class="cell c4">[oneMul]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1*a</td>
  <td class="cell c3">a</td>
  <td class="cell c4">ID_TRANS</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a/1</td>
  <td class="cell c3">a</td>
  <td class="cell c4">ID_TRANS</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0*a</td>
  <td class="cell c3">0</td>
  <td class="cell c4">ID_TRANS</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0-1*i</td>
  <td class="cell c3">-i</td>
  <td class="cell c4">ID_TRANS</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0-i</td>
  <td class="cell c3">-i</td>
  <td class="cell c4">ID_TRANS</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2+1*i</td>
  <td class="cell c3">2+i</td>
  <td class="cell c4">ID_TRANS</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^0+x^1/1+x^2/2+x^3/3!+x^4/4!</td>
  <td class="cell c3">1+x+x^2/2+x^3/3!+x^4/4!</td>
  <td class="cell c4">ID_TRANS</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">%e^x</td>
  <td class="cell c3">exp(x)</td>
  <td class="cell c4">[testdebug,ID_TRANS]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAssRules: [%e nounpow x,%e nounpow x].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">12*%e^((2*(%pi/2)*%i)/2)</td>
  <td class="cell c3">12*exp(%i*(%pi/2))</td>
  <td class="cell c4">ID_TRANS</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">12*%e^((2*(%pi/2)*%i)/2)</td>
  <td class="cell c3">12*exp(%i*(%pi/2))</td>
  <td class="cell c4">[ID_TRANS,[negNeg,negDiv,negOrd],[recipMul,divDiv,divCancel],[intAdd,intMul,intPow]]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0^(1-1)</td>
  <td class="cell c3">0</td>
  <td class="cell c4">ID_TRANS</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAssRules_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0*a</td>
  <td class="cell c3">0</td>
  <td class="cell c4">delete(zeroMul, ID_TRANS)</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-(-a)</td>
  <td class="cell c3">a</td>
  <td class="cell c4">[negNeg]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-(-(-a))</td>
  <td class="cell c3">-a</td>
  <td class="cell c4">[negNeg]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-(-(-a))</td>
  <td class="cell c3">a</td>
  <td class="cell c4">[testdebug,negNeg]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAssRules (AlgEquiv-false).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3/(-x)</td>
  <td class="cell c3">-3/x</td>
  <td class="cell c4">ID_TRANS</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3/(-x)</td>
  <td class="cell c3">-3/x</td>
  <td class="cell c4">[testdebug,ID_TRANS]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAssRules: [3 nounmul UNARY_RECIP UNARY_MINUS nounmul x,UNARY_MINUS nounmul 3 nounmul UNARY_RECIP x].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-x*(x+1)</td>
  <td class="cell c3">x*(-x-1)</td>
  <td class="cell c4">[negDist]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-x*(x-1)</td>
  <td class="cell c3">x*(1-x)</td>
  <td class="cell c4">NEG_TRANS</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-x*(x-1)</td>
  <td class="cell c3">x*(1-x)</td>
  <td class="cell c4">NEG_TRANS</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-5*x*(3-x)</td>
  <td class="cell c3">5*x*(x-3)</td>
  <td class="cell c4">NEG_TRANS</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-x*(x-1)*(x+1)</td>
  <td class="cell c3">x*(x-1)*(-x-1)</td>
  <td class="cell c4">NEG_TRANS</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-x*(x-1)*(x+1)</td>
  <td class="cell c3">x*(1-x)*(x+1)</td>
  <td class="cell c4">NEG_TRANS</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-x*(y-1)*(x-1)</td>
  <td class="cell c3">x*(1-x)*(y-1)</td>
  <td class="cell c4">NEG_TRANS</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-x*(y-1)*(x-1)</td>
  <td class="cell c3">x*(x-1)*(1-y)</td>
  <td class="cell c4">NEG_TRANS</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-y)*(y-x)</td>
  <td class="cell c3">-(x-y)*(x-y)</td>
  <td class="cell c4">NEG_TRANS</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-y)*(y-x)</td>
  <td class="cell c3">-(x-y)^2</td>
  <td class="cell c4">[testdebug,NEG_TRANS]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAssRules: [UNARY_MINUS nounmul (x nounadd UNARY_MINUS nounmul y) nounmul (x nounadd UNARY_MINUS nounmul y),UNARY_MINUS nounmul (x nounadd UNARY_MINUS nounmul y) nounpow 2].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-x*(x-1)*(x+1)</td>
  <td class="cell c3">x*(1-x)*(x+1)</td>
  <td class="cell c4">[testdebug,negDist,negNeg]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAssRules: [x nounmul (UNARY_MINUS nounmul 1 nounadd UNARY_MINUS nounmul x) nounmul (x nounadd UNARY_MINUS nounmul 1),x nounmul (1 nounadd UNARY_MINUS nounmul x) nounmul (1 nounadd x)].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-x*(y-1)*(x-1)</td>
  <td class="cell c3">x*(x-1)*(1-y)</td>
  <td class="cell c4">[testdebug,negDist,negNeg]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAssRules: [x nounmul (1 nounadd UNARY_MINUS nounmul x) nounmul (y nounadd UNARY_MINUS nounmul 1),x nounmul (1 nounadd UNARY_MINUS nounmul y) nounmul (x nounadd UNARY_MINUS nounmul 1)].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3/(-x)</td>
  <td class="cell c3">-3/x</td>
  <td class="cell c4">[negDiv]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3/(-x)</td>
  <td class="cell c3">ev(-3,simp)/x</td>
  <td class="cell c4">[negDiv]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(-a)/(-x)</td>
  <td class="cell c3">-(-a/x)</td>
  <td class="cell c4">[testdebug,ID_TRANS]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAssRules: [UNARY_MINUS nounmul a nounmul UNARY_RECIP UNARY_MINUS nounmul x,UNARY_MINUS nounmul UNARY_MINUS nounmul a nounmul UNARY_RECIP x].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(-a)/(-x)</td>
  <td class="cell c3">-(-a/x)</td>
  <td class="cell c4">[negDiv]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(-a)/(-x)</td>
  <td class="cell c3">a/x</td>
  <td class="cell c4">[testdebug,negDiv]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAssRules: [UNARY_MINUS nounmul UNARY_MINUS nounmul a nounmul UNARY_RECIP x,a nounmul UNARY_RECIP x].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(-a)/(-x)</td>
  <td class="cell c3">a/x</td>
  <td class="cell c4">[negDiv,negNeg]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/(-x)</td>
  <td class="cell c3">(-1)/x</td>
  <td class="cell c4">[negDiv]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/(-x)</td>
  <td class="cell c3">ev(-1,simp)/x</td>
  <td class="cell c4">[negDiv]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(2/-3)*(x-y)</td>
  <td class="cell c3">-(2/3)*(x-y)</td>
  <td class="cell c4">[negDiv]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(2/-3)*(x-y)</td>
  <td class="cell c3">(2/3)*(y-x)</td>
  <td class="cell c4">[negDiv]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(2/-3)*(x-y)</td>
  <td class="cell c3">(2/3)*(y-x)</td>
  <td class="cell c4">[negDiv,negOrd]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-2/(1-x)</td>
  <td class="cell c3">2/(x-1)</td>
  <td class="cell c4">[testdebug,negDiv]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAssRules: [UNARY_MINUS nounmul 2 nounmul UNARY_RECIP (1 nounadd UNARY_MINUS nounmul x),2 nounmul UNARY_RECIP (x nounadd UNARY_MINUS nounmul 1)].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/2*3/x</td>
  <td class="cell c3">3/(2*x)</td>
  <td class="cell c4">[testdebug,ID_TRANS]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAssRules: [3 nounmul (UNARY_RECIP 2) nounmul UNARY_RECIP x,3 nounmul UNARY_RECIP 2 nounmul x].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/2*3/x</td>
  <td class="cell c3">3/(2*x)</td>
  <td class="cell c4">[ID_TRANS,recipMul]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">5/2*3/x</td>
  <td class="cell c3">15/(2*x)</td>
  <td class="cell c4">[testdebug,ID_TRANS,recipMul]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAssRules: [3 nounmul 5 nounmul UNARY_RECIP 2 nounmul x,15 nounmul UNARY_RECIP 2 nounmul x].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-(x-y)</td>
  <td class="cell c3">y-x</td>
  <td class="cell c4">[negOrd]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">5/2*3/x</td>
  <td class="cell c3">15/(2*x)</td>
  <td class="cell c4">[ID_TRANS,recipMul,intMul]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(3+2)*x+x</td>
  <td class="cell c3">5*x+x</td>
  <td class="cell c4">[ID_TRANS,intAdd]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(3-5)*x+x</td>
  <td class="cell c3">-2*x+x</td>
  <td class="cell c4">[ID_TRANS,intAdd]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">7*x*(-3*x)</td>
  <td class="cell c3">-21*x*x</td>
  <td class="cell c4">[ID_TRANS,intMul]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(-7*x)*(-3*x)</td>
  <td class="cell c3">21*x*x</td>
  <td class="cell c4">[testdebug,ID_TRANS,intMul]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAssRules: [UNARY_MINUS nounmul UNARY_MINUS nounmul 21 nounmul x nounmul x,21 nounmul x nounmul x].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(-7*x)*(-3*x)</td>
  <td class="cell c3">21*x*x</td>
  <td class="cell c4">[ID_TRANS,intMul,negNeg]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">ev(a/b/c, simp)=a/(b*c)</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a/b/c</td>
  <td class="cell c3">a/(b*c)</td>
  <td class="cell c4">[testdebug,ID_TRANS]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAssRules: [a nounmul (UNARY_RECIP b) nounmul UNARY_RECIP c,a nounmul UNARY_RECIP b nounmul c].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a/b/c</td>
  <td class="cell c3">a/(b*c)</td>
  <td class="cell c4">[ID_TRANS,recipMul]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(a/b)/c</td>
  <td class="cell c3">a/(b*c)</td>
  <td class="cell c4">[ID_TRANS,recipMul]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">ev(a/(b/c), simp)=(a*c)/b</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a/(b/c)</td>
  <td class="cell c3">(a*c)/b</td>
  <td class="cell c4">[testdebug,ID_TRANS]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAssRules: [a nounmul UNARY_RECIP b nounmul UNARY_RECIP c,a nounmul c nounmul UNARY_RECIP b].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a/(b/c)</td>
  <td class="cell c3">(a*c)/b</td>
  <td class="cell c4">[testdebug,ID_TRANS,recipMul]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAssRules: [a nounmul UNARY_RECIP b nounmul UNARY_RECIP c,a nounmul c nounmul UNARY_RECIP b].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a/(b/c)</td>
  <td class="cell c3">(a*c)/b</td>
  <td class="cell c4">[ID_TRANS,divDiv]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">A*a/(B*b/c)</td>
  <td class="cell c3">A*(a*c)/(B*b)</td>
  <td class="cell c4">[ID_TRANS,divDiv]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">A*a/(B*b/c)*1/d</td>
  <td class="cell c3">A*(a*c)/(B*b)*1/d</td>
  <td class="cell c4">[ID_TRANS,divDiv]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">D*A*a/(B*b/c)*1/d</td>
  <td class="cell c3">A*(a*c)/(B*b)*D/d</td>
  <td class="cell c4">[ID_TRANS,divDiv]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">A*a/(B*b/c)*1/d</td>
  <td class="cell c3">A*(a*c)/(B*b*d)</td>
  <td class="cell c4">[testdebug,ID_TRANS,divDiv]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAssRules: [A nounmul a nounmul c nounmul (UNARY_RECIP B nounmul b) nounmul UNARY_RECIP d,A nounmul a nounmul c nounmul UNARY_RECIP B nounmul b nounmul d].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">A*a/(B*b/c)*1/d</td>
  <td class="cell c3">A*(a*c)/(B*b*d)</td>
  <td class="cell c4">[ID_TRANS,divDiv,recipMul]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">A/(B/(C/D))</td>
  <td class="cell c3">A*C/(B*D)</td>
  <td class="cell c4">[testdebug,ID_TRANS,divDiv]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEqualComAssRules: [A nounmul C nounmul (UNARY_RECIP B) nounmul UNARY_RECIP D,A nounmul C nounmul UNARY_RECIP B nounmul D].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">A/(B/(C/D))</td>
  <td class="cell c3">A*C/(B*D)</td>
  <td class="cell c4">[ID_TRANS,divDiv,recipMul]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">18</td>
  <td class="cell c3">2*3^2</td>
  <td class="cell c4">[intFac]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EqualComAssRules</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0+%i*(-(1/27))</td>
  <td class="cell c3">-(%i/27)</td>
  <td class="cell c4">[[zeroAdd,zeroMul,oneMul,onePow,idPow,zeroPow,zPow,oneDiv],[negNeg,negDiv,negOrd],[recipMul,divDiv,divCancel],[intAdd,intMul,intPow]]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">x^2-2*x+1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">x</td>
  <td class="cell c3">1/0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual_STACKERROR_TAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.5</td>
  <td class="cell c3">1/2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x=1</td>
  <td class="cell c3">1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">You have entered an equation, but an equation is not expected here. You may have typed something like "y=2*x+1" when you only needed to type "2*x+1".</div></td>
  <td class="cell c9">ATCASEqual ATAlgEquiv_TA_not_equation.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Case sensitivity</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a</td>
  <td class="cell c3">A</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual_false.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">exdowncase(X^2-2*X+1)</td>
  <td class="cell c3">x^2-2*x+1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Numbers</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">4^(-1/2)</td>
  <td class="cell c3">1/2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ev(4^(-1/2),simp)</td>
  <td class="cell c3">ev(1/2,simp)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2^2</td>
  <td class="cell c3">4</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Powers</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a^2/b^3</td>
  <td class="cell c3">a^2*b^(-3)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Expressions with subscripts</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">rho*z*V/(4*pi*epsilon[0]*(R^2+z^2)^(3/2))</td>
  <td class="cell c3">rho*z*V/(4*pi*epsilon[0]*(R^2+z^2)^(3/2))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">rho*z*V/(4*pi*epsilon[1]*(R^2+z^2)^(3/2))</td>
  <td class="cell c3">rho*z*V/(4*pi*epsilon[0]*(R^2+z^2)^(3/2))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual_false.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Mix of floats and rational numbers</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.5</td>
  <td class="cell c3">1/2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^(1/2)</td>
  <td class="cell c3">sqrt(x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ev(x^(1/2),simp)</td>
  <td class="cell c3">ev(sqrt(x),simp)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">abs(x)</td>
  <td class="cell c3">sqrt(x^2)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ev(abs(x),simp)</td>
  <td class="cell c3">ev(sqrt(x^2),simp)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x-1</td>
  <td class="cell c3">(x^2-1)/(x+1)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Polynomials and rational function</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x+x</td>
  <td class="cell c3">2*x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ev(x+x,simp)</td>
  <td class="cell c3">ev(2*x,simp)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x+x^2</td>
  <td class="cell c3">x^2+x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ev(x+x^2,simp)</td>
  <td class="cell c3">ev(x^2+x,simp)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-1)^2</td>
  <td class="cell c3">x^2-2*x+1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-1)^(-2)</td>
  <td class="cell c3">1/(x^2-2*x+1)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/n-1/(n+1)</td>
  <td class="cell c3">1/(n*(n+1))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Trig functions</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">cos(x)</td>
  <td class="cell c3">cos(-x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ev(cos(x),simp)</td>
  <td class="cell c3">ev(cos(-x),simp)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">cos(x)^2+sin(x)^2</td>
  <td class="cell c3">1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*cos(x)^2-1</td>
  <td class="cell c3">cos(2*x)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual (AlgEquiv-true).</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Predicate function wrapper</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">imag_numberp(2*%i)</td>
  <td class="cell c3">true</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">imag_numberp(%e^(%i*%pi/2))</td>
  <td class="cell c3">true</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">imag_numberp(2)</td>
  <td class="cell c3">false</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">imag_numberp(%e^(%pi/2))</td>
  <td class="cell c3">false</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">complex_exponentialp(3*%e^(%i*%pi/6))</td>
  <td class="cell c3">true</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">complex_exponentialp(3)</td>
  <td class="cell c3">true</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">complex_exponentialp(%e^(%i*%pi/6))</td>
  <td class="cell c3">true</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">complex_exponentialp(%e^%i)</td>
  <td class="cell c3">true</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">complex_exponentialp(%e^(%pi/6))</td>
  <td class="cell c3">true</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">complex_exponentialp(3+%i)</td>
  <td class="cell c3">false</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">complex_exponentialp(%e^(%i)/4)</td>
  <td class="cell c3">true</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">complex_exponentialp(3*exp(%i*%pi/6))</td>
  <td class="cell c3">true</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">integerp(-1)</td>
  <td class="cell c3">true</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual_false.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CasEqual</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">integerp(ev(-1,simp))</td>
  <td class="cell c3">true</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCASEqual_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">SameType</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">1</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATSameType_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">SameType</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1</td>
  <td class="cell c3">1/0</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATSameType_STACKERROR_TAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Numbers</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SameType</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">4^(-1/2)</td>
  <td class="cell c3">1/2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Lists</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SameType</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x</td>
  <td class="cell c3">[1,2,3]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SameType</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[1,2]</td>
  <td class="cell c3">[1,2,3]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SameType</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[1,x&gt;2]</td>
  <td class="cell c3">[1,2&lt;x]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SameType</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[1,x,3]</td>
  <td class="cell c3">[1,2&lt;x,4]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Sets</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SameType</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x</td>
  <td class="cell c3">{1,2,3}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SameType</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{1,2}</td>
  <td class="cell c3">{1,2,3}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Matrices</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SameType</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">matrix([1,2],[2,3])</td>
  <td class="cell c3">matrix([1,2],[2,3])</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SameType</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[[1,2],[2,3]]</td>
  <td class="cell c3">matrix([1,2],[2,3])</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SameType</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">matrix([1,2],[2,3])</td>
  <td class="cell c3">matrix([1,2,3],[2,3,3])</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SameType</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">matrix([x&gt;4,{1,x^2}],[[1,2],[1,3]])</td>
  <td class="cell c3">matrix([4-x&lt;0,{x^2, 1}],[[1,2],[1,3]])</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SameType</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">matrix([x&gt;4,[1,x^2]],[[1,2],[1,3]])</td>
  <td class="cell c3">matrix([4-x&lt;0,{x^2, 1}],[[1,2],[1,4]])</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Equations</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SameType</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1</td>
  <td class="cell c3">x=1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SameType</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x=1</td>
  <td class="cell c3">x=1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Inequalities</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SameType</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1</td>
  <td class="cell c3">x&gt;1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SameType</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x&gt;2</td>
  <td class="cell c3">x&gt;1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SameType</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x&gt;1</td>
  <td class="cell c3">x&gt;=1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SameType</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x&gt;1 and x&lt;3</td>
  <td class="cell c3">x&gt;=1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SameType</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{x&gt;1,x&lt;3}</td>
  <td class="cell c3">x&gt;=1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SameType</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">sqrt(2)*sqrt(3)+2*(sqrt(2/3))*x-(2/3)*(sqrt(2/3))*x^2+(4/9)*(sqrt(2/3))*x^3</td>
  <td class="cell c3">4*sqrt(6)*x^3/27-(2*sqrt(6)*x^2)/9+(2*sqrt(6)*x)/3+sqrt(6)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="notes">
  <td class="cell c0">Basic tests</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">[(x-1)*(x+1)=0]</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATSysEquiv_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">[(x-1)*(x+1)=0]</td>
  <td class="cell c3">1/0</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATSysEquiv_STACKERROR_TAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1</td>
  <td class="cell c3">[(x-1)*(x+1)=0]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be a list, but it is not!</div></td>
  <td class="cell c9">ATSysEquiv_SA_not_list.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[(x-1)*(x+1)=0]</td>
  <td class="cell c3">1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The teacher's answer is not a list. Please contact your teacher.</div></td>
  <td class="cell c9">ATSysEquiv_SB_not_list.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[1]</td>
  <td class="cell c3">[90=v*t,90=(v+5)*(t-1/4)]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be a list of equations, but it is not!</div></td>
  <td class="cell c9">ATSysEquiv_SA_not_eq_list.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[(x-1)*(x+1)=0]</td>
  <td class="cell c3">[1]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The teacher's answer is not a list of equations, but should be.</div></td>
  <td class="cell c9">ATSysEquiv_SB_not_eq_list.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2]</td>
  <td class="cell c3">[(x-1)*(x+1)=0]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be a list of equations, but it is not!</div></td>
  <td class="cell c9">ATSysEquiv_SA_not_eq_list.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[90=v*t^t,90=(v+5)*(t-1/4)]</td>
  <td class="cell c3">[90=v*t,90=(v+5)*(t-1/4)]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">One or more of your equations is not a polynomial!</div></td>
  <td class="cell c9">ATSysEquiv_SA_not_poly_eq_list.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[90=v*t,90=(v+5)*(t-1/4)]</td>
  <td class="cell c3">[90=v*t^t,90=(v+5)*(t-1/4)]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The Teacher's answer should be a list of polynomial equations, but is not. Please contact your teacher.</div></td>
  <td class="cell c9">ATSysEquiv_SB_not_poly_eq_list.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Tests of equivalence</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2=1]</td>
  <td class="cell c3">[(x-1)*(x+1)=0]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2+y^2=4,y=x]</td>
  <td class="cell c3">[y=x,y^2=2]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2+y^2=2,y=x]</td>
  <td class="cell c3">[y=x,y^2=2]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The entries underlined in red below are those that are incorrect. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ {\color{red}{\underline{y^2+x^2=2}}} , y=x \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATSysEquiv_SA_system_overdetermined.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x=1]</td>
  <td class="cell c3">[(x-1)*(x+1)=0,(x-1)*(x-3)=0]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSysEquiv_SA_Completely_solved.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[3*a+b-c=2, a-b+2*c=5,b+c=5]</td>
  <td class="cell c3">[a=1,b=2,c=3]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[a=1,b=2,c=3]</td>
  <td class="cell c3">[3*a+b-c=2, a-b+2*c=5,b+c=5]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSysEquiv_SA_Completely_solved.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2=1]</td>
  <td class="cell c3">[(x-1)*(x+1)*(x-2)=0]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The entries underlined in red below are those that are incorrect. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ {\color{red}{\underline{x^2=1}}} \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATSysEquiv_SA_system_overdetermined.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x=1,y=-1]</td>
  <td class="cell c3">[(x-1)*(y+1)=0]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSysEquiv_SA_Not_completely_solved.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x=1]</td>
  <td class="cell c3">[(x-1)*(x+1)=0]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSysEquiv_SA_Not_completely_solved.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x=1]</td>
  <td class="cell c3">[(x-1)*(x+1)*y=0]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSysEquiv_SA_Not_completely_solved.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[90=v*t,90=(v+5)*(t-1/4)]</td>
  <td class="cell c3">[90=v*t,90=(v+5)*(t-1/4)]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[90=v*t,90=(v+5)*(t*x-1/4)]</td>
  <td class="cell c3">[90=v*t,90=(v+5)*(t-1/4)]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer includes too many variables!</div></td>
  <td class="cell c9">ATSysEquiv_SA_extra_variables.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[90=v*t,90=(v+5)*(t-1/4)]</td>
  <td class="cell c3">[90=v*t,90=(v+5)*(t*x-1/4)]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer is missing one or more variables!</div></td>
  <td class="cell c9">ATSysEquiv_SA_missing_variables.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[90=v*t]</td>
  <td class="cell c3">[90=v*t,90=(v+5)*(t-1/4)]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The equations in your system appear to be correct, but you need others besides.</div></td>
  <td class="cell c9">ATSysEquiv_SA_system_underdetermined.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[90=v*t,90=(v+5)*(t-1/4),90=(v+6)*(t-1/5)]</td>
  <td class="cell c3">[90=v*t,90=(v+5)*(t-1/4)]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The entries underlined in red below are those that are incorrect. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ 90=t\cdot v , 90=\left(t-\frac{1}{4}\right)\cdot \left(v+5 \right) , {\color{red}{\underline{90=\left(t-\frac{1}{5}\right) \cdot \left(v+6\right)}}} \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATSysEquiv_SA_system_overdetermined.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[90=v*t,90=(v+5)*(t-1/4),90=(v+6)*(t-1/5),90=(v+7)*(t-1/4),90=(v+8)*(t-1/3)]</td>
  <td class="cell c3">[90=v*t,90=(v+5)*(t-1/4)]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The entries underlined in red below are those that are incorrect. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ 90=t\cdot v , 90=\left(t-\frac{1}{4}\right)\cdot \left(v+5 \right) , {\color{red}{\underline{90=\left(t-\frac{1}{5}\right) \cdot \left(v+6\right)}}} , {\color{red}{\underline{90=\left(t- \frac{1}{4}\right)\cdot \left(v+7\right)}}} , {\color{red} {\underline{90=\left(t-\frac{1}{3}\right)\cdot \left(v+8\right)}}} \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATSysEquiv_SA_system_overdetermined.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Wrong variables</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[b^2=a,a=9]</td>
  <td class="cell c3">[x^2=y,y=9]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer uses the wrong variables!</div></td>
  <td class="cell c9">ATSysEquiv_SA_wrong_variables.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2=4]</td>
  <td class="cell c3">[x^2=4,y=9]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer is missing one or more variables!</div></td>
  <td class="cell c9">ATSysEquiv_SA_missing_variables.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[d=90,d=v*t,d=(v+5)*(t-1/4)]</td>
  <td class="cell c3">[90=v*t,90=(v+5)*(t-1/4)]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer includes too many variables!</div></td>
  <td class="cell c9">ATSysEquiv_SA_extra_variables.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SysEquiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">stack_eval_assignments([d=90,d=v*t,d=(v+5)*(t-1/4)])</td>
  <td class="cell c3">[90=v*t,90=(v+5)*(t-1/4)]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">Sets</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">{1/0}</td>
  <td class="cell c3">{0}</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATSets_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">Sets</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">{0}</td>
  <td class="cell c3">{1/0}</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATSets_STACKERROR_TAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Sets</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x</td>
  <td class="cell c3">{1,2,3}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be a set, but is not. Note that the syntax to enter a set is to enclose the comma separated values with curly brackets.</div></td>
  <td class="cell c9">ATSets_SA_not_set.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Sets</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{1,2}</td>
  <td class="cell c3">x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The "Sets" answer test expects its second argument to be a set. This is an error. Please contact your teacher.</div></td>
  <td class="cell c9">ATSets_SB_not_set.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Sets</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{1,2}</td>
  <td class="cell c3">{1,2,3}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The following are missing from your set. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left \{3 \right \}\]</span></span></span></div></span></td>
  <td class="cell c9">ATSets_missingentries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Sets</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{1,2,4}</td>
  <td class="cell c3">{1,2}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">These entries should not be elements of your set. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left \{4 \right \}\]</span></span></span></div></span></td>
  <td class="cell c9">ATSets_wrongentries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Sets</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{1,2,2+2}</td>
  <td class="cell c3">{1,2}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">These entries should not be elements of your set. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left \{4 \right \}\]</span></span></span></div></span></td>
  <td class="cell c9">ATSets_wrongentries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Sets</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{5,1,2,4}</td>
  <td class="cell c3">{1,2,3}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">These entries should not be elements of your set. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left \{4 , 5 \right \}\]</span></span></span> The following are missing from your set. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left \{3 \right \}\]</span></span></span></div></span></td>
  <td class="cell c9">ATSets_wrongentries. ATSets_missingentries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Sets</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{2/4, 1/3}</td>
  <td class="cell c3">{1/2, 1/3}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Duplicate entries</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Sets</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{1,2,1}</td>
  <td class="cell c3">{1,2}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><div class="text_to_html">Your set appears to contain duplicate entries!</div></td>
  <td class="cell c9">ATSets_duplicates.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Sets</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{1,2,1+1}</td>
  <td class="cell c3">{1,2}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><div class="text_to_html">Your set appears to contain duplicate entries!</div></td>
  <td class="cell c9">ATSets_duplicates.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Sets</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{1,2,1+1}</td>
  <td class="cell c3">{1,2,3}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your set appears to contain duplicate entries! The following are missing from your set. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left \{3 \right \}\]</span></span></span></div></span></td>
  <td class="cell c9">ATSets_duplicates. ATSets_missingentries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Sets</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{(x-a)^6000}</td>
  <td class="cell c3">{(a-x)^6000}</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">These entries should not be elements of your set. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left \{{\left(x-a\right)}^{6000} \right \}\]</span></span></span> The following are missing from your set. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left \{{\left(a-x\right)}^{6000} \right \}\]</span></span></span></div></span></td>
  <td class="cell c9">ATSets_wrongentries. ATSets_missingentries.</td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">Expanded</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATExpanded_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Expanded</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x&gt;2</td>
  <td class="cell c3">x^2-2*x+1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be an expression, not an equation, inequality, list, set or matrix.</div></td>
  <td class="cell c9">ATExpanded_SA_not_expression.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Expanded</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^2-1</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATExpanded_TRUE.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Expanded</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*(x-1)</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATExpanded_FALSE.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Expanded</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-1)*(x+1)</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATExpanded_FALSE.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Expanded</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-a)*(x-b)</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATExpanded_FALSE.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Expanded</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^2-(a+b)*x+a*b</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATExpanded_FALSE.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Expanded</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^2-a*x-b*x+a*b</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATExpanded_TRUE.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Expanded</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">cos(2*x)</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATExpanded_TRUE.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Expanded</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">p+1</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATExpanded_TRUE.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Expanded</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(p+1)*(p-1)</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATExpanded_FALSE.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Expanded</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3+2*sqrt(3)</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATExpanded_TRUE.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Expanded</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3+sqrt(12)</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATExpanded_TRUE.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Expanded</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(1+sqrt(5))*(1-sqrt(3))</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATExpanded_FALSE.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">This fails, but you are never going to ask students to do this anyway...</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">Expanded</td>
  <td class="cell c1">Expected failure (maths)</td>
  <td class="cell c2">(a-x)^6000</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">-2</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATExpanded_TRUE.</td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">0</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0</td>
  <td class="cell c3">1/0</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_STACKERROR_TAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0</td>
  <td class="cell c3">0</td>
  <td class="cell c4">1/0</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_STACKERROR_Opt.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Trivial cases</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2</td>
  <td class="cell c3">2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_int_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">6</td>
  <td class="cell c3">6</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_int_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/3</td>
  <td class="cell c3">1/3</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3*x^2</td>
  <td class="cell c3">3*x^2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">4*x^2</td>
  <td class="cell c3">4*x^2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Linear integer factors</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*(x-1)</td>
  <td class="cell c3">2*x-2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*x-2</td>
  <td class="cell c3">2*x-2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer is not factored. You need to take out a common factor.</div></td>
  <td class="cell c9">ATFacForm_notfactored.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*(x+1)</td>
  <td class="cell c3">2*x-2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer is factored, well done. Note that your answer is not algebraically equivalent to the correct answer. You must have done something wrong.</div></td>
  <td class="cell c9">ATFacForm_isfactored. ATFacForm_notalgequiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*x+2</td>
  <td class="cell c3">2*x-2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer is not factored. You need to take out a common factor. Note that your answer is not algebraically equivalent to the correct answer. You must have done something wrong.</div></td>
  <td class="cell c9">ATFacForm_notfactored. ATFacForm_notalgequiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*(x+0.5)</td>
  <td class="cell c3">2*x+1</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_default_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Linear factors</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">t*(2*x+1)</td>
  <td class="cell c3">t*(2*x+1)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">t*x+t</td>
  <td class="cell c3">t*(x+1)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer is not factored.</div></td>
  <td class="cell c9">ATFacForm_notfactored.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Quadratic, with no const</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*x*(x-3)</td>
  <td class="cell c3">2*x^2-6*x</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*(x^2-3*x)</td>
  <td class="cell c3">2*x*(x-3)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer is not factored. You could still do some more work on the term <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(x^2-3\cdot x\)</span></span></span>.</div></span></td>
  <td class="cell c9">ATFacForm_notfactored.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x*(2*x-6)</td>
  <td class="cell c3">2*x*(x-3)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer is not factored. You could still do some more work on the term <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(2\cdot x-6\)</span></span></span>. You need to take out a common factor.</div></span></td>
  <td class="cell c9">ATFacForm_notfactored.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Quadratic</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x+2)*(x+3)</td>
  <td class="cell c3">(x+2)*(x+3)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x+2)*(2*x+6)</td>
  <td class="cell c3">2*(x+2)*(x+3)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer is not factored. You could still do some more work on the term <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(2\cdot x+6\)</span></span></span>. You need to take out a common factor.</div></span></td>
  <td class="cell c9">ATFacForm_notfactored.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(z*x+z)*(2*x+6)</td>
  <td class="cell c3">2*z*(x+1)*(x+3)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer is not factored. You could still do some more work on the term <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(z\cdot x+z\)</span></span></span>. You could still do some more work on the term <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(2\cdot x+6\)</span></span></span>. You need to take out a common factor.</div></span></td>
  <td class="cell c9">ATFacForm_notfactored.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x+t)*(x-t)</td>
  <td class="cell c3">x^2-t^2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">t^2-1</td>
  <td class="cell c3">(t-1)*(t+1)</td>
  <td class="cell c4">t</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer is not factored.</div></td>
  <td class="cell c9">ATFacForm_notfactored.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">t^2+1</td>
  <td class="cell c3">t^2+1</td>
  <td class="cell c4">t</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">v^2+1</td>
  <td class="cell c3">v^2+1</td>
  <td class="cell c4">v</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">v^2-1</td>
  <td class="cell c3">v^2-1</td>
  <td class="cell c4">v</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer is not factored.</div></td>
  <td class="cell c9">ATFacForm_notfactored.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-(3*w-4*v+9*u)*(3*w+4*v-u)</td>
  <td class="cell c3">-(3*w-4*v+9*u)*(3*w+4*v-u)</td>
  <td class="cell c4">v</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-6*k*(4*b-k-1)</td>
  <td class="cell c3">6*k*(1+k-4*b)</td>
  <td class="cell c4">k</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_default_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-2*3*k*(4*b-k-1)</td>
  <td class="cell c3">6*k*(1+k-4*b)</td>
  <td class="cell c4">k</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-(6*k*(4*b-k-1))</td>
  <td class="cell c3">6*k*(1+k-4*b)</td>
  <td class="cell c4">k</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_default_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-(6*a*(4*b-a-1))</td>
  <td class="cell c3">6*a*(1+a-4*b)</td>
  <td class="cell c4">a</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-(6*a*(4*b-a-1))</td>
  <td class="cell c3">6*a*(-(4*b)+a+1)</td>
  <td class="cell c4">a</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x*(x-4+4/x)</td>
  <td class="cell c3">x^2-4*x+4</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer is not factored. You could still do some more work on the term <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(x-4+\frac{4}{x}\)</span></span></span>. This term is expected to be a polynomial, but is not.</div></span></td>
  <td class="cell c9">ATFacForm_notfactored.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">These are delicate cases!</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(2-x)*(3-x)</td>
  <td class="cell c3">(x-2)*(x-3)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(1-x)^2</td>
  <td class="cell c3">(x-1)^2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(1-x)*(1-x)</td>
  <td class="cell c3">(x-1)^2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-(1-x)^2</td>
  <td class="cell c3">-(x-1)^2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(1-x)^2</td>
  <td class="cell c3">(x-1)^2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">4*(1-x/2)^2</td>
  <td class="cell c3">(x-2)^2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_default_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-3*(x-4)*(x+1)</td>
  <td class="cell c3">-3*x^2+9*x+12</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3*(-x+4)*(x+1)</td>
  <td class="cell c3">-3*x^2+9*x+12</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3*(4-x)*(x+1)</td>
  <td class="cell c3">-3*x^2+9*x+12</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Cubics</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-1)*(x^2+x+1)</td>
  <td class="cell c3">x^3-1</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^3-x+1</td>
  <td class="cell c3">x^3-x+1</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">7*x^3-7*x+7</td>
  <td class="cell c3">7*(x^3-x+1)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer is not factored. You need to take out a common factor.</div></td>
  <td class="cell c9">ATFacForm_notfactored.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(1-x)*(2-x)*(3-x)</td>
  <td class="cell c3">-x^3+6*x^2-11*x+6</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(2-x)*(2-x)*(3-x)</td>
  <td class="cell c3">-x^3+7*x^2-16*x+12</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(2-x)^2*(3-x)</td>
  <td class="cell c3">-x^3+7*x^2-16*x+12</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x^2-4*x+4)*(3-x)</td>
  <td class="cell c3">-x^3+7*x^2-16*x+12</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer is not factored. You could still do some more work on the term <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(x^2-4\cdot x+4\)</span></span></span>.</div></span></td>
  <td class="cell c9">ATFacForm_notfactored.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x^2-3*x+2)*(3-x)</td>
  <td class="cell c3">-x^3+6*x^2-11*x+6</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer is not factored. You could still do some more work on the term <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(x^2-3\cdot x+2\)</span></span></span>.</div></span></td>
  <td class="cell c9">ATFacForm_notfactored.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3*y^3-6*y^2-24*y</td>
  <td class="cell c3">3*(y-4)*y*(y+2)</td>
  <td class="cell c4">y</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer is not factored. You need to take out a common factor.</div></td>
  <td class="cell c9">ATFacForm_notfactored.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3*(y^3-2*y^2-8*y)</td>
  <td class="cell c3">3*(y-4)*y*(y+2)</td>
  <td class="cell c4">y</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer is not factored. You could still do some more work on the term <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(y^3-2\cdot y^2-8\cdot y\)</span></span></span>.</div></span></td>
  <td class="cell c9">ATFacForm_notfactored.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3*y*(y^2-2*y-8)</td>
  <td class="cell c3">3*(y-4)*y*(y+2)</td>
  <td class="cell c4">y</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer is not factored. You could still do some more work on the term <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(y^2-2\cdot y-8\)</span></span></span>.</div></span></td>
  <td class="cell c9">ATFacForm_notfactored.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3*(y^2-4*y)*(y+2)</td>
  <td class="cell c3">3*(y-4)*y*(y+2)</td>
  <td class="cell c4">y</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer is not factored. You could still do some more work on the term <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(y^2-4\cdot y\)</span></span></span>.</div></span></td>
  <td class="cell c9">ATFacForm_notfactored.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(y-4)*y*(3*y+6)</td>
  <td class="cell c3">3*(y-4)*y*(y+2)</td>
  <td class="cell c4">y</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer is not factored. You could still do some more work on the term <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(3\cdot y+6\)</span></span></span>. You need to take out a common factor.</div></span></td>
  <td class="cell c9">ATFacForm_notfactored.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(a-x)^6000</td>
  <td class="cell c3">(a-x)^6000</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-a)^6000</td>
  <td class="cell c3">(a-x)^6000</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Needs flattening</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*a*(a*b-1)</td>
  <td class="cell c3">2*a*(a*b-1)</td>
  <td class="cell c4">a</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(2*a)*(a*b-1)</td>
  <td class="cell c3">2*a*(a*b-1)</td>
  <td class="cell c4">a</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3*x*(7*y-3)*(7*y+3)</td>
  <td class="cell c3">3*x*(7*y-3)*(7*y+3)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3*x*(7*y-3)*(7*y+3)</td>
  <td class="cell c3">3*x*(7*y-3)*(7*y+3)</td>
  <td class="cell c4">y</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Not polynomials in a variable</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(sin(x)+1)*(sin(x)-1)</td>
  <td class="cell c3">sin(x)^2-1</td>
  <td class="cell c4">sin(x)</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(cos(t)-sqrt(2))^2</td>
  <td class="cell c3">cos(t)^2-2*sqrt(2)*cos(t)+2</td>
  <td class="cell c4">cos(t)</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">7</td>
  <td class="cell c3">7</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_int_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Factors over other fields</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">24*(x-1/4)</td>
  <td class="cell c3">24*x-6</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_default_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-sqrt(2))*(x+sqrt(2))</td>
  <td class="cell c3">x^2-2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^2-2</td>
  <td class="cell c3">x^2-2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(%i*x-2*%i)</td>
  <td class="cell c3">%i*(x-2)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer is not factored.</div></td>
  <td class="cell c9">ATFacForm_notfactored.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">%i*(x-2)</td>
  <td class="cell c3">(%i*x-2*%i)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-%i)*(x+%i)</td>
  <td class="cell c3">x^2+1</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">FacForm</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-1)*(x+(1+sqrt(3)*%i)/2)*(x+(1-sqrt(3)*%i)/2)</td>
  <td class="cell c3">x^3-1</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATFacForm_default_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Missing option when executing the test. </div></td>
  <td class="cell c9">STACKERROR_OPTION.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">0</td>
  <td class="cell c4">x</td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATCompSquare_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0</td>
  <td class="cell c3">1/0</td>
  <td class="cell c4">x</td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATCompSquare_STACKERROR_TAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0</td>
  <td class="cell c3">0</td>
  <td class="cell c4">1/0</td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATCompSquare_STACKERROR_Opt.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Category errors.</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1</td>
  <td class="cell c3">(x-1)^2+1</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer should depend on the variable <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(x\)</span></span></span> but it does not!</div></span></td>
  <td class="cell c9">ATCompSquare_SA_not_depend_var.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(t-1)^2+1</td>
  <td class="cell c3">(x-1)^2+1</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer should depend on the variable <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(x\)</span></span></span> but it does not!</div></span></td>
  <td class="cell c9">ATCompSquare_SA_not_depend_var.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-1)^2+1=0</td>
  <td class="cell c3">(x-1)^2+1</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be an expression, not an equation, inequality, list, set or matrix.</div></td>
  <td class="cell c9">ATCompSquare_STACKERROR_LIST.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">sin(x-1)+a-1</td>
  <td class="cell c3">(x-1)^2+1</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCompSquare_false_not_AlgEquiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Trivial cases</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1</td>
  <td class="cell c3">1</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCompSquare_true_trivial.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x-a</td>
  <td class="cell c3">x-a</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCompSquare_true_trivial.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^2</td>
  <td class="cell c3">x^2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCompSquare_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^2-1</td>
  <td class="cell c3">(x-1)*(x+1)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCompSquare_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-1)^2*k</td>
  <td class="cell c3">(x-1)^2*k</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCompSquare_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-1)^2/k</td>
  <td class="cell c3">(x-1)^2/k</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCompSquare_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Normal cases</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-1)^2+1</td>
  <td class="cell c3">(x-1)^2+1</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCompSquare_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(1-x)^2+1</td>
  <td class="cell c3">(x-1)^2+1</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCompSquare_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(X-1)^2+1</td>
  <td class="cell c3">(x-1)^2+1</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer should depend on the variable <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(x\)</span></span></span> but it does not!</div></span></td>
  <td class="cell c9">ATCompSquare_SA_not_depend_var.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">9*(x-1)^2+1</td>
  <td class="cell c3">(3*x-3)^2+1</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCompSquare_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-(x-1)^2</td>
  <td class="cell c3">-(x-1)^2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCompSquare_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-(1-x)^2</td>
  <td class="cell c3">-(x-1)^2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCompSquare_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-(x-1)^2+3</td>
  <td class="cell c3">-(x-1)^2+3</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCompSquare_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-(1-x)^2+3</td>
  <td class="cell c3">-(x-1)^2+3</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCompSquare_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-4*(x-1)^2+3</td>
  <td class="cell c3">-4*(x-1)^2+3</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCompSquare_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-4*(x-1)^2+3</td>
  <td class="cell c3">-(2*x-2)^2+3</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCompSquare_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3-4*(x-1)^2</td>
  <td class="cell c3">-(2*x-2)^2+3</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCompSquare_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-1)^2+1</td>
  <td class="cell c3">(x+1)^2+1</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer appears to be in the correct form, but is not equivalent to the correct answer.</div></td>
  <td class="cell c9">ATCompSquare_true_not_AlgEquiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-a^2)^2+1+b</td>
  <td class="cell c3">(x-a^2)^2+1+b</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCompSquare_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^2-2*x+2</td>
  <td class="cell c3">(x-1)^2+1</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The completed square is of the form <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\( a(\cdots\cdots)^2 + b\)</span></span></span> where <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(a\)</span></span></span> and <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(b\)</span></span></span> do not depend on your variable. More than one of your summands appears to depend on the variable in your answer.</div></span></td>
  <td class="cell c9">ATCompSquare_false_no_summands.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x+1</td>
  <td class="cell c3">(x-1)^2+1</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCompSquare_false_not_AlgEquiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a*(x-1)^2+1</td>
  <td class="cell c3">a*(x-1)^2+1</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCompSquare_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-a*(x-1)^2+1</td>
  <td class="cell c3">1-a*(x-1)^2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCompSquare_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Not simple variable</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(sin(x)-1)^2+1</td>
  <td class="cell c3">(sin(x)-1)^2+1</td>
  <td class="cell c4">sin(x)</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCompSquare_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x^2-1)^2+1</td>
  <td class="cell c3">(x^2-1)^2+1</td>
  <td class="cell c4">x^2</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCompSquare_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(y-1)^2+1</td>
  <td class="cell c3">(y-1)^2+1</td>
  <td class="cell c4">y</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATCompSquare_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(y+1)^2+1</td>
  <td class="cell c3">(y-1)^2+1</td>
  <td class="cell c4">y</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer appears to be in the correct form, but is not equivalent to the correct answer.</div></td>
  <td class="cell c9">ATCompSquare_true_not_AlgEquiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">CompSquare</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-1)^2+1</td>
  <td class="cell c3">(sin(x)-1)^2+1</td>
  <td class="cell c4">sin(x)</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer should depend on the variable <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\({\it facdum}\)</span></span></span> but it does not!</div></span></td>
  <td class="cell c9">ATCompSquare_SA_not_depend_var.</td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">PropLogic</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATPropLogic_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">PropLogic</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0</td>
  <td class="cell c3">1/0</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATPropLogic_STACKERROR_TAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PropLogic</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">true</td>
  <td class="cell c3">true</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PropLogic</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">true</td>
  <td class="cell c3">false</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PropLogic</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">A implies B</td>
  <td class="cell c3">not(A) or B</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PropLogic</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(a and b and c) xor (a and b) xor (a and c) xor a xor true</td>
  <td class="cell c3">(a implies b) or c</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">x</td>
  <td class="cell c3">[x^2=4,x=2 or x=-2]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The first argument to the Equiv answer test should be a list, but the test failed. Please contact your teacher.</div></td>
  <td class="cell c9">ATEquiv_SA_not_list.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">[x^2=4,x=2 or x=-2]</td>
  <td class="cell c3">x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The second argument to the Equiv answer test should be a list, but the test failed. Please contact your teacher.</div></td>
  <td class="cell c9">ATEquiv_SB_not_list.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">[1/0]</td>
  <td class="cell c3">[x^2=4,x=2 or x=-2]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquiv_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">[x^2=4,x=2 or x=-2]</td>
  <td class="cell c3">[1/0]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquiv_STACKERROR_TAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2=4,x=2 or x=-2]</td>
  <td class="cell c3">[x^2=4,x=2 or x=-2]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2=4&amp; \cr \color{green}{\Leftrightarrow}&amp;x=2\,{\mbox{ or }}\, x=-2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2=4,x=#pm#2,x=2 and x=-2]</td>
  <td class="cell c3">[x^2=4,x=2 or x=-2]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2=4&amp; \cr \color{green}{\Leftrightarrow}&amp;x= \pm 2&amp; \cr \color{red}{\mbox{and/or confusion!}}&amp;\left\{\begin{array}{l}x=2\cr x=-2\cr \end{array}\right.&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR,ANDOR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2=4,x=2]</td>
  <td class="cell c3">[x^2=4,x=2 or x=-2]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2=4&amp; \cr \color{red}{\Leftarrow}&amp;x=2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,IMPLIEDCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2=4,x=2]</td>
  <td class="cell c3">[x^2=4,x=2]</td>
  <td class="cell c4">[assumepos]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll}\color{blue}{\mbox{Assume +ve vars}}&amp;x^2=4&amp; \cr \color{green}{\Leftrightarrow}&amp;x=2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[ASSUMEPOSVARS, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2=4,x^2-4=0,(x-2)*(x+2)=0,x=2 or x=-2]</td>
  <td class="cell c3">[x^2=4,x=2 or x=-2]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2=4&amp; \cr \color{green}{\Leftrightarrow}&amp;x^2-4=0&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(x-2\right)\cdot \left(x+2\right)=0&amp; \cr \color{green}{\Leftrightarrow}&amp;x=2\,{\mbox{ or }}\, x=-2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2=4,x= #pm#2, x=2 or x=-2]</td>
  <td class="cell c3">[x^2=4,x=2 or x=-2]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2=4&amp; \cr \color{green}{\Leftrightarrow}&amp;x= \pm 2&amp; \cr \color{green}{\Leftrightarrow}&amp;x=2\,{\mbox{ or }}\, x=-2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2-6*x+9=0,x=3]</td>
  <td class="cell c3">[x^2-6*x+9=0,x=3]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2-6\cdot x+9=0&amp; \cr \color{green}{\mbox{(Same roots)}}&amp;x=3&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,SAMEROOTS]</td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">EquivFirst</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">x</td>
  <td class="cell c3">[x^2=4,x=2 or x=-2]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The first argument to the Equiv answer test should be a list, but the test failed. Please contact your teacher.</div></td>
  <td class="cell c9">ATEquivFirst_SA_not_list.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">EquivFirst</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">[x^2=4,x=2 or x=-2]</td>
  <td class="cell c3">x</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The second argument to the Equiv answer test should be a list, but the test failed. Please contact your teacher.</div></td>
  <td class="cell c9">ATEquivFirst_SB_not_list.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">EquivFirst</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">[1/0]</td>
  <td class="cell c3">[x^2=4,x=2 or x=-2]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquivFirst_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">EquivFirst</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">[x^2=4,x=2 or x=-2]</td>
  <td class="cell c3">[1/0]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATEquivFirst_STACKERROR_TAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EquivFirst</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2=4,x=2 or x=-2]</td>
  <td class="cell c3">[x^2=4,x=2 or x=-2]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2=4&amp; \cr \color{green}{\Leftrightarrow}&amp;x=2\,{\mbox{ or }}\, x=-2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EquivFirst</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2=9,x=3 or x=-3]</td>
  <td class="cell c3">[x^2=4,x=2 or x=-2]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The first line in your argument must be "<span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(x^2=4\)</span></span></span>".</div></span></td>
  <td class="cell c9">ATEquivFirst_SA_wrong_start</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EquivFirst</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2=4,x=2]</td>
  <td class="cell c3">[x^2=4,x=2 or x=-2]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2=4&amp; \cr \color{red}{\Leftarrow}&amp;x=2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,IMPLIEDCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EquivFirst</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2=4,x^2-4=0,(x-2)*(x+2)=0,x=2 or x=-2]</td>
  <td class="cell c3">[x^2=4,x=2 or x=-2]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2=4&amp; \cr \color{green}{\Leftrightarrow}&amp;x^2-4=0&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(x-2\right)\cdot \left(x+2\right)=0&amp; \cr \color{green}{\Leftrightarrow}&amp;x=2\,{\mbox{ or }}\, x=-2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EquivFirst</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2=4,x= #pm#2, x=2 or x=-2]</td>
  <td class="cell c3">[x^2=4,x=2 or x=-2]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2=4&amp; \cr \color{green}{\Leftrightarrow}&amp;x= \pm 2&amp; \cr \color{green}{\Leftrightarrow}&amp;x=2\,{\mbox{ or }}\, x=-2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">EquivFirst</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2-6*x+9=0,x=3]</td>
  <td class="cell c3">[x^2-6*x+9=0,x=3]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2-6\cdot x+9=0&amp; \cr \color{green}{\mbox{(Same roots)}}&amp;x=3&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,SAMEROOTS]</td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">1/n</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSingleFrac_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0</td>
  <td class="cell c3">1/0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSingleFrac_STACKERROR_TAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x=3</td>
  <td class="cell c3">2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be an expression, not an equation, inequality, list, set or matrix.</div></td>
  <td class="cell c9">ATSingleFrac_SA_not_expression.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3</td>
  <td class="cell c3">3</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3</td>
  <td class="cell c3">2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer is not algebraically equivalent to the correct answer. You must have done something wrong.</div></td>
  <td class="cell c9">ATSingleFrac_ret_exp.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/m</td>
  <td class="cell c3">1/n</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html"> Your answer is not algebraically equivalent to the correct answer. You must have done something wrong.</div></td>
  <td class="cell c9">ATSingleFrac_true. ATSingleFrac_ret_exp.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/n</td>
  <td class="cell c3">1/n</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSingleFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a+1/2</td>
  <td class="cell c3">(2*a+1)/2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer needs to be a single fraction of the form <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\( {a}\over{b} \)</span></span></span>.</div></span></td>
  <td class="cell c9">ATSingleFrac_part.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a+1/2</td>
  <td class="cell c3">(2*a+1)/2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer needs to be a single fraction of the form <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\( {a}\over{b} \)</span></span></span>.</div></span></td>
  <td class="cell c9">ATSingleFrac_part.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">4/(x^2+2*x-24)+2/(x^2+4*x-12)</td>
  <td class="cell c3">(6*x-16)/(x^3-28*x+48)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer needs to be a single fraction of the form <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\( {a}\over{b} \)</span></span></span>.</div></span></td>
  <td class="cell c9">ATSingleFrac_part.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">2 subtly different answers for the same question</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*(1/n)</td>
  <td class="cell c3">2/n</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer needs to be a single fraction of the form <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\( {a}\over{b} \)</span></span></span>.</div></span></td>
  <td class="cell c9">ATSingleFrac_part.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2/n</td>
  <td class="cell c3">2/n</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSingleFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Simple Mistakes</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2/(n+1)</td>
  <td class="cell c3">1/(n+1)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html"> Your answer is not algebraically equivalent to the correct answer. You must have done something wrong.</div></td>
  <td class="cell c9">ATSingleFrac_true. ATSingleFrac_ret_exp.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(2*n+1)/(n+2)</td>
  <td class="cell c3">1/n</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html"> Your answer is not algebraically equivalent to the correct answer. You must have done something wrong.</div></td>
  <td class="cell c9">ATSingleFrac_true. ATSingleFrac_ret_exp.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(2*n)/(n*(n+2))</td>
  <td class="cell c3">(2*n)/(n*(n+3))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html"> Your answer is not algebraically equivalent to the correct answer. You must have done something wrong.</div></td>
  <td class="cell c9">ATSingleFrac_true. ATSingleFrac_ret_exp.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-1)/(x^2-1)</td>
  <td class="cell c3">1/(x+1)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSingleFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Fractions within fractions</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(1/2)/(3/4)</td>
  <td class="cell c3">2/3</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains fractions within fractions. You need to clear these and write your answer as a single fraction.</div></td>
  <td class="cell c9">ATSingleFrac_div.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-2)/4/(2/x^2)</td>
  <td class="cell c3">(x-2)*x^2/8</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains fractions within fractions. You need to clear these and write your answer as a single fraction.</div></td>
  <td class="cell c9">ATSingleFrac_div.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/(1-1/x)</td>
  <td class="cell c3">x/(x-1)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains fractions within fractions. You need to clear these and write your answer as a single fraction.</div></td>
  <td class="cell c9">ATSingleFrac_div.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(1+1/a)/a</td>
  <td class="cell c3">(1+a)/a^2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains fractions within fractions. You need to clear these and write your answer as a single fraction.</div></td>
  <td class="cell c9">ATSingleFrac_div.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a/(1+1/a)</td>
  <td class="cell c3">a^2/(1+a)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains fractions within fractions. You need to clear these and write your answer as a single fraction.</div></td>
  <td class="cell c9">ATSingleFrac_div.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(1+2*b/a)/c</td>
  <td class="cell c3">(a+2*b)/(a*c)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains fractions within fractions. You need to clear these and write your answer as a single fraction.</div></td>
  <td class="cell c9">ATSingleFrac_div.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">c/(1+2*b/a)</td>
  <td class="cell c3">a*c/(a+2*b)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains fractions within fractions. You need to clear these and write your answer as a single fraction.</div></td>
  <td class="cell c9">ATSingleFrac_div.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a*c/(a+2*b)</td>
  <td class="cell c3">a*c/(a+2*b)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSingleFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Negative cases</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-1/2</td>
  <td class="cell c3">-1/2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSingleFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-1/2</td>
  <td class="cell c3">-1/3</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html"> Your answer is not algebraically equivalent to the correct answer. You must have done something wrong.</div></td>
  <td class="cell c9">ATSingleFrac_true. ATSingleFrac_ret_exp.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-(1/2)</td>
  <td class="cell c3">-1/2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSingleFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-a/b</td>
  <td class="cell c3">-a/b</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSingleFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(-a)/b</td>
  <td class="cell c3">-a/b</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSingleFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a/(-b)</td>
  <td class="cell c3">-a/b</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSingleFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-(a/b)</td>
  <td class="cell c3">-a/b</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSingleFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-(1/(n-1))</td>
  <td class="cell c3">1/(1-n)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSingleFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">a/(-1-1/a)</td>
  <td class="cell c3">-a^2/(1+a)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains fractions within fractions. You need to clear these and write your answer as a single fraction.</div></td>
  <td class="cell c9">ATSingleFrac_div.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Surds in answers</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">((sqrt(5))^3 +6)/15</td>
  <td class="cell c3">((sqrt(5))^3 +6)/15</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSingleFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/(1-sqrt(2))</td>
  <td class="cell c3">1/(1-sqrt(2))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSingleFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">((sqrt(5))^3+6)/15</td>
  <td class="cell c3">((sqrt(5))^3+6)/15</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSingleFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SingleFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(5^(3/2)+6)/15</td>
  <td class="cell c3">((sqrt(5))^3+6)/15</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSingleFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">3*x^2</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Missing option when executing the test. </div></td>
  <td class="cell c9">STACKERROR_OPTION.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">3*x^2</td>
  <td class="cell c4">x</td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATPartFrac_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0</td>
  <td class="cell c3">0</td>
  <td class="cell c4">1/0</td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATPartFrac_STACKERROR_Opt.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0</td>
  <td class="cell c3">1/0</td>
  <td class="cell c4">x</td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATPartFrac_STACKERROR_TAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/n=0</td>
  <td class="cell c3">1/n</td>
  <td class="cell c4">n</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be an expression, not an equation, inequality, list, set or matrix.</div></td>
  <td class="cell c9">ATPartFrac_SA_not_expression.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/n</td>
  <td class="cell c3">{1/n}</td>
  <td class="cell c4">n</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed. Please contact your systems administrator</div></td>
  <td class="cell c9">ATPartFrac_TA_not_expression.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Basic tests</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/m</td>
  <td class="cell c3">1/n</td>
  <td class="cell c4">n</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The variables in your answer are different to those of the question, please check them.</div></td>
  <td class="cell c9">ATPartFrac_diff_variables.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2/(x+1)-1/(x+2)</td>
  <td class="cell c3">s/((s+1)*(s+2))</td>
  <td class="cell c4">s</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The variables in your answer are different to those of the question, please check them.</div></td>
  <td class="cell c9">ATPartFrac_diff_variables.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/n</td>
  <td class="cell c3">1/n</td>
  <td class="cell c4">n</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1+n+n^2+1/(n-1)</td>
  <td class="cell c3">n^3/(n-1)</td>
  <td class="cell c4">n</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1+n+n^2-1/(1-n)</td>
  <td class="cell c3">n^3/(n-1)</td>
  <td class="cell c4">n</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Distinct linear factors in denominator</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/(n+1)-1/n</td>
  <td class="cell c3">1/(n+1)-1/n</td>
  <td class="cell c4">n</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/(n+1)+1/(1-n)</td>
  <td class="cell c3">1/(n+1)-1/(n-1)</td>
  <td class="cell c4">n</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/(2*(n-1))-1/(2*(n+1))</td>
  <td class="cell c3">1/((n-1)*(n+1))</td>
  <td class="cell c4">n</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/(2*(n+1))-1/(2*(n-1))</td>
  <td class="cell c3">1/((n-1)*(n+1))</td>
  <td class="cell c4">n</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer as a single fraction is <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(-\frac{1}{\left(n-1\right)\cdot \left(n+1\right)}\)</span></span></span></div></span></td>
  <td class="cell c9">ATPartFrac_ret_expression.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-9/(x-2) + -9/(x+1)</td>
  <td class="cell c3">-9/(x-2) + -9/(x+1)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Addition and Subtraction errors</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/(x+1) + 1/(x+2)</td>
  <td class="cell c3">2/(x+1) + 1/(x+2)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer as a single fraction is <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\frac{2\cdot x+3}{\left(x+1\right)\cdot \left(x+2\right)}\)</span></span></span></div></span></td>
  <td class="cell c9">ATPartFrac_ret_expression.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/(x+1) + 1/(x+2)</td>
  <td class="cell c3">1/(x+1) + 2/(x+2)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer as a single fraction is <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\frac{2\cdot x+3}{\left(x+1\right)\cdot \left(x+2\right)}\)</span></span></span></div></span></td>
  <td class="cell c9">ATPartFrac_ret_expression.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Denominator Error</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/(x+1) + 1/(x+2)</td>
  <td class="cell c3">1/(x+3) + 1/(x+2)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer as a single fraction is <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\frac{2\cdot x+3}{\left(x+1\right)\cdot \left(x+2\right)}\)</span></span></span></div></span></td>
  <td class="cell c9">ATPartFrac_ret_expression.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Repeated linear factors in denominator</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(9*y-8)/(y-4)^2</td>
  <td class="cell c3">(9*y-8)/(y-4)^2</td>
  <td class="cell c4">y</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_false_factor.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">9/(y-4)+28/(y-4)^2</td>
  <td class="cell c3">(9*y-8)/(y-4)^2</td>
  <td class="cell c4">y</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(-5/(x+3))+(16/(x+3)^2)-(2/(x+2))+4</td>
  <td class="cell c3">(-5/(x+3))+(16/(x+3)^2)-(2/(x+2))+4</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(3*x^2-5)/((x-4)^2*x)</td>
  <td class="cell c3">(3*x^2-5)/((x-4)^2*x)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_false_factor.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-4/(16*x)+53/(16*(x-4))+43/(4*(x-4)^2)</td>
  <td class="cell c3">(3*x^2-5)/((x-4)^2*x)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer as a single fraction is <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\frac{49\cdot x^2-8\cdot x-64}{16\cdot {\left(x-4\right)}^2\cdot x}\)</span></span></span></div></span></td>
  <td class="cell c9">ATPartFrac_ret_expression.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-5/(16*x)+53/(16*(x-4))+43/(4*(x-4)^2)</td>
  <td class="cell c3">(3*x^2-5)/((x-4)^2*x)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(5*x+6)/((x+1)*(x+5)^2)</td>
  <td class="cell c3">(5*x+6)/((x+1)*(x+5)^2)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_false_factor.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-1/(16*(x+5))+19/(4*(x+5)^2)+1/(16*(x+1))</td>
  <td class="cell c3">(5*x+6)/((x+1)*(x+5)^2)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">5/(x*(x+3)*(5*x-2))</td>
  <td class="cell c3">5/(x*(x+3)*(5*x-2))</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_false_factor.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">125/(34*(5*x-2))+5/(51*(x+3))-5/(6*x)</td>
  <td class="cell c3">5/(x*(x+3)*(5*x-2))</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-4/(16*x)+1/(2*(x-1))-1/(8*(x-1)^2)</td>
  <td class="cell c3">(3*x^2-5)/((4*x-4)^2*x)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer as a single fraction is <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\frac{2\cdot x^2-x-2}{8\cdot {\left(x-1\right)}^2\cdot x}\)</span></span></span></div></span></td>
  <td class="cell c9">ATPartFrac_ret_expression.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-5/(16*x)+1/(2*(x-1))-1/(8*(x-1)^2)</td>
  <td class="cell c3">(3*x^2-5)/((4*x-4)^2*x)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Irreducible quadratic in denominator</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/(x-1)-(x+1)/(x^2+1)</td>
  <td class="cell c3">2/((x-1)*(x^2+1))</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/(2*x-2)-(x+1)/(2*(x^2+1))</td>
  <td class="cell c3">1/((x-1)*(x^2+1))</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/(2*(x-1))+x/(2*(x^2+1))</td>
  <td class="cell c3">1/((x-1)*(x^2+1))</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer as a single fraction is <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\frac{2\cdot x^2-x+1}{2\cdot \left(x-1\right)\cdot \left(x^2+1 \right)}\)</span></span></span></div></span></td>
  <td class="cell c9">ATPartFrac_ret_expression.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(2*x+1)/(x^2+1)-2/(x-1)</td>
  <td class="cell c3">(2*x+1)/(x^2+1)-2/(x-1)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">2 answers to the same question</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3/(x+1) + 3/(x+2)</td>
  <td class="cell c3">3*(2*x+3)/((x+1)*(x+2))</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3*(1/(x+1) + 1/(x+2))</td>
  <td class="cell c3">3*(2*x+3)/((x+1)*(x+2))</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Algebraically equivalent, but numerators of same order than denominator, i.e. not in partial fraction form.</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3*x*(1/(x+1) + 2/(x+2))</td>
  <td class="cell c3">-12/(x+2)-3/(x+1)+9</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_false_factor.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(3*x+3)*(1/(x+1) + 2/(x+2))</td>
  <td class="cell c3">9-6/(x+2)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_false_factor.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">n/(2*n-1)-(n+1)/(2*n+1)</td>
  <td class="cell c3">1/(4*n-2)-1/(4*n+2)</td>
  <td class="cell c4">n</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_false_factor.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Correct Answer, Numerator > Denominator</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">10/(x+3) - 2/(x+2) + x -2</td>
  <td class="cell c3">(x^3 + 3*x^2 + 4*x +2)/((x+2)*(x+3))</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*x+1/(x+1)+1/(x-1)</td>
  <td class="cell c3">2*x^3/(x^2-1)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Simple mistakes</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/(n*(n-1))</td>
  <td class="cell c3">1/(n*(n-1))</td>
  <td class="cell c4">n</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_false_factor.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/(n-1)-1/n^2</td>
  <td class="cell c3">1/((n+1)*n)</td>
  <td class="cell c4">n</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">If your answer is written as a single fraction then the denominator would be <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\left(n-1\right)\cdot n^2\)</span></span></span>. In fact, it should be <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(n\cdot \left(n+1\right)\)</span></span></span>.</div></span></td>
  <td class="cell c9">ATPartFrac_denom_ret.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/(n-1)-1/n</td>
  <td class="cell c3">1/(n-1)+1/n</td>
  <td class="cell c4">n</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer as a single fraction is <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\frac{1}{\left(n-1\right)\cdot n}\)</span></span></span></div></span></td>
  <td class="cell c9">ATPartFrac_ret_expression.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/(x+1)-1/x</td>
  <td class="cell c3">1/(x-1)+1/x</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your answer as a single fraction is <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(-\frac{1}{x\cdot \left(x+1\right)}\)</span></span></span></div></span></td>
  <td class="cell c9">ATPartFrac_ret_expression.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/(n*(n+1))+1/n</td>
  <td class="cell c3">2/n-1/(n+1)</td>
  <td class="cell c4">n</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_false_factor.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Too many parts in the partial fraction</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">s/((s+1)^2) + s/(s+2) - 1/(s+1)</td>
  <td class="cell c3">s/((s+1)*(s+2))</td>
  <td class="cell c4">s</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">If your answer is written as a single fraction then the denominator would be <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\({\left(s+1\right)}^2\cdot \left(s+2\right)\)</span></span></span>. In fact, it should be <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\left(s+1\right)\cdot \left(s+2\right)\)</span></span></span>.</div></span></td>
  <td class="cell c9">ATPartFrac_denom_ret.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Too few parts in the partial fraction</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">s/(s+2) - 1/(s+1)</td>
  <td class="cell c3">s/((s+1)*(s+2)*(s+3))</td>
  <td class="cell c4">s</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">If your answer is written as a single fraction then the denominator would be <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\left(s+1\right)\cdot \left(s+2\right)\)</span></span></span>. In fact, it should be <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\left(s+1\right)\cdot \left(s+2\right)\cdot \left(s+3\right)\)</span></span></span>.</div></span></td>
  <td class="cell c9">ATPartFrac_denom_ret.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">PartFrac</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(3*x^2-5)/((4*x-4)^2*x)</td>
  <td class="cell c3">(3*x^2-5)/((4*x-4)^2*x)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATPartFrac_false_factor.</td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">Diff</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">3*x^2</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Missing option when executing the test. </div></td>
  <td class="cell c9">STACKERROR_OPTION.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">Diff</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0</td>
  <td class="cell c3">1/0</td>
  <td class="cell c4">(x</td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Option field is invalid. You have a missing right bracket <span class="stacksyntaxexample">)</span> in the expression: <span class="stacksyntaxexample">(x</span>.</div></td>
  <td class="cell c9">STACKERROR_OPTION.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">Diff</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">3*x^2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATDiff_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">Diff</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0</td>
  <td class="cell c3">1/0</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATDiff_STACKERROR_TAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">Diff</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0</td>
  <td class="cell c3">0</td>
  <td class="cell c4">1/0</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATDiff_STACKERROR_Opt.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Basic tests</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Diff</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3*x^2</td>
  <td class="cell c3">3*x^2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATDiff_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Diff</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3*X^2</td>
  <td class="cell c3">3*x^2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATDiff_var_SB_notSA.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Diff</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^4/4</td>
  <td class="cell c3">3*x^2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">It looks like you have integrated instead!</div></td>
  <td class="cell c9">ATDiff_int.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Diff</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^4/4+1</td>
  <td class="cell c3">3*x^2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">It looks like you have integrated instead!</div></td>
  <td class="cell c9">ATDiff_int.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Diff</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^4/4+c</td>
  <td class="cell c3">3*x^2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">It looks like you have integrated instead!</div></td>
  <td class="cell c9">ATDiff_int.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Diff</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">y=x^4/4</td>
  <td class="cell c3">x^4/4</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be an expression, not an equation, inequality, list, set or matrix.</div></td>
  <td class="cell c9">ATDiff_SA_not_expression.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Diff</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^4/4</td>
  <td class="cell c3">y=x^4/4</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Diff</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">y=x^4/4</td>
  <td class="cell c3">y=x^4/4</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be an expression, not an equation, inequality, list, set or matrix.</div></td>
  <td class="cell c9">ATDiff_SA_not_expression.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Diff</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">6000*(x-a)^5999</td>
  <td class="cell c3">6000*(x-a)^5999</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATDiff_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Diff</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">5999*(x-a)^5999</td>
  <td class="cell c3">6000*(x-a)^5999</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Variable mismatch tests</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Diff</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">y^2-2*y+1</td>
  <td class="cell c3">x^2-2*x+1</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATDiff_var_SB_notSA.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Diff</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^2-2*x+1</td>
  <td class="cell c3">y^2-2*y+1</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATDiff_var_SA_notSB.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Diff</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">y^2+2*y+1</td>
  <td class="cell c3">x^2-2*x+1</td>
  <td class="cell c4">z</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATDiff_var_notSASB_SAnceSB.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Diff</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^4/4</td>
  <td class="cell c3">3*x^2</td>
  <td class="cell c4">y</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Edge cases</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Diff</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">e^x+c</td>
  <td class="cell c3">e^x</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">It looks like you have integrated instead!</div></td>
  <td class="cell c9">ATDiff_int.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Diff</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">e^x+2</td>
  <td class="cell c3">e^x</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">It looks like you have integrated instead!</div></td>
  <td class="cell c9">ATDiff_int.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">Diff</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">n*x^n</td>
  <td class="cell c3">n*x^(n-1)</td>
  <td class="cell c4">x</td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. TIMEDOUT</div></td>
  <td class="cell c9">ATDiff_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Diff</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">n*x^n</td>
  <td class="cell c3">(assume(n&gt;0), n*x^(n-1))</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">Int</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">1</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Missing option when executing the test. </div></td>
  <td class="cell c9">STACKERROR_OPTION.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">Int</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">1</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">Int</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1</td>
  <td class="cell c3">1/0</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_STACKERROR_TAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">Int</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0</td>
  <td class="cell c3">0</td>
  <td class="cell c4">1/0</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_STACKERROR_Opt.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">Int</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0</td>
  <td class="cell c3">0</td>
  <td class="cell c4">[x,1/0]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_STACKERROR_Opt.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">Int</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0</td>
  <td class="cell c3">0</td>
  <td class="cell c4">[x,NOCONST,1/0]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_STACKERROR_Opt.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Basic tests</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^3/3</td>
  <td class="cell c3">x^3/3</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">You need to add a constant of integration, otherwise this appears to be correct. Well done.</div></td>
  <td class="cell c9">ATInt_const.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^3/3+1</td>
  <td class="cell c3">x^3/3</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">You need to add a constant of integration. This should be an arbitrary constant, not a number.</div></td>
  <td class="cell c9">ATInt_const_int.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^3/3+c</td>
  <td class="cell c3">x^3/3</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^3/3+c+1</td>
  <td class="cell c3">x^3/3</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^3/3+3*c</td>
  <td class="cell c3">x^3/3</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^3/3-c</td>
  <td class="cell c3">x^3/3</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^3/3+c+k</td>
  <td class="cell c3">x^3/3</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The formal derivative of your answer does equal the expression that you were asked to integrate. However, you have a strange constant of integration. Please ask your teacher about this.</div></td>
  <td class="cell c9">ATInt_weirdconst.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^3/3+c^2</td>
  <td class="cell c3">x^3/3</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The formal derivative of your answer does equal the expression that you were asked to integrate. However, you have a strange constant of integration. Please ask your teacher about this.</div></td>
  <td class="cell c9">ATInt_weirdconst.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^3/3*c</td>
  <td class="cell c3">x^3/3</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The derivative of your answer should be equal to the expression that you were asked to integrate, that was: <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[x^2\]</span></span></span> In fact, the derivative of your answer, with respect to <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(x\)</span></span></span> is: <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[c\cdot x^2\]</span></span></span> so you must have done something wrong!</div></span></td>
  <td class="cell c9">ATInt_generic.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">X^3/3+c</td>
  <td class="cell c3">x^3/3</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The derivative of your answer should be equal to the expression that you were asked to integrate, that was: <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[x^2\]</span></span></span> In fact, the derivative of your answer, with respect to <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(x\)</span></span></span> is: <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[0\]</span></span></span> so you must have done something wrong!</div></span></td>
  <td class="cell c9">ATInt_generic. ATInt_var_SB_notSA.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">sin(2*x)</td>
  <td class="cell c3">x^3/3</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The derivative of your answer should be equal to the expression that you were asked to integrate, that was: <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[x^2\]</span></span></span> In fact, the derivative of your answer, with respect to <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(x\)</span></span></span> is: <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[2\cdot \cos \left( 2\cdot x \right)\]</span></span></span> so you must have done something wrong!</div></span></td>
  <td class="cell c9">ATInt_generic.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^2/2-2*x+2+c</td>
  <td class="cell c3">(x-2)^2/2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(t-1)^5/5+c</td>
  <td class="cell c3">(t-1)^5/5</td>
  <td class="cell c4">t</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(v-1)^5/5+c</td>
  <td class="cell c3">(v-1)^5/5</td>
  <td class="cell c4">v</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">cos(2*x)/2+1+c</td>
  <td class="cell c3">cos(2*x)/2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-a)^6001/6001+c</td>
  <td class="cell c3">(x-a)^6001/6001</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(x-a)^6001/6001</td>
  <td class="cell c3">(x-a)^6001/6001</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">You need to add a constant of integration, otherwise this appears to be correct. Well done.</div></td>
  <td class="cell c9">ATInt_const.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">6000*(x-a)^5999</td>
  <td class="cell c3">(x-a)^6001/6001</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">It looks like you have differentiated instead!</div></td>
  <td class="cell c9">ATInt_diff.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">4*%e^(4*x)/(%e^(4*x)+1)</td>
  <td class="cell c3">log(%e^(4*x)+1)+c</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The derivative of your answer should be equal to the expression that you were asked to integrate, that was: <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\frac{4\cdot e^{4\cdot x}}{e^{4\cdot x}+1}\]</span></span></span> In fact, the derivative of your answer, with respect to <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(x\)</span></span></span> is: <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\frac{16\cdot e^{4\cdot x}}{e^{4\cdot x}+1}-\frac{16\cdot e^{8 \cdot x}}{{\left(e^{4\cdot x}+1\right)}^2}\]</span></span></span> so you must have done something wrong!</div></span></td>
  <td class="cell c9">ATInt_generic.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">The teacher adds a constant</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^3/3+c</td>
  <td class="cell c3">x^3/3+c</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^2/2-2*x+2+c</td>
  <td class="cell c3">(x-2)^2/2+k</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">The teacher condones lack of constant, or numerical constant</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^3/3</td>
  <td class="cell c3">x^3/3</td>
  <td class="cell c4">[x,NOCONST]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_const_condone.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^3/3+c</td>
  <td class="cell c3">x^3/3</td>
  <td class="cell c4">[x,NOCONST]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^2/2-2*x+2</td>
  <td class="cell c3">(x-2)^2/2+k</td>
  <td class="cell c4">[x,NOCONST]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_const_condone.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^3/3+1</td>
  <td class="cell c3">x^3/3</td>
  <td class="cell c4">[x,NOCONST]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_const_int_condone.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^3/3+c^2</td>
  <td class="cell c3">x^3/3</td>
  <td class="cell c4">[x,NOCONST]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The formal derivative of your answer does equal the expression that you were asked to integrate. However, you have a strange constant of integration. Please ask your teacher about this.</div></td>
  <td class="cell c9">ATInt_weirdconst.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">n*x^n</td>
  <td class="cell c3">n*x^(n-1)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The derivative of your answer should be equal to the expression that you were asked to integrate, that was: <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left(n-1\right)\cdot n\cdot x^{n-2}\]</span></span></span> In fact, the derivative of your answer, with respect to <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(x\)</span></span></span> is: <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[n^2\cdot x^{n-1}\]</span></span></span> so you must have done something wrong!</div></span></td>
  <td class="cell c9">ATInt_generic.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">n*x^n</td>
  <td class="cell c3">(assume(n&gt;0), n*x^(n-1))</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The derivative of your answer should be equal to the expression that you were asked to integrate, that was: <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left(n-1\right)\cdot n\cdot x^{n-2}\]</span></span></span> In fact, the derivative of your answer, with respect to <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(x\)</span></span></span> is: <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[n^2\cdot x^{n-1}\]</span></span></span> so you must have done something wrong!</div></span></td>
  <td class="cell c9">ATInt_generic.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Special case</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">exp(x)+c</td>
  <td class="cell c3">exp(x)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">exp(x)</td>
  <td class="cell c3">exp(x)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">You need to add a constant of integration, otherwise this appears to be correct. Well done.</div></td>
  <td class="cell c9">ATInt_const.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">exp(x)</td>
  <td class="cell c3">exp(x)</td>
  <td class="cell c4">[x,NOCONST]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_const_condone.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Student differentiates by mistake</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*x</td>
  <td class="cell c3">x^3/3</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">It looks like you have differentiated instead!</div></td>
  <td class="cell c9">ATInt_diff.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*x+c</td>
  <td class="cell c3">x^3/3</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">It looks like you have differentiated instead!</div></td>
  <td class="cell c9">ATInt_diff.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Sloppy logs (teacher ignores abs(x) )</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ln(x)</td>
  <td class="cell c3">ln(x)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">You need to add a constant of integration, otherwise this appears to be correct. Well done.</div></td>
  <td class="cell c9">ATInt_const.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ln(x)</td>
  <td class="cell c3">ln(x)</td>
  <td class="cell c4">[x,NOCONST]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_const_condone.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ln(x)+c</td>
  <td class="cell c3">ln(x)+c</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true_equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ln(k*x)</td>
  <td class="cell c3">ln(x)+c</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true_equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Fussy logs (teacher uses abs(x) )</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ln(x)</td>
  <td class="cell c3">ln(abs(x))+c</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The formal derivative of your answer does equal the expression that you were asked to integrate. However, your answer differs from the correct answer in a significant way, that is to say not just, e.g., a constant of integration. Your teacher may expect you to use the result <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\int\frac{1}{x} dx = \log(|x|)+c\)</span></span></span>, rather than <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\int\frac{1}{x} dx = \log(x)+c\)</span></span></span>. Please ask your teacher about this.</div></span></td>
  <td class="cell c9">ATInt_EqFormalDiff. ATInt_logabs.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ln(x)+c</td>
  <td class="cell c3">ln(abs(x))+c</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The formal derivative of your answer does equal the expression that you were asked to integrate. However, your answer differs from the correct answer in a significant way, that is to say not just, e.g., a constant of integration. Your teacher may expect you to use the result <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\int\frac{1}{x} dx = \log(|x|)+c\)</span></span></span>, rather than <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\int\frac{1}{x} dx = \log(x)+c\)</span></span></span>. Please ask your teacher about this.</div></span></td>
  <td class="cell c9">ATInt_EqFormalDiff. ATInt_logabs.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ln(x)</td>
  <td class="cell c3">ln(abs(x))+c</td>
  <td class="cell c4">[x, NOCONST]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The formal derivative of your answer does equal the expression that you were asked to integrate. However, your answer differs from the correct answer in a significant way, that is to say not just, e.g., a constant of integration. Your teacher may expect you to use the result <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\int\frac{1}{x} dx = \log(|x|)+c\)</span></span></span>, rather than <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\int\frac{1}{x} dx = \log(x)+c\)</span></span></span>. Please ask your teacher about this.</div></span></td>
  <td class="cell c9">ATInt_EqFormalDiff. ATInt_logabs.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ln(abs(x))</td>
  <td class="cell c3">ln(abs(x))+c</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">You need to add a constant of integration, otherwise this appears to be correct. Well done.</div></td>
  <td class="cell c9">ATInt_const.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ln(abs(x))+c</td>
  <td class="cell c3">ln(abs(x))+c</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true_equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ln(k*x)</td>
  <td class="cell c3">ln(abs(x))+c</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The formal derivative of your answer does equal the expression that you were asked to integrate. However, your answer differs from the correct answer in a significant way, that is to say not just, e.g., a constant of integration. Your teacher may expect you to use the result <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\int\frac{1}{x} dx = \log(|x|)+c\)</span></span></span>, rather than <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\int\frac{1}{x} dx = \log(x)+c\)</span></span></span>. Please ask your teacher about this.</div></span></td>
  <td class="cell c9">ATInt_EqFormalDiff. ATInt_logabs.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ln(k*abs(x))</td>
  <td class="cell c3">ln(abs(x))+c</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true_equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ln(abs(k*x))</td>
  <td class="cell c3">ln(abs(x))+c</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true_equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Teacher uses ln(k*abs(x))</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ln(x)</td>
  <td class="cell c3">ln(k*abs(x))</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The formal derivative of your answer does equal the expression that you were asked to integrate. However, your answer differs from the correct answer in a significant way, that is to say not just, e.g., a constant of integration. Your teacher may expect you to use the result <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\int\frac{1}{x} dx = \log(|x|)+c\)</span></span></span>, rather than <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\int\frac{1}{x} dx = \log(x)+c\)</span></span></span>. Please ask your teacher about this.</div></span></td>
  <td class="cell c9">ATInt_EqFormalDiff. ATInt_logabs.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ln(x)+c</td>
  <td class="cell c3">ln(k*abs(x))</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The formal derivative of your answer does equal the expression that you were asked to integrate. However, your answer differs from the correct answer in a significant way, that is to say not just, e.g., a constant of integration. Your teacher may expect you to use the result <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\int\frac{1}{x} dx = \log(|x|)+c\)</span></span></span>, rather than <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\int\frac{1}{x} dx = \log(x)+c\)</span></span></span>. Please ask your teacher about this.</div></span></td>
  <td class="cell c9">ATInt_EqFormalDiff. ATInt_logabs.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ln(abs(x))</td>
  <td class="cell c3">ln(k*abs(x))</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">You need to add a constant of integration, otherwise this appears to be correct. Well done.</div></td>
  <td class="cell c9">ATInt_const.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ln(abs(x))+c</td>
  <td class="cell c3">ln(k*abs(x))</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true_equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ln(k*x)</td>
  <td class="cell c3">ln(k*abs(x))</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The formal derivative of your answer does equal the expression that you were asked to integrate. However, your answer differs from the correct answer in a significant way, that is to say not just, e.g., a constant of integration. Your teacher may expect you to use the result <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\int\frac{1}{x} dx = \log(|x|)+c\)</span></span></span>, rather than <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\int\frac{1}{x} dx = \log(x)+c\)</span></span></span>. Please ask your teacher about this.</div></span></td>
  <td class="cell c9">ATInt_EqFormalDiff. ATInt_logabs.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ln(k*abs(x))</td>
  <td class="cell c3">ln(k*abs(x))</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true_equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Other logs</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ln(x)+ln(a)</td>
  <td class="cell c3">ln(k*abs(x+a))</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The formal derivative of your answer does equal the expression that you were asked to integrate. However, your answer differs from the correct answer in a significant way, that is to say not just, e.g., a constant of integration. Your teacher may expect you to use the result <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\int\frac{1}{x} dx = \log(|x|)+c\)</span></span></span>, rather than <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\int\frac{1}{x} dx = \log(x)+c\)</span></span></span>. Please ask your teacher about this.</div></span></td>
  <td class="cell c9">ATInt_generic. ATInt_logabs.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">log(x)^2-2*log(c)*log(x)+k</td>
  <td class="cell c3">ln(c/x)^2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The formal derivative of your answer does equal the expression that you were asked to integrate. However, your answer differs from the correct answer in a significant way, that is to say not just, e.g., a constant of integration. Please ask your teacher about this.</div></td>
  <td class="cell c9">ATInt_EqFormalDiff.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">log(x)^2-2*log(c)*log(x)+k</td>
  <td class="cell c3">ln(abs(c/x))^2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The derivative of your answer should be equal to the expression that you were asked to integrate, that was: <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[-\frac{2\cdot \ln \left( \frac{\left| c\right| }{\left| x\right| } \right)}{x}\]</span></span></span> In fact, the derivative of your answer, with respect to <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(x\)</span></span></span> is: <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\frac{2\cdot \ln \left( x \right)}{x}-\frac{2\cdot \ln \left( c \right)}{x}\]</span></span></span> so you must have done something wrong!</div></span></td>
  <td class="cell c9">ATInt_generic.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">c-(log(2)-log(x))^2/2</td>
  <td class="cell c3">-1/2*log(2/x)^2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true_equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">ln(abs(x+3))/2+c</td>
  <td class="cell c3">ln(abs(2*x+6))/2+c</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-3</td>
  <td class="cell c8"><div class="text_to_html">The formal derivative of your answer does equal the expression that you were asked to integrate. However, your answer differs from the correct answer in a significant way, that is to say not just, e.g., a constant of integration. Please ask your teacher about this.</div></td>
  <td class="cell c9">ATInt_EqFormalDiff.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Two logs</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">log(abs(x-3))+log(abs(x+3))</td>
  <td class="cell c3">log(abs(x-3))+log(abs(x+3))</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">You need to add a constant of integration, otherwise this appears to be correct. Well done.</div></td>
  <td class="cell c9">ATInt_const.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">log(abs(x-3))+log(abs(x+3))+c</td>
  <td class="cell c3">log(abs(x-3))+log(abs(x+3))</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true_equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">log(abs(x-3))+log(abs(x+3))</td>
  <td class="cell c3">log(x-3)+log(x+3)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">You need to add a constant of integration, otherwise this appears to be correct. Well done.</div></td>
  <td class="cell c9">ATInt_const.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">log(abs(x-3))+log(abs(x+3))+c</td>
  <td class="cell c3">log(x-3)+log(x+3)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true_equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">log(x-3)+log(x+3)</td>
  <td class="cell c3">log(x-3)+log(x+3)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">You need to add a constant of integration, otherwise this appears to be correct. Well done.</div></td>
  <td class="cell c9">ATInt_const.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">log(x-3)+log(x+3)+c</td>
  <td class="cell c3">log(x-3)+log(x+3)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true_equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">log(x-3)+log(x+3)</td>
  <td class="cell c3">log(abs(x-3))+log(abs(x+3))</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The formal derivative of your answer does equal the expression that you were asked to integrate. However, your answer differs from the correct answer in a significant way, that is to say not just, e.g., a constant of integration. Your teacher may expect you to use the result <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\int\frac{1}{x} dx = \log(|x|)+c\)</span></span></span>, rather than <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\int\frac{1}{x} dx = \log(x)+c\)</span></span></span>. Please ask your teacher about this.</div></span></td>
  <td class="cell c9">ATInt_EqFormalDiff. ATInt_logabs.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">log(x-3)+log(x+3)+c</td>
  <td class="cell c3">log(abs(x-3))+log(abs(x+3))</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The formal derivative of your answer does equal the expression that you were asked to integrate. However, your answer differs from the correct answer in a significant way, that is to say not just, e.g., a constant of integration. Your teacher may expect you to use the result <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\int\frac{1}{x} dx = \log(|x|)+c\)</span></span></span>, rather than <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\int\frac{1}{x} dx = \log(x)+c\)</span></span></span>. Please ask your teacher about this.</div></span></td>
  <td class="cell c9">ATInt_EqFormalDiff. ATInt_logabs.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">log(abs((x-3)*(x+3)))+c</td>
  <td class="cell c3">log(abs(x-3))+log(abs(x+3))</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true_equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">log(abs((x^2-9)))+c</td>
  <td class="cell c3">log(abs(x-3))+log(abs(x+3))</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The formal derivative of your answer does equal the expression that you were asked to integrate. However, your answer differs from the correct answer in a significant way, that is to say not just, e.g., a constant of integration. Please ask your teacher about this.</div></td>
  <td class="cell c9">ATInt_EqFormalDiff.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*log(abs(x-2))-log(abs(x+2))+(x^2+4*x)/2</td>
  <td class="cell c3">-log(abs(x+2))+2*log(abs(x-2))+(x^2+4*x)/2+c</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">You need to add a constant of integration, otherwise this appears to be correct. Well done.</div></td>
  <td class="cell c9">ATInt_const.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-log(abs(x+2))+2*log(abs(x-2))+(x^2+4*x)/2+c</td>
  <td class="cell c3">-log(abs(x+2))+2*log(abs(x-2))+(x^2+4*x)/2+c</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true_equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-log(abs(x+2))+2*log(abs(x-2))+(x^2+4*x)/2+c</td>
  <td class="cell c3">-log((x+2))+2*log((x-2))+(x^2+4*x)/2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true_equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Inconsistent log(abs())</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">log(abs(x-3))+log((x+3))+c</td>
  <td class="cell c3">log(x-3)+log(x+3)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">There appear to be strange inconsistencies between your use of <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\log(...)\)</span></span></span> and <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\log(|...|)\)</span></span></span>. Please ask your teacher about this.</div></span></td>
  <td class="cell c9">ATInt_true_equiv. ATInt_logabs_inconsistent.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">log((v-3))+log(abs(v+3))+c</td>
  <td class="cell c3">log(v-3)+log(v+3)</td>
  <td class="cell c4">v</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">There appear to be strange inconsistencies between your use of <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\log(...)\)</span></span></span> and <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\log(|...|)\)</span></span></span>. Please ask your teacher about this.</div></span></td>
  <td class="cell c9">ATInt_true_equiv. ATInt_logabs_inconsistent.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">log((x-3))+log(abs(x+3))</td>
  <td class="cell c3">log(x-3)+log(x+3)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">There appear to be strange inconsistencies between your use of <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\log(...)\)</span></span></span> and <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\log(|...|)\)</span></span></span>. Please ask your teacher about this.</div></span></td>
  <td class="cell c9">ATInt_const. ATInt_logabs_inconsistent.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*log((x-2))-log(abs(x+2))+(x^2+4*x)/2</td>
  <td class="cell c3">-log(abs(x+2))+2*log(abs(x-2))+(x^2+4*x)/2</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">There appear to be strange inconsistencies between your use of <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\log(...)\)</span></span></span> and <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\log(|...|)\)</span></span></span>. Please ask your teacher about this.</div></span></td>
  <td class="cell c9">ATInt_EqFormalDiff. ATInt_logabs. ATInt_logabs_inconsistent.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Significant integration constant differences</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*(sqrt(t)-5)-10*log((sqrt(t)-5))+c</td>
  <td class="cell c3">2*(sqrt(t)-5)-10*log((sqrt(t)-5))+c</td>
  <td class="cell c4">t</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true_equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*(sqrt(t))-10*log((sqrt(t)-5))+c</td>
  <td class="cell c3">2*(sqrt(t)-5)-10*log((sqrt(t)-5))+c</td>
  <td class="cell c4">t</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true_differentconst.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*(sqrt(t)-5)-10*log((sqrt(t)-5))+c</td>
  <td class="cell c3">2*(sqrt(t)-5)-10*log(abs(sqrt(t)-5))+c</td>
  <td class="cell c4">t</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The formal derivative of your answer does equal the expression that you were asked to integrate. However, your answer differs from the correct answer in a significant way, that is to say not just, e.g., a constant of integration. Your teacher may expect you to use the result <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\int\frac{1}{x} dx = \log(|x|)+c\)</span></span></span>, rather than <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\int\frac{1}{x} dx = \log(x)+c\)</span></span></span>. Please ask your teacher about this.</div></span></td>
  <td class="cell c9">ATInt_EqFormalDiff. ATInt_logabs.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*(sqrt(t))-10*log(abs(sqrt(t)-5))+c</td>
  <td class="cell c3">2*(sqrt(t)-5)-10*log(abs(sqrt(t)-5))+c</td>
  <td class="cell c4">t</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true_differentconst.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Trig</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*sin(x)*cos(x)</td>
  <td class="cell c3">sin(2*x)+c</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">You need to add a constant of integration, otherwise this appears to be correct. Well done.</div></td>
  <td class="cell c9">ATInt_const.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*sin(x)*cos(x)+k</td>
  <td class="cell c3">sin(2*x)+c</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-2*cos(3*x)/3-3*cos(2*x)/2</td>
  <td class="cell c3">-2*cos(3*x)/3-3*cos(2*x)/2+c</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">You need to add a constant of integration, otherwise this appears to be correct. Well done.</div></td>
  <td class="cell c9">ATInt_const.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-2*cos(3*x)/3-3*cos(2*x)/2+1</td>
  <td class="cell c3">-2*cos(3*x)/3-3*cos(2*x)/2+c</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">You need to add a constant of integration. This should be an arbitrary constant, not a number.</div></td>
  <td class="cell c9">ATInt_const_int.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-2*cos(3*x)/3-3*cos(2*x)/2+c</td>
  <td class="cell c3">-2*cos(3*x)/3-3*cos(2*x)/2+c</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(tan(2*t)-2*t)/2</td>
  <td class="cell c3">-(t*sin(4*t)^2-sin(4*t)+t*cos(4*t)^2+2*t*cos(4*t)+t)/(sin(4*t)^2+cos(4*t)^2+2*cos(4*t)+1)</td>
  <td class="cell c4">t</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">You need to add a constant of integration, otherwise this appears to be correct. Well done.</div></td>
  <td class="cell c9">ATInt_const.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(tan(2*t)-2*t)/2+1</td>
  <td class="cell c3">-(t*sin(4*t)^2-sin(4*t)+t*cos(4*t)^2+2*t*cos(4*t)+t)/(sin(4*t)^2+cos(4*t)^2+2*cos(4*t)+1)</td>
  <td class="cell c4">t</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">You need to add a constant of integration. This should be an arbitrary constant, not a number.</div></td>
  <td class="cell c9">ATInt_const_int.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(tan(2*t)-2*t)/2+c</td>
  <td class="cell c3">-(t*sin(4*t)^2-sin(4*t)+t*cos(4*t)^2+2*t*cos(4*t)+t)/(sin(4*t)^2+cos(4*t)^2+2*cos(4*t)+1)</td>
  <td class="cell c4">t</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">tan(x)-x+c</td>
  <td class="cell c3">tan(x)-x</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Note the difference in feedback here, generated by the options.</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">((5*%e^7*x-%e^7)*%e^(5*x))</td>
  <td class="cell c3">((5*%e^7*x-%e^7)*%e^(5*x))/25+c</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The derivative of your answer should be equal to the expression that you were asked to integrate, that was: <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\frac{e^{5\cdot x+7}}{5}+\frac{\left(5\cdot e^7\cdot x-e^7\right) \cdot e^{5\cdot x}}{5}\]</span></span></span> In fact, the derivative of your answer, with respect to <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(x\)</span></span></span> is: <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[5\cdot e^{5\cdot x+7}+5\cdot \left(5\cdot e^7\cdot x-e^7\right) \cdot e^{5\cdot x}\]</span></span></span> so you must have done something wrong!</div></span></td>
  <td class="cell c9">ATInt_generic.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">((5*%e^7*x-%e^7)*%e^(5*x))</td>
  <td class="cell c3">((5*%e^7*x-%e^7)*%e^(5*x))/25+c</td>
  <td class="cell c4">[x,x*%e^(5*x+7)]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The derivative of your answer should be equal to the expression that you were asked to integrate, that was: <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[x\cdot e^{5\cdot x+7}\]</span></span></span> In fact, the derivative of your answer, with respect to <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(x\)</span></span></span> is: <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[5\cdot e^{5\cdot x+7}+5\cdot \left(5\cdot e^7\cdot x-e^7\right) \cdot e^{5\cdot x}\]</span></span></span> so you must have done something wrong!</div></span></td>
  <td class="cell c9">ATInt_generic.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Inverse hyperbolic integrals</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">log(x-3)/6-log(x+3)/6+c</td>
  <td class="cell c3">log(x-3)/6-log(x+3)/6</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true_equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">asinh(x)</td>
  <td class="cell c3">ln(x+sqrt(x^2+1))</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">You need to add a constant of integration, otherwise this appears to be correct. Well done.</div></td>
  <td class="cell c9">ATInt_const.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">asinh(x)+c</td>
  <td class="cell c3">ln(x+sqrt(x^2+1))</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-acoth(x/3)/3</td>
  <td class="cell c3">log(x-3)/6-log(x+3)/6</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">You need to add a constant of integration, otherwise this appears to be correct. Well done.</div></td>
  <td class="cell c9">ATInt_const.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-acoth(x/3)/3</td>
  <td class="cell c3">log(x-3)/6-log(x+3)/6</td>
  <td class="cell c4">[x, NOCONST]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-acoth(x/3)/3+c</td>
  <td class="cell c3">log(x-3)/6-log(x+3)/6</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-acoth(x/3)/3+c</td>
  <td class="cell c3">log(abs(x-3))/6-log(abs(x+3))/6</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">log(x-a)/(2*a)-log(x+a)/(2*a)+c</td>
  <td class="cell c3">log(x-a)/(2*a)-log(x+a)/(2*a)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true_equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-acoth(x/a)/a+c</td>
  <td class="cell c3">log(x-a)/(2*a)-log(x+a)/(2*a)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-acoth(x/a)/a+c</td>
  <td class="cell c3">log(abs(x-a))/(2*a)-log(abs(x+a))/(2*a)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">log(x-a)/(2*a)-log(x+a)/(2*a)+c</td>
  <td class="cell c3">log(abs(x-a))/(2*a)-log(abs(x+a))/(2*a)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The formal derivative of your answer does equal the expression that you were asked to integrate. However, your answer differs from the correct answer in a significant way, that is to say not just, e.g., a constant of integration. Your teacher may expect you to use the result <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\int\frac{1}{x} dx = \log(|x|)+c\)</span></span></span>, rather than <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(\int\frac{1}{x} dx = \log(x)+c\)</span></span></span>. Please ask your teacher about this.</div></span></td>
  <td class="cell c9">ATInt_EqFormalDiff. ATInt_logabs.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">log(x-3)/6-log(x+3)/6+c</td>
  <td class="cell c3">-acoth(x/3)/3</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">log(abs(x-3))/6-log(abs(x+3))/6+c</td>
  <td class="cell c3">-acoth(x/3)/3</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">log(x-3)/6-log(x+3)/6</td>
  <td class="cell c3">-acoth(x/3)/3</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">You need to add a constant of integration, otherwise this appears to be correct. Well done.</div></td>
  <td class="cell c9">ATInt_const.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">atan(2*x-3)+c</td>
  <td class="cell c3">atan(2*x-3)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">atan((x-2)/(x-1))+c</td>
  <td class="cell c3">atan(2*x-3)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATInt_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">atan((x-2)/(x-1))</td>
  <td class="cell c3">atan(2*x-3)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">You need to add a constant of integration, otherwise this appears to be correct. Well done.</div></td>
  <td class="cell c9">ATInt_const.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">atan((x-1)/(x-2))</td>
  <td class="cell c3">atan(2*x-3)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The derivative of your answer should be equal to the expression that you were asked to integrate, that was: <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\frac{2}{{\left(2\cdot x-3\right)}^2+1}\]</span></span></span> In fact, the derivative of your answer, with respect to <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(x\)</span></span></span> is: <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\frac{\frac{1}{x-2}-\frac{x-1}{{\left(x-2\right)}^2}}{\frac{{\left( x-1\right)}^2}{{\left(x-2\right)}^2}+1}\]</span></span></span> so you must have done something wrong!</div></span></td>
  <td class="cell c9">ATInt_generic.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Stoutemyer (currently fails)</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Int</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2/3*sqrt(3)*(atan(sin(x)/(sqrt(3)*(cos(x)+1)))-(atan(sin(x)/(cos(x)+1))))+x/sqrt(3)</td>
  <td class="cell c3">2*atan(sin(x)/(sqrt(3)*(cos(x)+1)))/sqrt(3)</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-3</td>
  <td class="cell c8"><div class="text_to_html">You need to add a constant of integration, otherwise this appears to be correct. Well done.</div></td>
  <td class="cell c9">ATInt_const.</td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">GT</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">1</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATGT_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">GT</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1</td>
  <td class="cell c3">1/0</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATGT_STACKERROR_TAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">GT</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1</td>
  <td class="cell c3">1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATGT_false.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">GT</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2</td>
  <td class="cell c3">1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATGT_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">GT</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1</td>
  <td class="cell c3">2.1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATGT_false.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">GT</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">pi</td>
  <td class="cell c3">3</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATGT_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">GT</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">pi+2</td>
  <td class="cell c3">5</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATGT_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Infinity</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">GT</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-inf</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">Not number</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">GT</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">inf</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">Not number</td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">GTE</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">1</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATGTE_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">GTE</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1</td>
  <td class="cell c3">1/0</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATGTE_STACKERROR_TAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">GTE</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1</td>
  <td class="cell c3">1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATGTE_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">GTE</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2</td>
  <td class="cell c3">1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATGTE_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">GTE</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1</td>
  <td class="cell c3">2.1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATGTE_false.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">GTE</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">pi</td>
  <td class="cell c3">3</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATGTE_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">GTE</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">pi+2</td>
  <td class="cell c3">5</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATGTE_true.</td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="notes">
  <td class="cell c0">Basic tests</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATNumRelative_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0</td>
  <td class="cell c3">1/0</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATNumRelative_STACKERROR_TAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0</td>
  <td class="cell c3">0</td>
  <td class="cell c4">1/0</td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATNumRelative_STACKERROR_Opt.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0</td>
  <td class="cell c3">(x</td>
  <td class="cell c4"></td>
  <td class="cell c5">The answer test failed to execute correctly: please alert your teacher. Attempted to execute an answer test with an empty teacher answer, probably a CAS validation problem when authoring the question.</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Attempted to execute an answer test with an empty teacher answer, probably a CAS validation problem when authoring the question.</div></td>
  <td class="cell c9">ATNumRelativeTEST_FAILED-Empty TA.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1.5</td>
  <td class="cell c3">1.5</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The numerical tolerance for ATNumerical should be a floating point number, but is not. This is an internal error with the test. Please ask your teacher about this.</div></td>
  <td class="cell c9">ATNumerical_STACKERROR_tol.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1</td>
  <td class="cell c3">0</td>
  <td class="cell c4">(x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x=1.5</td>
  <td class="cell c3">1.5</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be a floating point number, but is not.</div></td>
  <td class="cell c9">ATNumerical_SA_not_number.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.5</td>
  <td class="cell c3">x=1.5</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The value supplied for the teacher's answer should be a floating point number, but is not. This is an internal error with the test. Please ask your teacher about this.</div></td>
  <td class="cell c9">ATNumerical_SB_not_number.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">No option, so 5%</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.1</td>
  <td class="cell c3">1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.05</td>
  <td class="cell c3">1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.95</td>
  <td class="cell c3">1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.949</td>
  <td class="cell c3">1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.05e33</td>
  <td class="cell c3">1e33</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.06e33</td>
  <td class="cell c3">1e33</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.95e33</td>
  <td class="cell c3">1e33</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.949e33</td>
  <td class="cell c3">1e33</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.05e-33</td>
  <td class="cell c3">1e-33</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.06e-33</td>
  <td class="cell c3">1e-33</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.95e-33</td>
  <td class="cell c3">1e-33</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.949e-33</td>
  <td class="cell c3">1e-33</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Remove display dp etc.</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1</td>
  <td class="cell c3">displaydp(1.05,2)</td>
  <td class="cell c4">0.1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1000</td>
  <td class="cell c3">displaysci(1.05,2,3)</td>
  <td class="cell c4">0.1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Options passed</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.05</td>
  <td class="cell c3">1</td>
  <td class="cell c4">0.1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.05</td>
  <td class="cell c3">3</td>
  <td class="cell c4">0.1</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.14</td>
  <td class="cell c3">pi</td>
  <td class="cell c4">0.001</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Infinity</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">inf</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be a floating point number, but is not.</div></td>
  <td class="cell c9">ATNumerical_SA_not_number.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Lists</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1</td>
  <td class="cell c3">[1,2]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be a list, but is not. Note that the syntax to enter a list is to enclose the comma separated values with square brackets.</div></td>
  <td class="cell c9">ATNumerical_SA_not_list.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[1,2]</td>
  <td class="cell c3">[1,2,3]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">Your list should have <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(3\)</span></span></span> elements, but it actually has <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(2\)</span></span></span>.</div></span></td>
  <td class="cell c9">ATNumerical_wronglen.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[1,2]</td>
  <td class="cell c3">[1,2]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[3.141,1.414]</td>
  <td class="cell c3">[pi,sqrt(2)]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[3,1.414]</td>
  <td class="cell c3">[pi,sqrt(2)]</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The entries underlined in red below are those that are incorrect. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ {\color{red}{\underline{3.0}}} , 1.414 \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATNumerical_wrongentries SA/TA=[3.0].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[3,1.414]</td>
  <td class="cell c3">{pi,sqrt(2)}</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be a set, but is not. Note that the syntax to enter a set is to enclose the comma separated values with curly brackets.</div></td>
  <td class="cell c9">ATNumerical_SA_not_set.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{1.414,3.1}</td>
  <td class="cell c3">{significantfigures(pi,6),sqrt(2)}</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The entries underlined in red below are those that are incorrect. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left \{{\color{red}{\underline{3.1}}} \right \}\]</span></span></span></div></span></td>
  <td class="cell c9">ATNumerical_wrongentries: TA/SA=[3.14159], SA/TA=[3.1].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{1.414,3.1}</td>
  <td class="cell c3">{pi,sqrt(2)}</td>
  <td class="cell c4">0.1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="notes">
  <td class="cell c0">Basic tests</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumAbsolute</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATNumAbsolute_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumAbsolute</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0</td>
  <td class="cell c3">1/0</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATNumAbsolute_STACKERROR_TAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumAbsolute</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0</td>
  <td class="cell c3">0</td>
  <td class="cell c4">1/0</td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATNumAbsolute_STACKERROR_Opt.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumAbsolute</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0</td>
  <td class="cell c3">(x</td>
  <td class="cell c4"></td>
  <td class="cell c5">The answer test failed to execute correctly: please alert your teacher. Attempted to execute an answer test with an empty teacher answer, probably a CAS validation problem when authoring the question.</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Attempted to execute an answer test with an empty teacher answer, probably a CAS validation problem when authoring the question.</div></td>
  <td class="cell c9">ATNumAbsoluteTEST_FAILED-Empty TA.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1</td>
  <td class="cell c3">0</td>
  <td class="cell c4">(x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">No option, so 5%</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.1</td>
  <td class="cell c3">1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.05</td>
  <td class="cell c3">1</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Options passed</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.05</td>
  <td class="cell c3">1</td>
  <td class="cell c4">0.1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.05</td>
  <td class="cell c3">3</td>
  <td class="cell c4">0.1</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.14</td>
  <td class="cell c3">pi</td>
  <td class="cell c4">0.001</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.41e-2</td>
  <td class="cell c3">1.41e-2</td>
  <td class="cell c4">0.0001</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0141</td>
  <td class="cell c3">1.41e-2</td>
  <td class="cell c4">0.0001</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.00141</td>
  <td class="cell c3">0.00141</td>
  <td class="cell c4">0.0001</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.00141</td>
  <td class="cell c3">1.41*10^-3</td>
  <td class="cell c4">0.0001</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.41*10^-3</td>
  <td class="cell c3">1.41*10^-3</td>
  <td class="cell c4">0.0001</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[3.141,1.414]</td>
  <td class="cell c3">[pi,sqrt(2)]</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[3,1.414]</td>
  <td class="cell c3">[pi,sqrt(2)]</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The entries underlined in red below are those that are incorrect. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ {\color{red}{\underline{3.0}}} , 1.414 \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATNumerical_wrongentries SA/TA=[3.0].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[3,1.414]</td>
  <td class="cell c3">{pi,sqrt(2)}</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be a set, but is not. Note that the syntax to enter a set is to enclose the comma separated values with curly brackets.</div></td>
  <td class="cell c9">ATNumerical_SA_not_set.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{1.414,3.1}</td>
  <td class="cell c3">{significantfigures(pi,6),sqrt(2)}</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The entries underlined in red below are those that are incorrect. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left \{{\color{red}{\underline{3.1}}} \right \}\]</span></span></span></div></span></td>
  <td class="cell c9">ATNumerical_wrongentries: TA/SA=[3.14159], SA/TA=[3.1].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">{1,1.414,3.1,2}</td>
  <td class="cell c3">{1,2,pi,sqrt(2)}</td>
  <td class="cell c4">0.1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="notes">
  <td class="cell c0">Basic tests</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">3.141</td>
  <td class="cell c3">3.1415927</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Missing option when executing the test. </div></td>
  <td class="cell c9">STACKERROR_OPTION.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">3</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumSigFigs_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0</td>
  <td class="cell c3">1/0</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumSigFigs_STACKERROR_TAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0</td>
  <td class="cell c3">0</td>
  <td class="cell c4">1/0</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumSigFigs_STACKERROR_Opt.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0</td>
  <td class="cell c3">1</td>
  <td class="cell c4">(</td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Option field is invalid. You have a missing right bracket <span class="stacksyntaxexample">)</span> in the expression: <span class="stacksyntaxexample">(</span>.</div></td>
  <td class="cell c9">STACKERROR_OPTION.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">(</td>
  <td class="cell c3">1</td>
  <td class="cell c4">1</td>
  <td class="cell c5">The answer test failed to execute correctly: please alert your teacher. Attempted to execute an answer test with an empty student answer, probably a CAS validation problem when authoring the question.</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Attempted to execute an answer test with an empty student answer, probably a CAS validation problem when authoring the question.</div></td>
  <td class="cell c9">ATNumSigFigsTEST_FAILED-Empty SA.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1</td>
  <td class="cell c3">3</td>
  <td class="cell c4">pi</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher.</div></td>
  <td class="cell c9">ATNumSigFigs_STACKERROR_not_integer.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1</td>
  <td class="cell c3">3</td>
  <td class="cell c4">[3,x]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher.</div></td>
  <td class="cell c9">ATNumSigFigs_STACKERROR_not_integer.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1</td>
  <td class="cell c3">3</td>
  <td class="cell c4">[1,2,3]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher.</div></td>
  <td class="cell c9">ATNumSigFigs_STACKERROR_list_wrong_length.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1</td>
  <td class="cell c3">3</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Missing option when executing the test. </div></td>
  <td class="cell c9">STACKERROR_OPTION.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">pi</td>
  <td class="cell c3">pi</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be a decimal number, but is not!</div></td>
  <td class="cell c9">ATNumSigFigs_NotDecimal.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Edge cases</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0</td>
  <td class="cell c3">0</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0</td>
  <td class="cell c3">0</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0</td>
  <td class="cell c3">0</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0</td>
  <td class="cell c3">0</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0</td>
  <td class="cell c3">0.0</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0</td>
  <td class="cell c3">0.0</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.00</td>
  <td class="cell c3">0.00</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Large numbers</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">5.4e21</td>
  <td class="cell c3">5.3e21</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">5.3e21</td>
  <td class="cell c3">5.3e21</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">5.3e22</td>
  <td class="cell c3">5.3e22</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">5.3e20</td>
  <td class="cell c3">5.3e22</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumSigFigs_VeryInaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">6.02214086e23</td>
  <td class="cell c3">6.02214086e23</td>
  <td class="cell c4">9</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">6.0221409e23</td>
  <td class="cell c3">6.02214086e23</td>
  <td class="cell c4">9</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits. The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits. ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">6.02214087e23</td>
  <td class="cell c3">6.02214086e23</td>
  <td class="cell c4">9</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">6.02214085e23</td>
  <td class="cell c3">6.02214086e23</td>
  <td class="cell c4">9</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">5.3910632e-44</td>
  <td class="cell c3">5.3910632e-44</td>
  <td class="cell c4">8</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">5.391063e-44</td>
  <td class="cell c3">5.3910632e-44</td>
  <td class="cell c4">8</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits. The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits. ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">5.3910631e-44</td>
  <td class="cell c3">5.3910632e-44</td>
  <td class="cell c4">8</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">5.3910633e-44</td>
  <td class="cell c3">5.3910632e-44</td>
  <td class="cell c4">8</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.61622938e-35</td>
  <td class="cell c3">1.61622938e-35</td>
  <td class="cell c4">9</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.6162294e-35</td>
  <td class="cell c3">1.61622938e-35</td>
  <td class="cell c4">9</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits. The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits. ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.61622939e-35</td>
  <td class="cell c3">1.61622938e-35</td>
  <td class="cell c4">9</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.61622937e-35</td>
  <td class="cell c3">1.61622938e-35</td>
  <td class="cell c4">9</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.2345e82</td>
  <td class="cell c3">1.2345e82</td>
  <td class="cell c4">5</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.2346e82</td>
  <td class="cell c3">1.2345e82</td>
  <td class="cell c4">5</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.2344e82</td>
  <td class="cell c3">1.2345e82</td>
  <td class="cell c4">5</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">No trailing zeros.</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.234</td>
  <td class="cell c3">4</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits. The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits. ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.141</td>
  <td class="cell c3">3.1415927</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.141</td>
  <td class="cell c3">3.1415927</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.146</td>
  <td class="cell c3">3.1415927</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.147</td>
  <td class="cell c3">3.1415927</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumSigFigs_VeryInaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.142</td>
  <td class="cell c3">3.1415927</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.142</td>
  <td class="cell c3">pi</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3141</td>
  <td class="cell c3">3.1415927</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumSigFigs_VeryInaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.00123</td>
  <td class="cell c3">0.001234567</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.23e-3</td>
  <td class="cell c3">0.001234567</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">138*10^-3</td>
  <td class="cell c3">138*10^-3</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-138*10^-3</td>
  <td class="cell c3">-138*10^-3</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">138*10^-3</td>
  <td class="cell c3">-138*10^-3</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer has the wrong algebraic sign.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongSign.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.38*10^-1</td>
  <td class="cell c3">138*10^-3</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.24e-3</td>
  <td class="cell c3">0.001234567</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.235e-3</td>
  <td class="cell c3">0.001234567</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1000</td>
  <td class="cell c3">999</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumSigFigs_WithinRange.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1E3</td>
  <td class="cell c3">999</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-100</td>
  <td class="cell c3">-149</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-0.05</td>
  <td class="cell c3">-0.0499</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-(0.05)</td>
  <td class="cell c3">-0.0499</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1170</td>
  <td class="cell c3">1174.34</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">61300</td>
  <td class="cell c3">61250</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Previous tricky case</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.1667</td>
  <td class="cell c3">0.1667</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.1666</td>
  <td class="cell c3">0.1667</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.1663</td>
  <td class="cell c3">0.1667</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.1662</td>
  <td class="cell c3">0.1667</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumSigFigs_VeryInaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.166</td>
  <td class="cell c3">0.1667</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits. ATNumSigFigs_VeryInaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.16667</td>
  <td class="cell c3">0.1667</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Negative numbers</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-3.141</td>
  <td class="cell c3">-3.1415927</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-3.141</td>
  <td class="cell c3">-3.1415927</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-3.141</td>
  <td class="cell c3">-3.1415927</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-3.142</td>
  <td class="cell c3">-3.1415927</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.142</td>
  <td class="cell c3">-3.1415927</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer has the wrong algebraic sign.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongSign.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-3.142</td>
  <td class="cell c3">3.1415927</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer has the wrong algebraic sign.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongSign.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-3.149</td>
  <td class="cell c3">3.1415927</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer has the wrong algebraic sign.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongSign. ATNumSigFigs_VeryInaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2.15</td>
  <td class="cell c3">75701719/35227192</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Round teacher answer</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0499</td>
  <td class="cell c3">0.04985</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0498</td>
  <td class="cell c3">0.04985</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0498</td>
  <td class="cell c3">0.04975</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0497</td>
  <td class="cell c3">0.04975</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0499</td>
  <td class="cell c3">0.0498</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Final zeros after the decimal are significant.</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.5</td>
  <td class="cell c3">1.500</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.50</td>
  <td class="cell c3">1.500</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.500</td>
  <td class="cell c3">1.500</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">245.0</td>
  <td class="cell c3">245</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Too few digits</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">180</td>
  <td class="cell c3">178.35</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_WithinRange. ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">33</td>
  <td class="cell c3">33.1558</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits. The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits. ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Mixed options</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.142</td>
  <td class="cell c3">3.1415927</td>
  <td class="cell c4">[4,3]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.143</td>
  <td class="cell c3">3.1415927</td>
  <td class="cell c4">[4,3]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.150</td>
  <td class="cell c3">3.1415927</td>
  <td class="cell c4">[4,3]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.211</td>
  <td class="cell c3">3.1415927</td>
  <td class="cell c4">[4,3]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumSigFigs_VeryInaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.1416</td>
  <td class="cell c3">3.1415927</td>
  <td class="cell c4">[4,3]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.1666</td>
  <td class="cell c3">0.1667</td>
  <td class="cell c4">[4,3]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">180</td>
  <td class="cell c3">178.35</td>
  <td class="cell c4">[3,1]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumSigFigs_WithinRange.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">33</td>
  <td class="cell c3">33.1558</td>
  <td class="cell c4">[3,1]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.500</td>
  <td class="cell c3">1.5</td>
  <td class="cell c4">[3,1]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">245.0</td>
  <td class="cell c3">245</td>
  <td class="cell c4">[3,1]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">12345.7</td>
  <td class="cell c3">12345.654321</td>
  <td class="cell c4">[6,6]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">12345.7</td>
  <td class="cell c3">12345.654321</td>
  <td class="cell c4">[6,3]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">12300.0</td>
  <td class="cell c3">12345.654321</td>
  <td class="cell c4">[6,3]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">12400.0</td>
  <td class="cell c3">12345.654321</td>
  <td class="cell c4">[6,3]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">13500.0</td>
  <td class="cell c3">12345.654321</td>
  <td class="cell c4">[6,3]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumSigFigs_VeryInaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">12000.0</td>
  <td class="cell c3">12345.654321</td>
  <td class="cell c4">[6,2]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">13000.0</td>
  <td class="cell c3">12345.654321</td>
  <td class="cell c4">[6,2]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">11000.0</td>
  <td class="cell c3">12345.654321</td>
  <td class="cell c4">[6,2]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Zero option and trailing zeros</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0010</td>
  <td class="cell c3">0</td>
  <td class="cell c4">[1,0]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0010</td>
  <td class="cell c3">0</td>
  <td class="cell c4">[2,0]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0010</td>
  <td class="cell c3">0</td>
  <td class="cell c4">[3,0]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.001</td>
  <td class="cell c3">0</td>
  <td class="cell c4">[1,0]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.001</td>
  <td class="cell c3">0</td>
  <td class="cell c4">[2,0]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.00100</td>
  <td class="cell c3">null</td>
  <td class="cell c4">[2,0]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.00100</td>
  <td class="cell c3">null</td>
  <td class="cell c4">[3,0]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.00100</td>
  <td class="cell c3">null</td>
  <td class="cell c4">[4,0]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">5.00</td>
  <td class="cell c3">null</td>
  <td class="cell c4">[2,0]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">5.00</td>
  <td class="cell c3">null</td>
  <td class="cell c4">[3,0]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">5.00</td>
  <td class="cell c3">null</td>
  <td class="cell c4">[4,0]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">100</td>
  <td class="cell c3">0</td>
  <td class="cell c4">[1,0]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">100</td>
  <td class="cell c3">0</td>
  <td class="cell c4">[2,0]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumSigFigs_WithinRange.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">100</td>
  <td class="cell c3">0</td>
  <td class="cell c4">[3,0]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumSigFigs_WithinRange.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">100</td>
  <td class="cell c3">0</td>
  <td class="cell c4">[4,0]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">10.0</td>
  <td class="cell c3">0</td>
  <td class="cell c4">[2,0]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">10.0</td>
  <td class="cell c3">0</td>
  <td class="cell c4">[3,0]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">10.0</td>
  <td class="cell c3">0</td>
  <td class="cell c4">[4,0]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0</td>
  <td class="cell c3">0</td>
  <td class="cell c4">[1,0]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0</td>
  <td class="cell c3">0</td>
  <td class="cell c4">[2,0]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.00</td>
  <td class="cell c3">0</td>
  <td class="cell c4">[1,0]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.00</td>
  <td class="cell c3">0</td>
  <td class="cell c4">[2,0]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.00</td>
  <td class="cell c3">0</td>
  <td class="cell c4">[3,0]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.00</td>
  <td class="cell c3">0</td>
  <td class="cell c4">[4,0]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Condone too many sfs.</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">8.250</td>
  <td class="cell c3">8.250</td>
  <td class="cell c4">[4,-1]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">8.25</td>
  <td class="cell c3">8.250</td>
  <td class="cell c4">[4,-1]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">8.250000</td>
  <td class="cell c3">8.250</td>
  <td class="cell c4">[4,-1]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">8.250434</td>
  <td class="cell c3">8.250</td>
  <td class="cell c4">[4,-1]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">82.4</td>
  <td class="cell c3">82</td>
  <td class="cell c4">[2,-1]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">82.5</td>
  <td class="cell c3">82</td>
  <td class="cell c4">[2,-1]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">83</td>
  <td class="cell c3">82</td>
  <td class="cell c4">[2,-1]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">1/7 = 0.142857142857...</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.1430</td>
  <td class="cell c3">1/7</td>
  <td class="cell c4">[4,-1]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.1429</td>
  <td class="cell c3">1/7</td>
  <td class="cell c4">[4,-1]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.1428</td>
  <td class="cell c3">1/7</td>
  <td class="cell c4">[4,-1]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.143</td>
  <td class="cell c3">1/7</td>
  <td class="cell c4">[4,-1]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits. The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits. ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.14284</td>
  <td class="cell c3">1/7</td>
  <td class="cell c4">[4,-1]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.14285</td>
  <td class="cell c3">1/7</td>
  <td class="cell c4">[4,-1]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.14286</td>
  <td class="cell c3">1/7</td>
  <td class="cell c4">[4,-1]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.14291</td>
  <td class="cell c3">1/7</td>
  <td class="cell c4">[4,-1]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.14294</td>
  <td class="cell c3">1/7</td>
  <td class="cell c4">[4,-1]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.14295</td>
  <td class="cell c3">1/7</td>
  <td class="cell c4">[4,-1]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.142</td>
  <td class="cell c3">1/7</td>
  <td class="cell c4">[2,-1]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.14290907676</td>
  <td class="cell c3">1/7</td>
  <td class="cell c4">[2,-1]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.143</td>
  <td class="cell c3">1/7</td>
  <td class="cell c4">[2,-1]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.1433333</td>
  <td class="cell c3">1/7</td>
  <td class="cell c4">[2,-1]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.144</td>
  <td class="cell c3">1/7</td>
  <td class="cell c4">[2,-1]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.145</td>
  <td class="cell c3">1/7</td>
  <td class="cell c4">[2,-1]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.146</td>
  <td class="cell c3">1/7</td>
  <td class="cell c4">[2,-1]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Logarithms, numbers and surds</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.279</td>
  <td class="cell c3">ev(lg(19),lg=logbasesimp)</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.14</td>
  <td class="cell c3">pi</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.15</td>
  <td class="cell c3">pi</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.73205</td>
  <td class="cell c3">sqrt(3)</td>
  <td class="cell c4">6</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">No support for matrices!</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">matrix([0.33,1],[1,1])</td>
  <td class="cell c3">matrix([0.333,1],[1,1])</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">Your answer should be a decimal number, but is not!</div></td>
  <td class="cell c9">ATNumSigFigs_NotDecimal.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">3.1415</td>
  <td class="cell c3">matrix([0.333,1],[1,1])</td>
  <td class="cell c4">2</td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. sigfigsfun(x,n,d) requires a real number, or a list of real numbers, as a first argument.  Received:  matrix([0.333,1],[1,1])</div></td>
  <td class="cell c9">TEST_FAILED</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Teacher uses dispsf</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.50</td>
  <td class="cell c3">dispsf(1.500,3)</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumSigFigs</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.50</td>
  <td class="cell c3">dispdp(1.500,3)</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="notes">
  <td class="cell c0">Basic tests</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumDecPlaces</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">3</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlaces_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumDecPlaces</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0.1</td>
  <td class="cell c3">1/0</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlaces_STACKERROR_TAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumDecPlaces</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0.1</td>
  <td class="cell c3">0</td>
  <td class="cell c4">1/0</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlaces_STACKERROR_Opt.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumDecPlaces</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0.1</td>
  <td class="cell c3">1</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">For ATNumDecPlaces the test option must be a positive integer, in fact "<span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(x\)</span></span></span>" was received.</div></span></td>
  <td class="cell c9">ATNumDecPlaces_OptNotInt.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumDecPlaces</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0.1</td>
  <td class="cell c3">1</td>
  <td class="cell c4">-1</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">For ATNumDecPlaces the test option must be a positive integer, in fact "<span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(-1\)</span></span></span>" was received.</div></span></td>
  <td class="cell c9">ATNumDecPlaces_OptNotInt.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumDecPlaces</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0.1</td>
  <td class="cell c3">1</td>
  <td class="cell c4">0</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">For ATNumDecPlaces the test option must be a positive integer, in fact "<span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(0\)</span></span></span>" was received.</div></span></td>
  <td class="cell c9">ATNumDecPlaces_OptNotInt.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumDecPlaces</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0.1</td>
  <td class="cell c3">1</td>
  <td class="cell c4">(</td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Option field is invalid. You have a missing right bracket <span class="stacksyntaxexample">)</span> in the expression: <span class="stacksyntaxexample">(</span>.</div></td>
  <td class="cell c9">STACKERROR_OPTION.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumDecPlaces</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">(</td>
  <td class="cell c3">1</td>
  <td class="cell c4">1</td>
  <td class="cell c5">The answer test failed to execute correctly: please alert your teacher. Attempted to execute an answer test with an empty student answer, probably a CAS validation problem when authoring the question.</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Attempted to execute an answer test with an empty student answer, probably a CAS validation problem when authoring the question.</div></td>
  <td class="cell c9">ATNumDecPlacesTEST_FAILED-Empty SA.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Student's answer not a floating point number</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlaces</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x</td>
  <td class="cell c3">3.143</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer must be a floating point number, but is not.</div></td>
  <td class="cell c9">ATNumDecPlaces_SA_Not_num.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlaces</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">pi</td>
  <td class="cell c3">3.000</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer must be a floating point number, but is not.</div></td>
  <td class="cell c9">ATNumDecPlaces_SA_Not_num.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Right number of places</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlaces</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.14</td>
  <td class="cell c3">3.143</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlaces_Correct. ATNumDecPlaces_Equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlaces</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.14</td>
  <td class="cell c3">3.14</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlaces_Correct. ATNumDecPlaces_Equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlaces</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.140</td>
  <td class="cell c3">3.140</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlaces_Correct. ATNumDecPlaces_Equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlaces</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3141.5972</td>
  <td class="cell c3">3141.5972</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlaces_Correct. ATNumDecPlaces_Equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlaces</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">4.14</td>
  <td class="cell c3">3.14</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlaces_Correct. ATNumDecPlaces_Not_equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlaces</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.1416</td>
  <td class="cell c3">pi</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlaces_Correct. ATNumDecPlaces_Equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlaces</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-7.3</td>
  <td class="cell c3">-7.3</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlaces_Correct. ATNumDecPlaces_Equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Wrong number of places</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlaces</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.14</td>
  <td class="cell c3">3.143</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer has been given to the wrong number of decimal places.</div></td>
  <td class="cell c9">ATNumDecPlaces_Wrong_DPs. ATNumDecPlaces_Equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlaces</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.14</td>
  <td class="cell c3">3.143</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer has been given to the wrong number of decimal places.</div></td>
  <td class="cell c9">ATNumDecPlaces_Wrong_DPs. ATNumDecPlaces_Equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlaces</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.14</td>
  <td class="cell c3">3.140</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer has been given to the wrong number of decimal places.</div></td>
  <td class="cell c9">ATNumDecPlaces_Wrong_DPs. ATNumDecPlaces_Equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlaces</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">7.000</td>
  <td class="cell c3">7</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer has been given to the wrong number of decimal places.</div></td>
  <td class="cell c9">ATNumDecPlaces_Wrong_DPs. ATNumDecPlaces_Equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlaces</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">7.0000</td>
  <td class="cell c3">7</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlaces_Correct. ATNumDecPlaces_Equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Both wrong DPs and inaccurate.</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlaces</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">8.0000</td>
  <td class="cell c3">7</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer has been given to the wrong number of decimal places.</div></td>
  <td class="cell c9">ATNumDecPlaces_Wrong_DPs. ATNumDecPlaces_Not_equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Teacher needs to round their answer.</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlaces</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">4.000</td>
  <td class="cell c3">3.99999</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlaces_Correct. ATNumDecPlaces_Equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Teacher uses displaydp</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlaces</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.10</td>
  <td class="cell c3">displaydp(0.1,2)</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlaces_Correct. ATNumDecPlaces_Equiv.</td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="notes">
  <td class="cell c0">Basic tests</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumDecPlacesWrong</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">3</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlacesWrong_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumDecPlacesWrong</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0.1</td>
  <td class="cell c3">1/0</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlacesWrong_STACKERROR_TAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumDecPlacesWrong</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0.1</td>
  <td class="cell c3">0</td>
  <td class="cell c4">1/0</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlacesWrong_STACKERROR_Opt.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">NumDecPlacesWrong</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">0.1</td>
  <td class="cell c3">0</td>
  <td class="cell c4">x</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">For ATNumDecPlacesWrong the test option must be a positive integer, in fact "<span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\(x\)</span></span></span>" was received.</div></span></td>
  <td class="cell c9">ATNumDecPlacesWrong_OptNotInt.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlacesWrong</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^2</td>
  <td class="cell c3">1234</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer must be a floating point number, but is not.</div></td>
  <td class="cell c9">ATNumDecPlacesWrong_SA_Not_num.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlacesWrong</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1234.5</td>
  <td class="cell c3">x^2</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlacesWrong_Tans_Not_Num.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlacesWrong</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.141</td>
  <td class="cell c3">31.41</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlacesWrong_Correct.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlacesWrong</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.141</td>
  <td class="cell c3">31.14</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlacesWrong_Wrong.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlacesWrong</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">pi</td>
  <td class="cell c3">31.14</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer must be a floating point number, but is not.</div></td>
  <td class="cell c9">ATNumDecPlacesWrong_SA_Not_num.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlacesWrong</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.1234</td>
  <td class="cell c3">1234</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlacesWrong_Correct.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlacesWrong</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.1235</td>
  <td class="cell c3">1234</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlacesWrong_Wrong.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlacesWrong</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0001234</td>
  <td class="cell c3">1234</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlacesWrong_Correct.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlacesWrong</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0001235</td>
  <td class="cell c3">1234</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlacesWrong_Wrong.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlacesWrong</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.1233</td>
  <td class="cell c3">1234</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlacesWrong_Correct.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlacesWrong</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.1243</td>
  <td class="cell c3">1234</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlacesWrong_Wrong.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlacesWrong</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.1230</td>
  <td class="cell c3">1239</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlacesWrong_Correct.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlacesWrong</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.1240</td>
  <td class="cell c3">1239</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlacesWrong_Wrong.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlacesWrong</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1230</td>
  <td class="cell c3">1239</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlacesWrong_Correct.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlacesWrong</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2230</td>
  <td class="cell c3">1239</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlacesWrong_Wrong.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlacesWrong</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.100</td>
  <td class="cell c3">1.00</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlacesWrong_Correct.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlacesWrong</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.1000</td>
  <td class="cell c3">1.00</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlacesWrong_Correct.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlacesWrong</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.1001</td>
  <td class="cell c3">1.001</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlacesWrong_Correct.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Condone lack of trailing zeros</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlacesWrong</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.100</td>
  <td class="cell c3">1.0</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlacesWrong_Correct.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlacesWrong</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1</td>
  <td class="cell c3">1.00</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlacesWrong_Correct.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Teacher uses displaydp</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">NumDecPlacesWrong</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.101</td>
  <td class="cell c3">displaydp(101,3)</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumDecPlacesWrong_Correct.</td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="notes">
  <td class="cell c0">Basic tests</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">3.141</td>
  <td class="cell c3">null</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Missing option when executing the test. </div></td>
  <td class="cell c9">STACKERROR_OPTION.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">3.141</td>
  <td class="cell c3">null</td>
  <td class="cell c4">x^2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">STACKERROR_OPTION.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">3.141</td>
  <td class="cell c3">null</td>
  <td class="cell c4">-2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">STACKERROR_OPTION.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">3.141</td>
  <td class="cell c3">null</td>
  <td class="cell c4">0</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">STACKERROR_OPTION.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0010</td>
  <td class="cell c3">null</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0010</td>
  <td class="cell c3">null</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0010</td>
  <td class="cell c3">null</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.00100</td>
  <td class="cell c3">null</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.00100</td>
  <td class="cell c3">null</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.00100</td>
  <td class="cell c3">null</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.001</td>
  <td class="cell c3">null</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.001</td>
  <td class="cell c3">null</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">100</td>
  <td class="cell c3">null</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">100</td>
  <td class="cell c3">null</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSigFigsStrict_WithinRange.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">100</td>
  <td class="cell c3">null</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSigFigsStrict_WithinRange.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">100</td>
  <td class="cell c3">null</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">100.</td>
  <td class="cell c3">null</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">100.</td>
  <td class="cell c3">null</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">100.</td>
  <td class="cell c3">null</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">100.</td>
  <td class="cell c3">null</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">123.</td>
  <td class="cell c3">null</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">123.</td>
  <td class="cell c3">null</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">123.</td>
  <td class="cell c3">null</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">123.</td>
  <td class="cell c3">null</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.00e2</td>
  <td class="cell c3">null</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.00e2</td>
  <td class="cell c3">null</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.00e2</td>
  <td class="cell c3">null</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.00e2</td>
  <td class="cell c3">null</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">10.0</td>
  <td class="cell c3">null</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">10.0</td>
  <td class="cell c3">null</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">10.0</td>
  <td class="cell c3">null</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0</td>
  <td class="cell c3">null</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0</td>
  <td class="cell c3">null</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0</td>
  <td class="cell c3">null</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0</td>
  <td class="cell c3">null</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">.0</td>
  <td class="cell c3">null</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">.0</td>
  <td class="cell c3">null</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">.001030</td>
  <td class="cell c3">null</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.00</td>
  <td class="cell c3">null</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.00</td>
  <td class="cell c3">null</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.00</td>
  <td class="cell c3">null</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">25.00e1</td>
  <td class="cell c3">null</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">25.00e1</td>
  <td class="cell c3">null</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">25.00e1</td>
  <td class="cell c3">null</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">25.00e1</td>
  <td class="cell c3">null</td>
  <td class="cell c4">5</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">15.1</td>
  <td class="cell c3">15.1</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">15.10</td>
  <td class="cell c3">15.1</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">15.100</td>
  <td class="cell c3">15.1</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Units are ignored</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SigFigsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">9.81*m/s^2</td>
  <td class="cell c3">null</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">Units</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">1</td>
  <td class="cell c4">2</td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATUnits_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">Units</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1</td>
  <td class="cell c3">1/0</td>
  <td class="cell c4">2</td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATUnits_STACKERROR_TAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">Units</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1</td>
  <td class="cell c3">1</td>
  <td class="cell c4">1/0</td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATUnits_STACKERROR_Opt.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">Units</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">x-1)^2</td>
  <td class="cell c3">(x-1)^2</td>
  <td class="cell c4">2</td>
  <td class="cell c5">The answer test failed to execute correctly: please alert your teacher. Attempted to execute an answer test with an empty student answer, probably a CAS validation problem when authoring the question.</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Attempted to execute an answer test with an empty student answer, probably a CAS validation problem when authoring the question.</div></td>
  <td class="cell c9">ATUnitsTEST_FAILED-Empty SA.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">Units</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">12.3*m*s^(-1)</td>
  <td class="cell c3">3*m</td>
  <td class="cell c4">[3,x]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher.</div></td>
  <td class="cell c9">ATNumSigFigs_STACKERROR_not_integer.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">Units</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">3*m*s^(-1)</td>
  <td class="cell c3">3*m</td>
  <td class="cell c4">[1,2,3]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher.</div></td>
  <td class="cell c9">ATNumSigFigs_STACKERROR_list_wrong_length.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">Units</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">12.3*m*s^(-1)</td>
  <td class="cell c3">{12.3*m*s^(-1)}</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher.</div></td>
  <td class="cell c9">ATUnits_TA_not_expression.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x=12.3*m*s^(-1)</td>
  <td class="cell c3">12.3*m*s^(-1)</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer needs to be a number together with units. Do not use sets, lists, equations or matrices.</div></td>
  <td class="cell c9">ATUnits_SA_not_expression.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Missing units</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">12.3</td>
  <td class="cell c3">12.3*m</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer must have units.</div></td>
  <td class="cell c9">ATUnits_SA_no_units.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">12</td>
  <td class="cell c3">12.3*m</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer must have units.</div></td>
  <td class="cell c9">ATUnits_SA_no_units.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/2</td>
  <td class="cell c3">12.3*m</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer must have units.</div></td>
  <td class="cell c9">ATUnits_SA_no_units.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">e^(1/2)</td>
  <td class="cell c3">12.3*m</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer must have units.</div></td>
  <td class="cell c9">ATUnits_SA_no_units.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">Units</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">9.81*m</td>
  <td class="cell c3">12.3</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher.</div></td>
  <td class="cell c9">ATUnits_SB_no_units.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Only units</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">m/s</td>
  <td class="cell c3">12.3*m/s</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer needs to be a number together with units. Your answer only has units.</div></td>
  <td class="cell c9">ATUnits_SA_only_units.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">m</td>
  <td class="cell c3">12.3*m/s</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer needs to be a number together with units. Your answer only has units.</div></td>
  <td class="cell c9">ATUnits_SA_only_units.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Bad units</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">9.81+m/s</td>
  <td class="cell c3">9.81*m/s</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer must have units, and you must use multiplication to attach the units to a value, e.g. <code>3.2*m/s</code>.</div></td>
  <td class="cell c9">ATUnits_SA_bad_units.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Basic tests</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">12.3*m/s</td>
  <td class="cell c3">12.3*m/s</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">12.4*m/s</td>
  <td class="cell c3">12.3*m/s</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate. ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">12.4*m/s</td>
  <td class="cell c3">12.3*m/s</td>
  <td class="cell c4">[3,2]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">12.45*m/s</td>
  <td class="cell c3">12.3*m/s</td>
  <td class="cell c4">[3,2]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits. ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">13.45*m/s</td>
  <td class="cell c3">12.3*m/s</td>
  <td class="cell c4">[3,2]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits. The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits. ATNumSigFigs_Inaccurate. ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">7.54E-5*(s*M)^-1</td>
  <td class="cell c3">5.625E-5*s^-1</td>
  <td class="cell c4">[3,2]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your units are incompatible with those used by the teacher.</div></td>
  <td class="cell c9">ATNumSigFigs_VeryInaccurate. ATUnits_incompatible_units.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">7.54E-5*(s*M)^-1</td>
  <td class="cell c3">stackunits(5.625E-5,1/s)</td>
  <td class="cell c4">[3,2]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your units are incompatible with those used by the teacher.</div></td>
  <td class="cell c9">ATNumSigFigs_VeryInaccurate. ATUnits_incompatible_units.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">12*m/s</td>
  <td class="cell c3">12.3*m/s</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits. The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits. ATNumSigFigs_Inaccurate. ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-9.81*m/s^2</td>
  <td class="cell c3">-9.81*m/s^2</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-9.82*m/s^2</td>
  <td class="cell c3">-9.815*m/s^2</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-9.81*m/s^2</td>
  <td class="cell c3">-9.815*m/s^2</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate. ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-9.81*m*s^(-2)</td>
  <td class="cell c3">-9.81*m/s^2</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-9.82*m/s^2</td>
  <td class="cell c3">-9.81*m/s^2</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate. ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-9.81*m*s^(-2)</td>
  <td class="cell c3">-9.81*m/s^2</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-9.81*m/s/s</td>
  <td class="cell c3">-9.81*m/s^2</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-9.81*m/s</td>
  <td class="cell c3">-9.81*m/s^2</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your units are incompatible with those used by the teacher. Please check your units carefully.</div></td>
  <td class="cell c9">ATUnits_incompatible_units. ATUnits_correct_numerical.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-9.81*m/s</td>
  <td class="cell c3">-9.81*m/s^2</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your units are incompatible with those used by the teacher. Please check your units carefully.</div></td>
  <td class="cell c9">ATUnits_incompatible_units. ATUnits_correct_numerical.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(-9.81)*m/s^2</td>
  <td class="cell c3">-9.81*m/s^2</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">520*amu</td>
  <td class="cell c3">520*amu</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumSigFigs_WithinRange. ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">520*amu</td>
  <td class="cell c3">521*amu</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_WithinRange. ATNumSigFigs_Inaccurate. ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Missing units</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(-9.81)</td>
  <td class="cell c3">-9.81*m/s^2</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer must have units.</div></td>
  <td class="cell c9">ATUnits_SA_no_units.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">9.81*m/s</td>
  <td class="cell c3">-9.81*m/s^2</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer has the wrong algebraic sign. Your units are incompatible with those used by the teacher.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongSign. ATUnits_incompatible_units.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">8.81*m/s</td>
  <td class="cell c3">-9.81*m/s^2</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer has the wrong algebraic sign. Your units are incompatible with those used by the teacher.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongSign. ATNumSigFigs_VeryInaccurate. ATUnits_incompatible_units.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">8.1*m/s</td>
  <td class="cell c3">-9.81*m/s^2</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits. Your answer has the wrong algebraic sign. Your units are incompatible with those used by the teacher.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits. ATNumSigFigs_WrongSign. ATNumSigFigs_VeryInaccurate. ATUnits_incompatible_units.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">m/4</td>
  <td class="cell c3">0.25*m</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits. ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Student is too exact</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">pi*s</td>
  <td class="cell c3">3.14*s</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits. ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">sqrt(2)*m</td>
  <td class="cell c3">1.41*m</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits. ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Different units</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">25*g</td>
  <td class="cell c3">0.025*kg</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units kg.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">26*g</td>
  <td class="cell c3">0.025*kg</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The accuracy of your answer is not correct. Either you have not rounded correctly, or you have rounded an intermediate answer which propagates an error.</div></td>
  <td class="cell c9">ATNumSigFigs_Inaccurate. ATUnits_compatible_units kg.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">100*g</td>
  <td class="cell c3">10*kg</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumSigFigs_WithinRange. ATNumSigFigs_VeryInaccurate. ATUnits_compatible_units kg.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.025*g</td>
  <td class="cell c3">0.025*kg</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Please check your units carefully.</div></td>
  <td class="cell c9">ATUnits_compatible_units kg. ATUnits_correct_numerical.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1000*m</td>
  <td class="cell c3">1*km</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumSigFigs_WithinRange. ATUnits_compatible_units m.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1*Mg/10^6</td>
  <td class="cell c3">1*N*s^2/(km)</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units kg.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1*Mg/10^6</td>
  <td class="cell c3">1*kN*ns/(mm*Hz)</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units kg.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.14*Mg/10^6</td>
  <td class="cell c3">%pi*kN*ns/(mm*Hz)</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units kg.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.141*Mg/10^6</td>
  <td class="cell c3">%pi*kN*ns/(mm*Hz)</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits. ATUnits_compatible_units kg.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">4.141*Mg/10^6</td>
  <td class="cell c3">%pi*kN*ns/(mm*Hz)</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits. ATNumSigFigs_VeryInaccurate. ATUnits_compatible_units kg.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">400*cc</td>
  <td class="cell c3">0.4*l</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumSigFigs_WithinRange. ATUnits_compatible_units m^3.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">400*cm^3</td>
  <td class="cell c3">0.4*l</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumSigFigs_WithinRange. ATUnits_compatible_units m^3.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">400*ml</td>
  <td class="cell c3">0.4*l</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumSigFigs_WithinRange. ATUnits_compatible_units m^3.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">18*kJ</td>
  <td class="cell c3">18000.0*J</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units (kg*m^2)/s^2.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">18.1*kJ</td>
  <td class="cell c3">18000.0*J</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits. ATUnits_compatible_units (kg*m^2)/s^2.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">120*kWh</td>
  <td class="cell c3">0.12*MWh</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units (kg*m^2)/s^2.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2.0*hh</td>
  <td class="cell c3">720000*s</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units s.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">723*kVA</td>
  <td class="cell c3">0.723*MVA</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units (kg*m^2)/s^3.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Edge case</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0*m/s</td>
  <td class="cell c3">0*m/s</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0*m/s</td>
  <td class="cell c3">0*m/s</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0*m/s</td>
  <td class="cell c3">0.0*m/s</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.00*m/s</td>
  <td class="cell c3">0.0*m/s</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0*km/s</td>
  <td class="cell c3">0.0*m/s</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units m/s.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0*m</td>
  <td class="cell c3">0.0*m/s</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your units are incompatible with those used by the teacher. Please check your units carefully.</div></td>
  <td class="cell c9">ATUnits_incompatible_units. ATUnits_correct_numerical.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0</td>
  <td class="cell c3">0.0*m/s</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer must have units.</div></td>
  <td class="cell c9">ATUnits_SA_no_units.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Imperial</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">7*in</td>
  <td class="cell c3">7*in</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">6*in</td>
  <td class="cell c3">0.5*ft</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units in.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2640*ft</td>
  <td class="cell c3">0.5*mi</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumSigFigs_WithinRange. ATUnits_compatible_units in.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2650*ft</td>
  <td class="cell c3">0.5*mi</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumSigFigs_WithinRange. ATNumSigFigs_VeryInaccurate. ATUnits_compatible_units in.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">TODO</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">142.8*C</td>
  <td class="cell c3">415.9*K</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-3</td>
  <td class="cell c8"><div class="text_to_html">Your units are incompatible with those used by the teacher.</div></td>
  <td class="cell c9">ATNumSigFigs_VeryInaccurate. ATUnits_incompatible_units.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Units</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">520*mamu</td>
  <td class="cell c3">520*mamu</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-3</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher.</div></td>
  <td class="cell c9">ATUnits_SB_no_units.</td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="notes">
  <td class="cell c0">Differences from the Units test only</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">25*g</td>
  <td class="cell c3">0.025*kg</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units kg.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1*Mg/10^6</td>
  <td class="cell c3">1*N*s^2/(km)</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units kg.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1*Mg/10^6</td>
  <td class="cell c3">1*kN*ns/(mm*Hz)</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units kg.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.14*Mg/10^6</td>
  <td class="cell c3">%pi*kN*ns/(mm*Hz)</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units kg.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">400*cc</td>
  <td class="cell c3">0.4*l</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumSigFigs_WithinRange. ATUnits_compatible_units m^3.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">400*cm^3</td>
  <td class="cell c3">0.4*l</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumSigFigs_WithinRange. ATUnits_compatible_units m^3.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">400*ml</td>
  <td class="cell c3">0.4*l</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumSigFigs_WithinRange. ATUnits_compatible_units m^3.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">400*mL</td>
  <td class="cell c3">0.4*l</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumSigFigs_WithinRange. ATUnits_compatible_units m^3.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">142.8*C</td>
  <td class="cell c3">415.9*K</td>
  <td class="cell c4">4</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATNumSigFigs_VeryInaccurate. ATUnits_incompatible_units.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">We are not *that* strict!</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-9.81*m/s/s</td>
  <td class="cell c3">-9.81*m/s^2</td>
  <td class="cell c4">3</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Edge case</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0*m/s</td>
  <td class="cell c3">0*m/s</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0*m/s</td>
  <td class="cell c3">0*m/s</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0*m/s</td>
  <td class="cell c3">0.0*m/s</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0*m/s</td>
  <td class="cell c3">0.0*m/s</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0*km/s</td>
  <td class="cell c3">0.0*m/s</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units m/s.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0*m</td>
  <td class="cell c3">0.0*m/s</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_incompatible_units. ATUnits_correct_numerical.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0</td>
  <td class="cell c3">0.0*m/s</td>
  <td class="cell c4">1</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer must have units.</div></td>
  <td class="cell c9">ATUnits_SA_no_units.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2.33e-15*kg</td>
  <td class="cell c3">2.33e-15*kg</td>
  <td class="cell c4">[3,2]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">7.03e-3*ng</td>
  <td class="cell c3">7.03e-3*ng</td>
  <td class="cell c4">[3,2]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2.35e-6*ug</td>
  <td class="cell c3">2.35e-6*ug</td>
  <td class="cell c4">[3,2]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">9.83e-10*cg</td>
  <td class="cell c3">9.83e-10*cg</td>
  <td class="cell c4">[3,2]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">9.73e-21*Gg</td>
  <td class="cell c3">9.73e-21*Gg</td>
  <td class="cell c4">[3,2]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">7.19e-15*kg</td>
  <td class="cell c3">7.19e-15*kg</td>
  <td class="cell c4">[3,2]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">8.12e-12*g</td>
  <td class="cell c3">8.12e-12*g</td>
  <td class="cell c4">[3,2]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">9.34e-12*g</td>
  <td class="cell c3">9.34e-12*g</td>
  <td class="cell c4">[3,2]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.07e-21*Gg</td>
  <td class="cell c3">1.07e-21*Gg</td>
  <td class="cell c4">[3,2]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.91e-10*cg</td>
  <td class="cell c3">1.91e-10*cg</td>
  <td class="cell c4">[3,2]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">5.67e-18*Mg</td>
  <td class="cell c3">5.67e-18*Mg</td>
  <td class="cell c4">[3,2]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2.04e-9*mg</td>
  <td class="cell c3">2.04e-9*mg</td>
  <td class="cell c4">[3,2]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">6.75e-6*ug</td>
  <td class="cell c3">6.75e-6*ug</td>
  <td class="cell c4">[3,2]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">6.58e-6*ug</td>
  <td class="cell c3">6.58e-6*ug</td>
  <td class="cell c4">[3,2]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3.58e-9*mg</td>
  <td class="cell c3">3.58e-9*mg</td>
  <td class="cell c4">[3,2]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">9.99e-15*kg</td>
  <td class="cell c3">9.99e-15*kg</td>
  <td class="cell c4">[3,2]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">9.8e-9*mg</td>
  <td class="cell c3">9.8e-9*mg</td>
  <td class="cell c4">[3,2]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits. ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">9.80e-9*mg</td>
  <td class="cell c3">9.8e-9*mg</td>
  <td class="cell c4">[3,2]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">9.83e-9*mg</td>
  <td class="cell c3">9.8e-9*mg</td>
  <td class="cell c4">[3,2]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">9.78e-9*mg</td>
  <td class="cell c3">9.8e-9*mg</td>
  <td class="cell c4">[3,2]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">36*Kj/mol</td>
  <td class="cell c3">36*Kj/mol</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-36*Kj/mol</td>
  <td class="cell c3">-36*Kj/mol</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(-36)*Kj/mol</td>
  <td class="cell c3">-36*Kj/mol</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(-36*Kj)/mol</td>
  <td class="cell c3">-36*Kj/mol</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-(36*Kj)/mol</td>
  <td class="cell c3">-36*Kj/mol</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrict</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-(36.2*Kj)/mol</td>
  <td class="cell c3">-36.3*Kj/mol</td>
  <td class="cell c4">2</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer contains the wrong number of significant digits.</div></td>
  <td class="cell c9">ATNumSigFigs_WrongDigits. ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">12.3*m/s</td>
  <td class="cell c3">12.3*m/s</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">12*m/s</td>
  <td class="cell c3">12.3*m/s</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.1*Mg/10^6</td>
  <td class="cell c3">1.2*kN*ns/(mm*Hz)</td>
  <td class="cell c4">0.15</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units kg.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.1*Mg/10^6</td>
  <td class="cell c3">1.2*kN*ns/(mm*Hz)</td>
  <td class="cell c4">0.05</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units kg.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Edge case</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0*m/s</td>
  <td class="cell c3">0*m/s</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0*m/s</td>
  <td class="cell c3">0*m/s</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0*m/s</td>
  <td class="cell c3">0.0*m/s</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0*m/s</td>
  <td class="cell c3">0.0*m/s</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0*km/s</td>
  <td class="cell c3">0.0*m/s</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units m/s.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0*m</td>
  <td class="cell c3">0.0*m/s</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your units are incompatible with those used by the teacher. Please check your units carefully.</div></td>
  <td class="cell c9">ATUnits_incompatible_units. ATUnits_correct_numerical.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0</td>
  <td class="cell c3">0.0*m/s</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer must have units.</div></td>
  <td class="cell c9">ATUnits_SA_no_units.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0*kVA</td>
  <td class="cell c3">0.0*kVA</td>
  <td class="cell c4">0.002</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrictRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">12.3*m/s</td>
  <td class="cell c3">12.3*m/s</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrictRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">12*m/s</td>
  <td class="cell c3">12.3*m/s</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrictRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.1*Mg/10^6</td>
  <td class="cell c3">1.2*kN*ns/(mm*Hz)</td>
  <td class="cell c4">0.15</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units kg.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrictRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.1*Mg/10^6</td>
  <td class="cell c3">1.2*kN*ns/(mm*Hz)</td>
  <td class="cell c4">0.05</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units kg.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Edge case</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrictRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0*m/s</td>
  <td class="cell c3">0*m/s</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrictRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0*m/s</td>
  <td class="cell c3">0*m/s</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrictRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0*m/s</td>
  <td class="cell c3">0.0*m/s</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrictRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0*m/s</td>
  <td class="cell c3">0.0*m/s</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrictRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0*km/s</td>
  <td class="cell c3">0.0*m/s</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units m/s.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrictRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0*m</td>
  <td class="cell c3">0.0*m/s</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_incompatible_units. ATUnits_correct_numerical.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrictRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0</td>
  <td class="cell c3">0.0*m/s</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer must have units.</div></td>
  <td class="cell c9">ATUnits_SA_no_units.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsStrictRelative</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0*J</td>
  <td class="cell c3">0.0*J</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-123000*J</td>
  <td class="cell c3">-123*kJ</td>
  <td class="cell c4">5*J</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The units specified for the numerical tolerance must match the units used for the teacher's answer. This is an internal error with the test. Please ask your teacher about this.</div></td>
  <td class="cell c9">ATUnits_SO_wrong_units.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">12.3*m/s</td>
  <td class="cell c3">12.3*m/s</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">12*m/s</td>
  <td class="cell c3">12.3*m/s</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.1*Mg/10^6</td>
  <td class="cell c3">1.2*kN*ns/(mm*Hz)</td>
  <td class="cell c4">0.15</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units kg.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">The following illustrates that we convert to base units to compare.</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.1*Mg/10^6</td>
  <td class="cell c3">1.2*kN*ns/(mm*Hz)</td>
  <td class="cell c4">0.1</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units kg.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.1*Mg/10^6</td>
  <td class="cell c3">1.2*kN*ns/(mm*Hz)</td>
  <td class="cell c4">0.09</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units kg.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Units in the options</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-123000*J</td>
  <td class="cell c3">-123*kJ</td>
  <td class="cell c4">5*kJ</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units (kg*m^2)/s^2.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-123006*J</td>
  <td class="cell c3">-123*kJ</td>
  <td class="cell c4">5*kJ</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units (kg*m^2)/s^2.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-129006*J</td>
  <td class="cell c3">-123*kJ</td>
  <td class="cell c4">5*kJ</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units (kg*m^2)/s^2.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.1*Mg/10^6</td>
  <td class="cell c3">1.2*kN*ns/(mm*Hz)</td>
  <td class="cell c4">0.1*kN*ns/(mm*Hz)</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units kg.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.1*Mg/10^6</td>
  <td class="cell c3">1.2*kN*ns/(mm*Hz)</td>
  <td class="cell c4">0.09*kN*ns/(mm*Hz)</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units kg.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Edge case</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0*m/s</td>
  <td class="cell c3">0*m/s</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0*m/s</td>
  <td class="cell c3">0*m/s</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0*m/s</td>
  <td class="cell c3">0.0*m/s</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0*m/s</td>
  <td class="cell c3">0.0*m/s</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0*km/s</td>
  <td class="cell c3">0.0*m/s</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_compatible_units m/s.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0*m</td>
  <td class="cell c3">0.0*m/s</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your units are incompatible with those used by the teacher. Please check your units carefully.</div></td>
  <td class="cell c9">ATUnits_incompatible_units. ATUnits_correct_numerical.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.0</td>
  <td class="cell c3">0.0*m/s</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">Your answer must have units.</div></td>
  <td class="cell c9">ATUnits_SA_no_units.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1.0*m/s</td>
  <td class="cell c3">m/s</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">15/pi*kN/mm^2</td>
  <td class="cell c3">15/pi*kN/mm^2</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(15*kN)/(pi*mm^2)</td>
  <td class="cell c3">(15*kN)/(pi*mm^2)</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(15/pi)*(kN/mm^2)</td>
  <td class="cell c3">(15/pi)*(kN/mm^2)</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(600*N)/(%pi*mm^2)</td>
  <td class="cell c3">(600*N)/(%pi*mm^2)</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(600/pi)*kN/m^2</td>
  <td class="cell c3">(600/pi)*kN/m^2</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">UnitsAbsolute</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(600/pi)*kN/mm^2</td>
  <td class="cell c3">(600/pi)*kN/mm^2</td>
  <td class="cell c4">0.01</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATUnits_units_match.</td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="pass">
  <td class="cell c0">String</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">Hello</td>
  <td class="cell c3">hello</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">String</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">hello</td>
  <td class="cell c3">hello</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">String</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">hello</td>
  <td class="cell c3">heloo</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="pass">
  <td class="cell c0">StringSloppy</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">hello</td>
  <td class="cell c3">Hello</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">StringSloppy</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">hel lo</td>
  <td class="cell c3">Hello</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Illegal spaces found in expression <span class="stacksyntaxexample">hel<span class="stacksyntaxexamplehighlight">_</span>lo</span>.</div></td>
  <td class="cell c9">ATStringSloppy_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">StringSloppy</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">hel lo</td>
  <td class="cell c3">Hel*lo</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Illegal spaces found in expression <span class="stacksyntaxexample">hel<span class="stacksyntaxexamplehighlight">_</span>lo</span>.</div></td>
  <td class="cell c9">ATStringSloppy_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">StringSloppy</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">hello</td>
  <td class="cell c3">heloo</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">SRegExp</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">&quot;hello&quot;</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATSRegExp_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">SRegExp</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">&quot;1/0&quot;</td>
  <td class="cell c3">1/0</td>
  <td class="cell c4"></td>
  <td class="cell c5">TEST_FAILED</td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The answer test failed to execute correctly: please alert your teacher. Division by zero.</div></td>
  <td class="cell c9">ATSRegExp_STACKERROR_TAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">SRegExp</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">Hello</td>
  <td class="cell c3">hello</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The second argument to the SRegExp answer test must be a string. The test failed. Please contact your teacher.</div></td>
  <td class="cell c9">ATSRegExp_SB_not_string.</td>
  <td class="cell c10"></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">SRegExp</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">Hello</td>
  <td class="cell c3">&quot;hello&quot;</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"><div class="text_to_html">The first argument to the SRegExp answer test must be a string. The test failed. Please contact your teacher.</div></td>
  <td class="cell c9">ATSRegExp_SA_not_string.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SRegExp</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">&quot;aaaaabbb&quot;</td>
  <td class="cell c3">&quot;(aaa)*b&quot;</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSRegExp: ["aaab","aaa"].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SRegExp</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">&quot;aab&quot;</td>
  <td class="cell c3">&quot;(aaa)*b&quot;</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSRegExp: ["b",false].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SRegExp</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">&quot;aaac&quot;</td>
  <td class="cell c3">&quot;(aaa)*b&quot;</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Anchor pattern to the start and the end of the string</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SRegExp</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">&quot;aab&quot;</td>
  <td class="cell c3">&quot;^[aA]*b$&quot;</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSRegExp: ["aab"].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SRegExp</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">&quot;aab&quot;</td>
  <td class="cell c3">&quot;^(aaa)*b$&quot;</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SRegExp</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">&quot;aAb&quot;</td>
  <td class="cell c3">&quot;^[aA]*b$&quot;</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSRegExp: ["aAb"].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SRegExp</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">&quot; aAb&quot;</td>
  <td class="cell c3">&quot;^[aA]*b$&quot;</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Case insensitive</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SRegExp</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">&quot;caAb&quot;</td>
  <td class="cell c3">&quot;(?i:a*b)&quot;</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSRegExp: ["aAb"].</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Options</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SRegExp</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">&quot;Alice went to the market&quot;</td>
  <td class="cell c3">&quot;(Alice|Bob) went to the (bank|market)&quot;</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSRegExp: ["Alice went to the market","Alice","market"].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SRegExp</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">&quot;Malice went to the shop&quot;</td>
  <td class="cell c3">&quot;(Alice|Bob) went to the (bank|market)&quot;</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Whitespace, note test rendering issue, the test string has additional spaces and tabs as does the result</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SRegExp</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">&quot;Alice   went  to      the market&quot;</td>
  <td class="cell c3">&quot;(Alice|Bob)\\s+went\\s+to\\s+the\\s+(bank|market)&quot;</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSRegExp: ["Alice   went  to      the market","Alice","market"].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SRegExp</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">&quot;Alice   went  to      themarket&quot;</td>
  <td class="cell c3">&quot;(Alice|Bob)\\s+went\\s+to\\s+the\\s+(bank|market)&quot;</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Escaping patterns, note the function that does it</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SRegExp</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">&quot;x^2.2&quot;</td>
  <td class="cell c3">&quot;x\\^2\\.2&quot;</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSRegExp: ["x^2.2"].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SRegExp</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">&quot;x^2+sin(x)&quot;</td>
  <td class="cell c3">sconcat(string_to_regex(&quot;sin(x)&quot;),&quot;$&quot;)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATSRegExp: ["sin(x)"].</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">SRegExp</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">&quot;sin(x)+x^2&quot;</td>
  <td class="cell c3">sconcat(string_to_regex(&quot;sin(x)&quot;),&quot;$&quot;)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="expectedfail">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Expected failure</td>
  <td class="cell c2">1/0</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">-1</td>
  <td class="cell c8"></td>
  <td class="cell c9">ATLowestTerms_STACKERROR_SAns.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Mix of floats and rational numbers</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.5</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">0.33</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2/4</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The following terms in your answer are not in lowest terms. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ \frac{2}{4} \right] \]</span></span></span> Please try again.</div></span></td>
  <td class="cell c9">ATLowestTerms_entries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Negative numbers</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-1/3</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/-3</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-2/4</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The following terms in your answer are not in lowest terms. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ \frac{-2}{4} \right] \]</span></span></span> Please try again.</div></span></td>
  <td class="cell c9">ATLowestTerms_entries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2/-4</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The following terms in your answer are not in lowest terms. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ \frac{2}{-4} \right] \]</span></span></span> Please try again.</div></span></td>
  <td class="cell c9">ATLowestTerms_entries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-1/-3</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The following terms in your answer are not in lowest terms. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ \frac{-1}{-3} \right] \]</span></span></span> Please try again.</div></span></td>
  <td class="cell c9">ATLowestTerms_entries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">-2/-4</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The following terms in your answer are not in lowest terms. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ \frac{-2}{-4} \right] \]</span></span></span> Please try again.</div></span></td>
  <td class="cell c9">ATLowestTerms_entries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Polynomials</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x+1/3</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x+2/6</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The following terms in your answer are not in lowest terms. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ \frac{2}{6} \right] \]</span></span></span> Please try again.</div></span></td>
  <td class="cell c9">ATLowestTerms_entries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2*x/4+2/6</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The following terms in your answer are not in lowest terms. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ \frac{2}{6} \right] \]</span></span></span> Please try again.</div></span></td>
  <td class="cell c9">ATLowestTerms_entries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">2/4*x+2/6</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The following terms in your answer are not in lowest terms. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ \frac{2}{4} , \frac{2}{6} \right] \]</span></span></span> Please try again.</div></span></td>
  <td class="cell c9">ATLowestTerms_entries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x-1/-4</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The following terms in your answer are not in lowest terms. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ \frac{-1}{-4} \right] \]</span></span></span> Please try again.</div></span></td>
  <td class="cell c9">ATLowestTerms_entries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Trig functions</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">cos(x)</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">cos(3/6*x)</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The following terms in your answer are not in lowest terms. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ \frac{3}{6} \right] \]</span></span></span> Please try again.</div></span></td>
  <td class="cell c9">ATLowestTerms_entries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Matrices</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">matrix([1,2/4],[2,3])</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The following terms in your answer are not in lowest terms. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ \frac{2}{4} \right] \]</span></span></span> Please try again.</div></span></td>
  <td class="cell c9">ATLowestTerms_entries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Equations</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x=1/2</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">3/9=x</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The following terms in your answer are not in lowest terms. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ \frac{3}{9} \right] \]</span></span></span> Please try again.</div></span></td>
  <td class="cell c9">ATLowestTerms_entries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Use predicate lowesttermsp</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^2/x</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(2*x)/(4*t)</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">(2/4)*(x^2/t)</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The following terms in your answer are not in lowest terms. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ \frac{2}{4} \right] \]</span></span></span> Please try again.</div></span></td>
  <td class="cell c9">ATLowestTerms_entries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">x^(2/4)</td>
  <td class="cell c3">0</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">The following terms in your answer are not in lowest terms. <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ \frac{2}{4} \right] \]</span></span></span> Please try again.</div></span></td>
  <td class="cell c9">ATLowestTerms_entries.</td>
  <td class="cell c10"></td>
</tr>
<tr class="notes">
  <td class="cell c0">Need to rationalize demoninator</td>
  <td class="cell c1"></td>
  <td class="cell c2"></td>
  <td class="cell c3"></td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6"></td>
  <td class="cell c7"></td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">sqrt(3)/3</td>
  <td class="cell c3">sqrt(3)/3</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"></td>
  <td class="cell c9"></td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/sqrt(3)</td>
  <td class="cell c3">sqrt(3)/3</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">You must clear the following from the denominator of your fraction: <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ \sqrt{3} \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATLowestTerms_not_rat.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/(1-sqrt(2))</td>
  <td class="cell c3">1/(1-sqrt(2))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">You must clear the following from the denominator of your fraction: <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ \sqrt{2} \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATLowestTerms_not_rat.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/(1+i)</td>
  <td class="cell c3">(1-i)/2</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">You must clear the following from the denominator of your fraction: <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ \mathrm{i} \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATLowestTerms_not_rat.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1+2/sqrt(3)</td>
  <td class="cell c3">(2*sqrt(3)+3)/3</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">You must clear the following from the denominator of your fraction: <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ \sqrt{3} \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATLowestTerms_not_rat.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/(1+1/root(3,2))</td>
  <td class="cell c3">sqrt(3)/(sqrt(3)+1)</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">You must clear the following from the denominator of your fraction: <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ 3^{\frac{1}{2}} \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATLowestTerms_not_rat.</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">LowestTerms</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">1/(1+1/root(2,3))</td>
  <td class="cell c3">1/(1+1/root(2,3))</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html">You must clear the following from the denominator of your fraction: <span class="filter_mathjaxloader_equation"><span class="nolink"><span class="nolink">\[\left[ 2^{\frac{1}{3}} \right] \]</span></span></span></div></span></td>
  <td class="cell c9">ATLowestTerms_not_rat.</td>
  <td class="cell c10"></td>
</tr>
<tr class=""><td colspan="11"><div class="tabledivider"></div></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\left[ \right] &amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2=-1]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2=-1&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x=x,all]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x=x&amp; \cr \color{green}{\Leftrightarrow}&amp;\mathbb{R}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x=x,true]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x=x&amp; \cr \color{green}{\Leftrightarrow}&amp;\mathbf{True}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x=x,false]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x=x&amp; \cr \color{red}{?}&amp;\mathbf{False}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,QMCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[1=1,all]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;1=1&amp; \cr \color{green}{\Leftrightarrow}&amp;\mathbb{R}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[1=1,true]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;1=1&amp; \cr \color{green}{\Leftrightarrow}&amp;\mathbf{True}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[0=0,all]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;0=0&amp; \cr \color{green}{\Leftrightarrow}&amp;\mathbb{R}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[0=0,true]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;0=0&amp; \cr \color{green}{\Leftrightarrow}&amp;\mathbf{True}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[1=2,false]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;1=2&amp; \cr \color{green}{\Leftrightarrow}&amp;\mathbf{False}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[1=2,none]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;1=2&amp; \cr \color{green}{\Leftrightarrow}&amp;\emptyset&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[1=2,{}]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;1=2&amp; \cr \color{green}{\Leftrightarrow}&amp;\left \{ \right \}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[1=2,[]]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;1=2&amp; \cr \color{green}{\Leftrightarrow}&amp;\left[ \right] &amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x=1,X=1]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x=1&amp; \cr \color{red}{?}&amp;X=1&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,QMCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[1/(x^2+1)=1/((x+%i)*(x-%i)),true]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\frac{1}{x^2+1}=\frac{1}{\left(x+\mathrm{i}\right)\cdot \left(x-\mathrm{i}\right)}&amp; \cr \color{green}{\Leftrightarrow}&amp;\mathbf{True}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[2^2,stackeq(4)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;2^2&amp; \cr \color{green}{\checkmark}&amp;=4&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, CHECKMARK]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[2^2,stackeq(3)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;2^2&amp; \cr \color{red}{\Rightarrow}&amp;=3&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,IMPLIESCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[2^2,4]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;2^2&amp; \cr \color{green}{\Leftrightarrow}&amp;4&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[2^2,3]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;2^2&amp; \cr \color{red}{\Rightarrow}&amp;3&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,IMPLIESCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[lg(64,4),lg(4^3,4),3*lg(4,4),3]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\log_{4}\left(64\right)&amp; \cr \color{green}{\Leftrightarrow}&amp;\log_{4}\left(4^3\right)&amp; \cr \color{green}{\Leftrightarrow}&amp;3\cdot \log_{4}\left(4\right)&amp; \cr \color{green}{\Leftrightarrow}&amp;3&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[lg(64,4),stackeq(lg(4^3,4)),stackeq(3*lg(4,4)),stackeq(3)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\log_{4}\left(64\right)&amp; \cr \color{green}{\checkmark}&amp;=\log_{4}\left(4^3\right)&amp; \cr \color{green}{\checkmark}&amp;=3\cdot \log_{4}\left(4\right)&amp; \cr \color{green}{\checkmark}&amp;=3&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, CHECKMARK, CHECKMARK, CHECKMARK]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x=1 or x=2,x=1 or 2]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x=1\,{\mbox{ or }}\, x=2&amp; \cr \color{red}{\mbox{Missing assignments}}&amp;x=1\,{\mbox{ or }}\, 2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,MISSINGVAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x=1 or x=2,x=1 and x=2]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x=1\,{\mbox{ or }}\, x=2&amp; \cr \color{red}{\mbox{and/or confusion!}}&amp;\left\{\begin{array}{l}x=1\cr x=2\cr \end{array}\right.&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,ANDOR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x=1 and y=2,x=1 or y=2]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\left\{\begin{array}{l}x=1\cr y=2\cr \end{array}\right.&amp; \cr \color{red}{\mbox{and/or confusion!}}&amp;x=1\,{\mbox{ or }}\, y=2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,ANDOR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[a=b,a^2=b^2]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;a=b&amp; \cr \color{red}{\Rightarrow}&amp;a^2=b^2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,IMPLIESCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[a=b,sqrt(a)=sqrt(b)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;a=b&amp; \cr \color{red}{\Leftarrow}&amp;\sqrt{a}=\sqrt{b}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,IMPLIEDCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[a^2=b^2,a=b]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;a^2=b^2&amp; \cr \color{red}{\Leftarrow}&amp;a=b&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,IMPLIEDCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[a^2=b^2,a=b or a=-b]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;a^2=b^2&amp; \cr \color{green}{\Leftrightarrow}&amp;a=b\,{\mbox{ or }}\, a=-b&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[a^2=b^2,a= #pm#b,a= b or a=-b]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;a^2=b^2&amp; \cr \color{green}{\Leftrightarrow}&amp;a= \pm b&amp; \cr \color{green}{\Leftrightarrow}&amp;a=b\,{\mbox{ or }}\, a=-b&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[a=b,abs(a)=abs(b),a=b]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;a=b&amp; \cr \color{red}{\Rightarrow}&amp;\left| a\right| =\left| b\right| &amp; \cr \color{red}{\Leftarrow}&amp;a=b&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,IMPLIESCHAR,IMPLIEDCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[abs(a)=abs(b),a=b or a=-b]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\left| a\right| =\left| b\right| &amp; \cr \color{green}{\Leftrightarrow}&amp;a=b\,{\mbox{ or }}\, a=-b&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[abs(a)=abs(b),a^2=b^2]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\left| a\right| =\left| b\right| &amp; \cr \color{green}{\Leftrightarrow}&amp;a^2=b^2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^3=8,x=2]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^3=8&amp; \cr \color{red}{\Leftarrow}&amp;x=2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,IMPLIEDCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^3=8,x=2]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[assumereal]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll}\color{blue}{(\mathbb{R})}&amp;x^3=8&amp; \cr \color{green}{\Leftrightarrow}\, \color{blue}{(\mathbb{R})}&amp;x=2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[ASSUMEREALVARS, EQUIVCHARREAL]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[abs(x-1/2)+abs(x+1/2)=2,abs(x)=1]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\left| x-\frac{1}{2}\right| +\left| x+\frac{1}{2}\right| =2&amp; \cr \color{green}{\Leftrightarrow}&amp;\left| x\right| =1&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[a^2=9 and a&gt;0,a=3]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\left\{\begin{array}{l}a^2=9\cr a &gt; 0\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;a=3&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[T=2*pi*sqrt(L/g),T^2=4*pi^2*L/g,g=4*pi^2*L/T^2]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[assumepos]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll}\color{blue}{\mbox{Assume +ve vars}}&amp;T=2\cdot \pi\cdot \sqrt{\frac{L}{g}}&amp; \cr \color{green}{\Leftrightarrow}&amp;T^2=\frac{4\cdot \pi^2\cdot L}{g}&amp; \cr \color{green}{\Leftrightarrow}&amp;g=\frac{4\cdot \pi^2\cdot L}{T^2}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[ASSUMEPOSVARS, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[a=b,a^2=b^2]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[assumepos]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll}\color{blue}{\mbox{Assume +ve vars}}&amp;a=b&amp; \cr \color{green}{\Leftrightarrow}&amp;a^2=b^2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[ASSUMEPOSVARS, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[a=b,sqrt(a)=sqrt(b)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[assumepos]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll}\color{blue}{\mbox{Assume +ve vars}}&amp;a=b&amp; \cr \color{green}{\Leftrightarrow}&amp;\sqrt{a}=\sqrt{b}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[ASSUMEPOSVARS, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[a^2=b^2,a=b]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[assumepos]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll}\color{blue}{\mbox{Assume +ve vars}}&amp;a^2=b^2&amp; \cr \color{green}{\Leftrightarrow}&amp;a=b&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[ASSUMEPOSVARS, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[a^2=b^2,a=b or a=-b]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[assumepos]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll}\color{blue}{\mbox{Assume +ve vars}}&amp;a^2=b^2&amp; \cr \color{green}{\Leftrightarrow}&amp;a=b\,{\mbox{ or }}\, a=-b&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[ASSUMEPOSVARS, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[a=b,abs(a)=abs(b)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[assumepos]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll}\color{blue}{\mbox{Assume +ve vars}}&amp;a=b&amp; \cr \color{green}{\Leftrightarrow}&amp;\left| a\right| =\left| b\right| &amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[ASSUMEPOSVARS, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[abs(a)=abs(b),a=b]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[assumepos]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll}\color{blue}{\mbox{Assume +ve vars}}&amp;\left| a\right| =\left| b\right| &amp; \cr \color{green}{\Leftrightarrow}&amp;a=b&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[ASSUMEPOSVARS, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[abs(a)=abs(b),a=-b]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[assumepos]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll}\color{blue}{\mbox{Assume +ve vars}}&amp;\left| a\right| =\left| b\right| &amp; \cr \color{green}{\Leftrightarrow}&amp;a=-b&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[ASSUMEPOSVARS, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[abs(a)=abs(b),a=b or a=-b]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[assumepos]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll}\color{blue}{\mbox{Assume +ve vars}}&amp;\left| a\right| =\left| b\right| &amp; \cr \color{green}{\Leftrightarrow}&amp;a=b\,{\mbox{ or }}\, a=-b&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[ASSUMEPOSVARS, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x=abs(-2),x=2]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[assumepos]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll}\color{blue}{\mbox{Assume +ve vars}}&amp;x=\left| -2\right| &amp; \cr \color{green}{\Leftrightarrow}&amp;x=2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[ASSUMEPOSVARS, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[abs(a)=abs(b),a^2=b^2]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[assumepos]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll}\color{blue}{\mbox{Assume +ve vars}}&amp;\left| a\right| =\left| b\right| &amp; \cr \color{green}{\Leftrightarrow}&amp;a^2=b^2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[ASSUMEPOSVARS, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2=9,x=#pm#3,x=3 or x=-3,x=3]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[assumepos]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll}\color{blue}{\mbox{Assume +ve vars}}&amp;x^2=9&amp; \cr \color{green}{\Leftrightarrow}&amp;x= \pm 3&amp; \cr \color{green}{\Leftrightarrow}&amp;x=3\,{\mbox{ or }}\, x=-3&amp; \cr \color{green}{\Leftrightarrow}&amp;x=3&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[ASSUMEPOSVARS, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2=9,x=3]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[assumepos]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll}\color{blue}{\mbox{Assume +ve vars}}&amp;x^2=9&amp; \cr \color{green}{\Leftrightarrow}&amp;x=3&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[ASSUMEPOSVARS, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2=2,x=#pm#sqrt(2),x=sqrt(2) or x=-sqrt(2)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[assumepos]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll}\color{blue}{\mbox{Assume +ve vars}}&amp;x^2=2&amp; \cr \color{green}{\Leftrightarrow}&amp;x= \pm \sqrt{2}&amp; \cr \color{green}{\Leftrightarrow}&amp;x=\sqrt{2}\,{\mbox{ or }}\, x=-\sqrt{2}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[ASSUMEPOSVARS, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2=2,x=sqrt(2)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[assumepos]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll}\color{blue}{\mbox{Assume +ve vars}}&amp;x^2=2&amp; \cr \color{green}{\Leftrightarrow}&amp;x=\sqrt{2}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[ASSUMEPOSVARS, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2 = a^2-b,x = sqrt(a^2-b)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[assumepos]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll}\color{blue}{\mbox{Assume +ve vars}}&amp;x^2=a^2-b&amp; \cr \color{green}{\Leftrightarrow}&amp;x=\sqrt{a^2-b}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[ASSUMEPOSVARS, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[2*(x-3) = 4*x-3*(x+2),2*x-6=x-6,x=0]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;2\cdot \left(x-3\right)=4\cdot x-3\cdot \left(x+2\right)&amp; \cr \color{green}{\Leftrightarrow}&amp;2\cdot x-6=x-6&amp; \cr \color{green}{\Leftrightarrow}&amp;x=0&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[2*(x-3) = 5*x-3*(x+2),2*x-6=2*x-6,0=0,all]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;2\cdot \left(x-3\right)=5\cdot x-3\cdot \left(x+2\right)&amp; \cr \color{green}{\Leftrightarrow}&amp;2\cdot x-6=2\cdot x-6&amp; \cr \color{green}{\Leftrightarrow}&amp;0=0&amp; \cr \color{green}{\Leftrightarrow}&amp;\mathbb{R}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[2*(x-3) = 5*x-3*(x+1),2*x-6=2*x-3,0=3,{}]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;2\cdot \left(x-3\right)=5\cdot x-3\cdot \left(x+1\right)&amp; \cr \color{green}{\Leftrightarrow}&amp;2\cdot x-6=2\cdot x-3&amp; \cr \color{green}{\Leftrightarrow}&amp;0=3&amp; \cr \color{green}{\Leftrightarrow}&amp;\left \{ \right \}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[a^2=b^2,a^2-b^2=0,(a-b)*(a+b)=0,a=b or a=-b]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;a^2=b^2&amp; \cr \color{green}{\Leftrightarrow}&amp;a^2-b^2=0&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(a-b\right)\cdot \left(a+b\right)=0&amp; \cr \color{green}{\Leftrightarrow}&amp;a=b\,{\mbox{ or }}\, a=-b&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[a^3=b^3,a^3-b^3=0,(a-b)*(a^2+a*b+b^2)=0,(a-b)=0,a=b]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;a^3=b^3&amp; \cr \color{green}{\Leftrightarrow}&amp;a^3-b^3=0&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(a-b\right)\cdot \left(a^2+a\cdot b+b^2\right)=0&amp; \cr \color{red}{\Leftarrow}&amp;a-b=0&amp; \cr \color{green}{\Leftrightarrow}&amp;a=b&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR,IMPLIEDCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[a^3=b^3,a^3-b^3=0,(a-b)*(a^2+a*b+b^2)=0,(a-b)=0 or (a^2+a*b+b^2)=0, a=b or (a+(1+%i*sqrt(3))/2*b)*(a+(1-%i*sqrt(3))/2*b)=0, a=b or a=-(1+%i*sqrt(3))/2*b or a=-(1-%i*sqrt(3))/2*b]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;a^3=b^3&amp; \cr \color{green}{\Leftrightarrow}&amp;a^3-b^3=0&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(a-b\right)\cdot \left(a^2+a\cdot b+b^2\right)=0&amp; \cr \color{green}{\Leftrightarrow}&amp;a-b=0\,{\mbox{ or }}\, a^2+a\cdot b+b^2=0&amp; \cr \color{green}{\Leftrightarrow}&amp;a=b\,{\mbox{ or }}\, \left(a+\frac{1+\mathrm{i}\cdot \sqrt{3}}{2}\cdot b\right)\cdot \left(a+\frac{1-\mathrm{i}\cdot \sqrt{3}}{2}\cdot b\right)=0&amp; \cr \color{green}{\Leftrightarrow}&amp;a=b\,{\mbox{ or }}\, a=\frac{-\left(1+\mathrm{i}\cdot \sqrt{3}\right)}{2}\cdot b\,{\mbox{ or }}\, a=\frac{-\left(1-\mathrm{i}\cdot \sqrt{3}\right)}{2}\cdot b&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2-x=30,x^2-x-30=0,(x-6)*(x+5)=0,x-6=0 or x+5=0,x=6 or x=-5]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2-x=30&amp; \cr \color{green}{\Leftrightarrow}&amp;x^2-x-30=0&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(x-6\right)\cdot \left(x+5\right)=0&amp; \cr \color{green}{\Leftrightarrow}&amp;x-6=0\,{\mbox{ or }}\, x+5=0&amp; \cr \color{green}{\Leftrightarrow}&amp;x=6\,{\mbox{ or }}\, x=-5&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2=2,x^2-2=0,(x-sqrt(2))*(x+sqrt(2))=0,x=sqrt(2) or x=-sqrt(2)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2=2&amp; \cr \color{green}{\Leftrightarrow}&amp;x^2-2=0&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(x-\sqrt{2}\right)\cdot \left(x+\sqrt{2}\right)=0&amp; \cr \color{green}{\Leftrightarrow}&amp;x=\sqrt{2}\,{\mbox{ or }}\, x=-\sqrt{2}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2=2,x=#pm#sqrt(2),x=sqrt(2) or x=-sqrt(2)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2=2&amp; \cr \color{green}{\Leftrightarrow}&amp;x= \pm \sqrt{2}&amp; \cr \color{green}{\Leftrightarrow}&amp;x=\sqrt{2}\,{\mbox{ or }}\, x=-\sqrt{2}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[(2*x-7)^2=(x+1)^2,(2*x-7)^2 -(x+1)^2=0,(2*x-7+x+1)*(2*x-7-x-1)=0,(3*x-6)*(x-8)=0,x=2 or x=8]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;{\left(2\cdot x-7\right)}^2={\left(x+1\right)}^2&amp; \cr \color{green}{\Leftrightarrow}&amp;{\left(2\cdot x-7\right)}^2-{\left(x+1\right)}^2=0&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(2\cdot x-7+x+1\right)\cdot \left(2\cdot x-7-x-1\right)=0&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(3\cdot x-6\right)\cdot \left(x-8\right)=0&amp; \cr \color{green}{\Leftrightarrow}&amp;x=2\,{\mbox{ or }}\, x=8&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2-6*x=-9,(x-3)^2=0,x-3=0,x=3]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2-6\cdot x=-9&amp; \cr \color{green}{\Leftrightarrow}&amp;{\left(x-3\right)}^2=0&amp; \cr \color{green}{\mbox{(Same roots)}}&amp;x-3=0&amp; \cr \color{green}{\Leftrightarrow}&amp;x=3&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR,SAMEROOTS, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[(2*x-7)^2=(x+1)^2,sqrt((2*x-7)^2)=sqrt((x+1)^2),2*x-7=x+1,x=8]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;{\left(2\cdot x-7\right)}^2={\left(x+1\right)}^2&amp; \cr \color{green}{\Leftrightarrow}&amp;\sqrt{{\left(2\cdot x-7\right)}^2}=\sqrt{{\left(x+1\right)}^2}&amp; \cr \color{red}{\Leftarrow}&amp;2\cdot x-7=x+1&amp; \cr \color{green}{\Leftrightarrow}&amp;x=8&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR,IMPLIEDCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2-10*x+9 = 0, (x-5)^2-16 = 0, (x-5)^2 =16, x-5 =#pm#4, x-5 =4 or x-5=-4, x = 1 or x = 9]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2-10\cdot x+9=0&amp; \cr \color{green}{\Leftrightarrow}&amp;{\left(x-5\right)}^2-16=0&amp; \cr \color{green}{\Leftrightarrow}&amp;{\left(x-5\right)}^2=16&amp; \cr \color{green}{\Leftrightarrow}&amp;x-5= \pm 4&amp; \cr \color{green}{\Leftrightarrow}&amp;x-5=4\,{\mbox{ or }}\, x-5=-4&amp; \cr \color{green}{\Leftrightarrow}&amp;x=1\,{\mbox{ or }}\, x=9&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2-2*p*x-q=0,x^2-2*p*x=q,x^2-2*p*x+p^2=q+p^2,(x-p)^2=q+p^2,x-p=#pm#sqrt(q+p^2),x-p=sqrt(q+p^2) or x-p=-sqrt(q+p^2),x=p+sqrt(q+p^2) or x=p-sqrt(q+p^2)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2-2\cdot p\cdot x-q=0&amp; \cr \color{green}{\Leftrightarrow}&amp;x^2-2\cdot p\cdot x=q&amp; \cr \color{green}{\Leftrightarrow}&amp;x^2-2\cdot p\cdot x+p^2=q+p^2&amp; \cr \color{green}{\Leftrightarrow}&amp;{\left(x-p\right)}^2=q+p^2&amp; \cr \color{green}{\Leftrightarrow}&amp;x-p= \pm \sqrt{q+p^2}&amp; \cr \color{green}{\Leftrightarrow}&amp;x-p=\sqrt{q+p^2}\,{\mbox{ or }}\, x-p=-\sqrt{q+p^2}&amp; \cr \color{green}{\Leftrightarrow}&amp;x=p+\sqrt{q+p^2}\,{\mbox{ or }}\, x=p-\sqrt{q+p^2}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2-10*x+7=0,(x-5)^2-18=0,(x-5)^2=sqrt(18)^2,(x-5)^2-sqrt(18)^2=0,(x-5-sqrt(18))*(x-5+sqrt(18))=0,x=5-sqrt(18) or x=5+sqrt(18)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2-10\cdot x+7=0&amp; \cr \color{green}{\Leftrightarrow}&amp;{\left(x-5\right)}^2-18=0&amp; \cr \color{green}{\Leftrightarrow}&amp;{\left(x-5\right)}^2={\sqrt{18}}^2&amp; \cr \color{green}{\Leftrightarrow}&amp;{\left(x-5\right)}^2-{\sqrt{18}}^2=0&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(x-5-\sqrt{18}\right)\cdot \left(x-5+\sqrt{18}\right)=0&amp; \cr \color{green}{\Leftrightarrow}&amp;x=5-\sqrt{18}\,{\mbox{ or }}\, x=5+\sqrt{18}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2+2*a*x = 0, x*(x+2*a)=0, (x+a-a)*(x+a+a)=0, (x+a)^2-a^2=0]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2+2\cdot a\cdot x=0&amp; \cr \color{green}{\Leftrightarrow}&amp;x\cdot \left(x+2\cdot a\right)=0&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(x+a-a\right)\cdot \left(x+a+a\right)=0&amp; \cr \color{green}{\Leftrightarrow}&amp;{\left(x+a\right)}^2-a^2=0&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^3-1=0,(x-1)*(x^2+x+1)=0,x=1]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^3-1=0&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(x-1\right)\cdot \left(x^2+x+1\right)=0&amp; \cr \color{red}{\Leftarrow}&amp;x=1&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR,IMPLIEDCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^3-1=0,(x-1)*(x^2+x+1)=0,x=1 or x^2+x+1=0,x=1 or x = -(sqrt(3)*%i+1)/2 or x=(sqrt(3)*%i-1)/2]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^3-1=0&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(x-1\right)\cdot \left(x^2+x+1\right)=0&amp; \cr \color{green}{\Leftrightarrow}&amp;x=1\,{\mbox{ or }}\, x^2+x+1=0&amp; \cr \color{green}{\Leftrightarrow}&amp;x=1\,{\mbox{ or }}\, x=\frac{-\left(\sqrt{3}\cdot \mathrm{i}+1\right)}{2}\,{\mbox{ or }}\, x=\frac{\sqrt{3}\cdot \mathrm{i}-1}{2}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[a*x^2+b*x+c=0 or a=0,a^2*x^2+a*b*x+a*c=0,(a*x)^2+b*(a*x)+a*c=0, (a*x)^2+b*(a*x)+b^2/4-b^2/4+a*c=0,(a*x+b/2)^2-b^2/4+a*c=0,(a*x+b/2)^2=b^2/4-a*c, a*x+b/2= #pm#sqrt(b^2/4-a*c),a*x=-b/2+sqrt(b^2/4-a*c) or a*x=-b/2-sqrt(b^2/4-a*c), (a=0 or x=(-b+sqrt(b^2-4*a*c))/(2*a)) or (a=0 or x=(-b-sqrt(b^2-4*a*c))/(2*a)), a^2=0 or x=(-b+sqrt(b^2-4*a*c))/(2*a) or x=(-b-sqrt(b^2-4*a*c))/(2*a)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;a\cdot x^2+b\cdot x+c=0\,{\mbox{ or }}\, a=0&amp; \cr \color{green}{\Leftrightarrow}&amp;a^2\cdot x^2+a\cdot b\cdot x+a\cdot c=0&amp; \cr \color{green}{\Leftrightarrow}&amp;{\left(a\cdot x\right)}^2+b\cdot \left(a\cdot x\right)+a\cdot c=0&amp; \cr \color{green}{\Leftrightarrow}&amp;{\left(a\cdot x\right)}^2+b\cdot \left(a\cdot x\right)+\frac{b^2}{4}-\frac{b^2}{4}+a\cdot c=0&amp; \cr \color{green}{\Leftrightarrow}&amp;{\left(a\cdot x+\frac{b}{2}\right)}^2-\frac{b^2}{4}+a\cdot c=0&amp; \cr \color{green}{\Leftrightarrow}&amp;{\left(a\cdot x+\frac{b}{2}\right)}^2=\frac{b^2}{4}-a\cdot c&amp; \cr \color{green}{\Leftrightarrow}&amp;a\cdot x+\frac{b}{2}= \pm \sqrt{\frac{b^2}{4}-a\cdot c}&amp; \cr \color{green}{\Leftrightarrow}&amp;a\cdot x=-\frac{b}{2}+\sqrt{\frac{b^2}{4}-a\cdot c}\,{\mbox{ or }}\, a\cdot x=-\frac{b}{2}-\sqrt{\frac{b^2}{4}-a\cdot c}&amp; \cr \color{green}{\Leftrightarrow}&amp;a=0\,{\mbox{ or }}\, x=\frac{-b+\sqrt{b^2-4\cdot a\cdot c}}{2\cdot a}\,{\mbox{ or }}\, \left(a=0\,{\mbox{ or }}\, x=\frac{-b-\sqrt{b^2-4\cdot a\cdot c}}{2\cdot a}\right)&amp; \cr \color{green}{\Leftrightarrow}&amp;a^2=0\,{\mbox{ or }}\, x=\frac{-b+\sqrt{b^2-4\cdot a\cdot c}}{2\cdot a}\,{\mbox{ or }}\, x=\frac{-b-\sqrt{b^2-4\cdot a\cdot c}}{2\cdot a}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[a*x^2+b*x=-c,4*a^2*x^2+4*a*b*x+b^2=b^2-4*a*c,(2*a*x+b)^2=b^2-4*a*c,2*a*x+b=#pm#sqrt(b^2-4*a*c),2*a*x=-b#pm#sqrt(b^2-4*a*c),x=(-b#pm#sqrt(b^2-4*a*c))/(2*a)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;a\cdot x^2+b\cdot x=-c&amp; \cr \color{red}{\Rightarrow}&amp;4\cdot a^2\cdot x^2+4\cdot a\cdot b\cdot x+b^2=b^2-4\cdot a\cdot c&amp; \cr \color{green}{\Leftrightarrow}&amp;{\left(2\cdot a\cdot x+b\right)}^2=b^2-4\cdot a\cdot c&amp; \cr \color{green}{\Leftrightarrow}&amp;2\cdot a\cdot x+b= \pm \sqrt{b^2-4\cdot a\cdot c}&amp; \cr \color{green}{\Leftrightarrow}&amp;2\cdot a\cdot x={-b \pm \sqrt{b^2-4\cdot a\cdot c}}&amp; \cr \color{red}{?}&amp;x=\frac{{-b \pm \sqrt{b^2-4\cdot a\cdot c}}}{2\cdot a}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,IMPLIESCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR,QMCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[a*x^2+b*x=-c or a=0,4*a^2*x^2+4*a*b*x+b^2=b^2-4*a*c,(2*a*x+b)^2=b^2-4*a*c,2*a*x+b=#pm#sqrt(b^2-4*a*c),2*a*x=-b#pm#sqrt(b^2-4*a*c),x=(-b#pm#sqrt(b^2-4*a*c))/(2*a) or a=0]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;a\cdot x^2+b\cdot x=-c\,{\mbox{ or }}\, a=0&amp; \cr \color{green}{\Leftrightarrow}&amp;4\cdot a^2\cdot x^2+4\cdot a\cdot b\cdot x+b^2=b^2-4\cdot a\cdot c&amp; \cr \color{green}{\Leftrightarrow}&amp;{\left(2\cdot a\cdot x+b\right)}^2=b^2-4\cdot a\cdot c&amp; \cr \color{green}{\Leftrightarrow}&amp;2\cdot a\cdot x+b= \pm \sqrt{b^2-4\cdot a\cdot c}&amp; \cr \color{green}{\Leftrightarrow}&amp;2\cdot a\cdot x={-b \pm \sqrt{b^2-4\cdot a\cdot c}}&amp; \cr \color{green}{\Leftrightarrow}&amp;x=\frac{{-b \pm \sqrt{b^2-4\cdot a\cdot c}}}{2\cdot a}\,{\mbox{ or }}\, a=0&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[sqrt(3*x+4) = 2+sqrt(x+2), 3*x+4=4+4*sqrt(x+2)+(x+2),x-1=2*sqrt(x+2),x^2-2*x+1 = 4*x+8,x^2-6*x-7 = 0,(x-7)*(x+1) = 0,x=7 or x=-1]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\sqrt{3\cdot x+4}=2+\sqrt{x+2}&amp;{\color{blue}{{x \in {\left[ -\frac{4}{3},\, \infty \right)}}}}\cr \color{red}{\Rightarrow}&amp;3\cdot x+4=4+4\cdot \sqrt{x+2}+\left(x+2\right)&amp;{\color{blue}{{x \in {\left[ -2,\, \infty \right)}}}}\cr \color{green}{\Leftrightarrow}&amp;x-1=2\cdot \sqrt{x+2}&amp;{\color{blue}{{x \in {\left[ -2,\, \infty \right)}}}}\cr \color{red}{\Rightarrow}&amp;x^2-2\cdot x+1=4\cdot x+8&amp; \cr \color{green}{\Leftrightarrow}&amp;x^2-6\cdot x-7=0&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(x-7\right)\cdot \left(x+1\right)=0&amp; \cr \color{green}{\Leftrightarrow}&amp;x=7\,{\mbox{ or }}\, x=-1&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,IMPLIESCHAR, EQUIVCHAR,IMPLIESCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[sqrt(3*x+4) = 2+sqrt(x+2), 3*x+4=4+4*sqrt(x+2)+(x+2),x-1=2*sqrt(x+2),x^2-2*x+1 = 4*x+8,x^2-6*x-7 = 0,(x-7)*(x+1) = 0,x=7 or x=-1,x=7]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[assumepos]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll}\color{blue}{\mbox{Assume +ve vars}}&amp;\sqrt{3\cdot x+4}=2+\sqrt{x+2}&amp;{\color{blue}{{x \in {\left[ 0,\, \infty \right)}}}}\cr \color{green}{\Leftrightarrow}&amp;3\cdot x+4=4+4\cdot \sqrt{x+2}+\left(x+2\right)&amp;{\color{blue}{{x \in {\left[ 0,\, \infty \right)}}}}\cr \color{green}{\Leftrightarrow}&amp;x-1=2\cdot \sqrt{x+2}&amp;{\color{blue}{{x \in {\left[ 0,\, \infty \right)}}}}\cr \color{green}{\Leftrightarrow}&amp;x^2-2\cdot x+1=4\cdot x+8&amp; \cr \color{green}{\Leftrightarrow}&amp;x^2-6\cdot x-7=0&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(x-7\right)\cdot \left(x+1\right)=0&amp; \cr \color{green}{\Leftrightarrow}&amp;x=7\,{\mbox{ or }}\, x=-1&amp; \cr \color{green}{\Leftrightarrow}&amp;x=7&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[ASSUMEPOSVARS, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x*(x-1)*(x-2)=0,x*(x-1)=0,x*(x-1)*(x-2)=0,x*(x^2-2)=0]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x\cdot \left(x-1\right)\cdot \left(x-2\right)=0&amp; \cr \color{red}{\Leftarrow}&amp;x\cdot \left(x-1\right)=0&amp; \cr \color{red}{\Rightarrow}&amp;x\cdot \left(x-1\right)\cdot \left(x-2\right)=0&amp; \cr \color{red}{?}&amp;x\cdot \left(x^2-2\right)=0&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,IMPLIEDCHAR,IMPLIESCHAR,QMCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2-6*x=-9,x=3]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2-6\cdot x=-9&amp; \cr \color{green}{\mbox{(Same roots)}}&amp;x=3&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,SAMEROOTS]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x=1 nounor x=-2 nounor x=1,x^3-3*x=-2,x=1 nounor x=-2]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x=1\,{\mbox{ or }}\, x=-2\,{\mbox{ or }}\, x=1&amp; \cr \color{green}{\Leftrightarrow}&amp;x^3-3\cdot x=-2&amp; \cr \color{green}{\mbox{(Same roots)}}&amp;x=1\,{\mbox{ or }}\, x=-2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR,SAMEROOTS]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[9*x^3-24*x^2+13*x=2,x=1/3 nounor x=2]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;9\cdot x^3-24\cdot x^2+13\cdot x=2&amp; \cr \color{green}{\mbox{(Same roots)}}&amp;x=\frac{1}{3}\,{\mbox{ or }}\, x=2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,SAMEROOTS]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[(x-2)^43*(x+1/3)^60=0,(3*x+1)^4*(x-2)^2=0,x=-1/3 nounor x=2]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;{\left(x-2\right)}^{43}\cdot {\left(x+\frac{1}{3}\right)}^{60}=0&amp; \cr \color{green}{\mbox{(Same roots)}}&amp;{\left(3\cdot x+1\right)}^4\cdot {\left(x-2\right)}^2=0&amp; \cr \color{green}{\mbox{(Same roots)}}&amp;x=\frac{-1}{3}\,{\mbox{ or }}\, x=2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,SAMEROOTS,SAMEROOTS]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[2^x=4,x*log(2)=log(4),x=log(2^2)/log(2),x=2*log(2)/log(2),x=2]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;2^{x}=4&amp; \cr \color{green}{\Leftrightarrow}&amp;x\cdot \ln \left( 2 \right)=\ln \left( 4 \right)&amp; \cr \color{green}{\Leftrightarrow}&amp;x=\frac{\ln \left( 2^2 \right)}{\ln \left( 2 \right)}&amp; \cr \color{green}{\Leftrightarrow}&amp;x=\frac{2\cdot \ln \left( 2 \right)}{\ln \left( 2 \right)}&amp; \cr \color{green}{\Leftrightarrow}&amp;x=2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^log(y),stackeq(e^(log(x)*log(y))),stackeq(e^(log(y)*log(x))),stackeq(y^log(x))]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^{\ln \left( y \right)}&amp; \cr \color{green}{\checkmark}&amp;=e^{\ln \left( x \right)\cdot \ln \left( y \right)}&amp; \cr \color{green}{\checkmark}&amp;=e^{\ln \left( y \right)\cdot \ln \left( x \right)}&amp; \cr \color{green}{\checkmark}&amp;=y^{\ln \left( x \right)}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, CHECKMARK, CHECKMARK, CHECKMARK]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[lg(x+17,3)-2=lg(2*x,3),lg(x+17,3)-lg(2*x,3)=2,lg((x+17)/(2*x),3)=2,(x+17)/(2*x)=3^2,(x+17)=18*x,17*x=17,x=1]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\log_{3}\left(x+17\right)-2=\log_{3}\left(2\cdot x\right)&amp;{\color{blue}{{x \in {\left( 0,\, \infty \right)}}}}\cr \color{green}{\Leftrightarrow}&amp;\log_{3}\left(x+17\right)-\log_{3}\left(2\cdot x\right)=2&amp;{\color{blue}{{x \in {\left( 0,\, \infty \right)}}}}\cr \color{green}{\Leftrightarrow}&amp;\log_{3}\left(\frac{x+17}{2\cdot x}\right)=2&amp; \cr \color{green}{\log(?)}&amp;\frac{x+17}{2\cdot x}=3^2&amp;{\color{blue}{{x \not\in {\left \{0 \right \}}}}}\cr \color{green}{\Leftrightarrow}&amp;x+17=18\cdot x&amp; \cr \color{green}{\Leftrightarrow}&amp;17\cdot x=17&amp; \cr \color{green}{\Leftrightarrow}&amp;x=1&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR,EQUIVLOG, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x=(1+y/n)^n,x^(1/n)=(1+y/n),y/n=x^(1/n)-1,y=n*(x^(1/n)-1)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x={\left(1+\frac{y}{n}\right)}^{n}&amp; \cr \color{red}{?}&amp;x^{\frac{1}{n}}=1+\frac{y}{n}&amp; \cr \color{green}{\Leftrightarrow}&amp;\frac{y}{n}=x^{\frac{1}{n}}-1&amp; \cr \color{green}{\Leftrightarrow}&amp;y=n\cdot \left(x^{\frac{1}{n}}-1\right)&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,QMCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[a^3=b^3,a^3-b^3=0,(a-b)*(a^2+a*b+b^2)=0,(a-b)=0,a=b]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[assumereal]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll}\color{blue}{(\mathbb{R})}&amp;a^3=b^3&amp; \cr \color{green}{\Leftrightarrow}&amp;a^3-b^3=0&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(a-b\right)\cdot \left(a^2+a\cdot b+b^2\right)=0&amp; \cr \color{red}{\Leftarrow}&amp;a-b=0&amp; \cr \color{green}{\Leftrightarrow}&amp;a=b&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[ASSUMEREALVARS, EQUIVCHAR, EQUIVCHAR,IMPLIEDCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^3-1=0,(x-1)*(x^2+x+1)=0,x=1]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[assumereal]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll}\color{blue}{(\mathbb{R})}&amp;x^3-1=0&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(x-1\right)\cdot \left(x^2+x+1\right)=0&amp; \cr \color{green}{\Leftrightarrow}\, \color{blue}{(\mathbb{R})}&amp;x=1&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[ASSUMEREALVARS, EQUIVCHAR, EQUIVCHARREAL]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^4=2,x^4-2=0,(x^2-sqrt(2))*(x^2+sqrt(2))=0,x^2=sqrt(2),x=#pm# 2^(1/4)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[assumereal]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll}\color{blue}{(\mathbb{R})}&amp;x^4=2&amp; \cr \color{green}{\Leftrightarrow}&amp;x^4-2=0&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(x^2-\sqrt{2}\right)\cdot \left(x^2+\sqrt{2}\right)=0&amp; \cr \color{green}{\Leftrightarrow}\, \color{blue}{(\mathbb{R})}&amp;x^2=\sqrt{2}&amp; \cr \color{green}{\Leftrightarrow}&amp;x= \pm 2^{\frac{1}{4}}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[ASSUMEREALVARS, EQUIVCHAR, EQUIVCHAR, EQUIVCHARREAL, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[6*x-12=3*(x-2),6*x-12+3*(x-2)=0,9*x-18=0,x=2]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;6\cdot x-12=3\cdot \left(x-2\right)&amp; \cr \color{green}{\Leftrightarrow}&amp;6\cdot x-12+3\cdot \left(x-2\right)=0&amp; \cr \color{green}{\Leftrightarrow}&amp;9\cdot x-18=0&amp; \cr \color{green}{\Leftrightarrow}&amp;x=2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2-6*x+9=0,x^2-6*x=-9,x*(x-6)=3*-3,x=3 or x-6=-3,x=3]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2-6\cdot x+9=0&amp; \cr \color{green}{\Leftrightarrow}&amp;x^2-6\cdot x=-9&amp; \cr \color{green}{\Leftrightarrow}&amp;x\cdot \left(x-6\right)=3\cdot \left(-3\right)&amp; \cr \color{green}{\Leftrightarrow}&amp;x=3\,{\mbox{ or }}\, x-6=-3&amp; \cr \color{green}{\mbox{(Same roots)}}&amp;x=3&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR,SAMEROOTS]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[(x+3)*(2-x)=4,x+3=4 or (2-x)=4,x=1 or x=-2]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\left(x+3\right)\cdot \left(2-x\right)=4&amp; \cr \color{green}{\Leftrightarrow}&amp;x+3=4\,{\mbox{ or }}\, 2-x=4&amp; \cr \color{green}{\Leftrightarrow}&amp;x=1\,{\mbox{ or }}\, x=-2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[(x-p)*(x-q)=0,x^2-p*x-q*x+p*q=0,1+q-x-p-p*q+p*x+x+q*x-x^2=1-p+q,(1+q-x)*(1-p+x)=1-p+q,(1+q-x)=1-p+q or (1-p+x)=1-p+q,x=p or x=q]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\left(x-p\right)\cdot \left(x-q\right)=0&amp; \cr \color{green}{\Leftrightarrow}&amp;x^2-p\cdot x+\left(-q\right)\cdot x+p\cdot q=0&amp; \cr \color{green}{\Leftrightarrow}&amp;1+q-x-p+\left(-p\right)\cdot q+p\cdot x+x+q\cdot x-x^2=1-p+q&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(1+q-x\right)\cdot \left(1-p+x\right)=1-p+q&amp; \cr \color{green}{\Leftrightarrow}&amp;1+q-x=1-p+q\,{\mbox{ or }}\, 1-p+x=1-p+q&amp; \cr \color{green}{\Leftrightarrow}&amp;x=p\,{\mbox{ or }}\, x=q&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[a=b, a^2=a*b, a^2-b^2=a*b-b^2, (a-b)*(a+b)=b*(a-b), a+b=b, 2*a=a, 1=2]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;a=b&amp; \cr \color{red}{\Rightarrow}&amp;a^2=a\cdot b&amp; \cr \color{green}{\Leftrightarrow}&amp;a^2-b^2=a\cdot b-b^2&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(a-b\right)\cdot \left(a+b\right)=b\cdot \left(a-b\right)&amp; \cr \color{red}{\Leftarrow}&amp;a+b=b&amp; \cr \color{green}{\Leftrightarrow}&amp;2\cdot a=a&amp; \cr \color{red}{\Leftarrow}&amp;1=2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,IMPLIESCHAR, EQUIVCHAR, EQUIVCHAR,IMPLIEDCHAR, EQUIVCHAR,IMPLIEDCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[a=b or a=0, a^2=a*b, a^2-b^2=a*b-b^2, (a-b)*(a+b)=b*(a-b), a+b=b or a-b=0, 2*a=a or a=b, 2=1 or a=0 or a=b, a=0 or a=b]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;a=b\,{\mbox{ or }}\, a=0&amp; \cr \color{green}{\Leftrightarrow}&amp;a^2=a\cdot b&amp; \cr \color{green}{\Leftrightarrow}&amp;a^2-b^2=a\cdot b-b^2&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(a-b\right)\cdot \left(a+b\right)=b\cdot \left(a-b\right)&amp; \cr \color{green}{\Leftrightarrow}&amp;a+b=b\,{\mbox{ or }}\, a-b=0&amp; \cr \color{green}{\Leftrightarrow}&amp;2\cdot a=a\,{\mbox{ or }}\, a=b&amp; \cr \color{green}{\Leftrightarrow}&amp;2=1\,{\mbox{ or }}\, a=0\,{\mbox{ or }}\, a=b&amp; \cr \color{green}{\Leftrightarrow}&amp;a=0\,{\mbox{ or }}\, a=b&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[(x^2-4)/(x-2)=0,(x-2)*(x+2)/(x-2)=0,x+2=0,x=-2]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\frac{x^2-4}{x-2}=0&amp;{\color{blue}{{x \not\in {\left \{2 \right \}}}}}\cr \color{green}{\Leftrightarrow}&amp;\frac{\left(x-2\right)\cdot \left(x+2\right)}{x-2}=0&amp; \cr \color{green}{\Leftrightarrow}&amp;x+2=0&amp; \cr \color{green}{\Leftrightarrow}&amp;x=-2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[(x^2-4)/(x-2)=0,(x^2-4)=0,(x-2)*(x+2)=0,x=-2 or x=2]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\frac{x^2-4}{x-2}=0&amp;{\color{blue}{{x \not\in {\left \{2 \right \}}}}}\cr \color{red}{\Rightarrow}&amp;x^2-4=0&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(x-2\right)\cdot \left(x+2\right)=0&amp; \cr \color{green}{\Leftrightarrow}&amp;x=-2\,{\mbox{ or }}\, x=2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,IMPLIESCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[5*x/(2*x+1)-3/(x+1) = 1,5*x*(x+1)-3*(2*x+1)=(x+1)*(2*x+1),5*x^2+5*x-6*x-3=2*x^2+3*x+1,3*x^2-4*x-4=0,(x-2)*(3*x+2)=0,x=2 or x=-2/3]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\frac{5\cdot x}{2\cdot x+1}-\frac{3}{x+1}=1&amp;{\color{blue}{{x \not\in {\left \{-1 , -\frac{1}{2} \right \}}}}}\cr \color{green}{\Leftrightarrow}&amp;5\cdot x\cdot \left(x+1\right)-3\cdot \left(2\cdot x+1\right)=\left(x+1\right)\cdot \left(2\cdot x+1\right)&amp; \cr \color{green}{\Leftrightarrow}&amp;5\cdot x^2+5\cdot x-6\cdot x-3=2\cdot x^2+3\cdot x+1&amp; \cr \color{green}{\Leftrightarrow}&amp;3\cdot x^2-4\cdot x-4=0&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(x-2\right)\cdot \left(3\cdot x+2\right)=0&amp; \cr \color{green}{\Leftrightarrow}&amp;x=2\,{\mbox{ or }}\, x=\frac{-2}{3}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[(x+10)/(x-6)-5= (4*x-40)/(13-x),(x+10-5*(x-6))/(x-6)= (4*x-40)/(13-x), (4*x-40)/(6-x)= (4*x-40)/(13-x),6-x= 13-x,6= 13]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\frac{x+10}{x-6}-5=\frac{4\cdot x-40}{13-x}&amp;{\color{blue}{{x \not\in {\left \{6 , 13 \right \}}}}}\cr \color{green}{\Leftrightarrow}&amp;\frac{x+10-5\cdot \left(x-6\right)}{x-6}=\frac{4\cdot x-40}{13-x}&amp;{\color{blue}{{x \not\in {\left \{6 , 13 \right \}}}}}\cr \color{green}{\Leftrightarrow}&amp;\frac{4\cdot x-40}{6-x}=\frac{4\cdot x-40}{13-x}&amp;{\color{blue}{{x \not\in {\left \{6 , 13 \right \}}}}}\cr \color{red}{?}&amp;6-x=13-x&amp; \cr \color{green}{\Leftrightarrow}&amp;6=13&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR,QMCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[(x+5)/(x-7)-5= (4*x-40)/(13-x),(x+5-5*(x-7))/(x-7)= (4*x-40)/(13-x), (4*x-40)/(7-x)= (4*x-40)/(13-x),7-x= 13-x,7= 13]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\frac{x+5}{x-7}-5=\frac{4\cdot x-40}{13-x}&amp;{\color{blue}{{x \not\in {\left \{7 , 13 \right \}}}}}\cr \color{green}{\Leftrightarrow}&amp;\frac{x+5-5\cdot \left(x-7\right)}{x-7}=\frac{4\cdot x-40}{13-x}&amp;{\color{blue}{{x \not\in {\left \{7 , 13 \right \}}}}}\cr \color{green}{\Leftrightarrow}&amp;\frac{4\cdot x-40}{7-x}=\frac{4\cdot x-40}{13-x}&amp;{\color{blue}{{x \not\in {\left \{7 , 13 \right \}}}}}\cr \color{red}{\Leftarrow}&amp;7-x=13-x&amp; \cr \color{green}{\Leftrightarrow}&amp;7=13&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR,IMPLIEDCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[(x+5)/(x-7)-5= (4*x-40)/(13-x),(x+5-5*(x-7))/(x-7)= (4*x-40)/(13-x), (4*x-40)/(7-x)= (4*x-40)/(13-x),7-x= 13-x or 4*x-40=0,7= 13 or 4*x=40,x=10]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\frac{x+5}{x-7}-5=\frac{4\cdot x-40}{13-x}&amp;{\color{blue}{{x \not\in {\left \{7 , 13 \right \}}}}}\cr \color{green}{\Leftrightarrow}&amp;\frac{x+5-5\cdot \left(x-7\right)}{x-7}=\frac{4\cdot x-40}{13-x}&amp;{\color{blue}{{x \not\in {\left \{7 , 13 \right \}}}}}\cr \color{green}{\Leftrightarrow}&amp;\frac{4\cdot x-40}{7-x}=\frac{4\cdot x-40}{13-x}&amp;{\color{blue}{{x \not\in {\left \{7 , 13 \right \}}}}}\cr \color{green}{\Leftrightarrow}&amp;7-x=13-x\,{\mbox{ or }}\, 4\cdot x-40=0&amp; \cr \color{green}{\Leftrightarrow}&amp;7=13\,{\mbox{ or }}\, 4\cdot x=40&amp; \cr \color{green}{\Leftrightarrow}&amp;x=10&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[a*x^2+b*x+c=0,a=0 nounand b=0 nounand c=0,a*x^2+b*x+c=0]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;a\cdot x^2+b\cdot x+c=0&amp; \cr \color{green}{\equiv (\cdots ? x)}&amp;\left\{\begin{array}{l}a=0\cr b=0\cr c=0\cr \end{array}\right.&amp; \cr \color{green}{(\cdots ? x)\equiv}&amp;a\cdot x^2+b\cdot x+c=0&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,EQUATECOEFFLOSS(x),EQUATECOEFFGAIN(x)]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[a*x^2+b*x+c=A*x^2+B*x+C,a=A nounand b=B nounand c=C,a*x^2+b*x+c=A*x^2+B*x+C]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;a\cdot x^2+b\cdot x+c=A\cdot x^2+B\cdot x+C&amp; \cr \color{green}{\equiv (\cdots ? x)}&amp;\left\{\begin{array}{l}a=A\cr b=B\cr c=C\cr \end{array}\right.&amp; \cr \color{green}{(\cdots ? x)\equiv}&amp;a\cdot x^2+b\cdot x+c=A\cdot x^2+B\cdot x+C&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,EQUATECOEFFLOSS(x),EQUATECOEFFGAIN(x)]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[(x-1)*(x+4), stackeq(x^2-x+4*x-4),stackeq(x^2+3*x-4)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\left(x-1\right)\cdot \left(x+4\right)&amp; \cr \color{green}{\checkmark}&amp;=x^2-x+4\cdot x-4&amp; \cr \color{green}{\checkmark}&amp;=x^2+3\cdot x-4&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, CHECKMARK, CHECKMARK]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[(x-1)*(x+4), stackeq(x^2-x+4*x-4),stackeq(x^2+3*x-4)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\left(x-1\right)\cdot \left(x+4\right)&amp; \cr \color{green}{\checkmark}&amp;=x^2-x+4\cdot x-4&amp; \cr \color{green}{\checkmark}&amp;=x^2+3\cdot x-4&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, CHECKMARK, CHECKMARK]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2-2,stackeq((x-sqrt(2))*(x+sqrt(2)))]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2-2&amp; \cr \color{green}{\checkmark}&amp;=\left(x-\sqrt{2}\right)\cdot \left(x+\sqrt{2}\right)&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, CHECKMARK]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2+4,stackeq((x-2*i)*(x+2*i))]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2+4&amp; \cr \color{green}{\checkmark}&amp;=\left(x-2\cdot \mathrm{i}\right)\cdot \left(x+2\cdot \mathrm{i}\right)&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, CHECKMARK]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2+2*a*x,x^2+2*a*x+a^2-a^2,(x+a)^2-a^2]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2+2\cdot a\cdot x&amp; \cr \color{green}{\Leftrightarrow}&amp;x^2+2\cdot a\cdot x+a^2-a^2&amp; \cr \color{green}{\Leftrightarrow}&amp;{\left(x+a\right)}^2-a^2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2+2*a*x,stackeq(x^2+2*a*x+a^2-a^2),stackeq((x+a)^2-a^2)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2+2\cdot a\cdot x&amp; \cr \color{green}{\checkmark}&amp;=x^2+2\cdot a\cdot x+a^2-a^2&amp; \cr \color{green}{\checkmark}&amp;={\left(x+a\right)}^2-a^2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, CHECKMARK, CHECKMARK]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[(y-z)/(y*z)+(z-x)/(z*x)+(x-y)/(x*y),(x*(y-z)+y*(z-x)+z*(x-y))/(x*y*z),0]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\frac{y-z}{y\cdot z}+\frac{z-x}{z\cdot x}+\frac{x-y}{x\cdot y}&amp; \cr \color{green}{\Leftrightarrow}&amp;\frac{x\cdot \left(y-z\right)+y\cdot \left(z-x\right)+z\cdot \left(x-y\right)}{x\cdot y\cdot z}&amp; \cr \color{green}{\Leftrightarrow}&amp;0&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[(y-z)/(y*z)+(z-x)/(z*x)+(x-y)/(x*y),stackeq((x*(y-z)+y*(z-x)+z*(x-y))/(x*y*z)),stackeq(0)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\frac{y-z}{y\cdot z}+\frac{z-x}{z\cdot x}+\frac{x-y}{x\cdot y}&amp; \cr \color{green}{\checkmark}&amp;=\frac{x\cdot \left(y-z\right)+y\cdot \left(z-x\right)+z\cdot \left(x-y\right)}{x\cdot y\cdot z}&amp; \cr \color{green}{\checkmark}&amp;=0&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, CHECKMARK, CHECKMARK]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[2*(a^2*b^2+b^2*c^2+c^2*a^2)-(a^4+b^4+c^4),stackeq(4*a^2*b^2-(a^4+b^4+c^4+2*a^2*b^2-2*b^2*c^2-2*c^2*a^2)),stackeq((2*a*b)^2-(b^2+a^2-c^2)^2,(2*a*b+b^2+a^2-c^2)*(2*a*b-b^2-a^2+c^2)),stackeq(((a+b)^2-c^2)*(c^2-(a-b)^2)),stackeq((a+b+c)*(a+b-c)*(c+a-b)*(c-a+b))]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;2\cdot \left(a^2\cdot b^2+b^2\cdot c^2+c^2\cdot a^2\right)-\left(a^4+b^4+c^4\right)&amp; \cr \color{green}{\checkmark}&amp;=4\cdot a^2\cdot b^2-\left(a^4+b^4+c^4+2\cdot a^2\cdot b^2-2\cdot b^2\cdot c^2-2\cdot c^2\cdot a^2\right)&amp; \cr \color{green}{\checkmark}&amp;={\left(2\cdot a\cdot b\right)}^2-{\left(b^2+a^2-c^2\right)}^2&amp; \cr \color{green}{\checkmark}&amp;=\left({\left(a+b\right)}^2-c^2\right)\cdot \left(c^2-{\left(a-b\right)}^2\right)&amp; \cr \color{green}{\checkmark}&amp;=\left(a+b+c\right)\cdot \left(a+b-c\right)\cdot \left(c+a-b\right)\cdot \left(c-a+b\right)&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, CHECKMARK, CHECKMARK, CHECKMARK, CHECKMARK]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[abs(x-1/2)+abs(x+1/2)-2,stackeq(abs(x)-1)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\left| x-\frac{1}{2}\right| +\left| x+\frac{1}{2}\right| -2&amp; \cr \color{red}{?}&amp;=\left| x\right| -1&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,QMCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[11*sqrt(abs(x)+1)=25-x,11^2*(abs(x)+1)=(25-x)^2,11^2*abs(x)=(25-x)^2-11^2,11^4*x^2=((25-x)^2-11^2)^2, ((25-x)^2-11^2)^2-11^4*x^2=0,((25-x)^2-11^2-11^2*x)*((25-x)^2-11^2+11^2*x)=0,(x^2-50*x+504-121*x)*(x^2-50*x+504+121*x)=0, (x-168)*(x-3)*(x+8)*(x+63)=0]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;11\cdot \sqrt{\left| x\right| +1}=25-x&amp; \cr \color{red}{?}&amp;11^2\cdot \left(\left| x\right| +1\right)={\left(25-x\right)}^2&amp; \cr \color{green}{\Leftrightarrow}&amp;11^2\cdot \left| x\right| ={\left(25-x\right)}^2-11^2&amp; \cr \color{green}{\Leftrightarrow}&amp;11^4\cdot x^2={\left({\left(25-x\right)}^2-11^2\right)}^2&amp; \cr \color{green}{\Leftrightarrow}&amp;{\left({\left(25-x\right)}^2-11^2\right)}^2-11^4\cdot x^2=0&amp; \cr \color{green}{\Leftrightarrow}&amp;\left({\left(25-x\right)}^2-11^2+\left(-11^2\right)\cdot x\right)\cdot \left({\left(25-x\right)}^2-11^2+11^2\cdot x\right)=0&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(x^2-50\cdot x+504-121\cdot x\right)\cdot \left(x^2-50\cdot x+504+121\cdot x\right)=0&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(x-168\right)\cdot \left(x-3\right)\cdot \left(x+8\right)\cdot \left(x+63\right)=0&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,QMCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[1/(x^2+1)=1/((x+%i)*(x-%i)), stackeq(1/(2*%i)*(1/(x-%i)-1/(x+%i)))]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll}\color{green}{\checkmark}&amp;\frac{1}{x^2+1}=\frac{1}{\left(x+\mathrm{i}\right)\cdot \left(x-\mathrm{i}\right)}&amp; \cr \color{green}{\checkmark}&amp;=\frac{1}{2\cdot \mathrm{i}}\cdot \left(\frac{1}{x-\mathrm{i}}-\frac{1}{x+\mathrm{i}}\right)&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[CHECKMARK, CHECKMARK]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[((a-b)/(a^2+a*b))/((a^2-2*a*b+b^2)/(a^4-b^4)),stackeq(((a-b)*(a-b)*(a+b)*(a^2+b^2))/(a*(a+b)*(a-b)^2)),stackeq((a^2+b^2)/a),stackeq(a+b^2/a)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\frac{\frac{a-b}{a^2+a\cdot b}}{\frac{a^2-2\cdot a\cdot b+b^2}{a^4-b^4}}&amp; \cr \color{green}{\checkmark}&amp;=\frac{\left(a-b\right)\cdot \left(a-b\right)\cdot \left(a+b\right)\cdot \left(a^2+b^2\right)}{a\cdot \left(a+b\right)\cdot {\left(a-b\right)}^2}&amp; \cr \color{green}{\checkmark}&amp;=\frac{a^2+b^2}{a}&amp; \cr \color{green}{\checkmark}&amp;=a+\frac{b^2}{a}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, CHECKMARK, CHECKMARK, CHECKMARK]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[sum(k,k,1,n+1),stackeq(sum(k,k,1,n)+(n+1)),stackeq(n*(n+1)/2 +n+1),stackeq((n+1)*(n+1+1)/2),stackeq((n+1)*(n+2)/2)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\sum_{k=1}^{n+1}{k}&amp; \cr \color{green}{\checkmark}&amp;=\sum_{k=1}^{n}{k}+\left(n+1\right)&amp; \cr \color{green}{\checkmark}&amp;=\frac{n\cdot \left(n+1\right)}{2}+n+1&amp; \cr \color{green}{\checkmark}&amp;=\frac{\left(n+1\right)\cdot \left(n+1+1\right)}{2}&amp; \cr \color{green}{\checkmark}&amp;=\frac{\left(n+1\right)\cdot \left(n+2\right)}{2}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, CHECKMARK, CHECKMARK, CHECKMARK, CHECKMARK]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[log((a-1)^n*product(x_i^(-a),i,1,n)),stackeq(n*log(a-1)-a*sum(log(x_i),i,1,n))]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\ln \left( {\left(a-1\right)}^{n}\cdot \prod_{i=1}^{n}{\frac{1}{{{x}_{i}}^{a}}} \right)&amp; \cr \color{green}{\checkmark}&amp;=n\cdot \ln \left( a-1 \right)-a\cdot \sum_{i=1}^{n}{\ln \left( {x}_{i} \right)}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, CHECKMARK]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[binomial(n,k)+binomial(n,k+1),stackeq(n!/(k!*(n-k)!)+n!/((k+1)!*(n-k-1)!)),stackeq(n!/(k!*(n-k)*(n-k-1)!)+n!/((k+1)!*(n-k-1)!)),stackeq(n!/(k!*(n-k-1)!)*(1/(n-k)+1/(k+1))),stackeq(n!/(k!*(n-k-1)!)*((n+1)/((n-k)*(k+1)))),stackeq((n+1)*n!/(k!*(n-k-1)!)*(1/((k+1)*(n-k)))),stackeq((n+1)*n!/((k+1)*k!*(n-k)*(n-k-1)!)),stackeq(((n+1)!/((k+1)!)*(1/((n-k)*(n-k-1)!)))),stackeq((n+1)!/((k+1)!*(n-k)!)),stackeq(binomial(n+1,k+1))]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;{{n}\choose{k}}+{{n}\choose{k+1}}&amp; \cr \color{green}{\checkmark}&amp;=\frac{n!}{k!\cdot \left(n-k\right)!}+\frac{n!}{\left(k+1\right)!\cdot \left(n-k-1\right)!}&amp; \cr \color{green}{\checkmark}&amp;=\frac{n!}{k!\cdot \left(n-k\right)\cdot \left(n-k-1\right)!}+\frac{n!}{\left(k+1\right)!\cdot \left(n-k-1\right)!}&amp; \cr \color{green}{\checkmark}&amp;=\frac{n!}{k!\cdot \left(n-k-1\right)!}\cdot \left(\frac{1}{n-k}+\frac{1}{k+1}\right)&amp; \cr \color{green}{\checkmark}&amp;=\frac{n!}{k!\cdot \left(n-k-1\right)!}\cdot \left(\frac{n+1}{\left(n-k\right)\cdot \left(k+1\right)}\right)&amp; \cr \color{green}{\checkmark}&amp;=\frac{\left(n+1\right)\cdot n!}{k!\cdot \left(n-k-1\right)!}\cdot \left(\frac{1}{\left(k+1\right)\cdot \left(n-k\right)}\right)&amp; \cr \color{green}{\checkmark}&amp;=\frac{\left(n+1\right)\cdot n!}{\left(k+1\right)\cdot k!\cdot \left(n-k\right)\cdot \left(n-k-1\right)!}&amp; \cr \color{green}{\checkmark}&amp;=\frac{\left(n+1\right)!}{\left(k+1\right)!}\cdot \left(\frac{1}{\left(n-k\right)\cdot \left(n-k-1\right)!}\right)&amp; \cr \color{green}{\checkmark}&amp;=\frac{\left(n+1\right)!}{\left(k+1\right)!\cdot \left(n-k\right)!}&amp; \cr \color{green}{\checkmark}&amp;={{n+1}\choose{k+1}}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, CHECKMARK, CHECKMARK, CHECKMARK, CHECKMARK, CHECKMARK, CHECKMARK, CHECKMARK, CHECKMARK, CHECKMARK]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[(x-1)^2=(x-1)*(x-1), stackeq(x^2-2*x+1)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll}\color{green}{\checkmark}&amp;{\left(x-1\right)}^2=\left(x-1\right)\cdot \left(x-1\right)&amp; \cr \color{green}{\checkmark}&amp;=x^2-2\cdot x+1&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[CHECKMARK, CHECKMARK]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[(x-1)^2=(x-1)*(x-1), stackeq(x^2-2*x+2)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll}\color{green}{\checkmark}&amp;{\left(x-1\right)}^2=\left(x-1\right)\cdot \left(x-1\right)&amp; \cr \color{red}{?}&amp;=x^2-2\cdot x+2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[CHECKMARK,QMCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[(x-2)^2=(x-1)*(x-1), stackeq(x^2-2*x+1)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll}\color{red}{?}&amp;{\left(x-2\right)}^2=\left(x-1\right)\cdot \left(x-1\right)&amp; \cr \color{green}{\checkmark}&amp;=x^2-2\cdot x+1&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[QMCHAR, CHECKMARK]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[4^((n+1)+1)-1= 4*4^(n+1)-1,stackeq(4*(4^(n+1)-1)+3)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll}\color{green}{\checkmark}&amp;4^{n+1+1}-1=4\cdot 4^{n+1}-1&amp; \cr \color{green}{\checkmark}&amp;=4\cdot \left(4^{n+1}-1\right)+3&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[CHECKMARK, CHECKMARK]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[2*x+3*y=6 and 4*x+9*y=15,2*x+3*y=6 and -2*x=-3,3+3*y=6 and 2*x=3,y=1 and x=3/2]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\left\{\begin{array}{l}2\cdot x+3\cdot y=6\cr 4\cdot x+9\cdot y=15\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}2\cdot x+3\cdot y=6\cr -2\cdot x=-3\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}3+3\cdot y=6\cr 2\cdot x=3\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}y=1\cr x=\frac{3}{2}\cr \end{array}\right.&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[2*x+3*y=6 and 4*x+9*y=15,2*x+3*y=6 and -2*x=-3,3+3*y=6 and 2*x=3,y=1 and x=3]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\left\{\begin{array}{l}2\cdot x+3\cdot y=6\cr 4\cdot x+9\cdot y=15\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}2\cdot x+3\cdot y=6\cr -2\cdot x=-3\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}3+3\cdot y=6\cr 2\cdot x=3\cr \end{array}\right.&amp; \cr \color{red}{?}&amp;\left\{\begin{array}{l}y=1\cr x=3\cr \end{array}\right.&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR,QMCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2+y^2=8 and x=y, 2*x^2=8 and y=x, x^2=4 and y=x, x= #pm#2 and y=x, (x= 2 and y=x) or (x=-2 and y=x), (x=2 and y=2) or (x=-2 and y=-2)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\left\{\begin{array}{l}x^2+y^2=8\cr x=y\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}2\cdot x^2=8\cr y=x\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}x^2=4\cr y=x\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}x= \pm 2\cr y=x\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;x=2\,{\mbox{ and }}\, y=x\,{\mbox{ or }}\, x=-2\,{\mbox{ and }}\, y=x&amp; \cr \color{green}{\Leftrightarrow}&amp;x=2\,{\mbox{ and }}\, y=2\,{\mbox{ or }}\, x=-2\,{\mbox{ and }}\, y=-2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2+y^2=5 and x*y=2, x^2+y^2-5=0 and x*y-2=0, x^2-2*x*y+y^2-1=0 and x^2+2*x*y+y^2-9=0, (x-y)^2-1=0 and (x+y)^2-3^2=0, (x-y=1 and x+y=3) or (x-y=-1 and x+y=3) or (x-y=1 and x+y=-3) or (x-y=-1 and x+y=-3), (x=1 and y=2) or (x=2 and y=1) or (x=-2 and y=-1) or (x=-1 and y=-2)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\left\{\begin{array}{l}x^2+y^2=5\cr x\cdot y=2\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}x^2+y^2-5=0\cr x\cdot y-2=0\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}x^2-2\cdot x\cdot y+y^2-1=0\cr x^2+2\cdot x\cdot y+y^2-9=0\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}{\left(x-y\right)}^2-1=0\cr {\left(x+y\right)}^2-3^2=0\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;x-y=1\,{\mbox{ and }}\, x+y=3\,{\mbox{ or }}\, x-y=-1\,{\mbox{ and }}\, x+y=3\,{\mbox{ or }}\, x-y=1\,{\mbox{ and }}\, x+y=-3\,{\mbox{ or }}\, x-y=-1\,{\mbox{ and }}\, x+y=-3&amp; \cr \color{green}{\Leftrightarrow}&amp;x=1\,{\mbox{ and }}\, y=2\,{\mbox{ or }}\, x=2\,{\mbox{ and }}\, y=1\,{\mbox{ or }}\, x=-2\,{\mbox{ and }}\, y=-1\,{\mbox{ or }}\, x=-1\,{\mbox{ and }}\, y=-2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[4*x^2+7*x*y+4*y^2=4 and y=x-4, 4*x^2+7*x*(x-4)+4*(x-4)^2-4=0 and y=x-4, 15*x^2-60*x+60=0 and y=x-4, (x-2)^2=0 and y=x-4, x=2 and y=x-4, x=2 and y=-2]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\left\{\begin{array}{l}4\cdot x^2+7\cdot x\cdot y+4\cdot y^2=4\cr y=x-4\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}4\cdot x^2+7\cdot x\cdot \left(x-4\right)+4\cdot {\left(x-4\right)}^2-4=0\cr y=x-4\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}15\cdot x^2-60\cdot x+60=0\cr y=x-4\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}{\left(x-2\right)}^2=0\cr y=x-4\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}x=2\cr y=x-4\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}x=2\cr y=-2\cr \end{array}\right.&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[a^2=b and a^2=1, b=a^2 and (a=1 or a=-1), (b=1 and a=1) or (b=1 and a=-1)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\left\{\begin{array}{l}a^2=b\cr a^2=1\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}b=a^2\cr a=1\,{\mbox{ or }}\, a=-1\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;b=1\,{\mbox{ and }}\, a=1\,{\mbox{ or }}\, b=1\,{\mbox{ and }}\, a=-1&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[a^2=b and x=1, b=a^2 and x=1]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\left\{\begin{array}{l}a^2=b\cr x=1\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}b=a^2\cr x=1\cr \end{array}\right.&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[a^2=b and b^2=a, b=a^2 and a^4=a, b=a^2 and a^4-a=0, b=a^2 and a*(a-1)*(a^2+a+1)=0, b=a^2 and (a=0 or a=1 or a^2+a+1=0), (b=0 and a=0) or (b=1 and a=1)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[assumereal]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll}\color{blue}{(\mathbb{R})}&amp;\left\{\begin{array}{l}a^2=b\cr b^2=a\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}b=a^2\cr a^4=a\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}b=a^2\cr a^4-a=0\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}b=a^2\cr a\cdot \left(a-1\right)\cdot \left(a^2+a+1\right)=0\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}b=a^2\cr a=0\,{\mbox{ or }}\, a=1\,{\mbox{ or }}\, a^2+a+1=0\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;b=0\,{\mbox{ and }}\, a=0\,{\mbox{ or }}\, b=1\,{\mbox{ and }}\, a=1&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[ASSUMEREALVARS, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[2*x^3-9*x^2+10*x-3,stacklet(x,1),2*1^3-9*1^2+10*1-3,stackeq(0),&quot;So&quot;,2*x^3-9*x^2+10*x-3,stackeq((x-1)*(2*x^2-7*x+3)),stackeq((x-1)*(2*x-1)*(x-3))]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;2\cdot x^3-9\cdot x^2+10\cdot x-3&amp; \cr &amp;\mbox{Let }x = 1&amp; \cr \color{green}{\Leftrightarrow}&amp;2\cdot 1^3-9\cdot 1^2+10\cdot 1-3&amp; \cr \color{green}{\checkmark}&amp;=0&amp; \cr &amp;\mbox{So}&amp; \cr &amp;2\cdot x^3-9\cdot x^2+10\cdot x-3&amp; \cr \color{green}{\checkmark}&amp;=\left(x-1\right)\cdot \left(2\cdot x^2-7\cdot x+3\right)&amp; \cr \color{green}{\checkmark}&amp;=\left(x-1\right)\cdot \left(2\cdot x-1\right)\cdot \left(x-3\right)&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EMPTYCHAR, EQUIVCHAR, CHECKMARK, EMPTYCHAR, EMPTYCHAR, CHECKMARK, CHECKMARK]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[2*x^2+x&gt;=6, 2*x^2+x-6&gt;=0, (2*x-3)*(x+2)&gt;= 0,((2*x-3)&gt;=0 and (x+2)&gt;=0) or ((2*x-3)&lt;=0 and (x+2)&lt;=0), (x&gt;=3/2 and x&gt;=-2) or (x&lt;=3/2 and x&lt;=-2), x&gt;=3/2 or x &lt;=-2]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;2\cdot x^2+x\geq 6&amp; \cr \color{green}{\Leftrightarrow}&amp;2\cdot x^2+x-6\geq 0&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(2\cdot x-3\right)\cdot \left(x+2\right)\geq 0&amp; \cr \color{green}{\Leftrightarrow}&amp;2\cdot x-3\geq 0\,{\mbox{ and }}\, x+2\geq 0\,{\mbox{ or }}\, 2\cdot x-3\leq 0\,{\mbox{ and }}\, x+2\leq 0&amp; \cr \color{green}{\Leftrightarrow}&amp;x\geq \frac{3}{2}\,{\mbox{ and }}\, x\geq -2\,{\mbox{ or }}\, x\leq \frac{3}{2}\,{\mbox{ and }}\, x\leq -2&amp; \cr \color{green}{\Leftrightarrow}&amp;x\geq \frac{3}{2}\,{\mbox{ or }}\, x\leq -2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[2*x^2+x&gt;=6, 2*x^2+x-6&gt;=0, (2*x-3)*(x+2)&gt;= 0,((2*x-3)&gt;=0 and (x+2)&gt;=0) or ((2*x-3)&lt;=0 and (x+2)&lt;=0), (x&gt;=3/2 and x&gt;=-2) or (x&lt;=3/2 and x&lt;=-2), x&gt;=3/2 or x &lt;=-2]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;2\cdot x^2+x\geq 6&amp; \cr \color{green}{\Leftrightarrow}&amp;2\cdot x^2+x-6\geq 0&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(2\cdot x-3\right)\cdot \left(x+2\right)\geq 0&amp; \cr \color{green}{\Leftrightarrow}&amp;2\cdot x-3\geq 0\,{\mbox{ and }}\, x+2\geq 0\,{\mbox{ or }}\, 2\cdot x-3\leq 0\,{\mbox{ and }}\, x+2\leq 0&amp; \cr \color{green}{\Leftrightarrow}&amp;x\geq \frac{3}{2}\,{\mbox{ and }}\, x\geq -2\,{\mbox{ or }}\, x\leq \frac{3}{2}\,{\mbox{ and }}\, x\leq -2&amp; \cr \color{green}{\Leftrightarrow}&amp;x\geq \frac{3}{2}\,{\mbox{ or }}\, x\leq -2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[2*x^2+x&gt;=6, 2*x^2+x-6&gt;=0, (2*x-3)*(x+2)&gt;= 0,((2*x-3)&gt;=0 and (x+2)&gt;=0) or ((2*x-3)&lt;=0 and (x+2)&lt;=0), (x&gt;=3/2 and x&gt;=-2) or (x&lt;=3/2 and x&lt;=-2), x&gt;=3/2 or x &lt;=2]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;2\cdot x^2+x\geq 6&amp; \cr \color{green}{\Leftrightarrow}&amp;2\cdot x^2+x-6\geq 0&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(2\cdot x-3\right)\cdot \left(x+2\right)\geq 0&amp; \cr \color{green}{\Leftrightarrow}&amp;2\cdot x-3\geq 0\,{\mbox{ and }}\, x+2\geq 0\,{\mbox{ or }}\, 2\cdot x-3\leq 0\,{\mbox{ and }}\, x+2\leq 0&amp; \cr \color{green}{\Leftrightarrow}&amp;x\geq \frac{3}{2}\,{\mbox{ and }}\, x\geq -2\,{\mbox{ or }}\, x\leq \frac{3}{2}\,{\mbox{ and }}\, x\leq -2&amp; \cr \color{red}{?}&amp;x\geq \frac{3}{2}\,{\mbox{ or }}\, x\leq 2&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR,QMCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2&gt;=9 and x&gt;3, x^2-9&gt;=0 and x&gt;3, (x&gt;=3 or x&lt;=-3) and x&gt;3, x&gt;3]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\left\{\begin{array}{l}x^2\geq 9\cr x &gt; 3\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}x^2-9\geq 0\cr x &gt; 3\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}x\geq 3\,{\mbox{ or }}\, x\leq -3\cr x &gt; 3\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;x &gt; 3&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[-x^2+a*x+a-3&lt;0, a-3&lt;x^2-a*x, a-3&lt;(x-a/2)^2-a^2/4, a^2/4+a-3&lt;(x-a/2)^2, a^2+4*a-12&lt;4*(x-a/2)^2, (a-2)*(a+6)&lt;4*(x-a/2)^2, &quot;This inequality is required to be true for all x.&quot;, &quot;So it must be true when the right hand side takes its minimum value.&quot;, &quot;This happens for x=a/2.&quot;, (a-2)*(a+6)&lt;0, ((a-2)&lt;0 and (a+6)&gt;0) or ((a-2)&gt;0 and (a+6)&lt;0), (a&lt;2 and a&gt;-6) or (a&gt;2 and a&lt;-6), (-6&lt;a and a&lt;2) or false, (-6&lt;a and a&lt;2)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;-x^2+a\cdot x+a-3 &lt; 0&amp; \cr \color{green}{\Leftrightarrow}&amp;a-3 &lt; x^2-a\cdot x&amp; \cr \color{green}{\Leftrightarrow}&amp;a-3 &lt; {\left(x-\frac{a}{2}\right)}^2-\frac{a^2}{4}&amp; \cr \color{green}{\Leftrightarrow}&amp;\frac{a^2}{4}+a-3 &lt; {\left(x-\frac{a}{2}\right)}^2&amp; \cr \color{green}{\Leftrightarrow}&amp;a^2+4\cdot a-12 &lt; 4\cdot {\left(x-\frac{a}{2}\right)}^2&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(a-2\right)\cdot \left(a+6\right) &lt; 4\cdot {\left(x-\frac{a}{2}\right)}^2&amp; \cr &amp;\mbox{This inequality is required to be true for all x.}&amp; \cr &amp;\mbox{So it must be true when the right hand side takes its minimum value.}&amp; \cr &amp;\mbox{This happens for x=a/2.}&amp; \cr &amp;\left(a-2\right)\cdot \left(a+6\right) &lt; 0&amp; \cr \color{green}{\Leftrightarrow}&amp;a-2 &lt; 0\,{\mbox{ and }}\, a+6 &gt; 0\,{\mbox{ or }}\, a-2 &gt; 0\,{\mbox{ and }}\, a+6 &lt; 0&amp; \cr \color{green}{\Leftrightarrow}&amp;a &lt; 2\,{\mbox{ and }}\, a &gt; -6\,{\mbox{ or }}\, a &gt; 2\,{\mbox{ and }}\, a &lt; -6&amp; \cr \color{green}{\Leftrightarrow}&amp;-6 &lt; a\,{\mbox{ and }}\, a &lt; 2\,{\mbox{ or }}\, \mathbf{False}&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}-6 &lt; a\cr a &lt; 2\cr \end{array}\right.&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EMPTYCHAR, EMPTYCHAR, EMPTYCHAR, EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x-2&gt;0 and x*(x-2)&lt;15,x&gt;2 and x^2-2*x-15&lt;0,x&gt;2 and (x-5)*(x+3)&lt;0,x&gt;2 and ((x&lt;5 and x&gt;-3) or (x&gt;5 and x&lt;-3)),x&gt;2 and (x&lt;5 and x&gt;-3),x&gt;2 and x&lt;5]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\left\{\begin{array}{l}x-2 &gt; 0\cr x\cdot \left(x-2\right) &lt; 15\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}x &gt; 2\cr x^2-2\cdot x-15 &lt; 0\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}x &gt; 2\cr \left(x-5\right)\cdot \left(x+3\right) &lt; 0\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}x &gt; 2\cr x &lt; 5\,{\mbox{ and }}\, x &gt; -3\,{\mbox{ or }}\, x &gt; 5\,{\mbox{ and }}\, x &lt; -3\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}x &gt; 2\cr x &lt; 5\,{\mbox{ and }}\, x &gt; -3\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}x &gt; 2\cr x &lt; 5\cr \end{array}\right.&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x-2&gt;0 and x*(x-2)&lt;15,x&gt;2 and x^2-2*x-15&lt;0,x&gt;2 and (x-5)*(x+3)&lt;0,x&gt;2 and ((x&lt;5 and x&gt;-3) or (x&gt;5 and x&lt;-3)),x&gt;7 and (x&lt;5 and x&gt;-3),x&gt;2 and x&lt;5]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\left\{\begin{array}{l}x-2 &gt; 0\cr x\cdot \left(x-2\right) &lt; 15\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}x &gt; 2\cr x^2-2\cdot x-15 &lt; 0\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}x &gt; 2\cr \left(x-5\right)\cdot \left(x+3\right) &lt; 0\cr \end{array}\right.&amp; \cr \color{green}{\Leftrightarrow}&amp;\left\{\begin{array}{l}x &gt; 2\cr x &lt; 5\,{\mbox{ and }}\, x &gt; -3\,{\mbox{ or }}\, x &gt; 5\,{\mbox{ and }}\, x &lt; -3\cr \end{array}\right.&amp; \cr \color{red}{?}&amp;\left\{\begin{array}{l}x &gt; 7\cr x &lt; 5\,{\mbox{ and }}\, x &gt; -3\cr \end{array}\right.&amp; \cr \color{red}{?}&amp;\left\{\begin{array}{l}x &gt; 2\cr x &lt; 5\cr \end{array}\right.&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR,QMCHAR,QMCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2 + (a-2)*x + a = 0,(x + (a-2)/2)^2 -((a-2)/2)^2 + a = 0,(x + (a-2)/2)^2 =(a-2)^2/4 - a,&quot;This has real roots iff&quot;,(a-2)^2/4-a &gt;=0,a^2-4*a+4-4*a &gt;=0,a^2-8*a+4&gt;=0,(a-4)^2-16+4&gt;=0,(a-4)^2&gt;=12,a-4&gt;=sqrt(12) or a-4&lt;= -sqrt(12),&quot;Ignoring the negative solution.&quot;,a&gt;=sqrt(12)+4,&quot;Using external domain information that a is an integer.&quot;,a&gt;=8]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2+\left(a-2\right)\cdot x+a=0&amp; \cr \color{green}{\Leftrightarrow}&amp;{\left(x+\frac{a-2}{2}\right)}^2-{\left(\frac{a-2}{2}\right)}^2+a=0&amp; \cr \color{green}{\Leftrightarrow}&amp;{\left(x+\frac{a-2}{2}\right)}^2=\frac{{\left(a-2\right)}^2}{4}-a&amp; \cr &amp;\mbox{This has real roots iff}&amp; \cr &amp;\frac{{\left(a-2\right)}^2}{4}-a\geq 0&amp; \cr \color{green}{\Leftrightarrow}&amp;a^2-4\cdot a+4-4\cdot a\geq 0&amp; \cr \color{green}{\Leftrightarrow}&amp;a^2-8\cdot a+4\geq 0&amp; \cr \color{green}{\Leftrightarrow}&amp;{\left(a-4\right)}^2-16+4\geq 0&amp; \cr \color{green}{\Leftrightarrow}&amp;{\left(a-4\right)}^2\geq 12&amp; \cr \color{green}{\Leftrightarrow}&amp;a-4\geq \sqrt{12}\,{\mbox{ or }}\, a-4\leq -\sqrt{12}&amp; \cr &amp;\mbox{Ignoring the negative solution.}&amp; \cr &amp;a\geq \sqrt{12}+4&amp; \cr &amp;\mbox{Using external domain information that a is an integer.}&amp; \cr &amp;a\geq 8&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EMPTYCHAR, EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EMPTYCHAR, EMPTYCHAR, EMPTYCHAR, EMPTYCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[&quot;Set P(n) be the statement that&quot;,sum(k^2,k,1,n) = n*(n+1)*(2*n+1)/6, &quot;Then P(1) is the statement&quot;, 1^2 = 1*(1+1)*(2*1+1)/6, 1 = 1, &quot;So P(1) holds.  Now assume P(n) is true.&quot;,sum(k^2,k,1,n) = n*(n+1)*(2*n+1)/6,sum(k^2,k,1,n) +(n+1)^2= n*(n+1)*(2*n+1)/6 +(n+1)^2,sum(k^2,k,1,n+1)= (n+1)*(n*(2*n+1) +6*(n+1))/6,sum(k^2,k,1,n+1)= (n+1)*(2*n^2+7*n+6)/6,sum(k^2,k,1,n+1)= (n+1)*(n+1+1)*(2*(n+1)+1)/6]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\mbox{Set P(n) be the statement that}&amp; \cr &amp;\sum_{k=1}^{n}{k^2}=\frac{n\cdot \left(n+1\right)\cdot \left(2\cdot n+1\right)}{6}&amp; \cr &amp;\mbox{Then P(1) is the statement}&amp; \cr &amp;1^2=\frac{1\cdot \left(1+1\right)\cdot \left(2\cdot 1+1\right)}{6}&amp; \cr \color{green}{\Leftrightarrow}&amp;1=1&amp; \cr &amp;\mbox{So P(1) holds. Now assume P(n) is true.}&amp; \cr &amp;\sum_{k=1}^{n}{k^2}=\frac{n\cdot \left(n+1\right)\cdot \left(2\cdot n+1\right)}{6}&amp; \cr \color{green}{\Leftrightarrow}&amp;\sum_{k=1}^{n}{k^2}+{\left(n+1\right)}^2=\frac{n\cdot \left(n+1\right)\cdot \left(2\cdot n+1\right)}{6}+{\left(n+1\right)}^2&amp; \cr \color{green}{\Leftrightarrow}&amp;\sum_{k=1}^{n+1}{k^2}=\frac{\left(n+1\right)\cdot \left(n\cdot \left(2\cdot n+1\right)+6\cdot \left(n+1\right)\right)}{6}&amp; \cr \color{green}{\Leftrightarrow}&amp;\sum_{k=1}^{n+1}{k^2}=\frac{\left(n+1\right)\cdot \left(2\cdot n^2+7\cdot n+6\right)}{6}&amp; \cr \color{green}{\Leftrightarrow}&amp;\sum_{k=1}^{n+1}{k^2}=\frac{\left(n+1\right)\cdot \left(n+1+1\right)\cdot \left(2\cdot \left(n+1\right)+1\right)}{6}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EMPTYCHAR, EMPTYCHAR, EMPTYCHAR, EQUIVCHAR, EMPTYCHAR, EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[(n+1)^2+sum(k^2,k,1,n) = (n+1)^2+(n*(n+1)*(2*n+1))/6, sum(k^2,k,1,n+1) = ((n+1)*(n*(2*n+1)+6*(n+1)))/6, sum(k^2,k,1,n+1) = ((n+1)*(2*n^2+7*n+6))/6, sum(k^2,k,1,n+1) = ((n+1)*(n+2)*(2*(n+1)+1))/6]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;{\left(n+1\right)}^2+\sum_{k=1}^{n}{k^2}={\left(n+1\right)}^2+\frac{n\cdot \left(n+1\right)\cdot \left(2\cdot n+1\right)}{6}&amp; \cr \color{green}{\Leftrightarrow}&amp;\sum_{k=1}^{n+1}{k^2}=\frac{\left(n+1\right)\cdot \left(n\cdot \left(2\cdot n+1\right)+6\cdot \left(n+1\right)\right)}{6}&amp; \cr \color{green}{\Leftrightarrow}&amp;\sum_{k=1}^{n+1}{k^2}=\frac{\left(n+1\right)\cdot \left(2\cdot n^2+7\cdot n+6\right)}{6}&amp; \cr \color{green}{\Leftrightarrow}&amp;\sum_{k=1}^{n+1}{k^2}=\frac{\left(n+1\right)\cdot \left(n+2\right)\cdot \left(2\cdot \left(n+1\right)+1\right)}{6}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[conjugate(a)*conjugate(b),stacklet(a,x+i*y),stacklet(b,r+i*s),stackeq(conjugate(x+i*y)*conjugate(r+i*s)),stackeq((x-i*y)*(r-i*s)),stackeq((x*r-y*s)-i*(y*r+x*s)),stackeq(conjugate((x*r-y*s)+i*(y*r+x*s))),stackeq(conjugate((x+i*y)*(r+i*s))),stacklet(x+i*y,a),stacklet(r+i*s,b),stackeq(conjugate(a*b))]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;a^\star\cdot b^\star&amp; \cr &amp;\mbox{Let }a = x+\mathrm{i}\cdot y&amp; \cr &amp;\mbox{Let }b = r+\mathrm{i}\cdot s&amp; \cr \color{green}{\checkmark}&amp;=\left(x+\mathrm{i}\cdot y\right)^\star\cdot \left(r+\mathrm{i}\cdot s\right)^\star&amp; \cr \color{green}{\checkmark}&amp;=\left(x-\mathrm{i}\cdot y\right)\cdot \left(r-\mathrm{i}\cdot s\right)&amp; \cr \color{green}{\checkmark}&amp;=x\cdot r-y\cdot s-\mathrm{i}\cdot \left(y\cdot r+x\cdot s\right)&amp; \cr \color{green}{\checkmark}&amp;=\left(x\cdot r-y\cdot s+\mathrm{i}\cdot \left(y\cdot r+x\cdot s\right)\right)^\star&amp; \cr \color{green}{\checkmark}&amp;=\left(\left(x+\mathrm{i}\cdot y\right)\cdot \left(r+\mathrm{i}\cdot s\right)\right)^\star&amp; \cr &amp;\mbox{Let }x+\mathrm{i}\cdot y = a&amp; \cr &amp;\mbox{Let }r+\mathrm{i}\cdot s = b&amp; \cr \color{green}{\checkmark}&amp;=\left(a\cdot b\right)^\star&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EMPTYCHAR, EMPTYCHAR, CHECKMARK, CHECKMARK, CHECKMARK, CHECKMARK, CHECKMARK, EMPTYCHAR, EMPTYCHAR, CHECKMARK]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[nounint(x*e^x,x,-inf,0),nounlimit(nounint(x*e^x,x,t,0),t,-inf),nounlimit(e^t-t*e^t-1,t,-inf),nounlimit(e^t,t,-inf)+nounlimit(-t*e^t,t,-inf)+nounlimit(-1,t,-inf),-1]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\int_{-\infty }^{0}{x\cdot e^{x}\;\mathrm{d}x}&amp; \cr \color{green}{\Leftrightarrow}&amp;\lim_{t\rightarrow -\infty }{\int_{t}^{0}{x\cdot e^{x}\;\mathrm{d}x}}&amp; \cr \color{green}{\Leftrightarrow}&amp;\lim_{t\rightarrow -\infty }{e^{t}-t\cdot e^{t}-1}&amp; \cr \color{green}{\Leftrightarrow}&amp;\lim_{t\rightarrow -\infty }{e^{t}}+\lim_{t\rightarrow -\infty }{\left(-t\right)\cdot e^{t}}+\lim_{t\rightarrow -\infty }{-1}&amp; \cr \color{green}{\Leftrightarrow}&amp;-1&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[noundiff(x^2,x),stackeq(nounlimit(((x+h)^2-x^2)/h,h,0)),stackeq(nounlimit(2*x+h,h,0)),stackeq(2*x)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4"></td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\frac{\mathrm{d}}{\mathrm{d} x} x^2&amp; \cr \color{green}{\checkmark}&amp;=\lim_{h\rightarrow 0}{\frac{{\left(x+h\right)}^2-x^2}{h}}&amp; \cr \color{green}{\checkmark}&amp;=\lim_{h\rightarrow 0}{2\cdot x+h}&amp; \cr \color{green}{\checkmark}&amp;=2\cdot x&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, CHECKMARK, CHECKMARK, CHECKMARK]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[-12+3*noundiff(y(x),x)+8-8*noundiff(y(x),x)=0,-5*noundiff(y(x),x)=4,noundiff(y(x),x)=-4/5]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[calculus]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;-12+3\cdot \left(\frac{\mathrm{d}}{\mathrm{d} x} y\left(x\right)\right)+8-8\cdot \left(\frac{\mathrm{d}}{\mathrm{d} x} y\left(x\right)\right)=0&amp; \cr \color{green}{\Leftrightarrow}&amp;-5\cdot \left(\frac{\mathrm{d}}{\mathrm{d} x} y\left(x\right)\right)=4&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(\frac{\mathrm{d}}{\mathrm{d} x} y\left(x\right)\right)=\frac{-4}{5}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2+1,x^3/3+x,x^2+1,x^3/3+x+c]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[calculus]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2+1&amp; \cr \color{blue}{\int\ldots\mathrm{d}x}&amp;\frac{x^3}{3}+x&amp; \cr \color{blue}{\frac{\mathrm{d}}{\mathrm{d}x}\ldots}&amp;x^2+1&amp; \cr \color{blue}{\int\ldots\mathrm{d}x}&amp;\frac{x^3}{3}+x+c&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,INTCHAR(x),DIFFCHAR(x),INTCHAR(x)]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[3*x^(3/2)-2/x,(9*sqrt(x))/2+2/x^2,3*x^(3/2)-2/x+c]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[calculus]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;3\cdot x^{\frac{3}{2}}-\frac{2}{x}&amp;{\color{blue}{{x \not\in {\left \{0 \right \}}}}}\cr \color{blue}{\frac{\mathrm{d}}{\mathrm{d}x}\ldots}&amp;\frac{9\cdot \sqrt{x}}{2}+\frac{2}{x^2}&amp;{\color{blue}{{x \in {\left( 0,\, \infty \right)}}}}\cr \color{blue}{\int\ldots\mathrm{d}x}&amp;3\cdot x^{\frac{3}{2}}-\frac{2}{x}+c&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,DIFFCHAR(x),INTCHAR(x)]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[x^2+1,stackeq(x^3/3+x),stackeq(x^2+1),stackeq(x^3/3+x+c)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[calculus]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;x^2+1&amp; \cr \color{red}{?}&amp;=\frac{x^3}{3}+x&amp; \cr \color{red}{?}&amp;=x^2+1&amp; \cr \color{red}{?}&amp;=\frac{x^3}{3}+x+c&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,QMCHAR,QMCHAR,QMCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[diff(x^2*sin(x),x),stackeq(x^2*diff(sin(x),x)+diff(x^2,x)*sin(x)),stackeq(x^2*cos(x)+2*x*sin(x))]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[calculus]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\cos \left( x \right)\cdot x^2+2\cdot x\cdot \sin \left( x \right)&amp; \cr \color{green}{\checkmark}&amp;=x^2\cdot \cos \left( x \right)+2\cdot x\cdot \sin \left( x \right)&amp; \cr \color{green}{\checkmark}&amp;=x^2\cdot \cos \left( x \right)+2\cdot x\cdot \sin \left( x \right)&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, CHECKMARK, CHECKMARK]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[y(x)*cos(x)+y(x)^2 = 6*x,cos(x)*diff(y(x),x)+2*y(x)*diff(y(x),x)-y(x)*sin(x) = 6,(cos(x)+2*y(x))*diff(y(x),x) = y(x)*sin(x)+6,diff(y(x),x) = (y(x)*sin(x)+6)/(cos(x)+2*y(x))]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[calculus]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;y\left(x\right)\cdot \cos \left( x \right)+y^2\left(x\right)=6\cdot x&amp; \cr \color{blue}{\frac{\mathrm{d}}{\mathrm{d}x}\ldots}&amp;\cos \left( x \right)\cdot \left(\frac{\mathrm{d}}{\mathrm{d} x} y\left(x\right)\right)+2\cdot y\left(x\right)\cdot \left(\frac{\mathrm{d}}{\mathrm{d} x} y\left(x\right)\right)+\left(-y\left(x\right)\right)\cdot \sin \left( x \right)=6&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(\cos \left( x \right)+2\cdot y\left(x\right)\right)\cdot \left(\frac{\mathrm{d}}{\mathrm{d} x} y\left(x\right)\right)=y\left(x\right)\cdot \sin \left( x \right)+6&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(\frac{\mathrm{d}}{\mathrm{d} x} y\left(x\right)\right)=\frac{y\left(x\right)\cdot \sin \left( x \right)+6}{\cos \left( x \right)+2\cdot y\left(x\right)}&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,DIFFCHAR(x), EQUIVCHAR, EQUIVCHAR]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[nounint(s^2+1,s),stackeq(s^3/3+s+c)]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[calculus]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\int {s^2+1}{\;\mathrm{d}s}&amp; \cr \color{blue}{\int\ldots\mathrm{d}s}&amp;=\frac{s^3}{3}+s+c&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR,INTCHAR(s)]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[nounint(x^3*log(x),x),x^4/4*log(x)-1/4*nounint(x^3,x),x^4/4*log(x)-x^4/16]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[calculus]</td>
  <td class="cell c5"></td>
  <td class="cell c6">0</td>
  <td class="cell c7">0</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\int {x^3\cdot \ln \left( x \right)}{\;\mathrm{d}x}&amp; \cr \color{green}{\Leftrightarrow}&amp;\frac{x^4}{4}\cdot \ln \left( x \right)-\frac{1}{4}\cdot \int {x^3}{\;\mathrm{d}x}&amp; \cr \color{red}{\cdots +c\quad ?}&amp;\frac{x^4}{4}\cdot \ln \left( x \right)-\frac{x^4}{16}&amp;{\color{blue}{{x \in {\left( 0,\, \infty \right)}}}}\cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR,PLUSC]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[nounint(x^3*log(x),x),x^4/4*log(x)-1/4*nounint(x^3,x),x^4/4*log(x)-x^4/16+c]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[calculus]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\int {x^3\cdot \ln \left( x \right)}{\;\mathrm{d}x}&amp; \cr \color{green}{\Leftrightarrow}&amp;\frac{x^4}{4}\cdot \ln \left( x \right)-\frac{1}{4}\cdot \int {x^3}{\;\mathrm{d}x}&amp; \cr \color{blue}{\int\ldots\mathrm{d}x}&amp;\frac{x^4}{4}\cdot \ln \left( x \right)-\frac{x^4}{16}+c&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR,INTCHAR(x)]</td>
  <td class="cell c10"></td>
</tr>
<tr class="pass">
  <td class="cell c0">Equiv</td>
  <td class="cell c1">Pass</td>
  <td class="cell c2">[noundiff(y,x)-2/x*y=x^3*sin(3*x),1/x^2*noundiff(y,x)-2/x^3*y=x*sin(3*x),noundiff(y/x^2,x)=x*sin(3*x),y/x^2 = nounint(x*sin(3*x),x),y/x^2=(sin(3*x)-3*x*cos(3*x))/9+c]</td>
  <td class="cell c3">[]</td>
  <td class="cell c4">[calculus]</td>
  <td class="cell c5"></td>
  <td class="cell c6">1</td>
  <td class="cell c7">1</td>
  <td class="cell c8"><span class="filter_mathjaxloader_equation"><div class="text_to_html"><span class="nolink">\[\begin{array}{lll} &amp;\frac{\mathrm{d} y}{\mathrm{d} x}-\frac{2}{x}\cdot y=x^3\cdot \sin \left( 3\cdot x \right)&amp; \cr \color{green}{\Leftrightarrow}&amp;\frac{1}{x^2}\cdot \left(\frac{\mathrm{d} y}{\mathrm{d} x}\right)-\frac{2}{x^3}\cdot y=x\cdot \sin \left( 3\cdot x \right)&amp; \cr \color{green}{\Leftrightarrow}&amp;\left(\frac{\mathrm{d}}{\mathrm{d} x} \frac{y}{x^2}\right)=x\cdot \sin \left( 3\cdot x \right)&amp; \cr \color{blue}{\int\ldots\mathrm{d}x}&amp;\frac{y}{x^2}=\int {x\cdot \sin \left( 3\cdot x \right)}{\;\mathrm{d}x}&amp; \cr \color{blue}{\int\ldots\mathrm{d}x}&amp;\frac{y}{x^2}=\frac{\sin \left( 3\cdot x \right)-3\cdot x\cdot \cos \left( 3\cdot x \right)}{9}+c&amp; \cr \end{array}\]</span></div></span></td>
  <td class="cell c9">[EMPTYCHAR, EQUIVCHAR, EQUIVCHAR,INTCHAR(x),INTCHAR(x)]</td>
  <td class="cell c10"></td>
</tr></tbody></table></div><br/>Your site is running STACK version 2021120900 ().