{{!
    This file is part of Stack - http://stack.maths.ed.ac.uk/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_nosferatu/local/beginner/city

    This component renders all people in the city.

    Example context (json):
    {
    }
}}
<div  id="qtype-stack-metadata-contributors-{{uniqid}}">
    {{^haspeople}}
    <div data-for="emptypeople">
        No contributors.
    </div>
    {{/haspeople}}
    {{#haspeople}}
    <ul class="qtype_stack_contrib" data-for="people">
        {{#people}}
        <li data-for="person" class="citizen" data-id="{{id}}">
            <p data-for="personname">
                {{name}}
            </p>
        </li>
        {{/people}}
    </ul>
    {{/haspeople}}
</div>
{{#js}}
require(['qtype_stack/metadata/contributors'], function(component) {
    component.init('#qtype-stack-metadata-contributors-{{uniqid}}');
});
{{/js}}