{{!
    This file is part of Stack - http://stack.maths.ed.ac.uk/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qtype_stack/metadata/metadatacontent


    Example context (json):
    {
    "author": [
        {
            "firstname": {
                "required": false,
                "element": {
                    "value": "a",
                    "wrapperid": "fitem_smdi_1_author_firstName",
                    "id": "smdi_1_author_firstName",
                    "name": "smdi_1_author_firstName",
                    "iderror": "smde_1_author_firstName_error"
                }
            },
            "lastname": {
                "required": true,
                "element": {
                    "value": "b",
                    "wrapperid": "fitem_smdi_1_author_lastName",
                    "id": "smdi_1_author_lastName",
                    "name": "smdi_1_author_lastName",
                    "iderror": "smde_1_author_lastName_error"
                }
            },
            "institution": {
                "required": false,
                "element": {
                    "value": "c",
                    "wrapperid": "fitem_smdi_1_author_institution",
                    "id": "smdi_1_author_institution",
                    "name": "smdi_1_author_institution",
                    "iderror": "smde_1_author_institution_error"
                }
            },
            "year": {
                "required": false,
                "element": {
                    "value": "2025",
                    "wrapperid": "fitem_smdi_1_author_year",
                    "id": "smdi_1_author_year",
                    "name": "smdi_1_author_year",
                    "iderror": "smde_1_author_year_error"
                }
            },
            "id": "1"
        }
    ],
    "language": [
        {
            "id": "1",
            "lang": {
                "required": true,
                "element": {
                    "value": "en",
                    "wrapperid": "fitem_smdi_1_language_value",
                    "id": "smdi_1_language_value",
                    "name": "smdi_1_language_value",
                    "iderror": "smde_1_language_value_error"
                }
            }
        },
        {
            "id": "2",
            "lang": {
                "required": true,
                "element": {
                    "value": "fr",
                    "wrapperid": "fitem_smdi_2_language_value",
                    "id": "smdi_2_language_value",
                    "name": "smdi_2_language_value",
                    "iderror": "smde_2_language_value_error"
                }
            }
        }
    ],
    "license": {
        "required": true,
        "element": {
            "value": "public",
            "wrapperid": "fitem_smdi_0_license_value",
            "id": "smdi_0_license_value",
            "name": "smdi_0_license_value",
            "options": [
                {
                    "value": "unknown",
                    "text": "Licence not specified"
                },
                {
                    "value": "allrightsreserved",
                    "text": "All rights reserved"
                },
                {
                    "value": "public",
                    "text": "Public domain",
                    "selected": true
                },
                {
                    "value": "cc-4.0",
                    "text": "Creative Commons - 4.0 International"
                },
                {
                    "value": "cc-nc-4.0",
                    "text": "Creative Commons - NonCommercial 4.0 International"
                },
                {
                    "value": "cc-nd-4.0",
                    "text": "Creative Commons - NoDerivatives 4.0 International"
                },
                {
                    "value": "cc-nc-nd-4.0",
                    "text": "Creative Commons - NonCommercial-NoDerivatives 4.0 International"
                },
                {
                    "value": "cc-nc-sa-4.0",
                    "text": "Creative Commons - NonCommercial-ShareAlike 4.0 International"
                },
                {
                    "value": "cc-sa-4.0",
                    "text": "Creative Commons - ShareAlike 4.0 International"
                }
            ],
            "tags": "[]",
            "ajax": "",
            "placeholder": "Type or select license",
            "noselectionstring": "",
            "showsuggestions": "true",
            "casesensitive": "false",
            "iderror": "smde_0_license_value_error"
        }
    },
    "isPartOf": {
        "required": false,
        "element": {
            "value": "HELM",
            "wrapperid": "fitem_smdi_0_isPartOf_value",
            "id": "smdi_0_isPartOf_value",
            "name": "smdi_0_isPartOf_value",
            "iderror": "smde_0_isPartOf_value_error"
        }
    },
    "scope": [
        {
            "name": "d",
            "firstProp": "1",
            "properties": [
                {
                    "property": {
                        "required": true,
                        "element": {
                            "value": "e",
                            "wrapperid": "fitem_smdi_1_additional_property",
                            "id": "smdi_1_additional_property",
                            "name": "smdi_1_additional_property",
                            "iderror": "smde_1_additional_property_error"
                        }
                    },
                    "qualifier": {
                        "required": false,
                        "element": {
                            "value": "f",
                            "wrapperid": "fitem_smdi_1_additional_qualifier",
                            "id": "smdi_1_additional_qualifier",
                            "name": "smdi_1_additional_qualifier",
                            "iderror": "smde_1_additional_qualifier_error"
                        }
                    },
                    "value": {
                        "required": false,
                        "element": {
                            "value": "g",
                            "wrapperid": "fitem_smdi_1_additional_value",
                            "id": "smdi_1_additional_value",
                            "name": "smdi_1_additional_value",
                            "iderror": "smde_1_additional_value_error"
                        }
                    },
                    "id": "1"
                },
                {
                    "property": {
                        "required": true,
                        "element": {
                            "value": "h",
                            "wrapperid": "fitem_smdi_2_additional_property",
                            "id": "smdi_2_additional_property",
                            "name": "smdi_2_additional_property",
                            "iderror": "smde_2_additional_property_error"
                        }
                    },
                    "qualifier": {
                        "required": false,
                        "element": {
                            "value": "i",
                            "wrapperid": "fitem_smdi_2_additional_qualifier",
                            "id": "smdi_2_additional_qualifier",
                            "name": "smdi_2_additional_qualifier",
                            "iderror": "smde_2_additional_qualifier_error"
                        }
                    },
                    "value": {
                        "required": false,
                        "element": {
                            "value": "j",
                            "wrapperid": "fitem_smdi_2_additional_value",
                            "id": "smdi_2_additional_value",
                            "name": "smdi_2_additional_value",
                            "iderror": "smde_2_additional_value_error"
                        }
                    },
                    "id": "2"
                },
                {
                    "property": {
                        "required": true,
                        "element": {
                            "value": "k",
                            "wrapperid": "fitem_smdi_3_additional_property",
                            "id": "smdi_3_additional_property",
                            "name": "smdi_3_additional_property",
                            "iderror": "smde_3_additional_property_error"
                        }
                    },
                    "qualifier": {
                        "required": false,
                        "element": {
                            "value": "l",
                            "wrapperid": "fitem_smdi_3_additional_qualifier",
                            "id": "smdi_3_additional_qualifier",
                            "name": "smdi_3_additional_qualifier",
                            "iderror": "smde_3_additional_qualifier_error"
                        }
                    },
                    "value": {
                        "required": false,
                        "element": {
                            "value": "m",
                            "wrapperid": "fitem_smdi_3_additional_value",
                            "id": "smdi_3_additional_value",
                            "name": "smdi_3_additional_value",
                            "iderror": "smde_3_additional_value_error"
                        }
                    },
                    "id": "3"
                }
            ],
            "input": {
                "required": true,
                "element": {
                    "value": "d",
                    "wrapperid": "fitem_smdi_1_additional_scope",
                    "id": "smdi_1_additional_scope",
                    "name": "smdi_1_additional_scope",
                    "iderror": "smde_1_additional_scope_error"
                }
            }
        },
        {
            "name": "n",
            "firstProp": "4",
            "properties": [
                {
                    "property": {
                        "required": true,
                        "element": {
                            "value": "o",
                            "wrapperid": "fitem_smdi_4_additional_property",
                            "id": "smdi_4_additional_property",
                            "name": "smdi_4_additional_property",
                            "iderror": "smde_4_additional_property_error"
                        }
                    },
                    "qualifier": {
                        "required": false,
                        "element": {
                            "value": "p",
                            "wrapperid": "fitem_smdi_4_additional_qualifier",
                            "id": "smdi_4_additional_qualifier",
                            "name": "smdi_4_additional_qualifier",
                            "iderror": "smde_4_additional_qualifier_error"
                        }
                    },
                    "value": {
                        "required": false,
                        "element": {
                            "value": "q",
                            "wrapperid": "fitem_smdi_4_additional_value",
                            "id": "smdi_4_additional_value",
                            "name": "smdi_4_additional_value",
                            "iderror": "smde_4_additional_value_error"
                        }
                    },
                    "id": "4"
                }
            ],
            "input": {
                "required": true,
                "element": {
                    "value": "n",
                    "wrapperid": "fitem_smdi_4_additional_scope",
                    "id": "smdi_4_additional_scope",
                    "name": "smdi_4_additional_scope",
                    "iderror": "smde_4_additional_scope_error"
                }
            }
        }
    ],
    "json": {
        "required": true,
        "element": {
            "value": "{\n    \"author\": [\n        {\n            \"firstName\": \"Edmund\",\n   ... ... ...    }",
            "attributes": "rows=\"10\"",
            "wrapperid": "fitem_metadata_json",
            "id": "id_metadata_json",
            "name": "metadata_json",
            "iderror": "metadata_json_error"
        }
    }
}

}}
<form class="mform" data-boost-form-errors-enhanced="1" id="qtype-stack-metadata-content">

    {{! Authors }}
    <div class="smd-section">
        <div class="smd-section-label">{{#str}} author, qtype_stack {{/str}}</div>
        {{#author.0}}
        <div class="row mb-1 smd-author-col-headers">
            <div class="col-3"><span class="smd-col-label">{{#str}} firstname, qtype_stack {{/str}}</span></div>
            <div class="col-3"><span class="smd-col-label">{{#str}} lastname, qtype_stack {{/str}}</span></div>
            <div class="col-3"><span class="smd-col-label">{{#str}} institution, qtype_stack {{/str}}</span></div>
            <div class="col-1"><span class="smd-col-label">{{#str}} year, qtype_stack {{/str}}</span></div>
        </div>
        {{/author.0}}
        {{#author}}
            {{>qtype_stack/metadata/metadataauthor}}
        {{/author}}
        <div class="d-flex gap-2 mt-2 smd-author-actions">
            <button class="btn btn-sm btn-outline-secondary smd-add-btn" type="button" name="smd_add"
                    id="smd_author_0_add" title="{{#str}} addauthor, qtype_stack {{/str}}">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span class="sr-only">{{#str}} addauthor, qtype_stack {{/str}}</span>
            </button>
            <button class="btn btn-sm btn-outline-secondary smd-add-btn" type="button"
                    id="stack-metadata-make-author" title="{{#str}} makemeauthor, qtype_stack {{/str}}">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                <span class="sr-only">{{#str}} makemeauthor, qtype_stack {{/str}}</span>
            </button>
        </div>
    </div>

    {{! Language }}
    <div class="smd-section">
        <div class="smd-section-label">{{#str}} language, core {{/str}}</div>
        {{#language}}
            {{>qtype_stack/metadata/metadatalanguage}}
        {{/language}}
        <div class="mt-2">
            <button type="button" class="btn btn-sm btn-outline-secondary smd-add-btn" name="smd_add"
                    id="smd_language_0_add" title="{{#str}} addlanguage, qtype_stack {{/str}}">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span class="sr-only">{{#str}} addlanguage, qtype_stack {{/str}}</span>
            </button>
        </div>
    </div>

    {{! License + isPartOf }}
    <div class="smd-section">
        <div class="row">
            <div class="col-md-7">
                <div class="smd-section-label">{{#str}} license {{/str}}</div>
                <div class="smd-license-wrap">
                    <span class="smd-license-display-text">{{#license.element.options}}{{#selected}}{{text}}{{/selected}}{{/license.element.options}}</span>
                    <button type="button" class="btn btn-link btn-sm smd-license-pencil p-0 ms-1"
                            title="{{#str}} license {{/str}}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <span class="sr-only">{{#str}} license {{/str}}</span>
                    </button>
                    {{#license}}
                        <label class="sr-only" for="{{element.id}}">{{#str}} license {{/str}}</label>
                        {{> core_form/element-autocomplete-inline}}
                    {{/license}}
                </div>
            </div>
            <div class="col-md-5">
                <div class="smd-section-label">{{#str}} ispartof, qtype_stack {{/str}}</div>
                <div class="smd-ispartof-wrap">
                    <span class="smd-ispartof-display-text">{{isPartOf.element.value}}</span>
                    <button type="button" class="btn btn-link btn-sm smd-ispartof-pencil p-0 ms-1"
                            title="{{#str}} ispartof, qtype_stack {{/str}}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <span class="sr-only">{{#str}} ispartof, qtype_stack {{/str}}</span>
                    </button>
                    {{#isPartOf}}
                        <label class="sr-only" for="{{element.id}}">{{#str}} ispartof, qtype_stack {{/str}}</label>
                        {{> core_form/element-text-inline}}
                    {{/isPartOf}}
                </div>
            </div>
        </div>
    </div>

    {{! Additional metadata }}
    <div class="smd-section">
        <div class="smd-section-label">{{#str}} additionalmetadata, qtype_stack {{/str}}</div>
        {{#scope}}
            {{>qtype_stack/metadata/metadatascope}}
        {{/scope}}
        <div class="mt-2">
            <button type="button" class="btn btn-sm btn-outline-secondary smd-add-btn" name="smd_add"
                    id="smd_scope_0_add" title="{{#str}} addscope, qtype_stack {{/str}}">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span class="sr-only">{{#str}} addscope, qtype_stack {{/str}}</span>
            </button>
        </div>
    </div>

    {{! Freeform metadata }}
    <div class="smd-section">
        <div class="smd-section-label">{{#str}} freeformmetadata, qtype_stack {{/str}}</div>
        {{#freeform}}
            <label class="sr-only" for="{{element.id}}">
                {{#str}} freeformmetadata, qtype_stack {{/str}}
            </label>
            {{< core_form/element-template-inline }}
                {{$element}}
                    <textarea
                        id="{{element.id}}"
                        name="{{element.name}}"
                        class="form-control {{#error}}is-invalid{{/error}}"
                        {{#error}}
                            autofocus aria-describedby="{{element.iderror}}"
                        {{/error}}
                        {{{element.attributes}}}
                    >{{element.value}}</textarea>
                {{/element}}
            {{/ core_form/element-template-inline }}
        {{/freeform}}
    </div>

    {{! Utility buttons }}
    <div class="d-flex gap-2 flex-wrap mb-3">
        <button class="btn btn-sm btn-secondary" type="button" id="stack-metadata-update">
            {{#str}} updateJSON, qtype_stack {{/str}}
        </button>
        <button class="btn btn-sm btn-secondary" type="button" id="stack-metadata-update-inputs">
            {{#str}} updateinputs, qtype_stack {{/str}}
        </button>
        <button class="btn btn-sm btn-secondary" type="button" id="stack-metadata-revert">
            {{#str}} reverttosaved, qtype_stack {{/str}}
        </button>
    </div>

    <p class="text-muted small">
        {{#str}} metadataexplanation, qtype_stack {{/str}}
    </p>

    {{! JSON metadata — collapsible }}
    <details class="smd-section">
        <summary class="smd-section-label">
            {{#str}} JSONmetadata, qtype_stack {{/str}}
            <i class="fa fa-chevron-down fa-xs ms-1" aria-hidden="true"></i>
        </summary>
        <div class="mt-2">
            {{#json}}
                <label class="sr-only" for="{{element.id}}">
                    {{#str}} JSONmetadata, qtype_stack {{/str}}
                </label>
                {{< core_form/element-template-inline }}
                    {{$element}}
                        <textarea
                            id="{{element.id}}"
                            name="{{element.name}}"
                            class="form-control {{#error}}is-invalid{{/error}}"
                            {{#error}}
                                autofocus aria-describedby="{{element.iderror}}"
                            {{/error}}
                            {{#required}}
                                aria-required="true"
                            {{/required}}
                            {{{element.attributes}}}
                        >{{element.value}}</textarea>
                    {{/element}}
                {{/ core_form/element-template-inline }}
            {{/json}}
        </div>
    </details>

</form>
{{#js}}
require(['qtype_stack/metadata/metadatacontent'], function(component) {
    component.init('#qtype-stack-metadata-content');
});

// Scope name inline-edit: pencil click → focus input; Enter/blur → confirm; update display span.
// Listeners are added once per page load (flag guards against re-render duplicates).
if (!document._stackScopeEditInit) {
    document._stackScopeEditInit = true;
    document.addEventListener('click', function(e) {
        if (e.target.closest('.smd-scope-pencil')) {
            e.preventDefault(); // prevent <summary> from toggling
            var nameEl = e.target.closest('.smd-scope-name');
            if (nameEl) {
                var inp = nameEl.querySelector('input');
                if (inp) { inp.focus({preventScroll: true}); inp.select(); }
            }
        }
    });
    document.addEventListener('keydown', function(e) {
        if (e.key === 'Enter' && e.target.matches && e.target.matches('.smd-scope-name input')) {
            e.preventDefault();
            e.target.blur();
        }
    });
    document.addEventListener('focusout', function(e) {
        if (e.target.matches && e.target.matches('.smd-scope-name input')) {
            var nameEl = e.target.closest('.smd-scope-name');
            if (nameEl) {
                var span = nameEl.querySelector('.smd-scope-name-text');
                if (span) { span.textContent = e.target.value || ''; }
            }
        }
    });
}

// Auto-focus scope name input when name is empty (newly added scope).
(function() {
    document.querySelectorAll('.smd-scope-name-text').forEach(function(span) {
        if (!span.textContent.trim()) {
            var inp = span.closest('.smd-scope-name').querySelector('input');
            if (inp) { setTimeout(function() { inp.focus(); }, 50); }
        }
    });
}());

// Author row pencil edit (listeners added once per page load).
if (!document._stackAuthorEditInit) {
    document._stackAuthorEditInit = true;
    document.addEventListener('click', function(e) {
        if (e.target.closest('.smd-author-pencil')) {
            var row = e.target.closest('.smd-author-row');
            if (row) {
                row.classList.add('editing');
                var first = row.querySelector('.smd-author-field input');
                if (first) { first.focus({preventScroll: true}); first.select(); }
            }
        }
    });
    document.addEventListener('focusout', function(e) {
        if (!e.target.matches || !e.target.matches('.smd-author-row input')) { return; }
        var row = e.target.closest('.smd-author-row');
        if (!row) { return; }
        setTimeout(function() {
            if (row.querySelector('input:focus')) { return; }
            row.classList.remove('editing');
            var f = row.querySelectorAll('.smd-author-field input');
            var name = [f[0] && f[0].value.trim(), f[1] && f[1].value.trim()].filter(Boolean).join(' ');
            var parts = [];
            if (name) { parts.push(name); }
            if (f[2] && f[2].value.trim()) { parts.push(f[2].value.trim()); }
            if (f[3] && f[3].value.trim()) { parts.push('(' + f[3].value.trim() + ')'); }
            var span = row.querySelector('.smd-author-display-text');
            if (span) { span.textContent = parts.join(', '); }
        }, 0);
    });
}

// Auto-focus newly added author rows (all fields empty).
(function() {
    document.querySelectorAll('.smd-author-row').forEach(function(row) {
        var inputs = row.querySelectorAll('.smd-author-field input');
        var allEmpty = Array.from(inputs).every(function(i) { return !i.value.trim(); });
        if (allEmpty && inputs[0]) {
            row.classList.add('editing');
            setTimeout(function() { inputs[0].focus({preventScroll: true}); }, 50);
        }
    });
}());

// Language row pencil edit.
if (!document._stackLangEditInit) {
    document._stackLangEditInit = true;
    document.addEventListener('click', function(e) {
        if (e.target.closest('.smd-lang-pencil')) {
            var row = e.target.closest('.smd-lang-row');
            if (row) {
                row.classList.add('editing');
                var inp = row.querySelector('.smd-lang-field input');
                if (inp) { inp.focus({preventScroll: true}); inp.select(); }
            }
        }
    });
    document.addEventListener('keydown', function(e) {
        if (e.key === 'Enter' && e.target.matches && e.target.matches('.smd-lang-row input')) {
            e.preventDefault();
            e.target.blur();
        }
    });
    document.addEventListener('focusout', function(e) {
        if (!e.target.matches || !e.target.matches('.smd-lang-row input')) { return; }
        var row = e.target.closest('.smd-lang-row');
        if (!row) { return; }
        row.classList.remove('editing');
        var inp = row.querySelector('.smd-lang-field input');
        var span = row.querySelector('.smd-lang-display-text');
        if (span && inp) { span.textContent = inp.value; }
    });
}

// Auto-focus newly added language rows.
(function() {
    document.querySelectorAll('.smd-lang-row').forEach(function(row) {
        var inp = row.querySelector('.smd-lang-field input');
        if (inp && !inp.value.trim()) {
            row.classList.add('editing');
            setTimeout(function() { inp.focus({preventScroll: true}); }, 50);
        }
    });
}());

// isPartOf inline edit (CSS :has(input:focus) handles show/hide; JS handles pencil + confirm).
if (!document._stackIsPartOfEditInit) {
    document._stackIsPartOfEditInit = true;
    document.addEventListener('click', function(e) {
        if (e.target.closest('.smd-ispartof-pencil')) {
            var wrap = e.target.closest('.smd-ispartof-wrap');
            if (wrap) {
                var inp = wrap.querySelector('input');
                if (inp) { inp.focus({preventScroll: true}); inp.select(); }
            }
        }
    });
    document.addEventListener('keydown', function(e) {
        if (e.key === 'Enter' && e.target.matches && e.target.matches('.smd-ispartof-wrap input')) {
            e.preventDefault();
            e.target.blur();
        }
    });
    document.addEventListener('focusout', function(e) {
        if (!e.target.matches || !e.target.matches('.smd-ispartof-wrap input')) { return; }
        var wrap = e.target.closest('.smd-ispartof-wrap');
        if (!wrap) { return; }
        var inp = wrap.querySelector('input');
        var span = wrap.querySelector('.smd-ispartof-display-text');
        if (span && inp) { span.textContent = inp.value; }
    });
}

// License pencil edit (autocomplete: show via .editing class, close on change or focusout).
if (!document._stackLicenseEditInit) {
    document._stackLicenseEditInit = true;
    document.addEventListener('click', function(e) {
        if (e.target.closest('.smd-license-pencil')) {
            var wrap = e.target.closest('.smd-license-wrap');
            if (wrap) {
                wrap.classList.add('editing');
                var inp = wrap.querySelector('input[type="text"]');
                if (inp) { setTimeout(function() { inp.focus(); inp.select(); }, 20); }
            }
        }
    });
    // Read from hidden <select> — reliable even if the visible input resets.
    document.addEventListener('change', function(e) {
        var wrap = e.target.closest && e.target.closest('.smd-license-wrap');
        if (!wrap || !wrap.classList.contains('editing')) { return; }
        setTimeout(function() {
            if (!wrap.classList.contains('editing')) { return; }
            var sel = wrap.querySelector('select');
            var text = sel && sel.options[sel.selectedIndex] ? sel.options[sel.selectedIndex].text : '';
            var span = wrap.querySelector('.smd-license-display-text');
            if (span && text) { span.textContent = text; }
            wrap.classList.remove('editing');
        }, 100);
    });
    // Fallback: close if focus leaves without a selection change.
    document.addEventListener('focusout', function(e) {
        var wrap = e.target.closest && e.target.closest('.smd-license-wrap');
        if (!wrap || !wrap.classList.contains('editing')) { return; }
        setTimeout(function() {
            if (!wrap.classList.contains('editing')) { return; } // change handler already closed
            if (wrap.contains(document.activeElement)) { return; }
            wrap.classList.remove('editing');
        }, 400);
    });
}
{{/js}}
