{{!
    This file is part of Stack - http://stack.maths.ed.ac.uk/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qtype_stack/metadata/metadataadditional


    Example context (json): See metadatacontent.mustache
}}
<div class="row" id="qtype-stack-metadata-additional-{{{id}}}">
    <div class="col-2 inputcol">{{#property}}{{> core_form/element-text-inline }}{{/property}}</div>
    <div class="col-2 inputcol">{{#qualifier}}{{> core_form/element-text-inline }}{{/qualifier}}</div>
    <div class="col-4 inputcol">{{#value}}{{> core_form/element-text-inline }}{{/value}}</div>
    <div class="col-1"><button id="smd_additional_{{id}}_delete" name="smd_delete" type="button" class="btn btn-danger">{{#str}} delete {{/str}}</button></div>
</div>