{{!
    This file is part of Stack - http://stack.maths.ed.ac.uk/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qtype_stack/metadata/metadataauthor
    Example context (json):
        {
            "firstname": {
                "required": false,
                "element": {
                    "value": "a",
                    "wrapperid": "fitem_smdi_1_author_firstName",
                    "id": "smdi_1_author_firstName",
                    "name": "smdi_1_author_firstName",
                    "iderror": "smde_1_author_firstName_error"
                }
            },
            "lastname": {
                "required": true,
                "element": {
                    "value": "b",
                    "wrapperid": "fitem_smdi_1_author_lastName",
                    "id": "smdi_1_author_lastName",
                    "name": "smdi_1_author_lastName",
                    "iderror": "smde_1_author_lastName_error"
                }
            },
            "institution": {
                "required": false,
                "element": {
                    "value": "c",
                    "wrapperid": "fitem_smdi_1_author_institution",
                    "id": "smdi_1_author_institution",
                    "name": "smdi_1_author_institution",
                    "iderror": "smde_1_author_institution_error"
                }
            },
            "year": {
                "required": false,
                "element": {
                    "value": "2025",
                    "wrapperid": "fitem_smdi_1_author_year",
                    "id": "smdi_1_author_year",
                    "name": "smdi_1_author_year",
                    "iderror": "smde_1_author_year_error"
                }
            },
            "id": "1"
        }
}}
<div class="row align-items-center mb-2" id="qtype-stack-metadata-author-{{{id}}}">
    <div class="col-3 inputcol">
        {{#firstname}}
            <label class="sr-only" for="{{element.id}}">
                {{#str}} firstname, qtype_stack {{/str}}
            </label>
            {{> core_form/element-text-inline }}
        {{/firstname}}
    </div>
    <div class="col-3 inputcol">
        {{#lastname}}
            <label class="sr-only" for="{{element.id}}">
                {{#str}} lastname, qtype_stack {{/str}}
            </label>
            {{> core_form/element-text-inline }}
        {{/lastname}}
    </div>
    <div class="col-3 inputcol">
        {{#institution}}
            <label class="sr-only" for="{{element.id}}">
                {{#str}} institution, qtype_stack {{/str}}
            </label>
            {{> core_form/element-text-inline }}
        {{/institution}}
    </div>
    <div class="col-1 inputcol">
        {{#year}}
            <label class="sr-only" for="{{element.id}}">
                {{#str}} year, qtype_stack {{/str}}
            </label>
            {{>qtype_stack/metadata/metadatayear}}
        {{/year}}
    </div>
    <div class="col-2 smd-delete">
        <button id="smd_author_{{id}}_delete" name="smd_delete" type="button"
                class="btn btn-sm btn-outline-danger"
                title="{{#str}} delete {{/str}} {{#str}} author, qtype_stack {{/str}}">
            <i class="fa fa-trash" aria-hidden="true"></i>
            <span class="sr-only">{{#str}} delete {{/str}} {{#str}} author, qtype_stack {{/str}}</span>
        </button>
    </div>
</div>
