{{!
    This file is part of Stack - http://stack.maths.ed.ac.uk/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qtype_stack/metadata


    Example context (json):
    {
    }
}}
<form class="mform" data-boost-form-errors-enhanced="1" id="qtype-stack-metadata-content">
    <div class="row d-none d-md-block">
        <div class="col-2"></div>
        <div class="col-2">{{#str}} firstname, qtype_stack {{/str}}</div>
        <div class="col-2">{{#str}} lastname, qtype_stack {{/str}}</div>
        <div class="col-3">{{#str}} institution, qtype_stack {{/str}}</div>
        <div class="col-2">{{#str}} year, qtype_stack {{/str}}</div>
    </div>
    {{#creator}}
        <div class="row">
            <div class="col-md-2">{{#str}} creator, qtype_stack {{/str}}</div>
            <div class="col-2 inputcol">{{#firstname}}{{> core_form/element-text-inline }}{{/firstname}}</div>
            <div class="col-2 inputcol">{{#lastname}}{{> core_form/element-text-inline }}{{/lastname}}</div>
            <div class="col-3 inputcol">{{#institution}}{{> core_form/element-text-inline }}{{/institution}}</div>
            <div class="col-2 inputcol">{{#year}}{{> core_form/element-text-inline }}{{/year}}</div>
        </div>
    {{/creator}}
    {{#contributor}}
        <div class="row">
            <div class="col-md-2">{{#str}} contributor, qtype_stack {{/str}}</div>
            <div class="col-2 inputcol">{{#firstname}}{{> core_form/element-text-inline }}{{/firstname}}</div>
            <div class="col-2 inputcol">{{#lastname}}{{> core_form/element-text-inline }}{{/lastname}}</div>
            <div class="col-3 inputcol">{{#institution}}{{> core_form/element-text-inline }}{{/institution}}</div>
            <div class="col-2 inputcol">{{#year}}{{> core_form/element-text-inline }}{{/year}}</div>
            <div class="col-1"><button type="button" class="btn btn-danger">{{#str}} delete {{/str}}</button></div>
        </div>
    {{/contributor}}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-10"><button type="button" class="btn btn-primary">{{#str}} addcontributor, qtype_stack {{/str}}</button></div>
    </div>
    <div class="row">
        <div class="col-lg-10">
            <div class="btn-group" role="group" style="float:right">
                <button class="btn btn-primary" type="button" id="stack-metadata-update">
                    {{#str}} updateJSON, qtype_stack {{/str}}
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">{{#str}} contributor, qtype_stack {{/str}}</div>
        <div class="col-10 inputcol">{{#json}}{{> core_form/element-textarea }}{{/json}}</div>
    </div>
</form>
{{#js}}
require(['qtype_stack/metadata/metadatacontent'], function(component) {
    component.init('#qtype-stack-metadata-content');
});
{{/js}}