{{!
    This file is part of Stack - http://stack.maths.ed.ac.uk/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qtype_stack/metadata


    Example context (json):
    {
    }
}}
<form class="mform" data-boost-form-errors-enhanced="1" id="qtype-stack-metadata-content">
    <div class="row d-none d-md-flex">
        <div class="col-2"></div>
        <div class="col-2">{{#str}} firstname, qtype_stack {{/str}}</div>
        <div class="col-2">{{#str}} lastname, qtype_stack {{/str}}</div>
        <div class="col-3">{{#str}} institution, qtype_stack {{/str}}</div>
        <div class="col-1">{{#str}} year, qtype_stack {{/str}}</div>
    </div>
    {{#creator}}
        <div class="row">
            <div class="col-md-2">{{#str}} creator, qtype_stack {{/str}}</div>
            <div class="col-2 inputcol">{{#firstname}}{{> core_form/element-text-inline }}{{/firstname}}</div>
            <div class="col-2 inputcol">{{#lastname}}{{> core_form/element-text-inline }}{{/lastname}}</div>
            <div class="col-3 inputcol">{{#institution}}{{> core_form/element-text-inline }}{{/institution}}</div>
            <div class="col-2 col-lg-1 inputcol">{{#year}}{{>qtype_stack/metadatayear}}{{/year}}</div>
        </div>
    {{/creator}}
    {{#contributor}}
        {{>qtype_stack/metadatacontributor}}
    {{/contributor}}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-10">
            <button class="btn btn-primary" type="button" name="smd_add" id="smd_contributor_0_add">
                {{#str}} addcontributor, qtype_stack {{/str}}
            </button>
            <button class="btn btn-primary" type="button" id="stack-metadata-make-contributor">
                {{#str}} makemecontributor, qtype_stack {{/str}}
            </button>
            <button class="btn btn-primary" type="button" id="stack-metadata-make-creator">
                {{#str}} makemecreator, qtype_stack {{/str}}
            </button>
        </div>
    </div>
    <br>
    {{#language}}
        {{>qtype_stack/metadatalanguage}}
    {{/language}}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-10"><button type="button" class="btn btn-primary" name="smd_add" id="smd_language_0_add">{{#str}} addlanguage, qtype_stack {{/str}}</button></div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-2">{{#str}} ispartof, qtype_stack {{/str}}</div>
        <div class="col-2 inputcol">{{#isPartOf}}{{> core_form/element-text-inline}}{{/isPartOf}}</div>
    </div>
    <div class="row">
        <div class="col-lg-2">{{#str}} license {{/str}}</div>
        <div class="col-6 inputcol">{{#license}}{{> core_form/element-autocomplete-inline}}{{/license}}</div>
    </div>
    {{#str}} additionalmetadata, qtype_stack {{/str}}:
    <br>
    {{#scope}}
        {{>qtype_stack/metadatascope}}
    {{/scope}}
    <div class="row" style="padding-top: 10px">
        <div class="col-md-2"></div>
        <div class="col-10"><button type="button" class="btn btn-primary" name="smd_add" id="smd_scope_0_add">{{#str}} addscope, qtype_stack {{/str}}</button></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-10">
            <button class="btn btn-primary" type="button" id="stack-metadata-update">
                {{#str}} updateJSON, qtype_stack {{/str}}
            </button>
            <button class="btn btn-primary" type="button" id="stack-metadata-update-inputs">
                {{#str}} updateinputs, qtype_stack {{/str}}
            </button>
            <button class="btn btn-primary" type="button" id="stack-metadata-revert">
                {{#str}} reverttosaved, qtype_stack {{/str}}
            </button>
            <button class="btn btn-primary" type="button" id="stack-metadata-revert" onclick="document.querySelector('.stack-metadata .btn-close').click();">
                {{#str}} validateandclose, qtype_stack {{/str}}
            </button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">{{#str}} JSONmetadata, qtype_stack {{/str}}</div>
        <div class="col-10">
            {{#json}}
                {{< core_form/element-template-inline }}
                    {{$element}}
                        <textarea
                            id="{{element.id}}"
                            name="{{element.name}}"
                            class="form-control {{#error}}is-invalid{{/error}}"
                            {{#error}}
                                autofocus aria-describedby="{{element.iderror}}"
                            {{/error}}
                            {{#required}}
                                aria-required="true"
                            {{/required}}
                            {{{element.attributes}}}
                        >{{element.value}}</textarea>
                    {{/element}}
                {{/ core_form/element-template-inline }}
            {{/json}}
        </div>
    </div>
</form>
{{#js}}
require(['qtype_stack/metadata/metadatacontent'], function(component) {
    component.init('#qtype-stack-metadata-content');
});
{{/js}}