{{!
    This file is part of Stack - http://stack.maths.ed.ac.uk/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qtype_stack/metadata


    Example context (json):
    {
    }
}}
<div id="qtype-stack-metadata-content">
    <ul class="qtype_stack_contrib">
        {{#contributor}}
            <li>
                {{firstName}} {{lastName}}
                <input id="contributor-{{id}}-firstName" value="{{firstName}}">
                <input id="contributor-{{id}}-lastName" value="{{lastName}}">
            </li>
        {{/contributor}}
    </ul>
    <div class="col-sm-6 col-lg-5">
        <div class="btn-group" role="group" style="float:right">
            <button class="btn btn-primary" type="button" id="stack-metadata-update">
                {{#str}} stack_library_import, qtype_stack {{/str}}
            </button>
        </div>
    </div>
</div>
{{#js}}
require(['qtype_stack/metadata/metadatacontent'], function(component) {
    component.init('#qtype-stack-metadata-content');
});
{{/js}}