{{!
    This file is part of Stack - http://stack.maths.ed.ac.uk/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qtype_stack/metadata


    Example context (json):
    {
    }
}}
<div class="row" id="qtype-stack-metadata-contributor-{{{id}}}">
    <div class="col-md-2">{{#str}} contributor, qtype_stack {{/str}}</div>
    <div class="col-2 inputcol">{{#firstname}}{{> core_form/element-text-inline }}{{/firstname}}</div>
    <div class="col-2 inputcol">{{#lastname}}{{> core_form/element-text-inline }}{{/lastname}}</div>
    <div class="col-3 inputcol">{{#institution}}{{> core_form/element-text-inline }}{{/institution}}</div>
    <div class="col-2 col-lg-1 inputcol">{{#year}}{{>qtype_stack/metadatayear}}{{/year}}</div>
    <div class="col-1"><button id="smd_contributor_{{id}}_delete" name="smd_delete" type="button" class="btn btn-danger">{{#str}} delete {{/str}}</button></div>
</div>
{{#js}}
require(['qtype_stack/metadata/datarow'], function(component) {
    component.init('#qtype-stack-metadata-contributor-{{{id}}}');
});
{{/js}}