{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qtype_stack/questionreportprt

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    }
}}

<div class="qtype_stack_question_report_prt">
    <h2 data-toggle="collapse" data-target="[data-id='prt-{{prtname}}']">{{prtname}}</h2>

    <div data-id="prt-{{prtname}}" class="collapse">
        <table>
            <tr>
                <td>{{prtname}}</td>
                <td>{{{graph_svg}}}</td>
                <td>{{{graph_text}}}</td>
                <td>
                    <div class="questionvariables">
                        <details>
                            <summary>
                                {{prtname}}
                            </summary>
                            <pre>
                                {{maxima}}
                            </pre>
                        </details>
                    </div>
                </td>
            </tr>
        </table>
        {{#sumout}}
        <pre>## {{sumout.prt}} ({{sumout.tot}})<br>{{#sumout.sumouti}}{{.}}<br>{{/sumout.sumouti}}</pre>
        {{/sumout}}
    </div>
</div>