{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qtype_stack/questionreportquestion

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    }
}}

<div class="qtype_stack_question_report">
  <h2>{{#str}} basicquestionreport, qtype_stack {{/str}}</h2>
  <h2>{{question.name}}</h2>
  {{^question.deployedseeds}}
    {{#hasvariants}}
      {{#str}} questionnotdeployedyet, qtype_stack {{/str}}
    {{/hasvariants}}
  {{/question.deployedseeds}}
  <a href="{{general.testquestionlink}}">{{#str}} runquestiontests, qtype_stack {{/str}}</a> <a href="{{general.previewquestionlink}}">{{#pix}} t/preview, core, {{#str}} preview, core {{/str}} {{/pix}}</a>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" href="#home" id="home-tab" data-toggle="tab" type="button" role="tab" aria-controls="home" aria-selected="true">Question</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" href="#summary" id="summary-tab" data-toggle="tab" type="button" role="tab" aria-controls="summary" aria-selected="false">Summary</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" href="#messages" id="messages-tab" data-toggle="tab" type="button" role="tab" aria-controls="messages" aria-selected="false">Split summary</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" href="#settings" id="settings-tab" data-toggle="tab" type="button" role="tab" aria-controls="settings" aria-selected="false">Variants</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" href="#inputs" id="inputs-tab" data-toggle="tab" type="button" role="tab" aria-controls="inputs" aria-selected="false">Inputs</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" href="#rawdata" id="rawdata-tab" data-toggle="tab" type="button" role="tab" aria-controls="rawdata" aria-selected="false">Raw data</button>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <h3>{{#str}} questiontext, qtype_stack {{/str}}</h3>
      <pre class="questionvariables">{{{question.text}}}</pre>
      <pre class="questionvariables">{{question.vars}}</pre>
    </div>
    <div class="tab-pane" id="summary" role="tabpanel" aria-labelledby="summary-tab">
      <h3>{{#str}} basicreportnotes, qtype_stack {{/str}}</h3>
      {{#summary.prts}}
        <table>
            <tr>
                <td>{{prtname}}</td>
                <td>{{{graph_svg}}}</td>
                <td>{{{graph_text}}}</td>
                <td>
                    <div class="questionvariables">
                        <details>
                            <summary>
                                {{prtname}}
                            </summary>
                            <pre>
                                {{maxima}}
                            </pre>
                        </details>
                    </div>
                </td>
            </tr>
        </table>
        {{#sumout}}
        <pre>{{sumout}}</pre>
        {{/sumout}}
      {{/summary.prts}}
    </div>
    <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
      <h3>{{#str}} basicreportnotessplit, qtype_stack {{/str}}</h3>
      {{#notesummary.prts}}
        <table>
            <tr>
                <td>{{prtname}}</td>
                <td>{{{graph_svg}}}</td>
                <td>{{{graph_text}}}</td>
                <td>
                    <div class="questionvariables">
                        <pre>{{sumout}}</pre>
                    </div>
                </td>
            </tr>
        </table>
      {{/notesummary.prts}}
    </div>
    <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
      <h3>{{#str}} basicreportvariants, qtype_stack {{/str}}</h3>
      {{#variants.variants}}
        <h2 data-toggle="collapse" data-target="[data-id='variant-{{seed}}']">{{seed}}</h2>

        <div data-id="variant-{{seed}}" class="collapse">
            <h3>{{{notes}}}</h3>
            <pre>{{notessumout}}</pre>
            <pre>{{anssumout}}</pre>
        </div>
      {{/variants.variants}}
    </div>
    <div class="tab-pane" id="inputs" role="tabpanel" aria-labelledby="inputs-tab">
      <h3>{{#str}} basicreportinputsummary, qtype_stack {{/str}}</h3>
      <pre>{{inputs.inputs}}</pre>
    </div>
    <div class="tab-pane" id="rawdata" role="tabpanel" aria-labelledby="rawdata-tab">
      <h3>{{#str}} basicreportraw, qtype_stack {{/str}}</h3>
      <pre>{{rawdata.rawdata}}</pre>
    </div>
  </div>
</div>