{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qtype_stack/questionreportquestion

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    }
}}

<div class="qtype_stack_question_report">
  <h3>{{#str}} basicquestionreport, qtype_stack {{/str}}</h3>
  <h2>{{question.name}}</h2>

  <!-- Warn if variants not deployed -->
  {{^question.deployedseeds}}
    {{#hasvariants}}
      <p>{{#str}} questionnotdeployedyet, qtype_stack {{/str}}</p>
    {{/hasvariants}}
  {{/question.deployedseeds}}

  <!-- Choose quiz to analyze the results from -->
  <p>
    <span>
      {{#str}} selectquiz, qtype_stack {{/str}}:
    </span>
    <select onChange="$('[data-id=\'qa-loading\']').show();window.location.href=this.value">
      {{^summary}}
        <option value="#">Select an option</option>
      {{/summary}}
      {{#quizzes}}
        <option value="{{{url}}}" {{#active}} selected="selected" {{/active}}>
          {{coursename}} - {{name}}
        </option>
      {{/quizzes}}
    </select>
    <span data-id='qa-loading' style="display:none">
      {{#pix}}y/loading, core, {{#str}}loading, tool_lp{{/str}}{{/pix}}
    </span>
  </p>

  <!-- Dashboard and preview links -->
  <p><a href="{{general.testquestionlink}}">{{#str}} runquestiontests, qtype_stack {{/str}}</a> <a href="{{general.previewquestionlink}}">{{#pix}} t/preview, core, {{#str}} preview, core {{/str}} {{/pix}}</a></p>

  <!-- Tab headers -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link {{^summary}}active{{/summary}}" href="#question-pane" id="question-tab" data-toggle="tab" type="button" role="tab" aria-controls="question" aria-selected="{{^summary}}true{{/summary}}{{#summary}}false{{/summary}}">{{#str}} question, core {{/str}}</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link {{#summary}}active{{/summary}}" href="#summary-pane" id="summary-tab" data-toggle="tab" type="button" role="tab" aria-controls="summary" aria-selected="{{^summary}}false{{/summary}}{{#summary}}true{{/summary}}">{{#str}} summary, core {{/str}}</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" href="#split-pane" id="split-tab" data-toggle="tab" type="button" role="tab" aria-controls="split" aria-selected="false">{{#str}} splitsummary, qtype_stack {{/str}}</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" href="#variants-pane" id="variants-tab" data-toggle="tab" type="button" role="tab" aria-controls="variants" aria-selected="false">{{#str}} variants, qtype_stack {{/str}}</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" href="#inputs-pane" id="inputs-tab" data-toggle="tab" type="button" role="tab" aria-controls="inputs" aria-selected="false">{{#str}} inputs, qtype_stack {{/str}}</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" href="#rawdata-pane" id="rawdata-tab" data-toggle="tab" type="button" role="tab" aria-controls="rawdata" aria-selected="false">{{#str}} rawdata, qtype_stack {{/str}}</button>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane {{^summary}}active{{/summary}} mt-3" id="question-pane" role="tabpanel" aria-labelledby="question-tab">
      <h3>{{#str}} questiontext, qtype_stack {{/str}}</h3>
      <pre class="questionvariables">{{{question.text}}}</pre>
      <h3>{{#str}} questionvariables, qtype_stack {{/str}}</h3>
      <pre class="questionvariables">{{question.vars}}</pre>
    </div>
    <div class="tab-pane {{#summary}}active{{/summary}} mt-3" id="summary-pane" role="tabpanel" aria-labelledby="summary-tab">
      <h3>{{#str}} basicreportnotes, qtype_stack {{/str}}</h3>
      {{#summary.prts}}
        <table>
            <tr>
                <td>{{prtname}}</td>
                <td>{{{graph_svg}}}</td>
                <td>{{{graph_text}}}</td>
                <td>
                    <div class="questionvariables">
                        <details>
                            <summary>
                                {{prtname}}
                            </summary>
                            <pre>
                                {{maxima}}
                            </pre>
                        </details>
                    </div>
                </td>
            </tr>
        </table>
        {{#sumout}}
        <pre>{{sumout}}</pre>
        {{/sumout}}
      {{/summary.prts}}
    </div>
    <div class="tab-pane mt-3" id="split-pane" role="tabpanel" aria-labelledby="split-tab">
      <h3>{{#str}} basicreportnotessplit, qtype_stack {{/str}}</h3>
        <table>
          {{#notesummary.prts}}
            <tr>
                <td>{{prtname}}</td>
                <td>{{{graph_svg}}}</td>
                <td>{{{graph_text}}}</td>
                <td>
                    <div class="questionvariables">
                        <pre>{{sumout}}</pre>
                    </div>
                </td>
            </tr>
        {{/notesummary.prts}}
      </table>
    </div>
    <div class="tab-pane mt-3" id="variants-pane" role="tabpanel" aria-labelledby="variants-tab">
      <h3>{{#str}} basicreportvariants, qtype_stack {{/str}}</h3>
      {{#variants.variants}}
        <h2 data-toggle="collapse" data-target="[data-id='variant-{{seed}}']">{{seed}}</h2>

        <div data-id="variant-{{seed}}" class="collapse">
            <h3>{{{notes}}}</h3>
            <pre>{{notessumout}}</pre>
            <pre>{{anssumout}}</pre>
        </div>
      {{/variants.variants}}
    </div>
    <div class="tab-pane mt-3" id="inputs-pane" role="tabpanel" aria-labelledby="inputs-tab">
      <h3>{{#str}} basicreportinputsummary, qtype_stack {{/str}}</h3>
      <pre>{{inputs.inputs}}</pre>
    </div>
    <div class="tab-pane mt-3" id="rawdata-pane" role="tabpanel" aria-labelledby="rawdata-tab">
      <h3>{{#str}} basicreportraw, qtype_stack {{/str}}</h3>
      <pre>{{rawdata.rawdata}}</pre>
    </div>
  </div>
</div>