{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qtype_stack/questionreportquestion

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    "question": {
        "name": "Question name",
        "text": "Text",
        "deployedseeds": true,
        "hasvariants": true,
        "vars": "a1 : 1+rand(6);"
    },
    "summary": {
        "prts": [
            {
                "prtname": "prt1",
                "graph_svg": "<svg><\/svg>",
                "graph_text": "<table><\/table>",
                "maxima": "maxima text",
                "sumout": "## prt1 (2)\n1 ( 50.00%); # = 0 | ATInt_generic. ATInt_var_SB_notSA. | prt1-1-F\n1 ( 50.00%); # = 0 | ATInt_generic. | prt1-1-F"
            }
        ],
        "tot": {
            "prt1": 2
        }
    },
    "notesummary": {
        "prts": [
            {
                "prtname": "prt1",
                "graph_svg": "<svg><\/svg>",
                "graph_text": "<table><\/table>",
                "sumout": "## prt1 (2)\n2 (100.00%); # = 0\n1 ( 50.00%); ATInt_generic.\n1 ( 50.00%); ATInt_generic. ATInt_var_SB_notSA.\n2 (100.00%); prt1-1-F\n\n"
            }
        ]
    },
    "variants": {
        "variants": [
            {
                "seed": 399724897,
                "notes": "<span><\/span>",
                "notessumout": "## prt1 (1)\n1 (100.00%); # = 0 | ATInt_generic. ATInt_var_SB_notSA. | prt1-1-F\n1 (100.00%); ans1:34; \n\n\n",
                "anssumout": "## ans1 (1)\n### score\n1 (100.00%); 34\n\n"
            },
            {
                "seed": 799651125,
                "notes": "<span><\/span>",
                "notessumout": "## prt1 (1)\n1 (100.00%); # = 0 | ATInt_generic. | prt1-1-F\n1 (100.00%); ans1:x-3; \n\n\n",
                "anssumout": "## ans1 (1)\n### score\n1 (100.00%); x-3\n\n"
            }
        ]
    },
    "inputs": {
        "inputs": "## ans1 (2)\n### score\n1 ( 50.00%); 34\n1 ( 50.00%); x-3\n\n"
    },
    "rawdata": {
        "rawdata": "\n# 4 (1)\n1 (100.00%); Seed: 399724897; ans1: 34 [score]; prt1: # = 0 | ATInt_generic. ATInt_var_SB_notSA. | prt1-1-F\n\n# 2 (1)\n1 (100.00%); Seed: 799651125; ans1: x-3 [score]; prt1: # = 0 | ATInt_generic. | prt1-1-F\n"
    },
    "quizzes": [
        {
            "quizcontextid": "102",
            "name": "Analysis input",
            "coursecontextid": "21",
            "coursename": "Course 1",
            "url": "ReportURL",
            "active": true
        }
    ],
    "general": {
        "testquestionlink": "DashboardURL",
        "previewquestionlink": "PreviewURL"
    }
  }
}}

    </div>
    <div class="tab-pane mt-3" id="variants-pane" role="tabpanel" aria-labelledby="variants-tab">
        {{#deployfeedback}}
            <p class="overallresult pass">{{deployfeedback}}</p>
        {{/deployfeedback}}
        {{#deployfeedbackerr}}
            <p class="overallresult fail">{{deployfeedbackerr}}</p>
        {{/deployfeedbackerr}}
        <h3>
            {{#notes.0}}
                {{#str}} deployedvariantsn, qtype_stack, {{deployedcount}} {{/str}}
            {{/notes.0}}
            {{^notes.0}}
                {{#str}} deployedvariants, qtype_stack {{/str}}
            {{/notes.0}}
        </h3>
        {{^hasrandomvariants}}
            <p>{{#str}} questiondoesnotuserandomisation, qtype_stack {{/str}} <a href="{{{previewurl}}}">{{#pix}}t/preview, core, {{#str}} preview, core {{/str}}{{/pix}}</a></p>
        {{/hasrandomvariants}}
        {{^notes.0}}
            {{#hasrandomvariants}}
                <p><i class="icon fa fa-exclamation-circle text-danger fa-fw"></i>{{#str}} runquestiontests_alert, qtype_stack {{/str}} <a href="{{{previewurl}}}">{{#pix}}t/preview, core, {{#str}} preview, core {{/str}}{{/pix}}</a></p>
            {{/hasrandomvariants}}
        {{/notes.0}}
        {{#duplicateerror}}
            <p><i class="icon fa fa-exclamation-circle text-danger fa-fw"></i>{{#str}} deployduplicateerror, qtype_stack {{/str}}</p>
        {{/duplicateerror}}
        {{#notes.0}}
            <table class="generaltable stacktestsuite">
                <tr>
                    <th>{{#str}} variant, qtype_stack {{/str}}</th>
                    <th>{{#str}} questionnote, qtype_stack {{/str}}</th>
                    <th></th>
                    <th></th>
                </tr>
        {{/notes.0}}
        {{#notes}}
            <tr>
                <td>
                    {{#iscurrentvariant}}
                        <strong title="{{#str}} currentlyselectedvariant, qtype_stack {{/str}}">{{deployedseed}}</strong>
                    {{/iscurrentvariant}}
                    {{^iscurrentvariant}}
                        <a href="{{{qurl}}}" title="{{#str}} testthisvariant, qtype_stack {{/str}}">{{deployedseed}}</a>
                    {{/iscurrentvariant}}
                    <a href="{{{previewurl}}}">{{#pix}}t/preview, core, {{#str}} preview, core {{/str}}{{/pix}}</a>
                    {{#canedit}}
                        <a href="{{{deletelink}}}">{{#pix}}t/delete, core, {{#str}} undeploy, qtype_stack {{/str}}{{/pix}}</a>
                    {{/canedit}}
                </td>
                <td>
                    {{{questionnoterendered}}}
                </td>
                <td>
                    {{#bulktestresultspass}}
                        {{#pix}}t/check, core, {{#str}} questiontestspass, qtype_stack {{/str}}{{/pix}}
                    {{/bulktestresultspass}}
                </td>
                <td>
                    {{{bulktestresults}}}
                </td>
            </tr>
        {{/notes}}
        {{#notes.0}}
            </table>
        {{/notes.0}}
        {{^variantmatched}}
            <div class="undeployedvariant">
                <b>{{#str}} showingundeployedvariant, qtype_stack, {{seed}} {{/str}}</b>
                {{#canedit}}
                    {{#variantdeployed}}
                        {{#str}} alreadydeployed, qtype_stack{{/str}}
                    {{/variantdeployed}}
                    {{^variantdeployed}}
                        <button class="btn btn-secondary" type="button" onclick="window.location.href='{{{deploysinglelink}}}'">
                            {{#str}} deploy, qtype_stack {{/str}}
                        </button>
                    {{/variantdeployed}}
                {{/canedit}}
            </div>
        {{/variantmatched}}
        {{#notes.0}}
            {{#canedit}}
                <div class="deploymany">
                    <button class="btn btn-danger" type="button" onclick="window.location.href='{{{undeployalllink}}}'">
                        {{#str}} deployremoveall, qtype_stack {{/str}}
                    </button>
                    <button class="btn btn-warning" type="button" onclick="window.location.href='{{{testalllink}}}'">
                        {{#str}} deploytestall, qtype_stack {{/str}}
                    </button>
                </div>
            {{/canedit}}
        {{/notes.0}}
        {{#hasrandomvariants}}
            <form method="get" class="switchtovariant" action="{{pagelink}}">
                <input type="hidden" name="courseid" value="{{courseid}}">
                <input type="hidden" name="questionid" value="{{questionid}}">
                <div class="row mt-3">
                    <div class="col-2">
                        {{#str}} switchtovariant, qtype_stack {{/str}}
                    </div>
                    <div class="col-2">
                        <input type="text" id="seedfield" name="seed" value="{{newseed}}" class="form-control">
                    </div>
                    <div class="col-2">
                        <input type="submit" class="btn btn-secondary" value="{{#str}} switch, qtype_stack {{/str}}">
                    </div>
                </div>
            </form>
            {{#canedit}}
                <form method="get" class="deploymany" action="{{{deploylink}}}">
                    <input type="hidden" name="courseid" value="{{courseid}}">
                    <input type="hidden" name="questionid" value="{{questionid}}">
                    <input type="hidden" name="sesskey" value="{{sesskey}}">
                    <div class="row mt-3">
                        <div class="col-2">
                            {{#str}} deploymanybtn, qtype_stack {{/str}}
                        </div>
                    <div class="col-2">
                        <input type="text" id="deploymanyfield" name="deploymany" class="form-control">
                    </div>
                    <div class="col-2">
                        <input type="submit" class="btn btn-secondary" value="{{#str}} deploybtn, qtype_stack {{/str}}">
                    </div>
                    <div class="col-4">
                        {{#str}} deploymanynotes, qtype_stack {{/str}}
                    </div>
                </div>
                </form>
                <form method="get" class="deploysystematic" action="{{{deploylink}}}">
                    <input type="hidden" name="courseid" value="{{courseid}}">
                    <input type="hidden" name="questionid" value="{{questionid}}">
                    <input type="hidden" name="sesskey" value="{{sesskey}}">
                    <div class="row mt-3">
                        <div class="col-2">
                            {{#str}} deploysystematicbtn, qtype_stack {{/str}}
                        </div>
                        <div class="col-2">
                            <input type="text" id="deploysystematicfield" name="deploysystematic" class="form-control">
                        </div>
                        <div class="col-2">
                            <input type="submit" class="btn btn-secondary" value="{{#str}} deploybtn, qtype_stack {{/str}}">
                        </div>
                    </div>
                </form>
                <form method="get" class="deploysystematicfromto" action="{{{deploylink}}}">
                    <input type="hidden" name="courseid" value="{{courseid}}">
                    <input type="hidden" name="questionid" value="{{questionid}}">
                    <input type="hidden" name="sesskey" value="{{sesskey}}">
                    <div class="row mt-3">
                        <div class="col-2">
                            {{#str}} deploysystematicfrombtn, qtype_stack {{/str}}
                        </div>
                        <div class="col-2">
                            <input type="text" id="deploysystematicfromfield" name="deploysystematicfrom" class="form-control" style="width: 40%; display: inline;">
                            {{#str}} deploysystematicto, qtype_stack {{/str}}
                            <input type="text" id="deploysystematictofield" name="deploysystematicto" class="form-control" style="width: 40%; display: inline;">
                        </div>
                        <div class="col-2">
                            <input type="submit" class="btn btn-secondary" value="{{#str}} deploybtn, qtype_stack {{/str}}">
                        </div>
                    </div>
                </form>
                <form method="get" class="deployfromlist" action="{{{deploylink}}}">
                    <input type="hidden" name="courseid" value="{{courseid}}">
                    <input type="hidden" name="questionid" value="{{questionid}}">
                    <input type="hidden" name="sesskey" value="{{sesskey}}">
                    <div class="row mt-3">
                        <div class="col-2">
                            {{#str}} deployfromlistbtn, qtype_stack {{/str}}:
                        </div>
                        <div class="col-2">
                            <textarea cols="15" rows="{{deploylistrows}}" id="deployfromlist" name="deployfromlist" class="form-control"></textarea>
                        </div>
                        <div class="col-2">
                            <input type="submit" class="btn btn-secondary" value="{{#str}} deploybtn, qtype_stack {{/str}}">
                        </div>
                        <div class="col-4">
                            {{#str}} deployfromlist, qtype_stack {{/str}}
                            <details>
                                <summary>
                                    {{#str}} deployfromlistexisting, qtype_stack {{/str}}
                                </summary>
                                <pre>{{#deployedseeds}}{{.}}<br>{{/deployedseeds}}</pre>
                            </details>
                        </div>
                    </div>
                </form>

            {{/canedit}}
        {{/hasrandomvariants}}
    </div>
  </div>
</div>